template(name='slider')
    #layerslider(style='width:909px; height: 600px;')
        each slides
            .ls-slide(data-ls='slidedelay: 3000;')
                if image_url
                    img.ls-bg(src=image_url)
                img.ls-bg(src="{{c.url image_id }}", alt='Slide background' )
                .ls-l(style="top: 20%; height: 170px; width: 170px; left: 20%;" )
                    // a(href='/join')
                    h1: title
                .ls-l(style="top: 50%; height: 170px; width: 170px; left: 20%;" )
                    h2.slider-subheader: subtitle
                    // h2.slider-subheader
                    //     | My goal is to spread light to others to help them navigate their own journey through life.
                    
                    
                    
template(name='slides')
    .centered.row
        .three.wide.column
            a.ui.button(href='/') Home
        .twelve.wide.column
            h1.ui.header Slides
    .row
        .four.wide.column
            #add_slide.ui.compact.basic.fluid.button
                i.green.plus.icon
                |Add slide
        .twelve.wide.column
            .ui.cards
                each slides
                    +slide_card
                    
                    
template(name='slide_card')
    .ui.card
        .image
            img.ui.centered.image(src="{{c.url image_id height=500 width=800 background='white' crop='lpad'}}")
            if image_url
                img.ui.centered.image(src=image_url)
        .content
            .ui.header 
                |Title: #{title}
            .ui.subheader 
                |Subtitle: #{subtitle}
            a.ui.icon.button(href="/slide/#{_id}")
                i.right.arrow.icon




template(name='slide')
    with slide
        unless editing
            .row
                .four.wide.column
                    a.ui.basic.button(href="/slides")
                        i.arrow.left.icon
                        | Slides
                .twelve.wide.center.aligned.column
                    h1.ui.header View Slide
            .row
                .ten.wide.column
                    img.ui.centered.image(src="{{c.url image_id height=500 width=800 background='white' crop='lpad'}}")
                    if image_url
                        img.ui.centered.image(src=image_url)
                .five.wide.column
                    +edit_button
        else
            .centered.row
                h1.ui.center.aligned.header Edit Slide
            .row
                .twelve.wide.column
                    .ui.form
                        +title
                        +subtitle
                        +link
                        +image_id
                        +image_url
                .four.wide.column
                    +edit_button
                    #delete_slide.ui.red.icon.button
                        i.trash.icon
