template(name='browse_journal')
    .ui.stackable.grid
        .centered.row
            .four.wide.column
                #create_checkin.ui.basic.circular.center.aligned.small.button 
                    +icon48 name='create-document' classes='ui avatar image'
                    |Add Entry
            .nine.wide.column
                h1.ui.center.aligned.header
                    +icon96 name='reading'
                    | Browse Public Journal Entries
            .three.wide.column
                a.ui.basic.circular.small.button(href='/journal/mine') 
                    +icon48 name='journal' classes='ui avatar image'
                    |My Entries
                    +icon48 name='rotate-left' classes='ui avatar image'
        .row
            .four.wide.column
                +theme_facet type='journal'
                +username_facet type='journal'
                +intention_facet type='journal'
                +location_facet type='journal'
                +timestamp_facet type='journal'
            .nine.wide.column
                .ui.relaxed.divided.items
                    each journal_entries
                        +browse_entry_view
            .three.wide.column
                // .ui.dividing.header Filters
                // +view_read_toggle
                +doc_limit




template(name='browse_entry_view')
    .ui.segment(class=journal_card_class)
        .content
            .description
                +parent_doc_segment
                .ui.basic.segment.large
                    |!{content} 
                    with author
                        |by 
                        if profile.image_id
                            img.ui.avatar.image(src="{{c.url profile.image_id width=100 height=100 gravity='face' crop='fill'}}")
                        a(href="/profile/#{username}") #{name} 
                        +staus_indicator
                    |#{when}
                +view_tags
        .ui.fluid.accordion
            .title
                .ui.header 
                    +icon48 name='details' classes='ui avatar image'
                    |Details 
                    i.dropdown.icon
            .content
                .ui.divided.stackable.grid
                    .ten.wide.column
                        .ui.basic.segment
                            .ui.hidden.divider
                            .ui.hidden.divider
                            span.right.floated
                                +view_full_button
                            +bookmark_button
                            +edit_link_button
                            unless is_author
                                +thanks_button
                    .six.wide.column
                        .image
                            if watson
                                .ui.basic.segment
                                    +doc_sentiment
                                    +doc_emotion
            // .meta
            //     i.large.icons
            //         i.idea.icon
            //         i.tags.corner.icon
            //     each watson_keywords
            //         .ui.tiny.circular.compact.button.tag(class=tag_class) #{this}
            // .content
            //         |by
            //         if author.profile.image_id
            //             img.ui.avatar.image(src="{{c.url author.profile.image_id width=50 height=50 gravity='face' crop='fill'}}")
            //         |#{author.name} #{when}
