template(name='browse_journal')
    .ui.container
        h1.ui.center.aligned.header
            img(src="https://png.icons8.com/reading/color/96" width="96" height="96")
            | Browse Journal Entries
        // .ui.center.aligned.basic.segment
        //     +doc_content tags='journal,browse,blurb'
        // #convert_journal_docs.ui.button Convert Journal Docs
        .ui.stackable.grid
            .four.wide.column
                // .ui.dividing.header Filters
                // +view_read_toggle
                #cloud
                    +theme_tag_filter type='journal'
                    +username_filter type='journal'
                    +keyword_filter type='journal'
                // a#toggle_published.ui.basic.button(class=published_item_class) 
                //     i.red.unhide.icon
                //     |Published (#{published_count})
                // a#toggle_unpublished.ui.basic.button(class=unpublished_item_class) 
                //     i.red.hide.icon
                //     |Unpublished (#{unpublished_count})
            
                // a#toggle_mine.ui.basic.button(class=mine_item_class) 
                //     |Mine (#{mine_count})
            
            .twelve.wide.column
                // .ui.centered.stackable.cards
                .ui.relaxed.divided.items
                    each journal_entries
                        +browse_entry_view
        



template(name='browse_entry_view')
    .ui.segment(class=journal_card_class)
        .content
            .description
                .ui.basic.segment.large
                    |!{content}
                +parent_doc_segment
                .ui.divider
        .ui.divided.stackable.grid
            .ten.wide.column
                .ui.basic.segment
                    with author
                        |by 
                        if profile.image_id
                            img.ui.avatar.image(src="{{c.url profile.image_id width=100 height=100 gravity='face' crop='fill'}}")
                        a(href="/profile/#{username}") #{name} 
                        +staus_indicator
                    |#{when}
                    .ui.hidden.divider
                    +view_tags
                    .extra
                        span.right.floated
                            +view_full_button
                        +bookmark_button
                        +edit_link_button
                        unless is_author
                            +thanks_button
            .six.wide.column
                .image
                    if watson
                        .ui.basic.segment
                            +doc_sentiment
                            +doc_emotion
            // .meta
            //     i.large.icons
            //         i.idea.icon
            //         i.tags.corner.icon
            //     each watson_keywords
            //         .ui.tiny.circular.compact.button.tag(class=tag_class) #{this}
            // .content
            //         |by
            //         if author.profile.image_id
            //             img.ui.avatar.image(src="{{c.url author.profile.image_id width=50 height=50 gravity='face' crop='fill'}}")
            //         |#{author.name} #{when}
