template(name='view_bugs')
    .ui.stackable.padded.grid
        .row
            .sixteen.wide.column
                h1.ui.center.aligned.header
                    +icon96 name='bug'
                    |Bug Reports
        .row
            .three.wide.column
                +timestamp_facet    
                +username_facet
            .eleven.wide.column
                .ui.stackable.three.cards
                    each children
                        +bug
            .two.wide.column
                .ui.dividing.header
                    +icon48 name='filter'
                    |Filter
                +complete_filter
                +approved_filter

template(name='bug')
    .card
        .content
            .description #{body}
            .description #{text}
            .meta
                a(href=link) #{link}
            .meta
                +author_info
            .meta
                |#{when}
                // |by #{author.name} #{when}
            .extra.content
                if isInRole 'dev'
                    +mark_doc_approved_button
                    if approved
                        +mark_doc_complete_button
                    else
                        +delete_button
