template(name='voting')
    i.thumbs.up.link.large.icon.vote_up(class=vote_up_button_class)
    // i.thumbs.down.link.big.icon.vote_down(class=vote_down_button_class)
    // |#{points}

template(name='thanks_button')
    .ui.circular.icon.button.vote_up(class=thanks_button_class data-tooltip="Thank #{author.profile.first_name} for Sharing")
        // +icon24 name='applause' classes='ui avatar image'
        img.ui.mini.image(src="https://png.icons8.com/pray-filled/ios7/50" width="50" height="50")
        // if said_thanks
        //     |Thanks #{author.profile.first_name}
        // else
        //     | Thank #{author.profile.first_name} for Sharing
    // #thanks_modal.ui.small.modal
    //     i.close.icon
    //     .header Send #{author.profile.first_name} an optional private message?
    //     .content
    //         // img.ui.avatar.image(src="{{c.url author.profile.image_id width=100 height=100 gravity='face' crop='fill'}}")
    //         .ui.fluid.input
    //             input#thanks_message_text(type='text')
    //     .actions
    //         .ui.cancel.basic.button
    //             // i.ban.icon
    //             | No Thanks
    //         .ui.teal.approve.labeled.icon.button 
    //             i.send.icon
    //             |Send
    // #message_sent.ui.small.modal
    //     i.close.icon
    //     .header Message sent to #{author.profile.first_name}.
    //     .actions
    //         .ui.green.approve.button 
    //             i.check.icon
    //             |Cool

template(name='reflect_button')
    if currentUser
        #reflect.ui.circular.basic.button
            +icon48 name='mirror' classes='ui avatar image'
            |Reflect in Journal
    else
        .ui.circular.basic.disabled.button
            +icon48 name='mirror' classes='ui avatar image'
            |Reflect in Journal

template(name='big_both_voter')
    i.thumbs.up.link.huge.icon.vote_up(class=vote_up_button_class)
    i.thumbs.down.link.huge.icon.vote_down(class=vote_down_button_class)
    // |#{points}

template(name='rating')
    .ui.massive.heart.rating(data-rating=question_rating)


template(name='rank')
    .ui.tiny.statistic
        .value #{rank_doc}
        .label Rank
    #increase_index.ui.icon.basic.circular.button
        +icon48 name="chevron-up" classes='avatar'
    // #decrease_index.ui.icon.basic.circular.button
    //     i.chevron.down.icon





template(name='toggle_friend')
    if currentUser
        if is_friend
            #remove_friend.ui.basic.button
                +icon48 name="minus" classes='avatar'
                |Unfriend
        else
            #add_friend.ui.basic.button
                +icon48 name="plus" classes='avatar'
                |Friend



template(name='session_edit_button')
    if currentUser
        unless is_editing
            .edit_this.ui.basic.icon.button(title="Edit #{tags}" class=button_classes)
                +icon24 name="edit" classes='ui avatar image'
                // i.icon
                // |Edit
        else
            .save_doc.ui.fluid.green.button(class=button_classes)
                i.icon
                    +icon48 name="checkmark" classes='avatar'
                |Save
template(name='session_edit_icon')
    if currentUser
        unless is_editing
            i.red.pencil.link.icon.edit_this(title=tags class=button_classes)
        else
            .save_doc.ui.green.button(class=button_classes)
                |Save
template(name='edit_button')
    if currentUser
        unless editing
            .edit_this.ui.basic.button(title=tags)
                i.icon
                    +icon24 name='edit' classes='ui avatar image'
                |Edit
        else
            .save_doc.ui.green.button
                i.icon
                    +icon24 name='checkmark' classes='ui avatar image'
                |Save
                
template(name='edit_icon')
    if currentUser
        unless editing
            i.edit_this.large.pencil.link.icon(title=tags)
        else
            .save_doc.ui.icon.green.basic.button
                i.check.icon

template(name='edit_link')
    if currentUser
        unless editing
            a.edit_this Edit
        else
            .save_doc.ui.basic.large.button
                +icon24 name='checked' classes='ui avatar image'
                |Save

template(name='add_to_cart')
    unless added
        #add_to_cart.ui.fluid.teal.button
            i.large.icons
                i.add.to.cart.icon
                i.corner.green.plus.icon
            |Add to Cart
    else
        .ui.fluid.labeled.basic.button
            #remove_from_cart.ui.basic.teal.button
                i.large.icons
                    i.add.to.cart.icon
                    i.corner.red.minus.icon
                |Remove from Cart
            a.ui.basic.right.pointing.label(href='/cart')
                |View Cart
        

template(name='delete_button')
    unless confirming
        .delete.ui.icon.red.basic.compact.button
            +icon24 name="delete" classes='avatar'
    else
        .ui.basic.button.cancel Cancel
        .ui.red.button.confirm Confirm Delete
        
template(name='delete_link')
    unless confirming
        a.delete Delete
    else
        a.cancel 
            i.ban.icon
            |Cancel
        a.confirm 
            i.red.trash.icon
            |Confirm Delete
        

template(name='published')
    // .ui.dividing.header Visibility
    if published
        .ui.large.blue.label
            +icon48 name='eye' classes='avatar'
            |Public
        if can_edit
            #unpublish.ui.icon.basic.button(title='Unpublish')
                +icon48 name='invisible' classes='avatar'
                // | Make Private
    else
        .ui.large.basic.label
            +icon48 name='invisible' classes='avatar'
            | Private
        if can_edit
            #publish.ui.icon.basic.button(title='Publish')
                +icon48 name='eye' classes='avatar'
                // | Make Public






template(name='featured')
    .field
        if featured
            #make_unfeatured.ui.basic.icon.button
                i.toggle.on.icon
        else
            #make_featured.ui.basic.icon.button
                i.toggle.off.icon
        if featured
            .ui.green.basic.label Featured
        else
            .ui.basic.label Unfeatured

template(name='favorite_button')
    .ui.basic.icon.button.favorite_item(class=favorite_item_class)
        +icon24 name='heart' classes=''
        if favorite_count
            | #{favorite_count}

template(name='mark_complete_button')
    .mark_complete.ui.circular.button(class=complete_button_class) 
        if completed
            +icon24 name='checkmark' classes=''
            | Completed
        else
            +icon24 name='unchecked-checkbox' classes=''
            | Mark Complete
        
template(name='mark_doc_complete_button')
    .mark_complete.ui.circular.button(class=complete_button_class) 
        if complete
            +icon24 name='checkmark' classes=''
            | Completed
        else
            +icon24 name='unchecked-checkbox' classes=''
            | Complete
        
template(name='bookmark_button')
    .bookmark_button.ui.circular.button(class=bookmark_button_class) 
        +icon48 name='bookmark' classes='avatar'
        if bookmarked
            | Bookmarked
        else
            | Bookmark
        
        
template(name='pin_button')
    .pin_button.ui.circular.icon.button(class=pin_button_class title='Pin this') 
        if pinned
            +icon24 name="push-pin" classes='avatar'
            // | Pinned
        else
            +icon24 name="push-pin" classes='avatar'
            // | Pin
        
        
template(name='pin_corner_button')
    a.pin_button.ui.top.right.attached.button(class=pin_button_class title='Pin this') 
        +icon48 name="push-pin" classes='avatar'
        
template(name='view_full_button')
    a.ui.basic.circular.button(href="/view/#{_id}")
        |Full
        +icon48 name="double-right" classes='ui mini spaced image'

template(name='edit_link_button')
    if can_edit
        // +call_watson
        a.ui.basic.button(href="/edit/#{_id}")
            +icon48 name='edit' classes='avatar'
            |Edit


template(name='add_doc_button')
    #add_doc.ui.basic.fluid.button
        +icon48 name='plus' classes='avatar'
        | #{add_button_text}


template(name='subscribe_button')
    if is_participant
        #subscribe_button.ui.button(class=subscribe_buton_class)
            if subscribed
                +icon48 name='checked' classes='ui avatar image'
                | Subscribed
            else
                +icon48 name='unchecked-checkbox' classes='ui avatar image'
                |Not Subscribed
                
                
template(name='toggle_zen_mode_button')
    if zen_mode
        a#turn_off_zen_mode(href="#")
            +icon48 name='lotus' title="Turn off Zen Mode" classes='ui centered link image'
            // |Zen
    else
        a#turn_on_zen_mode(href='#')
            .ui.link.image
                img(src="https://png.icons8.com/lotus/ios7/32" title="Turn on Zen Mode" width="32" height="32")
            // |Zen
        