template(name='voting')
    i.thumbs.up.link.large.icon.vote_up(class=vote_up_button_class)
    // i.thumbs.down.link.big.icon.vote_down(class=vote_down_button_class)
    |#{points}


template(name='big_both_voter')
    i.thumbs.up.link.big.icon.vote_up(class=vote_up_button_class)
    i.thumbs.down.link.big.icon.vote_down(class=vote_down_button_class)
    // |#{points}

template(name='rating')
    .ui.massive.star.rating(data-rating=rating_doc.rating)


template(name='rank')
    .ui.tiny.statistic
        .value #{rank_doc.number}
        .label Rank
    #increase_index.ui.icon.basic.circular.button
        i.chevron.up.icon
    // #decrease_index.ui.icon.basic.circular.button
    //     i.chevron.down.icon





template(name='toggle_friend')
    if currentUser
        if is_friend
            #remove_friend.ui.basic.button
                i.minus.red.icon
                |Unfriend
        else
            #add_friend.ui.basic.button
                i.plus.green.icon
                |Friend


template(name='published')
    if published
        #unpublish.ui.green.basic.button
            |Published
    else
        #publish.ui.basic.button
            |Private

template(name='edit_button')
    if currentUser
        unless is_editing
            .edit_this.ui.basic.button
                i.red.configure.icon
                |Edit
        else
            .save_doc.ui.basic.button
                i.green.check.icon
                |Save

template(name='edit_link')
    if currentUser
        unless is_editing
            a.edit_this(href='#') Edit
        else
            .save_doc.ui.basic.button
                i.green.check.icon
                |Save

template(name='add_to_cart')
    unless added
        #add_to_cart.ui.fluid.teal.button
            i.large.icons
                i.add.to.cart.icon
                i.corner.green.plus.icon
            |Add to Cart
    else
        .ui.fluid.labeled.basic.button
            #remove_from_cart.ui.basic.teal.button
                i.large.icons
                    i.add.to.cart.icon
                    i.corner.red.minus.icon
                |Remove from Cart
            a.ui.basic.right.pointing.label(href='/cart')
                |View Cart
        

template(name='delete_button')
    #delete.ui.red.icon.button
        i.remove.icon
        
template(name='delete_link')
    a#delete(href='#') Delete

template(name='featured')
    .field
        if featured
            #make_unfeatured.ui.basic.icon.button
                i.toggle.on.icon
        else
            #make_featured.ui.basic.icon.button
                i.toggle.off.icon
        if featured
            .ui.green.basic.label Featured
        else
            .ui.basic.label Unfeatured

template(name='favorite')
    i.heart.large.link.icon.favorite_item(class=favorite_item_class)
    if favorite_count
        | #{favorite_count}
