template(name='voting')
    i.thumbs.up.link.large.icon.vote_up(class=vote_up_button_class)
    // i.thumbs.down.link.big.icon.vote_down(class=vote_down_button_class)
    // |#{points}


template(name='big_both_voter')
    i.thumbs.up.link.huge.icon.vote_up(class=vote_up_button_class)
    i.thumbs.down.link.huge.icon.vote_down(class=vote_down_button_class)
    // |#{points}

template(name='rating')
    .ui.massive.heart.rating(data-rating=question_rating)


template(name='rank')
    .ui.tiny.statistic
        .value #{rank_doc}
        .label Rank
    #increase_index.ui.icon.basic.circular.button
        i.chevron.up.icon
    // #decrease_index.ui.icon.basic.circular.button
    //     i.chevron.down.icon





template(name='toggle_friend')
    if currentUser
        if is_friend
            #remove_friend.ui.basic.button
                i.minus.red.icon
                |Unfriend
        else
            #add_friend.ui.basic.button
                i.plus.green.icon
                |Friend



template(name='session_edit_button')
    if currentUser
        unless is_editing
            .edit_this.ui.blue.icon.button(title="Edit #{tags}" class=button_classes)
                i.pencil.icon
                // |Edit
        else
            .save_doc.ui.green.button(class=button_classes)
                i.check.icon
                |Save
template(name='session_edit_icon')
    if currentUser
        unless is_editing
            i.blue.pencil.link.icon.edit_this(title=tags class=button_classes)
        else
            .save_doc.ui.basic.button(class=button_classes)
                i.green.check.icon
                |Save
template(name='edit_button')
    if currentUser
        unless editing
            .edit_this.ui.basic.button(title=tags)
                i.blue.pencil.icon
                |Edit
        else
            .save_doc.ui.basic.button
                i.green.check.icon
                |Save
                
template(name='edit_icon')
    if currentUser
        unless editing
            i.edit_this.large.pencil.link.icon(title=tags)
        else
            .save_doc.ui.icon.green.basic.button
                i.check.icon

template(name='edit_link')
    if currentUser
        unless editing
            a.edit_this(href='#') Edit
        else
            .save_doc.ui.basic.large.button
                i.green.check.icon
                |Save

template(name='add_to_cart')
    unless added
        #add_to_cart.ui.fluid.teal.button
            i.large.icons
                i.add.to.cart.icon
                i.corner.green.plus.icon
            |Add to Cart
    else
        .ui.fluid.labeled.basic.button
            #remove_from_cart.ui.basic.teal.button
                i.large.icons
                    i.add.to.cart.icon
                    i.corner.red.minus.icon
                |Remove from Cart
            a.ui.basic.right.pointing.label(href='/cart')
                |View Cart
        

template(name='delete_button')
    #delete.ui.icon.red.button
        i.remove.icon
        
template(name='delete_link')
    a#delete(href='#') Delete

template(name='published')
    if published
        #unpublish.ui.basic.button
            // i.toggle.on.green.icon
            i.hide.icon
            | Make Private
    else
        #publish.ui.basic.button
            i.unhide.icon
            | Make Public

template(name='featured')
    .field
        if featured
            #make_unfeatured.ui.basic.icon.button
                i.toggle.on.icon
        else
            #make_featured.ui.basic.icon.button
                i.toggle.off.icon
        if featured
            .ui.green.basic.label Featured
        else
            .ui.basic.label Unfeatured

template(name='favorite_button')
    i.heart.large.link.icon.favorite_item(class=favorite_item_class)
    // if favorite_count
    //     | #{favorite_count}

template(name='resonate_button')
    .resonate_button.ui.circular.button(class=resonate_button_class) 
        i.heartbeat.icon
        | This Resonates with Me
        
template(name='mark_complete_button')
    .mark_complete.ui.circular.button(class=complete_button_class) 
        if completed
            i.checkmark.box.icon
            | Completed
        else
            i.square.outline.icon
            | Mark Complete
        
template(name='mark_doc_complete_button')
    .mark_complete.ui.circular.button(class=complete_button_class) 
        if complete
            i.checkmark.box.icon
            | Completed
        else
            i.square.outline.icon
            | Complete
        
template(name='bookmark_button')
    .bookmark_button.ui.circular.button(class=bookmark_button_class) 
        if bookmarked
            i.bookmark.icon
            | Bookmarked
        else
            i.bookmark.icon
            | Bookmark
        
        
        