template(name='voting')
    .ui.basic.segment
        i.thumbs.up.link.big.icon.vote_up(class=vote_up_button_class)
        i.thumbs.down.link.big.icon.vote_down(class=vote_down_button_class)
        |#{points}

template(name='published')
    .field
        label Status
        if published
            #unpublish.ui.green.button
                |Published
        else
            #publish.ui.basic.button
                |Private


template(name='add_to_cart')
    .ui.fluid.basic.button
        i.large.add.to.cart.icon
        |Add to Cart

template(name='delete')
    #delete.ui.red.icon.button
        i.trash.icon

template(name='featured')
    .field
        if featured
            #make_unfeatured.ui.basic.icon.button
                i.toggle.on.icon
        else
            #make_featured.ui.basic.icon.button
                i.toggle.off.icon
        if featured
            .ui.green.basic.label Featured
        else
            .ui.basic.label Unfeatured

template(name='favorite')
    .ui.basic.segment
        i.heart.big.link.icon.favorite_item(class=favorite_item_class)
        if favorite_count
            | #{favorite_count}
