template(name='view_courses')
    .ui.text.container
        .ui.divided.items
            each courses
                +course_item


template(name='course_item')
    .item
        a.ui.small.image(href="/view/#{_id}")
            img(src="{{c.url image_id  height=500 crop='fill' }}")
            if image_url
                img(src=image_url)
        .middle.aligned.content
            a.header(href="/view/#{_id}") #{title}

template(name='view_course')
    with course
        .ui.stackable.padded.grid
            unless editing
                .row
                    .twelve.wide.center.aligned.column
                        h1.ui.header View Course
                .row
                    .ten.wide.column
                        each tags
                            .ui.basic.label #{this}
                    .five.wide.column
                        +author_info
                        if is_author
                            a.ui.basic.blue.icon.button(href="/edit/#{_id}")
                                i.pencil.icon

template(name='edit_course')
    with course
        .ui.stackable.padded.grid
            .centered.row
                h1.ui.center.aligned.header Edit Course
            .row
                .twelve.wide.column
                    .ui.form
                        +edit_title
                        +edit_tags
                        +edit_content
                .four.wide.column
                    a.ui.basic.green.icon.button(href="/view/#{_id}")
                        i.check.icon
                    #delete_course.ui.red.basic.icon.button
                        i.trash.icon
