template(name='title') 
    .field
        label Title
        input#title(type='text' value=title)

template(name='subtitle')
    .inline.field
        label Subtitle
        input#subtitle(type='text' value=subtitle)

template(name='template_name')
    .inline.field
        label Template Name
        input#template_name(type='text' value=template_name)

template(name='icon_class')
    .inline.field
        label Icon Class 
        input#icon_class(type='text' value=icon_class)
        a(href="https://semantic-ui.com/elements/icon.html" target=_blank) List

template(name='created_date')
    .ui.form
        .inline.field
            label Created Date
            input#created_date(type='datetime-local' value=created_date)

template(name='plain')
    .field
        input#plain(type='text' value=plain)


template(name='slug')
    .field
        label Slug
        input#slug(type='text' value=slug placeholder='computer readable name, no spaces, caps or punctuation')

template(name='number')
    .inline.field
        label Number
        input#number(type='number' min='0' value=number)


template(name='tags')
    .required.inline.field
        label 
            +icon48 name='hashtag' classes='avatar'
            |Theme Tags
        input#add_tag(type='text' placeholder='press enter after each' maxlength='50' )
        each tags
            a.ui.basic.animated.fade.large.button.doc_tag
                .visible.content
                    i.icon
                        +icon24 name='hashtag' classes='avatar'
                    |#{this}
                .hidden.content
                    i.icon
                        +icon24 name='delete' classes='avatar'
                    |#{this}

template(name='location_tags')
    .inline.field
        label 
            +icon24 name='geo-fence' classes='avatar'
            |Location Tags (eg. 'home', 'couch')
        input#add_location_tag(type='text' placeholder='press enter after each' maxlength='50' )
        each location_tags
            a.ui.basic.large.animated.fade.large.button.doc_tag
                .visible.content
                    i.icon
                        +icon24 name='geo-fence'
                    |#{this}
                .hidden.content
                    i.icon
                        +icon24 name='delete'
                    |#{this}

template(name='intention_tags')
    .inline.field
        label 
            +icon24 name='spotlight' classes='avatar'
            |My intention for this entry is to...
        input#add_intention_tag(type='text' placeholder='press enter after each answer' maxlength='50' )
        each intention_tags
            a.ui.basic.large.animated.fade.large.button.doc_tag
                .visible.content
                    i.icon
                        +icon24 name='spotlight' classes='ui image'
                    |#{this}
                .hidden.content
                    i.icon
                        +icon24 name='delete' classes='ui image'
                    |#{this}


template(name='dollar_price')
    .ui.form
        .field
            label Price in $
            input#dollar_price(type='number' min='0' value=dollar_price)

template(name='point_price')
    .ui.form
        .inline.field
            label Price in Points
            input#point_price(type='number' min='0' value=point_price)


template(name='link')
    .field
        label Link (include http://)
        .ui.left.icon.input
            i.linkify.icon
            input#link(type='text' value=link)


template(name='page_name')
    .field
        label Page Name
        .ui.input
            input#name(type='text' value=name)


template(name='type')
    .ui.form
        .inline.field
            label Type
            input#type(type='text' value=type)

template(name='edit_parent_id')
    .ui.form
        .inline.field
            label ParentID
            input#parent_id(type='text' value=parent_id)

template(name='location')
    .field
        label Location
        .ui.left.icon.input
            i.compass.icon
            input#location(type='text' value=location)

template(name='content')
    .field
        // label Content
        .froala-container
            +froalaReactive getFEContext
    
    
template(name='edit_image')
    .ui.segment
        .field
            if image_id
                label image
                .ui.large.image
                    img(src="{{c.url image_id width=500 crop='fit'}}")
                    a#remove_photo.ui.top.left.attached.link.blue.label Remove
                    .ui.bottom.right.attached.blue.label Image Id: #{image_id}
            else
                unless image_url
                    label Upload Image
                    input(type='file' name='upload_picture' accept='image/*')
                    if isInRole 'admin'
                        .field
                            label or Choose Cloudinary Image Id
                            input#input_image_id(type='text')
            if image_url
                label image
                .ui.large.image
                    img(src=image_url)
                    a#remove_image_url.ui.top.left.attached.link.blue.label Remove
                .ui.label Image URL: #{image_url}
            else
                unless image_id
                    label Image URL
                    input#image_url(type='text' value=image_url)
    
template(name='youtube')
    .field
        label Youtube Id
        .ui.left.icon.action.input
            i.youtube.icon
            input#youtube(type='text' value=youtube)
            .ui.icon.button#clear_youtube
                i.remove.icon

template(name='view_youtube')
    // .ui.embed(data-source="youtube" data-id=youtube data-icon="video" data-placeholder="/images/video_placeholder.png")
    .ui.embed(data-source="youtube" data-id=youtube)


template(name='participants')
    .field
        label Participants: 
        each participants
            .ui.large.basic.label
                img.ui.avatar.image(src="{{c.url profile.image_id width=100 height=100 gravity='face' crop='fill'}}")
                |#{username}
                #remove_participant.ui.icon.basic.small.compact.circular.button
                    i.red.remove.icon
        .ui.left.icon.large.input
            i.search.icon
            +inputAutocomplete settings=participants_edit_settings id="participant_select" class="" autocomplete="off" placeholder='Search Username...'
            
            
template(name='edit_author')
    .ui.segment
        .ui.red.header Admin
        .ui.form
            .field
                label Author: 
                    with author
                        .ui.large.basic.label
                            img.ui.avatar.image(src="{{c.url profile.image_id width=100 height=100 gravity='face' crop='fill'}}")
                            |#{username}
                .ui.left.icon.large.input
                    i.search.icon
                    +inputAutocomplete settings=author_edit_settings id="author_select" class="" autocomplete="off" placeholder='Change Author'
                    
