template(name='title') 
    .ui.labeled.fluid.input
        .ui.basic.label Title
        input#title(type='text' value=title)

template(name='subtitle')
    .inline.field
        label Subtitle
        input#subtitle(type='text' value=subtitle)

template(name='template_name')
    .inline.field
        label Template Name
        input#template_name(type='text' value=template_name)

template(name='icon_class')
    .ui.form
        .inline.field
            label Icon Class 
            input#icon_class(type='text' value=icon_class)
            a(href="https://icons8.com/icon/new-icons/color" target=_blank) icons8

template(name='created_date')
    .ui.form
        .inline.field
            label Created Date
            input#created_date(type='datetime-local' value=created_date)

template(name='plain')
    .field
        input#plain(type='text' value=plain)


template(name='slug')
    .field
        label Slug
        input#slug(type='text' value=slug placeholder='computer readable name, no spaces, caps or punctuation')

template(name='number')
    .ui.labeled.input
        .ui.basic.label Number
        input#number(type='number' min='0' value=number)

template(name='edit_quantity')
    .ui.labeled.input
        .ui.basic.label Quantity (0 for infinite)
        input#quantity(type='number' min='0' value=quantity)


template(name='body_field')
    .ui.form
        .field
            textarea#body_field(rows='3') #{body}

template(name='tags')
    // .ui.segment
    .ui.header
        +icon48 name='hashtag' classes='ui mini spaced image'
        |Theme Tags &nbsp;
        // .ui.mini.input
        //     // i.plus.icon
        //     input#add_tag(type='text' placeholder='Add...' maxlength='50' )
        .ui.mini.input
            +inputAutocomplete settings=theme_select_settings id="theme_tag_select" class="" autocomplete="off" placeholder='Add Theme Tags...'
        each tags
            // a.ui.basic.circular.button.doc_tag #{this}
            a.ui.basic.animated.fade.circular.button.doc_tag
                .visible.content
                    // i.icon
                    //     +icon24 name='geo-fence'
                    |#{this}
                .hidden.content
                    |&nbsp;
                    |&nbsp;
                    i.remove.icon
                    // |#{this}
            

template(name='location_tags')
    .ui.header 
        +icon48 name='sofa' classes='ui mini spaced image'
        |Location Tags &nbsp;
        .ui.mini.input
            +inputAutocomplete settings=location_select_settings id="location_tag_select" class="" autocomplete="off" placeholder='Add Location Tags...'
        // .ui.mini.input
        //     input#add_location_tag(type='text' placeholder="eg. 'home', 'couch'" maxlength='50' )
        each location_tags
            // a.ui.basic.circular.button.doc_tag #{this}
            a.ui.basic.animated.fade.circular.button.doc_tag
                .visible.content
                    // i.icon
                    //     +icon24 name='geo-fence'
                    |#{this}
                .hidden.content
                    |&nbsp;
                    |&nbsp;
                    i.remove.icon
                    // |#{this}


template(name='intention_tags')
    .ui.header 
        +icon48 name='spotlight' classes='ui mini spaced image'
        |My intention for this entry is to... &nbsp;
        .ui.mini.input
            +inputAutocomplete settings=intention_select_settings id="intention_tag_select" class="" autocomplete="off" placeholder='Add Intention Tags...'
        // .ui.mini.input
        //     input#add_intention_tag(type='text' maxlength='50' )
        each intention_tags
            // a.ui.basic.circular.button.doc_tag #{this}
            a.ui.basic.animated.fade.circular.button.doc_tag
                .visible.content
                    // i.icon
                    //     +icon24 name='geo-fence'
                    |#{this}
                .center.aligned.hidden.content
                    |&nbsp;
                    |&nbsp;
                    i.remove.icon
                    // |#{this}


template(name='dollar_price')
    .ui.form
        .field
            label Price in $
            input#dollar_price(type='number' min='0' value=dollar_price)

template(name='point_price')
    .ui.form
        .inline.field
            label Price in Points
            input#point_price(type='number' min='0' value=point_price)


template(name='link')
    .field
        label Link (include http://)
        .ui.left.icon.input
            i.linkify.icon
            input#link(type='text' value=link)


template(name='page_name')
    .field
        label Page Name
        .ui.input
            input#name(type='text' value=name)


template(name='type')
    .ui.form
        .inline.field
            label Type
            input#type(type='text' value=type)
            
template(name='author_name')
    .ui.labeled.fluid.input
        .ui.basic.label #{label} Author
        input#author_name(type='text' value="{{../author_name}}")

template(name='edit_parent_id')
    .ui.form
        .inline.field
            label ParentID
            input#parent_id(type='text' value=parent_id)

template(name='location')
    .field
        label Location
        .ui.left.icon.input
            +icon48 name='geo-fence'
            input#location(type='text' value=location)

template(name='content')
    .field
        label #{label}
        .froala-container
            +froalaReactive getFEContext
    
    
template(name='edit_image')
    .ui.segment
        if image_id
            .ui.header
                 +icon48 name='image-file' classes='ui mini spaced image'
                 |Uploaded Image
            .ui.large.centered.image
                img(src="{{c.url image_id width=500 crop='fit'}}")
                a#remove_photo.ui.top.right.attached.link.red.basic.label
                    +icon48 name='delete' classes='ui tiny spaced image'
                if isInRole 'dev'
                    .ui.bottom.right.attached.blue.label Image Id: #{image_id}
        else
            unless image_url
                .ui.labeled.fluid.input
                    .ui.basic.label
                        +icon48 name='add-image' classes='ui tiny spaced image'
                        |Upload Image
                    input(type='file' name='upload_picture' accept='image/*')
                if isInRole 'dev'
                    .ui.header or Choose Cloudinary Image Id
                    .ui.input
                        input#input_image_id(type='text')
        .ui.horizontal.divider or                
        if image_url
            label image
            .ui.large.image
                img(src=image_url)
                a#remove_image_url.ui.top.left.attached.link.blue.label Remove
            .ui.label Image URL: #{image_url}
        else
            unless image_id
                .ui.labeled.icon.action.fluid.input
                    .ui.basic.label 
                        +icon48 name='add-link' classes='ui mini spaced image'
                        |Paste Image URL
                    input#image_url(type='text' value=image_url)
                    .ui.basic.button
                        +icon24 name='sent'
    
template(name='youtube')
    .ui.segment
        .ui.action.fluid.labeled.input
            .ui.basic.label
                +icon48 name='youtube' classes='ui mini spaced image'
                |Youtube Id
            input#youtube(type='text' value=youtube)
            .ui.icon.basic.button#clear_youtube
                +icon24 name='delete'
        if youtube
            +view_youtube
    

template(name='view_youtube')
    // .ui.embed(data-source="youtube" data-id=youtube data-icon="video" data-placeholder="/images/video_placeholder.png")
    .ui.embed(data-source="youtube" data-id=youtube)


template(name='participants')
    .field
        label Participants: 
        each participants
            .ui.large.basic.label
                img.ui.avatar.image(src="{{c.url profile.image_id width=100 height=100 gravity='face' crop='fill'}}")
                |#{username}
                #remove_participant.ui.icon.basic.small.compact.circular.button
                    i.red.remove.icon
        .ui.left.icon.large.input
            i.search.icon
            +inputAutocomplete settings=participants_edit_settings id="participant_select" class="" autocomplete="off" placeholder='Search Username...'
            
            
template(name='edit_author')
    .ui.segment
        .ui.red.header Admin
        .ui.form
            .field
                label Author: 
                    with author
                        .ui.large.basic.label
                            img.ui.avatar.image(src="{{c.url profile.image_id width=100 height=100 gravity='face' crop='fill'}}")
                            |#{username}
                .ui.left.icon.large.input
                    i.search.icon
                    +inputAutocomplete settings=author_edit_settings id="author_select" class="" autocomplete="off" placeholder='Change Author'
                    
