template(name='field_type') 
    if editing
        .ui.labeled.fluid.input
            .ui.basic.label Field Type
            input#field_type(type='text' value=field_type)
    else
        | Field Type: #{field_type}


template(name='plain')
    .field
        input#plain(type='text' value=plain)


template(name='number')
    if editing
        .ui.labeled.input
            .ui.basic.label Number
            input#number(type='number' min='0' value=number)


template(name='body_field')
    if editing
        .ui.form
            .field
                textarea#body_field(rows='3') #{body}
    else
        .ui.basic.segment
            |#{body}
            
            
template(name='tags')
    // .ui.segment
    if editing
        .ui.header
            // +icon48 name='hashtag' classes='ui mini spaced image'
            // |Tags &nbsp;
            .ui.mini.input
                // i.plus.icon
                input#theme_tag_select(type='text' placeholder='Add...' maxlength='50' )
            // .ui.mini.input
            //     +inputAutocomplete settings=theme_select_settings id="theme_tag_select" class="" autocomplete="off"
            each tags
                // a.ui.basic.button.doc_tag #{this}
                a.ui.basic.button.doc_tag
                    i.remove.icon
                    |#{this}
    else
        // .ui.dividing.header
        //     +icon48 name='hashtag' classes='ui inline mini image'
        //     |Tags
        +icon48 name='hashtag' classes='ui inline mini image'
        each tags
            .ui.basic.label #{this}

            

template(name='edit_parent_id')
    .ui.form
        .inline.field
            label ParentID
            input#parent_id(type='text' value=parent_id)


template(name='content')
    if editing
        .field
            label #{label}
            .froala-container
                +froalaReactive getFEContext
    else
        .large130 !{content}
    

template(name='image_url')
    if editing
        if image_url
            label Image URL
            .ui.large.image
                img(src=image_url)
                a#remove_image_url.ui.top.left.attached.link.blue.label Remove
            .ui.label Image URL: #{image_url}
        else
            .ui.labeled.icon.action.fluid.input
                .ui.basic.label 
                    +icon48 name='add-link' classes='ui mini spaced image'
                    |Paste Image URL
                input#image_url(type='text' value=image_url)
                .ui.basic.button
                    +icon24 name='sent'
    else
        .ui.large.image
            img(src=image_url)
        
    
template(name='youtube')
    if editing
        .ui.segment
            .ui.action.fluid.labeled.input
                .ui.basic.label
                    +icon48 name='youtube' classes='ui mini spaced image'
                    |Youtube Id
                input#youtube(type='text' value=youtube)
                .ui.icon.basic.button#clear_youtube
                    +icon24 name='delete'
            if youtube
                .ui.embed(data-source="youtube" data-id=youtube)
    else
        // .ui.embed(data-source="youtube" data-id=youtube data-icon="video" data-placeholder="/images/video_placeholder.png")
        if youtube
            .ui.embed(data-source="youtube" data-id=youtube)
