template(name='title')
    .field
        label Title
        input#title(type='text' value=title)

template(name='subtitle')
    .field
        label Subtitle
        input#subtitle(type='text' value=subtitle)

template(name='plain')
    .field
        input#plain(type='text' value=plain)


template(name='slug')
    .field
        label Slug
        input#slug(type='text' value=slug placeholder='computer readable name, no spaces, caps or punctuation')

template(name='number')
    .field
        label Number
        input#number(type='number' min='0' value=number)


template(name='tags')
    .field
        label Tags
        input#add_tag(type='text' placeholder='Add Tag' maxlength='50' autofocus='')
        each tags
            a.ui.basic.large.label.doc_tag
                i.minus.icon
                |#{this}


template(name='price')
    .field
        label Price in $
        input#price(type='number' min='0' value=price)


template(name='link')
    .field
        label Link (include http://)
        .ui.left.icon.input
            i.linkify.icon
            input#link(type='text' value=link)


template(name='page_name')
    .field
        label Page Name
        .ui.input
            input#name(type='text' value=name)


template(name='type')
    .ui.form
        .field
            label Type
            input#type(type='text' value=type)

template(name='location')
    .field
        label Location
        .ui.left.icon.input
            i.compass.icon
            input#location(type='text' value=location)

template(name='content')
    .field
        // label Content
        .froala-container
            +froalaReactive getFEContext
    
    
template(name='edit_image')
    .ui.segment
        .field
            if image_id
                label image
                .ui.large.image
                    img(src="{{c.url image_id width=500 crop='fit'}}")
                    a#remove_photo.ui.top.left.attached.link.blue.label remove
                    .ui.bottom.right.attached.blue.label Image Id: #{image_id}
            else
                unless image_url
                    label Upload Image
                    input(type='file' name='upload_picture' accept='image/*')
                    if isInRole 'admin'
                        .field
                            label or Choose Cloudinary Image Id
                            input#input_image_id(type='text')
            if image_url
                label image
                .ui.large.image
                    img(src=image_url)
                    a#remove_photo.ui.top.left.attached.link.blue.label remove
                .ui.label Image URL: #{image_url}
            else
                unless image_id
                    label Image URL
                    input#image_url(type='text' value=image_url)
    
template(name='youtube')
    .field
        label Youtube Id
        .ui.left.icon.action.input
            i.youtube.icon
            input#youtube(type='text' value=youtube)
            .ui.icon.button#clear_youtube
                i.remove.icon

template(name='view_youtube')
    // .ui.embed(data-source="youtube" data-id=youtube data-icon="video" data-placeholder="/images/video_placeholder.png")
    .ui.embed(data-source="youtube" data-id=youtube)


template(name='participants')
    .field
        label Participants: 
        each participants
            .ui.large.basic.label
                img.ui.avatar.image(src="{{c.url profile.image_id width=100 height=100 gravity='face' crop='fill'}}")
                |#{username}
                #remove_participant.ui.icon.basic.small.compact.circular.button
                    i.red.remove.icon
        .ui.left.icon.large.input
            i.search.icon
            +inputAutocomplete settings=participants_edit_settings id="participant_select" class="" autocomplete="off" placeholder='Search Username...'