template(name='view_lightbank_section')
    .ui.stackable.padded.grid
        .centered.row
            h1.ui.header 
                +icon96 name='sun' classes='ui image'
                |Lightbank
        .row
            .four.wide.column
                #add_item.ui.compact.basic.fluid.button
                    i.green.plus.icon
                    |Add Item
                +tag_facet
                // +location_facet
                // +timestamp_facet
                // +username_facet
                .ui.hidden.divider
            .twelve.wide.column
                .ui.cards
                    each items
                        +lightbank_card


template(name='lightbank_card')
    .ui.fluid.card
        if youtube
            +view_youtube
        if image_id
            +view_image_id
        if image_url
            +view_image_url
        if content
            +view_content
            if author_name
                h4.ui.header
                    |- #{author_name}
        .content
            +view_tags
        .content
            +voting
            +bookmark_button
            +resonate_button
            // +reflect_button
        if favorite_count
            .content
                strong
                    +icon48 name='heart-health' classes='ui mini inline image'
                    | Resonates with #{favorite_count} 
                .ui.divided.horizontal.list
                    each favoriter_list
                        .item
                            img.ui.avatar.image(src="{{c.url profile.image_id width=100 height=100 gravity='face' crop='fill'}}")
                            .content
                                .header
                                    |#{name}
        // if upvoters
        //     .content
        //         strong
        //             +icon48 name='thumbs-up' classes='ui mini inline image'
        //             | Upvoted by
        //         .ui.divided.horizontal.list
        //             each upvoter_list
        //                 .item
        //                     img.ui.avatar.image(src="{{c.url profile.image_id width=100 height=100 gravity='face' crop='fill'}}")
        //                     .content
        //                         .header
        //                             |#{name}
        .content
            a.ui.basic.icon.button(href="/lightbank/#{_id}")
                i.right.arrow.icon
                

template(name='edit_lightbank_item')
    with lightbank_item
        .ui.stackable.padded.grid
            .centered.row
                h1.ui.center.aligned.header Edit Lightbank Item
            .row
                .twelve.wide.column
                    .ui.form
                        +edit_tags
                        +edit_image_id
                        +edit_image_url
                        +edit_content
                .four.wide.column
                    a.ui.button(href="/lightbank/#{_id}") save 
                    #delete_item.ui.red.icon.button
                        i.trash.icon
