template(name='nav')
    #nav_menu.ui.labeled.icon.borderless.menu(class=nav_class)
        a.ui.header.item(href="/view/#{site_doc._id}" data-position='bottom center' data-content=site_doc.title) 
            if site_doc.image_url
                .ui.tiny.image
                    img(src=image_url)
            if site_doc.image_id
                .ui.image
                    img(src="{{c.url site_doc.image_id width=50 height=50 crop='fill'}}")
            else
                .ui.image
                    +icon48 name=site_doc.icon_class
        each nav_child_items
            a.ui.item(href="/view/#{_id}" data-position='bottom center' data-content=title)
                .ui.image
                    +icon48 name=icon_class
                // |#{title}
        .right.menu
            if currentUser
                // a#report_bug.icon.item(href="#"  data-position="bottom center" data-content="Report a Bug/Feature Request")
                //     .ui.image
                //         +icon48 name='bug'
                a.icon.item(href="/dashboard" class="{{isActivePath '/dashboard'}}" data-position="bottom center" data-content="Dashboard")
                    .ui.image
                        +icon48 name='dashboard'
                // if cart_items
                //     a.icon.mobile.hidden.item(href='/cart' class="{{isActivePath '/cart'}}" data-position="bottom center" data-content="Shopping Cart")
                //         i.large.icons
                //             i.cart.icon
                //             i.corner.teal.asterisk.icon
                a.icon.item(href="/profile/#{currentUser.username}" class="{{isActiveRoute name='view_profile'}}" data-position="bottom center" data-content="Profile")
                    if currentUser.profile.image_id
                        img.ui.avatar.image(src="{{c.url currentUser.profile.image_id width=50 height=50 gravity='face' crop='fill'}}")
                    else
                        i.user.icon
                    span.mobile.hidden    
                        if currentUser.name
                            | #{currentUser.name}
                        else
                            | #{currentUser.username}
                // a#logout.icon.item(href="#" data-position="bottom center" data-content="Log Out")
                //     .ui.image
                //         img(src="https://png.icons8.com/burglary/color/48" width="48" height="48")
                
            else
                a.ui.item(href='/sign-in') 
                    +icon48 name='login-rounded-down' classes='ui mini inline spaced image'
                    | Sign In
    
    .ui.basic.small.report.modal
        h1.ui.center.aligned.header
            img.bug_icon.ui.avatar.image(src="https://png.icons8.com/bug/color/96" width="96" height="96")
            |     Report Bug/ Feature Request
        h3.ui.center.aligned.header Current Page: #{bug_link}
        .content
            .ui.fluid.input
                input#bug_description(type='text' placeholder='Description...')
        .actions
            .ui.cancel.basic.button
                // i.remove.icon
                | Cancel
            // if can_submit_bug
            .ui.green.ok.ok_button.button
                // i.checkmark.icon
                // +icon24 name='checkmark' classes='ui avatar image'
                | Submit
    .ui.basic.small.confirm.modal
        h1.ui.center.aligned.header Thanks!
            .ui.green.ok.large.ok_button.button
                | You're welcome