template(name='view_facet')
    .ui.stackable.padded.grid
        // .centered.row
        //     h1.ui.header 
        //         +icon96 name='sun' classes='ui image'
        //         |#{title}
        .row
            .four.wide.column
                #add_item.ui.compact.basic.fluid.button
                    i.green.plus.icon
                    |Add Item
                +tag_facet
                // +location_facet
                // +timestamp_facet
                // +username_facet
                .ui.hidden.divider
            .twelve.wide.column
                .ui.cards
                    each children
                        // +facet_card
                        +Template.dynamic template=child_template



template(name='facet_card')
    .ui.fluid.card
        if youtube
            +view_youtube
        if image_id
            +view_image_id
        if image_url
            +view_image_url
        if content
            +view_content
            if author_name
                h4.ui.header
                    |- #{author_name}
        .content
            .header #{title}
        .content
            +view_tags
        .content
            +voting
            +bookmark_button
            +resonate_button
            // +reflect_button
        .content
            a.ui.basic.icon.button(href="/view/#{_id}")
                i.right.arrow.icon
                

template(name='edit_facet_item')
    with lightbank_item
        .ui.stackable.padded.grid
            .centered.row
                h1.ui.center.aligned.header Edit Item
            .row
                .twelve.wide.column
                    .ui.form
                        +edit_tags
                        +edit_image_id
                        +edit_image_url
                        +edit_content
                .four.wide.column
                    a.ui.button(href="/view/#{_id}") Save 
                    #delete_item.ui.red.icon.button
                        i.trash.icon
