template(name='child_view')
    .ui.fluid.card
        unless editing
            .content
                each tags
                    .ui.small.compact.button.theme_tag(class=theme_tag_class)
                        strong #{this}
            // .content
            //     .ui.basic.label #{child_count} child docs
            //     |by #{author.username}
            //     |#{when}
            if is_author
                +session_edit_button
            // a.ui.bottom.attached.basic.button(href="/view/#{_id}" data-tooltip='View Full')
            //     i.large.chevron.down.icon
        if editing                    
            .content
                .ui.input
                    // i.plus.icon
                    input#theme_tag_select(type='text' placeholder='Add...' maxlength='50' )
                // .ui.mini.input
                //     +inputAutocomplete settings=theme_select_settings id="theme_tag_select" class="" autocomplete="off"
                each tags
                    a.ui.basic.button.doc_tag
                        i.remove.icon
                        |#{this}
                .ui.basic.center.aligned.segment
                    +session_edit_button
                    +delete_button
                    
template(name='session_edit_button')
    if currentUser
        if editing
            .save_doc.ui.basic.large.circular.icon.button
                i.large.check.icon
        else
            .edit_this.ui.basic.icon.large.circular.button
                i.large.pencil.icon
        