template(name='doc_sentiment') 
    .ui.dividing.header 
        +icon48 name='attitude' classes='ui mini spaced image'
        |Sentiment
    .ui.tiny.progress(data-percent=sentiment_score_percent class=sentiment_bar_class)
        .bar
        .progress
        .label
            if is_positive
                |#{sentiment_score_percent}% Positive
            else
                |#{sentiment_score_percent}% Negative

        // |#{doc_sentiment_label}
        // |#{sentiment_score_percent}

template(name='watson_keywords') 
    .ui.dividing.header 
        +icon48 name='dna-helix' classes='ui mini spaced image'
        |Analyzed Keywords
    each watson_keywords
        .ui.basic.label #{this}

template(name='doc_emotion') 
    .ui.dividing.header 
        +icon48 name='mind' classes='ui mini spaced image'
        |Emotion
    with watson.emotion.document.emotion
        .ui.blue.tiny.progress(data-percent=sadness_percent)
            .bar
            .progress
            .label #{sadness_percent}% Sadness 
        .ui.green.tiny.progress(data-percent=joy_percent)
            .bar
            .progress
            .label #{joy_percent}% Joy 
        .ui.black.tiny.progress(data-percent=fear_percent)
            .bar
            .progress
            .label #{fear_percent}% Fear 
        .ui.yellow.tiny.progress(data-percent=disgust_percent)
            .bar
            .progress
            .label #{disgust_percent}% Disgust 
        .ui.red.tiny.progress(data-percent=anger_percent)
            .bar
            .progress
            .label #{anger_percent}% Anger 
            
template(name='call_watson')
    #call_watson.ui.basic.fluid.circular.button 
        +icon48 name='dna-helix' classes='ui mini spaced image'
        |Analyze Text

template(name='analyzed_watson_keywords')
    .ui.fluid.accordion
        .title
            .ui.header 
                +icon48 name='dna-helix' classes='ui mini spaced image'
                |Analyzed Keyword Details (#{watson.keywords.length})
                i.dropdown.icon
        .content
            .ui.three.stackable.cards
                each watson.keywords
                    .ui.card
                        .content
                            .header 
                                +icon48 name='tag' classes='ui mini spaced image'
                                |#{text}
                            .meta
                                |#{relevance_percent}% Relevant
                            // .meta
                            //     |Sentiment: #{sentiment.score}
                            .description
                                with emotion
                                    .ui.list
                                        .ui.blue.tiny.progress(data-percent=sadness_percent)
                                            .bar
                                            .progress
                                            .label #{sadness_percent}% Sadness
                                        .ui.green.tiny.progress(data-percent=joy_percent)
                                            .bar
                                            .progress
                                            .label #{joy_percent}% Joy 
                                        .ui.black.tiny.progress(data-percent=fear_percent)
                                            .bar
                                            .progress
                                            .label #{fear_percent}% Fear
                                        .ui.yellow.tiny.progress(data-percent=disgust_percent)
                                            .bar
                                            .progress
                                            .label #{disgust_percent}% Disgust 
                                        .ui.red.tiny.progress(data-percent=anger_percent)
                                            .bar
                                            .progress
                                            .label #{anger_percent}% Anger 
