template(name='view_module')
    +nav
    .ui.container
        .ui.breadcrumb
            a.section(href='/') Home
            .divider  / 
            a.section(href='/courses') Courses
            .divider  / 
            a.section(href="/course/#{course._id}") #{course.title}
            .divider  / 
            a.section(href="/course/#{course._id}/modules") Modules
            .divider  / 
            .active.section #{module.number}: #{module.title}
        h1.ui.center.aligned.header Module #{module.number}: #{module.title}
        .ui.stackable.grid
            .four.wide.column
                with module
                    .content
                        |!{description}
                    .ui.vertical.fluid.pointing.menu
                        .header.item Sections
                        .menu
                            each sections
                                a.item(href="/course/#{../course_id}/module/#{module_id}/section/#{_id}" class="{{isActivePath '/course/#{../course_id}/module/#{module_id}/section/#{_id}'}}")  #{number}: #{title}
                        a.item(href="/course/#{course_id}/module/#{_id}/downloads" class="{{isActiveRoute name='module_downloads'}}") Downloads
                        a.disabled.item Light Work
                    .ui.dividing.header Status
                    if complete
                        .ui.teal.fluid.label 
                            i.check.icon
                            |Complete
                    else
                        .ui.teal.basic.fluid.label 
                            |Incomplete
                    if isInRole 'admin'
                        .ui.dividing.header 
                            |Admin
                        a.ui.fluid.basic.button(href="/course/#{course_id}/module/#{_id}/edit")
                            i.red.configure.icon
                            |Edit Module
            .twelve.wide.column
                +Template.dynamic template=module_content

template(name='module_sections')
    // #section_menu.ui.top.attached.stackable.tabular.menu
    //     each sections
    //         a.item(data-tab="tab#{number}") #{title}
    // each sections
    //     .ui.bottom.attached.tab.segment(data-tab='tab#{number}')
    //         +view_section


template(name='view_section')
    with section_doc
        // .ui.basic.segment
        .ui.center.aligned.header #{title}
        |!{section_content}
        .ui.styled.fluid.accordion
            h3.title
                i.big.newspaper.icon
                | Transcript
            .content
                |!{transcript}
        .ui.hidden.divider
        +view_questions
            
