template(name='view_module')
    .ui.container
        .ui.breadcrumb
            a.section(href='/') Home
            .divider  / 
            a.section(href='/courses') Courses
            .divider  / 
            a.section(href="/course/#{course._id}") #{course.title}
            .divider  / 
            a.section(href="/course/#{course._id}/modules") Modules
            .divider  / 
            .active.section #{module.number}: #{module.title}
        with module
            h1.ui.center.aligned.header #{number}: #{title}
            .ui.stackable.grid
                .four.wide.column
                    .content
                        |!{description}
                    .ui.vertical.fluid.pointing.menu
                        with module
                            a.disabled.item Sections
                            a.disabled.item Light Work
                    .ui.horizontal.divider.header Status
                    if complete
                        .ui.teal.fluid.label 
                            i.check.icon
                            |Complete
                    else
                        .ui.teal.basic.fluid.label 
                            |Incomplete
                    if isInRole 'admin'
                        .ui.horizontal.divider.header 
                            |Admin
                        a.ui.fluid.basic.button(href="/course/#{course_id}/module/#{_id}/edit")
                            i.red.configure.icon
                            |Edit Module
    
                .twelve.wide.column
                    #section_menu.ui.top.attached.tabular.menu
                        each sections
                            a.item(data-tab="tab#{number}") Section #{number}
                    each sections
                        .ui.bottom.attached.tab.segment(data-tab='tab#{number}')
                            .ui.header Section #{number}
                            +view_section


template(name='view_section')
    .ui.basic.segment
        .ui.header Section Content
        |!{section_content}
        .ui.header Transcript
        |!{transcript}
        +view_questions
        
