template(name='lightbank')
    .ui.container
        .ui.text.container
            unless is_editing
                if isInRole 'admin'
                    .ui.two.item.stackable.menu
                        a#toggle_published.item(class=published_item_class) 
                            i.red.configure.icon
                            i.unhide.icon
                            |Published (#{published_count})
                        a#toggle_unpublished.item(class=unpublished_item_class) 
                            i.red.configure.icon
                            i.hide.icon
                            |Unpublished (#{unpublished_count})
                .ui.teal.four.item.large.pointing.stackable.menu
                    a#set_mode_to_all.item(class=all_item_class) 
                        i.sun.yellow.icon
                        |All
                    a#toggle_resonates.item(class=resonates_item_class) 
                        i.heartbeat.icon
                        |Resonates
                    a#toggle_bookmarked.item(class=bookmarked_item_class) 
                        i.bookmark.icon
                        |Bookmarked
                    a#toggle_completed.item(class=completed_item_class) 
                        i.checkmark.box.icon
                        |Completed
    
                    // a#set_mode_to_resonates.item(class=mine_class) 
                    //     img.ui.avatar.image(src="{{c.url currentUser.profile.image_id width=50 height=50 gravity='face' crop='fill'}}")
                    //     |Mine
                // .ui.teal.three.item.menu
                +lightbank_cloud
        .ui.text.container
            each docs
                +lightbank_doc_view
        


template(name='lightbank_doc_view')
    .ui.container.fluid.segment
        if is_editing
            .ui.container.basic.segment
                .ui.center.aligned.header Edit Lightbank Entry
                .ui.form
                    +tags
                    +content
                    +published
                .ui.hidden.divider
                .ui.center.aligned.basic.segment
                    +session_edit_button
                    +delete_button
        else
            |!{content}
            .meta
                i.tags.icon
                each tags
                    .ui.tiny.circular.button.tag(class=tag_class) #{this}
            .ui.hidden.divider
            +resonate_button
            +mark_complete_button
            +bookmark_button
            // a.ui.basic.button(href="/view/#{_id}") 
            //     |View
            //     i.right.chevron.icon
            if resonates_with_people.count
                .ui.hidden.divider
                .ui.fluid.styled.accordion
                    .title 
                        |This Resonates With... (#{resonates_with_people.count})
                        i.dropdown.icon
                    .content
                        .ui.divided.list
                            each resonates_with_people
                                .item
                                    img.ui.avatar.image(src="{{c.url profile.image_id width=100 height=100 gravity='face' crop='fill'}}")
                                    .content
                                        .header
                                            |#{name}
                                        .description
                                            +tiny_color_dots
                                            each five_tags
                                                .ui.basic.label #{this}
            .ui.hidden.divider
            // if isInRole 'dev'
            // +comments
            .ui.hidden.divider
            if isInRole 'admin'
                .ui.fluid.styled.accordion
                    .title 
                        i.red.configure.icon
                        |Admin
                        i.dropdown.icon
                    .content    
                        if published
                            .ui.green.label Published
                        else
                            .ui.basic.label
                                i.hide.icon
                                |Unpublished
                        +published
                        +delete_button
                        // +user_blurb
                        .ui.header by #{author.name}
                        if can_edit
                            +session_edit_button
