template(name='course_modules')        
    .ui.horizontal.divider.header 
        if isInRole 'admin'
            i#add_sol_module.red.plus.link.icon(title='Add Module')
        else
            i.list.layout.icon
        |Modules
    each sol_modules
        if module_is_available
            .ui.segment(class=available_segment_class)
                if is_editing
                    .ui.form
                        +number
                        +title
                        .field
                            +tags
                        .field
                            +edit_parent_id
                        .field
                            +type
                        +delete_button
                else
                    a.ui.header(href="/course/sol/module/#{number}") 
                        if module_is_complete
                            i.green.big.check.circle.icon
                        |#{number}: #{title}
                    // |!{content}
                if isInRole 'admin'
                    +session_edit_button
                unless module_is_complete
                    .ui.divider
                    if user_progress
                        .module_percent_complete_bar.ui.indicating.progress(data-percent=user_progress)
                            .bar
                                .progress
                            .label
                        .ui.horizontal.relaxed.list
                            if module_progress_doc.debrief_question_count
                                .item
                                    if module_progress_doc.module_debrief_complete
                                        i.yellow.large.idea.icon
                                    else
                                        i.disabled.large.idea.icon
                                    .content
                                        strong #{module_progress_doc.debrief_answer_count}/#{module_progress_doc.debrief_question_count}
                                        |Debrief
                            .item
                                if module_progress_doc.module_sections_complete
                                    i.green.large.tasks.icon
                                else
                                    i.disabled.large.tasks.icon
                                .content
                                    strong #{module_progress_doc.section_complete_count}/#{module_progress_doc.module_section_count}
                                    |Sections
    
                            .item
                                if module_progress_doc.module_lightwork_complete
                                    i.yellow.sun.large.icon
                                else
                                    i.sun.large.icon
                                .content
                                    strong #{module_progress_doc.lightwork_answer_count}/#{module_progress_doc.lightwork_question_count}
                                    |Lightwork
                    else
                        a.ui.green.button(href="/course/sol/module/#{number}")
                            |Start
                            i.right.arrow.icon

        else
            .ui.disabled.segment
                .ui.header  #{number}: #{title}