template(name='view_course')
    .ui.stackable.padded.grid
        .centered.middle.aligned.row
            .three.wide.center.aligned.column
            .ten.wide.center.aligned.column
                h1.ui.center.aligned.header #{title}
                h4.ui.center.aligned.header #{subtitle}
            .three.wide.center.aligned.column
                if editing
                    +save_button
                else
                    if can_edit
                        +toggle_editing_button
        .centered.row
            .twelve.wide.column
                // +sections
                each components
                    if slug_exists
                        +Template.dynamic template=slug data=doc
                // +components
                // +course_purchases
            .four.wide.column
                if editing
                    if isInRole 'admin'
                        +dividing_header label='Page Settings' icon='page'
                        +tags
                    +component_menu        

    
template(name='course_reminders')                
    h2.ui.center.aligned.header Course Reminders            



template(name='register_sol')
    .ui.text.container
        h2.ui.center.aligned.header Hi and Welcome to ToriWebster.com!
        h5.ui.center.aligned.header Please register an account to enroll in the SOL demo or login if you already have one.
        .ui.basic.segment
            +atForm state='signUp'
            
            
template(name='course_purchases')
    +dividing_header label='Purchases' icon='money'
    .ui.cards
        each purchases
            .ui.card
                .content
                    .header #{title}
                    .ui.header Buyer: #{author.name}
                    .ui.header Sale Price: $#{sale_price}

template(name='sections')
    .ui.dividing.header
        i.menu.icon
        |Sections
        if editing
            #add_section.ui.basic.button
                i.plus.icon
                |Add Section
    .ui.cards
        each sections
            .ui.card
                .content
                    if editing
                        +title
                        // +subtitle
                        +icon_class
                    else
                        .header 
                            +icon96 name=icon_class
                            |#{title}
             
template(name='component_menu')
    .ui.dividing.header Component Menu
    each unselected_components
        .select_component.ui.button 
            +icon48 name=icon_class
            |#{title}
                            
// template(name='components')
//     if has_youtube
//         +view_youtube
//     if has_image
//         if image_id
//             .image
//                 img(src="{{c.url image_id}}")
//         if image_url
//             .ui.large.image
//                 img(src=image_url)
//     if has_content
//         |!{content}
