template(name='view_course')
    +nav
    .ui.container
        .ui.hidden.divider
        .ui.breadcrumb
            a.section(href='/') Home
            .divider  / 
            a.section(href='/courses') Courses
            .divider  / 
            .active.section #{course.title}
        .ui.stackable.grid
            .centered.row
                img.ui.image(src="{{c.url course.image_id }}")
                // .imogen.banner-text Source of Light
                // h1.ui.center.aligned.header #{course.title}
                // if isInRole 'dev'
                //     |#{course._id}
            // .centered.row
            //     h4.ui.center.aligned.header #{course.subtitle}
            .five.wide.column
                .ui.vertical.fluid.pointing.large.menu
                    a.item(href="/course/sol/dashboard" class="{{isActiveRoute name='course_dashboard'}}") 
                        i.dashboard.icon
                        |Dashboard
                    a.item(href="/course/sol/welcome" class="{{isActiveRoute name='course_welcome'}}") 
                        i.star.icon(class=welcome_icon_class)
                        .ui.blue.label #{sol_progress_doc.welcome_count}/3
                        |Welcome
                    // if has_agreed
                    a.item(href="/course/sol/modules" class="{{isActiveRoute name='course_modules'}}") 
                        i.list.layout.icon
                        |Modules
                        .ui.blue.label #{sol_progress_doc.module_complete_count}/#{sol_progress_doc.sol_module_count}
                    a.item(href="/course/sol/members" class="{{isActiveRoute name='course_members'}}") 
                        i.users.icon
                        |Members
                    a.item(href="/course/sol/pins" class="{{isActiveRoute name='course_pins'}}") 
                        i.pin.icon
                        |Pins
                    a.item(href="/course/sol/stats" class="{{isActiveRoute name='course_stats'}}") 
                        i.line.chart.icon
                        |Stats
                    // else
                    //     .disabled.item 
                    //         i.list.layout.icon
                    //         |Modules (please agree to terms)
                    //     .disabled.item 
                    //         i.users.icon
                    //         |Members (please agree to terms)
                    //     .disabled.item
                    //         i.pin.icon
                    //         |Pins (please agree to terms)
                    
                    // a.item(href="/course/sol/collaboration" class="{{isActiveRoute name='course_collaboration'}}") Collaboration
                    // a.item(href="/course/sol/downloads" class="{{isActiveRoute name='course_downloads'}}") Downloads
                    // a.item(href="/course/sol/reminders" class="{{isActiveRoute name='course_reminders'}}") Reminders
                // with course
                if isInRole 'admin'
                    .ui.segment
                        .ui.header
                            i.red.configure.icon
                            |Admin
                        +doc_title tags='course,sol'
                        +doc_subtitle tags='course,sol'
                        +doc_price tags='course,sol'
                            .ui.list
                                .item current module #{sol_progress_doc.current_module}
                                .item module_complete_count #{sol_progress_doc.module_complete_count}
                #calculate_sol_progress.ui.basic.fluid.button Calc SOL Progress
                with sol_progress_doc
                    #sol_percent_complete_bar.ui.blue.indicating.progress(data-percent=section_progress_doc.percent_complete)
                        .bar
                            .progress
                                | #{sol_progress_doc.sol_progress_percent}%

            .ten.wide.column
                +Template.dynamic template=course_content

    
template(name='course_reminders')                
    h2.ui.center.aligned.header Course Reminders            



template(name='register_sol')
    .ui.text.container
        h2.ui.center.aligned.header Hi and Welcome to ToriWebster.com!
        h5.ui.center.aligned.header Please register an account to enroll in the SOL demo or login if you already have one.
        .ui.basic.segment
            +atForm state='signUp'