template(name='project_management')
    .ui.container
        h2.ui.center.aligned.header Project Management
        #cloud.ui.basic.segment.container
            if selected_admin_tags
                #add.ui.icon.button
                    i.plus.icon
            else
                #add.ui.basic.icon.button
                    i.plus.icon
            .ui.left.icon.large.input
                i.search.icon
                +inputAutocomplete settings=settings id="search" class="" autocomplete="off" 
            if selected_admin_tags
                #clear_tags.ui.active.icon.large.button
                    i.remove.icon
                each selected_admin_tags
                    .unselect_tag.ui.active.large.button
                        strong #{this}
            each admin_tags
                .ui.button.select_tag(class=cloud_tag_class) 
                    | #{this.name}
                    // | #{this.index}
                    // | [#{this.count}]
            each admin_docs
                +admin_doc_view


template(name='admin_doc_view')
    .ui.fluid.card(class=project_card_class)
        .content
            .meta
                each tags
                    .ui.tiny.button.tag(class=tag_class) #{this}
            |!{content}
            .ui.hidden.divider
            if can_edit
                a.ui.basic.button(href="/admin_edit/#{_id}")
                    |Edit

template(name='admin_edit')
    with doc
        .ui.container.basic.segment
            .ui.center.aligned.header Edit Admin Doc
            .ui.hidden.divider
            +tags
            .ui.hidden.divider
            +content      
            .ui.hidden.divider
            .ui.hidden.divider
            .ui.center.aligned.basic.segment
                a#save_admin_doc.ui.huge.active.button Save 
                +delete_button