template(name='collaboration')
    +questions


template(name='questions')
    .ui.header Section Questions
    .ui.action.fluid.input
        input#new_question(type='text')
        #add_question.ui.basic.button 
            i.red.configure.icon
            |Add Question
    .ui.divided.segments
        each questions
            +question

        


template(name='question')
    .ui.segment
        h4.ui.header 
            |Question: #{text}
            if can_edit
                i.remove_question.red.big.link.remove.icon

                    
template(name='view_questions')        
    .ui.styled.fluid.accordion
        .title
            i.dropdown.icon
            | Section Questions
        .content
            each questions
                .ui.segment(class=question_segment_class)
                    .ui.header #{text}
                    unless has_answered_question
                        .ui.action.fluid.input
                            input#answer(type='text')
                            #add_answer.ui.basic.button 
                                i.green.icon
                                |Add Answer
                    each answers
                        h4 #{text}
                        .ui.divider
                        if can_edit
                            .ui.basic.compact.segment
                                .toggle_published.ui.slider.checkbox
                                    input(type='checkbox' name='publish_answer' checked=published)
                                    label Publish Answer
                            .ui.hidden.fitted.divider
                            .remove_answer.ui.basic.button
                                i.remove.red.link.icon
                                | Delete
        each questions
            if has_answered_question
                .title Collaboration for #{text}
                .content
                    .ui.segments
                        each published_answers
                            .ui.segment 
                                h5 #{text}
                                | by 
                                |{{author.name}}
                                img.ui.avatar.image(src="{{c.url author.profile.image_id width=50 height=50 gravity='face' crop='fill'}}")
