template(name='volunteer')
    .ui.stackable.padded.grid
        .centered.row
            h1.ui.header Volunteer
        .row
            .ui.fluid.styled.accordion
                .title 
                    |Rules
                    i.dropdown.icon
                .content
                    +named_content name='volunteer_blurb'
        .row
            .four.wide.column
                #add_shift.ui.basic.button 
                    i.plus.icon
                    |Add Shift
                +tag_facet
            .twelve.wide.column
                .ui.cards
                    each shifts
                        +shift_card
                    
                    
                    
template(name='shift_card')
    .ui.card
        .content
            |Shift: #{shift}
        .content
            | #{formatted_date}
        .content
            +volunteer_list

            a.ui.right.floated.basic.icon.button(href="/shift/#{_id}")
                i.right.arrow.icon
        
template(name='shift')
    .ui.stackable.padded.grid
        with shift
            .centered.row
                .three.wide.column
                    a.ui.basic.button(href='/volunteer')
                        i.left.arrow.icon
                        |Volunteer
                .twelve.wide.center.aligned.column
                    h1.ui.header
                        if editing
                            | Edit 
                        | Volunteer Shift
            .row
                .twelve.wide.column
                    // .ui.header Start Time: #{formatted_start_date}
                    // .ui.header End Time: #{formatted_end_date}
                    +date
                    #make_first_shift.ui.button(class=first_shift_button_class) First Shift
                    #make_second_shift.ui.button(class=second_shift_button_class) Second Shift
                    +volunteer_list
                    +join_button
                .four.wide.column
                    +edit_button
                    if editing    
                        #delete.ui.basic.red.icon.button
                            i.remove.icon
                            
                            
template(name='volunteer_list')
    .ui.header Volunteers
    .ui.list
        each volunteers
            .item
                img.ui.avatar.image(src="{{c.url profile.image_id width=50 height=50 gravity='face' crop='fill'}}")
                .content 
                    .header #{profile.first_name} #{profile.last_name}
                    .description
                        each tags
                            .ui.basic.small.label #{this}
