template(name='grid_item')
    if editing
        .ui.fluid.card
            .content
                +title
                +type
                +icon_class
                +number
                +edit_parent_id
                +published
                +delete_button
    else
        .column
            if can_access
                a.ui.icon.center.aligned.header(href="/view/#{_id}") 
                    i.icon
                        if completed
                            +icon96 name=icon_class
                        else
                            if icon_class
                                +dots100 name=icon_class
                            else
                                +icon96 name='circle'
                    if is_admin
                        if number
                            |#{number}: 
                    |#{title}
            else
                .ui.icon.center.aligned.disabled.header
                    i.icon
                        if completed
                            +icon96 name=icon_class
                        else
                            if icon_class
                                +dots100 name=icon_class
                            else
                                +icon96 name='circle'
                    if is_admin
                        if number
                            |#{number}: 
                    |#{title}
            if is_admin
                a(href="/view/#{_id}") 
                    i.external.link.icon
                if body
                    .ui.basic.label #{body}
                // .ui.basic.label #{type}   
                +edit_author
                +published
        
             
template(name='list_item')
    .ui.fluid.card
        unless editing
            if title
                .content
                    .header #{title}
            if youtube
                +youtube
            if image_id
                .image
                    img(src="{{c.url image_id}}")
            if image_url
                .ui.large.image
                    img(src=image_url)
            if content
                .content 
                    .large130 !{content}
                    // .large-text !{content}
            if link
                .content
                    a(href=link target='_blank') #{link}
            if body
                .content #{body}
            if tags
                .content
                    +view_tags
            .content
                if isInRole 'admin'
                    +published_label
                // +resonate_button
                // +bookmark_button
                // +reflect_button
                +view_full_button
                // +mark_read
                +author_info
                if is_author
                    +delete_button
                    // +edit_parent_id
                    // |id: #{_id}
                    // +type
        if editing
            +title
            +type
            +icon_class
            +number
            +delete_button
  
              
            
                        
template(name='card')
    .ui.fluid.card
        .content
            // +youtube
            // +image_url
            +content
            // +image_id
            +tags
            if is_author
                +session_edit_button
                if editing
                    +delete_button
                        
                        
