template(name='docs')
    .ui.container
        +cloud
        // if one_doc
        each docs
            +doc_view
        
template(name='view_doc')
    with doc
        // +Template.dynamic template=view_type_template
        .ui.padded.stackable.grid
            .centered.middle.aligned.row
                a.ui.basic.circular.button(href="/view/#{parent._id}")
                    +icon48 name=parent.icon_class classes='ui mini inline image'
                    | #{parent.title}
            .centered.middle.aligned.row
                .four.wide.center.aligned.column
                    if younger_sibling
                        a.ui.basic.circular.button(href="/view/#{younger_sibling._id}")
                            +icon48 name=younger_sibling.icon_class classes='ui mini inline image'
                            | #{younger_sibling.title}
                .eight.wide.center.aligned.column
                    h1.ui.center.aligned.header
                        +icon48 name=icon_class classes='ui mini inline image'
                        | #{title}
                        if can_edit
                            +toggle_editing_button
                .four.wide.center.aligned.column
                    if older_sibling
                        a.ui.basic.circular.button(href="/view/#{older_sibling._id}")
                            +icon48 name=older_sibling.icon_class classes='ui mini inline image'
                            | #{older_sibling.title}
            .centered.row
                .twelve.wide.column
                    each components
                        if is_field
                            +field_component
                        else
                            +group_component
                        // if slug_exists
                        //     +Template.dynamic template=slug data=doc
                        //     .ui.hidden.divider
                    +children
                if editing
                    .four.wide.column
                        +type
                        unless doc_template
                            .ui.header No #{type} Template Doc
                            #create_doc_template.ui.basic.button Create #{type} Template Doc
                        +component_menu
                        +field_menu
                        
                        
                        
template(name='children')
    if editing
        .ui.dividing.header
            +icon48 name='tree-structure' classes='ui mini inline image'
            |All Children (add children to group to show)
            #add_child.ui.basic.button
                i.plus.icon
                |Add Child
        .ui.basic.segment
            .ui.cards
                each children
                    .ui.card
                        .content
                            if editing
                                +title
                                +group
                                +type
                                +number
                            else
                                a.header(href="/view/#{_id}") 
                                    if icon_class
                                        +icon96 name=icon_class
                                    |#{title}
             
template(name='field_menu')
    .ui.dividing.header Fields Menu
    each unselected_fields
        .select_component.ui.basic.compact.small.button
            +icon48 name=icon_class classes='ui mini spaced image'
            |#{title}
                
template(name='component_menu')
    #add_group.ui.basic.button Add Group
    #add_field.ui.basic.button Add Field
    
    
template(name='field_component')
    .ui.segment(class=component_segment_class)
        if editing
            .ui.horizontal.list
                .item
                    +icon48 name='rename' classes='ui mini inline image'
                .item Field ID: #{field_id}
                .item
                    .remove_component.ui.basic.icon.button
                        i.red.remove.icon
        +Template.dynamic template=field_id data=doc
    
template(name='group_component')
    .ui.segment(class=component_segment_class)
        if editing
            .ui.horizontal.list
                .item
                    +icon48 name='group-objects' classes='ui mini inline image'
                .item Group ID: #{group}
                .item
                    .remove_component.ui.basic.icon.button
                        i.red.remove.icon
        .ui.centered.cards
            each group_children
                .ui.card
                    .content
                        if editing
                            +title
                            +group
                            +type
                            +icon_class
                            +number
                        else
                            a.header(href="/view/#{_id}") 
                                if icon_class
                                    +icon96 name=icon_class
                                |#{title}
                    