template(name='docs')
    .ui.container
        +cloud
        // if one_doc
        each docs
            +doc_view
        
template(name='view_doc')
    with doc
        // +Template.dynamic template=view_type_template
        .ui.padded.stackable.grid
            .centered.middle.aligned.row
                if parent
                    a.ui.basic.circular.button(href="/view/#{parent._id}")
                        if icon_class
                            +icon48 name=parent.icon_class classes='ui mini inline image'
                        else
                            +icon48 name='chevron-up' classes='ui mini inline image'
                        | #{parent.title}
                else
                    #create_parent.ui.basic.button Create Parent
            .centered.middle.aligned.row
                .four.wide.center.aligned.column
                    if younger_sibling
                        a.ui.basic.circular.button(href="/view/#{younger_sibling._id}")
                            if younger_sibling.responded
                                +icon48 name='checked' classes='ui mini inline image'
                            else
                                if younger_sibling.icon_class
                                    +icon48 name=younger_sibling.icon_class classes='ui mini inline image'
                                else
                                    +icon48 name='circle' classes='ui mini inline image'
                            | #{younger_sibling.title}
                .eight.wide.center.aligned.column
                    h1.ui.center.aligned.header
                        if responded
                            +icon48 name='checked' classes='ui mini inline image'
                        else
                            if icon_class
                                +icon48 name=icon_class classes='ui mini inline image'
                            else
                                +icon48 name='circle' classes='ui mini inline image'
                        | #{title}
                        if can_edit
                            +toggle_editing_button
                .four.wide.center.aligned.column
                    if older_sibling
                        a.ui.basic.circular.button(href="/view/#{older_sibling._id}")
                            | #{older_sibling.title}
                            if older_sibling.responded
                                +icon48 name='checked' classes='ui mini inline image'
                            else
                                if older_sibling.icon_class
                                    +icon48 name=older_sibling.icon_class classes='ui mini inline image'
                                else
                                    +icon48 name='circle' classes='ui mini inline image'
            .centered.row
                div(class=main_column_class)
                    each components
                        if is_field
                            +field_component
                        else
                            +group_component
                        // if slug_exists
                        //     +Template.dynamic template=slug data=doc
                    +children
                    unless editing
                        if responses_allowed
                            +responses
                    
                if editing
                    .four.wide.column
                        .ui.dividing.header
                            +icon48 name='setting' classes='ui mini inline image'
                            | Settings
                        if responses_allowed
                            #disallow_responses.ui.basic.button 
                                +icon48 name='response' classes='ui mini inline image'
                                |Responses Allowed
                        else
                            #allow_responses.ui.basic.button 
                                +icon48 name='delete-message' classes='ui mini inline image'
                                |Responses Not Allowed
                        +field_menu
                        // else
                        //     .ui.header No #{type} Template Doc
                        //     #create_doc_template.ui.basic.button Create #{type} Template Doc
                        
                        
                        
template(name='children')
    if editing
        .ui.dividing.header
            +icon48 name='tree-structure' classes='ui mini inline image'
            | Children
            #add_child.ui.basic.button
                i.plus.icon
                | Add Child
    .ui.centered.stackable.five.column.grid
        each children
            +child
            
template(name='responses')
    .ui.dividing.header
        +icon48 name='response' classes='ui mini inline image'
        | Responses
        unless responded
            #add_response.ui.basic.button
                i.plus.icon
                | Respond
    .ui.segments
        each responses
            +response

template(name='response')
    .ui.segment
        if editing_mode
            .content
                +body_field
            // .ui.input
            //     input#tag_input(type='text' placeholder='Add Tag...')
            // each tags
            //     // a.ui.basic.circular.button.doc_tag #{this}
            //     a.ui.basic.button.doc_tag
            //         |#{this}
            .content
                .save_doc.ui.basic.icon.button
                    i.green.check.icon
                +delete_button
        else
            .content
                |#{body}
            .content
                if is_author
                    .edit_this.ui.basic.icon.button
                        i.blue.pencil.icon
            // +icon48 name='hashtag' classes='ui inline mini image'
            // |Tags
            // each tags
            //     .ui.basic.label.doc_tag #{this}

template(name='child')
    .column
        if editing
            +title
            +type
            +icon_class
            +number
            +delete_button
        else
            a.ui.icon.center.aligned.header(href="/view/#{_id}") 
                i.icon
                    if responded
                        +icon96 name='checked'
                    else
                        if icon_class
                            +icon96 name=icon_class
                        else
                            +icon96 name='circle'
                |#{title}
             
template(name='field_menu')
    .ui.dividing.header Fields Menu
    each unselected_fields
        .select_component.ui.basic.compact.small.button
            +icon48 name=icon_class classes='ui mini spaced image'
            |#{title}
                
    
template(name='field_component')
    .ui.segment(class=component_segment_class)
        if editing
            .ui.horizontal.list
                .item
                    +icon48 name='rename' classes='ui mini inline image'
                .item Field ID: #{field_id}
                .item
                    .remove_component.ui.basic.icon.button
                        i.red.remove.icon
        +Template.dynamic template=field_id data=doc
    
template(name='group_component')
    .ui.segment(class=component_segment_class)
        if editing
            .ui.horizontal.list
                .item
                    +icon48 name='group-objects' classes='ui mini inline image'
                .item Group ID: #{group}
                .item
                    .remove_component.ui.basic.icon.button
                        i.red.remove.icon
        .ui.centered.cards
            each group_children
                .ui.card
                    .content
                        if editing
                            +title
                            +group
                            +type
                            +icon_class
                            +number
                        else
                            a.ui.icon.center.aligned.header.header(href="/view/#{_id}") 
                                i.icon
                                    if icon_class
                                        +icon96 name=icon_class
                                |#{title}