template(name='view_doc')
    with doc
        +Template.dynamic template=view_type_template


template(name='new_view_doc')
    with doc
        .ui.padded.stackable.grid
            .centered.middle.aligned.row
                if parent
                    a.ui.basic.circular.button(href="/view/#{parent._id}")
                        if parent.icon_class
                            +icon48 name=parent.icon_class classes='ui mini inline image'
                        else
                            +icon48 name='chevron-up' classes='ui mini inline image'
                        | #{parent.title}
                        | #{parent.body}
                else
                    if isInRole 'dev'
                        #create_parent.ui.basic.button Create Parent
            .centered.middle.aligned.row
                .four.wide.center.aligned.column
                    if younger_sibling
                        a.ui.basic.circular.button(href="/view/#{younger_sibling._id}")
                            if younger_sibling.completed
                                if younger_sibling.icon_class
                                    +icon48 name=younger_sibling.icon_class classes='ui mini spaced image'
                                else
                                    +icon48 name='checked' classes='ui mini spaced image'
                            else
                                if younger_sibling.icon_class
                                    +dots100 name=younger_sibling.icon_class classes='ui mini spaced image'
                                else
                                    +icon48 name='circle' classes='ui mini spaced image'
                            | #{younger_sibling.title}
                            // | #{younger_sibling.body}
                .eight.wide.center.aligned.column
                    h1.ui.center.aligned.header
                        if completed
                            if icon_class
                                +icon48 name=icon_class classes='ui mini spaced image'
                            else
                                +icon48 name='checked' classes='ui mini spaced image'
                        else
                            if icon_class
                                +dots100 name=icon_class classes='ui mini spaced image'
                            // else
                            //     +icon48 name='circle' classes='ui mini spaced image'
                        | #{title}
                        if can_edit
                            +toggle_editing_button
                .four.wide.center.aligned.column
                    if older_sibling
                        if completed
                            a.ui.basic.circular.button(href="/view/#{older_sibling._id}")
                                | #{older_sibling.title}
                                if older_sibling.icon_class
                                    if older_sibling.completed
                                        +icon48 name=older_sibling.icon_class classes='ui mini spaced image'
                                    else
                                        +dots100 name=older_sibling.icon_class classes='ui mini spaced image'
                        else
                            .ui.basic.disabled.circular.button
                                | #{older_sibling.title} &nbsp;
                                if older_sibling.icon_class
                                    if older_sibling.completed
                                        +icon48 name=older_sibling.icon_class classes='ui mini spaced image'
                                    else
                                        +dots100 name=older_sibling.icon_class classes='ui mini spaced image'
                        
            .centered.row
                unless grid_view
                    unless editing
                        .four.wide.column
                            if can_add
                                #user_add.ui.large.basic.icon.button
                                    +icon48 name='plus' classes='ui mini inline image'
                                    // | #{child_template}
                            if session_completion
                                #new_session.ui.blue.button New Session
                            .ui.hidden.divider
                            if theme_tags_facet
                                +theme_facet
                            if intention_tags_facet
                                +intention_facet
                            if location_tags_facet
                                +location_facet
                            if timestamp_facet
                                +timestamp_facet
                            if username_facet
                                +username_facet
                div(class=main_column_class)
                    if editing
                        .ui.styled.fluid.accordion
                            h3.active.title
                                +icon96 name="rename" classes='ui mini inline image'
                                | Fields
                                i.dropdown.icon
                            .active.content
                                each components
                                    if slug_exists
                                        // .ui.segment(class=field_segment_class)
                                        +Template.dynamic template=slug data=doc
                                        if editing
                                            +remove_field
                                            .ui.hidden.divider
                                if body
                                    +body_field
                            h3.title
                                +icon96 name="flow-chart" classes='ui mini inline image'
                                | Child Documents
                                i.dropdown.icon

                            .content
                                #admin_add.ui.basic.button
                                    i.plus.icon
                                    | Add Child Document
                                each children
                                    +grid_item
                    else
                        each components
                            if slug_exists
                                // .ui.segment(class=field_segment_class)
                                +Template.dynamic template=slug data=doc
                        if body
                            +body_field
                        .ui.basic.center.aligned.segment
                            if response_completion
                                +response
                            unless response_doc
                                if response_completion
                                    .ui.center.aligned.basic.segment
                                        #create_response.ui.circular.basic.button
                                            +icon48 name='response' classes='ui inline image'
                                            | Respond
                        if is_admin
                            if child_count
                                |Child Count: #{child_count}
                        if list_view
                            each children
                                +list_item
                        if grid_view
                             .ui.stackable.five.column.centered.grid
                                each children
                                    +grid_item
                        if card_view
                            .ui.cards
                                each children
                                    +card
                        if check_ins_view
                            each children
                                +check_in_view
                        if answer_view
                            each children
                                +answer
                        if q_a_view                        
                            +q_a
                        if quiz_view                        
                            +quiz_page
                        if grandchild_list_view
                            each children
                                +grandchild_list
                        if read_completion
                            .ui.center.aligned.basic.segment
                                if currentUser
                                    if read
                                        .mark_unread.ui.circular.blue.button 
                                            +icon48 name='read-message' classes='ui inline image'
                                            |Mark Unread
                                    else
                                        .mark_read.ui.basic.circular.button
                                            +icon48 name='message' classes='ui mini inline image'
                                            |Mark Read
                if editing
                    .six.wide.column
                        +doc_editing_sidebar
                else
                    .three.wide.column
                        if view_published_filter
                            +published_filter
            
template(name='doc_editing_sidebar')
    .ui.styled.fluid.accordion
        h3.title
            +icon48 name='rename' classes='ui mini inline image'
            | Field Menu
            i.dropdown.icon
            each selected_fields
                .ui.basic.label #{title}
        .content
            +field_menu

        h3.title
            +icon48 name='rhombus' classes='ui mini inline image'
            | Facets
            i.dropdown.icon
        .content
            +toggle_key key='theme_tags_facet' icon='hashtag' label='Theme Tags'
            +toggle_key key='intention_tags_facet' icon='spotlight' label='Intention Tags'
            +toggle_key key='location_tags_facet' icon='geo-fence' label='Location Tags'
            +toggle_key key='username_facet' icon='user' label='Authors'
            +toggle_key key='timestamp_facet' icon='time' label='Created'

        h3.title
            +icon48 name='access' classes='ui mini inline image'
            | Access
            i.dropdown.icon
            .ui.basic.label #{access}
        .content
            +toggle_key key='access' value='payment' icon='online-payment' label='Payment'
            +toggle_key key='access' value='complete_previous' icon='past' label='Complete Younger Sibling'
            +toggle_key key='access' value='available' icon='enter' label='Available'

        h3.title
            +icon48 name='flow-chart' classes='ui mini inline image'
            | Child View
            i.dropdown.icon
            .ui.basic.label #{child_view}
        .content
            +toggle_key key='child_view' value='grid' icon='grid-view' label='Grid'
            +toggle_key key='child_view' value='list' icon='list-view' label='List'
            +toggle_key key='child_view' value='cards' icon='mockup' label='Cards'
            +toggle_key key='child_view' value='check_ins' icon='sprout' label='Check-Ins'
            +toggle_key key='child_view' value='poems' icon='quill-with-ink' label='Poems'
            +toggle_key key='child_view' value='quotes' icon='quotes' label='Quotes'
            +toggle_key key='child_view' value='journal_prompts' icon='ask-question' label='Journal Prompts'
            +toggle_key key='child_view' value='answers' icon='response' label='Answers'
            +toggle_key key='child_view' value='q_a' icon='faq' label='Q&A'
            +toggle_key key='child_view' value='grandchild_list' icon='bulleted-list' label='Grandchild List'
            +toggle_key key='child_view' value='quiz' icon='report-card' label='Quiz'
            
        h3.title
            +icon48 name='task-completed' classes='ui mini inline image'
            |Completion Type
            i.dropdown.icon
            .ui.basic.label #{completion_type}
        .content
            +toggle_key key='completion_type' value='response' icon='response' label='Response'
            +toggle_key key='completion_type' value='mark_read' icon='read-message' label='Mark Read'
            +toggle_key key='completion_type' value='check_children' icon='flow-chart' label='Check Children'
            +toggle_key key='completion_type' value='none' icon='unavailable' label='None'
            +toggle_key key='completion_type' value='session' icon='time' label='Session'
        h3.title
            +icon48 name='filter' classes='ui mini inline image'
            | Filters
            i.dropdown.icon
        .content
            +toggle_key key='view_published_filter' icon='visible' label='Published'
        h3.title
            +icon48 name='user' classes='ui mini inline image'
            | User Permissions
            i.dropdown.icon
            if can_add
                .ui.basic.label Add
                // .ui.basic.label Add: #{child_template}
        .content
            +toggle_key key='can_add' icon='add-subnode' label='Add Child'
            // if can_add
            //     .ui.segment
            //         h5.ui.header 
            //             +icon48 name='add-subnode' classes='ui mini spaced image'
            //             |Child Template
            //         +toggle_key key='child_template' value='check_in' icon='sprout' label='Check In'
            //         +toggle_key key='child_template' value='session' icon='time' label='Session'
            //         +toggle_key key='child_template' value='facet' icon='rhombus' label='Facet'
        h3.title 
            +icon48 name='monarch' classes='ui mini spaced image'
            |Admin
            i.dropdown.icon
        .content
            +edit_author
        h3.title 
            +icon48 name='sports-mode' classes='ui mini spaced image'
            | Actions
            i.dropdown.icon
        .content
            if has_children
                .ui.disabled.red.button Remove Children to Delete
            else
                #delete_doc.ui.red.button Delete
            +published
            

             
template(name='field_menu')
    each unselected_fields
        .select_component.ui.basic.compact.small.button
            +icon48 name=icon_class classes='ui mini spaced image'
            |#{title}
                
    
                    
template(name='toggle_key')
    #toggle_key.ui.compact.button(class=toggle_key_button_class) 
        +icon48 name=icon classes='ui mini spaced image'
        | #{label}
      