template(name='docs')
    .ui.container
        +cloud
        // if one_doc
        each docs
            +doc_view
        
template(name='view_doc')
    with doc
        // +Template.dynamic template=view_type_template
        .ui.padded.stackable.grid
            .centered.middle.aligned.row
                .four.wide.center.aligned.column
                    a.ui.basic.circular.button(href="/view/#{parent._id}")
                        +icon48 name=parent.icon_class classes='ui mini inline image'
                        | #{parent.title}
                .eight.wide.center.aligned.column
                    h1.ui.center.aligned.header
                        +icon48 name=icon_class classes='ui mini inline image'
                        | #{title}
                .four.wide.center.aligned.column
                    if can_edit
                        +toggle_editing_button
            .centered.row
                .ten.wide.column
                    +children
                    each components
                        if slug_exists
                            +Template.dynamic template=slug data=doc
                .four.wide.column
                    if editing
                        +component_menu
                        
                        
                        
template(name='children')
    if editing
        .ui.dividing.header
            i.menu.icon
            |Children
            #add_child.ui.basic.button
                i.plus.icon
                |Add Child
    .ui.cards
        each children
            .ui.card
                .content
                    if editing
                        +title
                        // +subtitle
                        +type
                        // +icon_class
                    else
                        a.header(href="/view/#{_id}") 
                            if icon_class
                                +icon96 name=icon_class
                            |#{title}
             
template(name='component_menu')
    .ui.dividing.header Component Menu
    each unselected_components
        .select_component.ui.basic.button 
//             +icon48 name=icon_class classes='ui mini spaced image'
//             |#{title}