// template(name='docs')
//     .ui.container
//         +cloud
//         // if one_doc
//         each docs
//             +doc_view
        
template(name='view_doc')
    with doc
        // +Template.dynamic template=view_type_template
        .ui.padded.stackable.grid
            .centered.middle.aligned.row
                if parent
                    a.ui.basic.circular.button(href="/view/#{parent._id}")
                        if icon_class
                            +icon48 name=parent.icon_class classes='ui mini inline image'
                        else
                            +icon48 name='chevron-up' classes='ui mini inline image'
                        | #{parent.title}
                        | #{parent.body}
                else
                    #create_parent.ui.basic.button Create Parent
            .centered.middle.aligned.row
                .four.wide.center.aligned.column
                    if younger_sibling
                        a.ui.basic.circular.button(href="/view/#{younger_sibling._id}")
                            if younger_sibling.responded
                                +icon48 name='checked' classes='ui mini inline image'
                            else
                                if younger_sibling.icon_class
                                    +icon48 name=younger_sibling.icon_class classes='ui mini inline image'
                                else
                                    +icon48 name='circle' classes='ui mini inline image'
                            | #{younger_sibling.title}
                            | #{younger_sibling.body}
                .eight.wide.center.aligned.column
                    h1.ui.center.aligned.header
                        if responded
                            +icon48 name='checked' classes='ui mini inline image'
                        else
                            if icon_class
                                +icon48 name=icon_class classes='ui mini inline image'
                            else
                                +icon48 name='circle' classes='ui mini inline image'
                        | #{title}
                        | #{body}
                        if can_edit
                            +toggle_editing_button
                .four.wide.center.aligned.column
                    if older_sibling
                        a.ui.basic.circular.button(href="/view/#{older_sibling._id}")
                            | #{older_sibling.title}
                            | #{older_sibling.body}
                            if older_sibling.responded
                                +icon48 name='checked' classes='ui mini inline image'
                            else
                                if older_sibling.icon_class
                                    +icon48 name=older_sibling.icon_class classes='ui mini inline image'
                                else
                                    +icon48 name='circle' classes='ui mini inline image'
            .row
                div(class=main_column_class)
                    each components
                        if is_field
                            +field_component
                        else
                            +group_component
                        // if slug_exists
                        //     +Template.dynamic template=slug data=doc
                    if is_branch
                        +twigs
                    if is_twig
                        .ui.basic.center.aligned.segment
                            +theme_facet
                        +leaves
                    // unless editing
                    //     if responses_allowed
                    //         +responses
                    
                if editing
                    .six.wide.column
                        .ui.dividing.header
                            +icon48 name='setting' classes='ui mini inline image'
                            | Settings
                        #make_branch.ui.button(class=branch_button_class data-tooltip='Just shows links to subsections') Branch
                        #make_twig.ui.button(class=twig_button_class data-tooltip='Lists documents like Lightbank') Twig
                        #make_leaf.ui.button(class=leaf_button_class data-tooltip='Document that shows fields') Leaf
                        if is_leaf
                            +field_menu
                        
                        
template(name='twigs')
    if editing
        .ui.dividing.header
            +icon48 name='tree-structure' classes='ui mini inline image'
            | Twigs
            #add_twig.ui.basic.button
                i.plus.icon
                | Add Twig
    .ui.stackable.five.column.centered.grid
        each twigs
            +twig
            
             
template(name='leaves')
    .ui.dividing.header
        +icon48 name='tree-structure' classes='ui mini inline image'
        | Leaves
        #add_leaf.ui.basic.button
            i.plus.icon
            | Add Leaf
    .ui.stackable.five.column.grid
        each leaves
            +leaf
            
             
template(name='field_menu')
    .ui.dividing.header Fields Menu
    each unselected_fields
        .select_component.ui.basic.compact.small.button
            +icon48 name=icon_class classes='ui mini spaced image'
            |#{title}
                
    
template(name='field_component')
    .ui.segment(class=component_segment_class)
        if editing
            .ui.horizontal.list
                .item
                    +icon48 name='rename' classes='ui mini inline image'
                .item Field ID: #{field_id}
                .item
                    .remove_component.ui.basic.icon.button
                        i.red.remove.icon
        +Template.dynamic template=field_id data=doc
    