template(name='view_doc')
    with doc
        +Template.dynamic template=view_type_template


template(name='new_view_doc')
    with doc
        .ui.padded.stackable.grid
            .centered.middle.aligned.row
                if parent
                    a.ui.basic.circular.button(href="/view/#{parent._id}")
                        if parent.icon_class
                            +icon48 name=parent.icon_class classes='ui mini inline image'
                        else
                            +icon48 name='chevron-up' classes='ui mini inline image'
                        | #{parent.title}
                        | #{parent.body}
                else
                    if isInRole 'dev'
                        #create_parent.ui.basic.button Create Parent
            .centered.middle.aligned.row
                .four.wide.center.aligned.column
                    if younger_sibling
                        a.ui.basic.circular.button(href="/view/#{younger_sibling._id}")
                            if younger_sibling.completed
                                if younger_sibling.icon_class
                                    +icon48 name=younger_sibling.icon_class classes='ui mini inline image'
                                else
                                    +icon48 name='checked' classes='ui mini inline image'
                            else
                                if younger_sibling.icon_class
                                    +dots100 name=younger_sibling.icon_class classes='ui mini inline image'
                                else
                                    +icon48 name='circle' classes='ui mini inline image'
                            | #{younger_sibling.title}
                            // | #{younger_sibling.body}
                .eight.wide.center.aligned.column
                    h1.ui.center.aligned.header
                        if completed
                            if icon_class
                                +icon48 name=icon_class classes='ui mini inline image'
                            else
                                +icon48 name='checked' classes='ui mini inline image'
                        else
                            if icon_class
                                +dots100 name=icon_class classes='ui mini inline image'
                            else
                                +icon48 name='circle' classes='ui mini inline image'
                        | #{title}
                        if can_edit
                            +toggle_editing_button
                .four.wide.center.aligned.column
                    if older_sibling
                        if completed
                            a.ui.basic.circular.button(href="/view/#{older_sibling._id}")
                                | #{older_sibling.title}
                                if older_sibling.icon_class
                                    if older_sibling.completed
                                        +icon48 name=older_sibling.icon_class classes='ui mini spaced image'
                                    else
                                        +dots100 name=older_sibling.icon_class classes='ui mini spaced image'
                        else
                            .ui.basic.disabled.circular.button
                                | #{older_sibling.title} &nbsp;
                                if older_sibling.icon_class
                                    if older_sibling.completed
                                        +icon48 name=older_sibling.icon_class classes='ui mini spaced image'
                                    else
                                        +dots100 name=older_sibling.icon_class classes='ui mini spaced image'
                        
            .centered.row
                // unless grid_view
                // div(class=main_column_class)
                .ten.wide.column
                    unless editing
                        .five.wide.column
                            if theme_tags_facet
                                +theme_facet
                            if intention_tags_facet
                                +intention_facet
                            if location_tags_facet
                                +location_facet
                    if editing
                        .ui.styled.fluid.accordion
                            h3.active.title
                                +icon96 name="rename" classes='ui mini inline image'
                                | Fields
                                i.dropdown.icon
                            .active.content
                                each components
                                    if slug_exists
                                        // .ui.segment(class=field_segment_class)
                                        +Template.dynamic template=slug data=doc
                                        if editing
                                            +remove_field
                                            .ui.hidden.divider
                                if body
                                    +body_field
                            h3.title
                                +icon96 name="flow-chart" classes='ui mini inline image'
                                | Child Documents
                                i.dropdown.icon
                                #add_child.ui.basic.button
                                    i.plus.icon
                                    | Add Child Document

                            .content
                                if list_view
                                    +list
                                else
                                    +grid
                    else
                        each components
                            if slug_exists
                                // .ui.segment(class=field_segment_class)
                                +Template.dynamic template=slug data=doc
                        if body
                            +body_field
                        .ui.basic.center.aligned.segment
                            if response_completion
                                +response
                            if can_add
                                #add_child.ui.basic.button
                                    i.plus.icon
                                    | Add Child Document
                            unless response_doc
                                if response_completion
                                    .ui.center.aligned.basic.segment
                                        #create_response.ui.circular.basic.button
                                            +icon48 name='response' classes='ui inline image'
                                            | Respond
                        if list_view
                            +list
                        if grid_view
                            +grid
                        if card_view
                            +cards
                        if read_completion
                            .ui.center.aligned.basic.segment
                                if currentUser
                                    if read
                                        .mark_unread.ui.circular.blue.button 
                                            +icon48 name='read-message' classes='ui inline image'
                                            |Mark Unread
                                    else
                                        .mark_read.ui.basic.circular.button
                                            +icon48 name='message' classes='ui mini inline image'
                                            |Mark Read
                if editing
                    .six.wide.column
                        +doc_editing_sidebar
               
// template(name='doc_editing_main')
//     .ui.styled.fluid.accordion
//         h3.active.title
//             +icon96 name="rename" classes='ui mini inline image'
//             | Fields
//             i.dropdown.icon
//         .active.content
//             each components
//                 if slug_exists
//                     // .ui.segment(class=field_segment_class)
//                     +Template.dynamic template=slug data=doc
//                     if editing
//                         +remove_field
//                         .ui.hidden.divider
//             if body
//                 +body_field
//         h3.title
//             +icon96 name="flow-chart" classes='ui mini inline image'
//             | Child Documents
//             i.dropdown.icon

//         .content
//             if list_view
//                 +list
//             else
//                 +grid


               
template(name='doc_editing_sidebar')
    .ui.styled.fluid.accordion
        h3.active.title
            +icon48 name='rename' classes='ui mini inline image'
            | Field Menu
            i.dropdown.icon
        .active.content
            +field_menu

        h3.title
            +icon48 name='rhombus' classes='ui mini inline image'
            | Facets
            i.dropdown.icon
        .content
            +toggle_key key='theme_tags_facet' icon='hashtag' label='Theme Tags'
            +toggle_key key='intention_tags_facet' icon='spotlight' label='Intention Tags'
            +toggle_key key='location_tags_facet' icon='geo-fence' label='Location Tags'

        h3.title
            +icon48 name='access' classes='ui mini inline image'
            | Access
            i.dropdown.icon
        .content
            +toggle_key key='access' value='payment' icon='online-payment' label='Payment'
            +toggle_key key='access' value='complete_previous' icon='past' label='Complete Younger Sibling'

        h3.title
            +icon48 name='flow-chart' classes='ui mini inline image'
            | Child View
            i.dropdown.icon
        .content
            +toggle_key key='child_view' value='grid' icon='grid-view' label='Grid'
            +toggle_key key='child_view' value='list' icon='list-view' label='List'
            +toggle_key key='child_view' value='cards' icon='mockup' label='Cards'
        h3.title
            +icon48 name='task-completed' classes='ui mini inline image'
            |Completion Type
            i.dropdown.icon
        .content
            +toggle_key key='completion_type' value='response' icon='response' label='Response'
            +toggle_key key='completion_type' value='mark_read' icon='read-message' label='Mark Read'
            +toggle_key key='completion_type' value='check_children' icon='flow-chart' label='Check Children'
            +toggle_key key='completion_type' value='none' icon='unavailable' label='None'
        h3.title
            +icon48 name='user' classes='ui mini inline image'
            | User Permissions
            i.dropdown.icon
        .content
            +toggle_key key='add_child' icon='add-subnode' label='Add Child'
        h3.title 
            +icon48 name='monarch' classes='ui mini spaced image'
            |Admin
            i.dropdown.icon
        .content
            +edit_author
        h3.title 
            +icon48 name='sports-mode' classes='ui mini spaced image'
            | Actions
            i.dropdown.icon
        .content
            if has_children
                .ui.disabled.red.button Remove Children to Delete
            else
                #delete_doc.ui.red.button Delete
            +published
            
            
            
                        
template(name='cards')
    .ui.stackable.centered.cards
        each children
            +card
            
template(name='card')
    .card
        if youtube
            +youtube
        if image_id
            .image
                img(src="{{c.url image_id}}")
        if image_url
            .image
                img(src=image_url)
        .content
            span.right.floated 
                .expand_card.ui.basic.icon.button
                    i.expand.icon
            .header #{title}
            if tags
                .meta
                    i.tags.icon
                    each tags
                        .ui.button.tag(class=tag_class) #{this}
            .description !{content}
        .content
            +view_full_button
                        
                        
template(name='grid')
     .ui.stackable.five.column.centered.grid
        each children
            +grid_item
            
template(name='grid_item')
    if editing
        .ui.fluid.card
            .content
                +title
                +type
                +icon_class
                +number
                +edit_parent_id
                +delete_button
    else
        .column
            if can_access
                a.ui.icon.center.aligned.header(href="/view/#{_id}") 
                    i.icon
                        if completed
                            +icon96 name=icon_class
                        else
                            if icon_class
                                +dots100 name=icon_class
                            else
                                +icon96 name='circle'
                    if number
                        |#{number}: 
                    |#{title}
                    if body
                        .ui.basic.label #{body}
                if isInRole 'dev'
                    // .ui.basic.label #{type}    
                    +published
            else
                .ui.icon.center.aligned.disabled.header
                    i.icon
                        if completed
                            +icon96 name=icon_class
                        else
                            if icon_class
                                +dots100 name=icon_class
                            else
                                +icon96 name='circle'
                    if number
                        |#{number}: 
                    |#{title}
                if isInRole 'dev'
                    a(href="/view/#{_id}") 
                        i.external.link.icon
                    if body
                        .ui.basic.label #{body}
                if isInRole 'dev'
                    // .ui.basic.label #{type}    
                    +published
        
             
template(name='list')
    .ui.stackable.centered.grid
        .ten.wide.column
            .ui.centered.cards
                each children
                    +list_item
        // .three.wide.column
        //     if isInRole 'admin'
        //         .ui.dividing.header Admin
        //         +published_filter

template(name='list_item')
    .ui.fluid.card
        unless editing
            if title
                .content
                    .header #{title}
            if youtube
                +youtube
            if image_id
                .image
                    img(src="{{c.url image_id}}")
            if image_url
                .ui.large.image
                    img(src=image_url)
            if content
                .content 
                    .large130 !{content}
                    // .large-text !{content}
            if link
                .content
                    a(href=link target='_blank') #{link}
            if body
                .content #{body}
            if tags
                .content
                    +view_tags
            .content
                if isInRole 'admin'
                    +published_label
                // +resonate_button
                // +bookmark_button
                // +reflect_button
                +view_full_button
                // +mark_read
                +author_info
                if is_author
                    +delete_button
                    // +edit_parent_id
                    // |id: #{_id}
                    // +type
        if editing
            +title
            +type
            +icon_class
            +number
            +delete_button
  
  
             
template(name='field_menu')
    each unselected_fields
        .select_component.ui.basic.compact.small.button
            +icon48 name=icon_class classes='ui mini spaced image'
            |#{title}
                
    
template(name='response')
    with response
        .ui.segment
            .ui.header Your Response
            if editing_mode
                .content
                    .ui.form
                        .field
                            textarea#body_field(rows='3') #{body}
                .content
                    .save_doc.ui.basic.large.circular.icon.button
                        i.green.check.icon
                    +delete_button
            else
                .content
                    |#{body}
                .content
                    if is_author
                        .edit_this.ui.basic.large.circular.icon.button
                            i.blue.pencil.icon
                    
template(name='toggle_key')
    #toggle_key.ui.button(class=toggle_key_button_class) 
        +icon48 name=icon classes='ui mini spaced image'
        | #{label}
      