// template(name='docs')
//     .ui.container
//         +cloud
//         // if one_doc
//         each docs
//             +doc_view
        
template(name='view_doc')
    with doc
        +Template.dynamic template=view_type_template


template(name='new_view_doc')
    with doc
        .ui.padded.stackable.grid
            .centered.middle.aligned.row
                if parent
                    a.ui.basic.circular.button(href="/view/#{parent._id}")
                        if parent.icon_class
                            +icon48 name=parent.icon_class classes='ui mini inline image'
                        else
                            +icon48 name='chevron-up' classes='ui mini inline image'
                        | #{parent.title}
                        | #{parent.body}
                else
                    #create_parent.ui.basic.button Create Parent
            .centered.middle.aligned.row
                .four.wide.center.aligned.column
                    if younger_sibling
                        a.ui.basic.circular.button(href="/view/#{younger_sibling._id}")
                            if younger_sibling.responded
                                +icon48 name='checked' classes='ui mini inline image'
                            else
                                if younger_sibling.icon_class
                                    +icon48 name=younger_sibling.icon_class classes='ui mini inline image'
                                else
                                    +icon48 name='circle' classes='ui mini inline image'
                            | #{younger_sibling.title}
                            // | #{younger_sibling.body}
                .eight.wide.center.aligned.column
                    h1.ui.center.aligned.header
                        if responded
                            +icon48 name='checked' classes='ui mini inline image'
                        else
                            if icon_class
                                +icon48 name=icon_class classes='ui mini inline image'
                            else
                                +icon48 name='circle' classes='ui mini inline image'
                        | #{title}
                        if can_edit
                            +toggle_editing_button
                .four.wide.center.aligned.column
                    if older_sibling
                        if completed
                            a.ui.basic.circular.button(href="/view/#{older_sibling._id}")
                                | #{older_sibling.title}
                                if older_sibling.icon_class
                                    if older_sibling.completed
                                        +icon48 name=older_sibling.icon_class classes='ui mini inline image'
                                    else
                                        +dots100 name=older_sibling.icon_class classes='ui mini inline image'
                        else
                            .ui.basic.disabled.circular.button
                                | #{older_sibling.title}
                                // | #{older_sibling.body}
                                if older_sibling.icon_class
                                    if older_sibling.completed
                                        +icon48 name=older_sibling.icon_class classes='ui mini inline image'
                                    else
                                        +dots100 name=older_sibling.icon_class classes='ui mini inline image'
                        
            .centered.row
                div(class=main_column_class)
                    if editing
                        h3.ui.dividing.header
                            +icon96 name="rename" classes='ui mini inline image'
                            | Fields
                        .content
                            each components
                                if slug_exists
                                    // .ui.segment(class=field_segment_class)
                                    +Template.dynamic template=slug data=doc
                                    if editing
                                        +remove_field
                                        .ui.hidden.divider
                        h3.ui.dividing.header
                            +icon96 name="children" classes='ui mini inline image'
                            | Child Documents
                        .content
                            if body
                                +body_field
                            if list_view
                                +list
                            else
                                +grid
                    else
                        each components
                            if slug_exists
                                // .ui.segment(class=field_segment_class)
                                +Template.dynamic template=slug data=doc
                        if body
                            +body_field
                        .ui.hidden.divider
                        if list_view
                            +list
                        else
                            +grid
                        if response_completion
                            .ui.basic.button
                                i.plus.icon
                                | Respond
                        if read_completion
                            .ui.center.aligned.basic.segment
                                if read
                                    .mark_unread.ui.circular.blue.button 
                                        +icon48 name='read-message' classes='avatar'
                                        |Mark Unread
                                else
                                    .mark_read.ui.basic.circular.button
                                        +icon48 name='message' classes='ui mini inline image'
                                        |Mark Read
                            // if is_field
                        //     +field_component
                        // else
                        //     +group_component
                    // if content
                    // +content
                        // .ui.basic.center.aligned.segment
                        //     +theme_facet
                    //     // unless editing
                    //     //     if responses_allowed
                    //     //         +responses
                            
                if editing
                    .six.wide.column
                        .ui.dividing.header
                            +icon48 name='setting' classes='ui mini inline image'
                            | Child View
                        
                        #select_grid.ui.button(class=grid_button_class) 
                            +icon48 name='grid-view' classes='ui mini inline image'
                            |Grid
                        #select_list.ui.button(class=list_button_class) 
                            +icon48 name='list-view' classes='ui mini inline image'
                            | List
                        .ui.dividing.header
                            +icon48 name='checkmark' classes='ui mini inline image'
                            |Completion Type
                        #select_response_completion.ui.button(class=response_button_class) 
                            +icon48 name='response' classes='ui mini inline image'
                            | Response
                        #select_mark_read_completion.ui.button(class=mark_read_button_class) 
                            +icon48 name='read-message' classes='ui mini inline image'
                            | Mark Read
                        #select_check_children_completion.ui.button(class=check_children_button_class) 
                            +icon48 name='flow-chart' classes='ui mini inline image'
                            | Check Children
                        +field_menu
                        
                        +edit_author
                        +published
                        

                        
                        
template(name='grid')
     .ui.stackable.five.column.centered.grid
        each children
            +grid_item
            
template(name='grid_item')
    if editing
        .ui.fluid.card
            +title
            +type
            +icon_class
            +number
            +edit_parent_id
            +delete_button
    else
        .column
            a.ui.icon.center.aligned.header(href="/view/#{_id}") 
                i.icon
                    if responded
                        +icon96 name='checked'
                    else
                        if icon_class
                            +dots100 name=icon_class
                            // +icon96 name=icon_class
                        else
                            +icon96 name='circle'
                if number
                    |#{number}: 
                |#{title}
                if body
                    .ui.basic.label #{body}
            if isInRole 'dev'
                // .ui.basic.label #{type}    
                +published
             
template(name='list')
    .ui.stackable.centered.grid
        .ten.wide.column
            each children
                +list_item
        .three.wide.column
            if isInRole 'admin'
                .ui.dividing.header Admin
                +published_filter

template(name='list_item')
    .ui.fluid.card
        unless editing
            if title
                .content
                    .header #{title}
            if youtube
                +youtube
            if image_id
                .image
                    img(src="{{c.url image_id}}")
            if image_url
                .ui.large.image
                    img(src=image_url)
            if content
                .content
                    .large-text !{content}
            if link
                .content
                    a(href=link target='_blank') #{link}
            if body
                .content #{body}
            // if tags
            //     .content
            //         +view_tags
            .content
                if isInRole 'admin'
                    +published_label
                // +resonate_button
                // +bookmark_button
                // +reflect_button
                +view_full_button
                // +mark_read
                +author_info
                if is_author
                    +delete_button
                    // +edit_parent_id
                    // |id: #{_id}
                    // +type
        if editing
            +title
            +type
            +icon_class
            +number
            +delete_button
  
  
             
template(name='field_menu')
    .ui.dividing.header Field Menu
    each unselected_fields
        .select_component.ui.basic.compact.small.button
            +icon48 name=icon_class classes='ui mini spaced image'
            |#{title}
                
    
// template(name='field_component')
//     .ui.segment(class=component_segment_class)
//         if editing
//             .ui.horizontal.list
//                 .item
//                     +icon48 name='rename' classes='ui mini inline image'
//                 .item Field ID: #{field_id}
//                 .item
//                     .remove_component.ui.basic.icon.button
//                         i.red.remove.icon
//         +Template.dynamic template=field_id data=doc
    
    
    
// template(name='group_component')
//     .ui.segment(class=component_segment_class)
//         if editing
//             .ui.horizontal.list
//                 .item
//                     +icon48 name='group-objects' classes='ui mini inline image'
//                 .item Group ID: #{group}
//                 .item
//                     .remove_component.ui.basic.icon.button
//                         i.red.remove.icon
//         .ui.centered.cards
//             each group_children
//                 .ui.card
//                     .content
//                         if editing
//                             +title
//                             +group
//                             +type
//                             +icon_class
//                             +number
//                         else
//                             a.ui.icon.center.aligned.header.header(href="/view/#{_id}") 
//                                 i.icon
//                                     if icon_class
//                                         +icon96 name=icon_class
//                                 |#{title}
                                

template(name='response')
    .ui.segment
        if editing_mode
            .content
                +body_field
            // .ui.input
            //     input#tag_input(type='text' placeholder='Add Tag...')
            // each tags
            //     // a.ui.basic.circular.button.doc_tag #{this}
            //     a.ui.basic.button.doc_tag
            //         |#{this}
            .content
                .save_doc.ui.basic.icon.button
                    i.green.check.icon
                +delete_button
        else
            .content
                |#{body}
            .content
                if is_author
                    .edit_this.ui.basic.icon.button
                        i.blue.pencil.icon
            // +icon48 name='hashtag' classes='ui inline mini image'
            // |Tags
            // each tags
            //     .ui.basic.label.doc_tag #{this}

                
                