template(name='check_in_view')
    .ui.segment
        .content
            .description
                +view_tags
                if content
                    .ui.basic.segment
                        .large150 !{content}
                .ui.horizontal.list
                    .item
                        +author_info
                    .item
                        unless is_author
                            +thanks_button
                            +resonate_button
                            +view_full_button


template(name='poem_view_small')                    
    .ui.fluid.card(class=read_segment_class)
        .content
            .ui.top.right.attached.basic.label(data-tooltip='Poem')
                +icon48 name='close-up'
            +parent_doc_segment

            if has_youtube
                +youtube
            if has_image
                if image_id
                    .image
                        img(src="{{c.url image_id}}")
                if image_url
                    .ui.large.image
                        img(src=image_url)
            // .content
            //     span.right.floated 
            //         .expand_card.ui.basic.icon.button
            //             i.expand.icon
            if has_content
                .light_bank_content(class=light_bank_content_class)
                    |!{content}
        // .content
        //     .meta
        //         +icon48 name='tags'
        //         each tags
        //             .ui.tiny.circular.button.tag(class=tag_class) #{this}
        .content
            +resonate_button
            +reflect_button
            +bookmark_button
            +mark_read
            .ui.basic.label #{child_count} Responses

            +view_full_button
                
template(name='quote_view_small')                    
    .ui.fluid.card(class=read_segment_class)
        .content
            .ui.top.right.attached.basic.label(data-tooltip='Quote')
                +icon48 name='get-quote'
            +parent_doc_segment
                
            if has_image
                if image_id
                    .image
                        img(src="{{c.url image_id}}")
                if image_url
                    .ui.large.image
                        img(src=image_url)
            // .content
            //     span.right.floated 
            //         .expand_card.ui.basic.icon.button
            //             i.expand.icon
            .large130
                |!{content}
            h4.ui.header
                |- #{author_name}
        // .content
        //     .meta
        //         +icon48 name='tags'
        //         each tags
        //             .ui.tiny.circular.button.tag(class=tag_class) #{this}
        .content
            +resonate_button
            +reflect_button
            +bookmark_button
            +mark_read
            .ui.basic.label #{child_count} Responses

            +view_full_button
                
template(name='journal_prompt_view_small')                    
    .ui.fluid.card(class=read_segment_class)
        .content
            .ui.top.right.attached.basic.label(data-tooltip='Journal Prompt')
                +icon48 name='ask-question'
            +parent_doc_segment
            .light_bank_content(class=light_bank_content_class)
                |!{content}
            if author_name
                h4.ui.header
                    |- #{author_name}
        .content
            .meta
                +icon48 name='hashtag' classes='ui mini inline image'
                each tags
                    .ui.tiny.basic.label #{this}
        .content
            +reflect_button
            +bookmark_button
            +mark_read
            .ui.basic.label #{child_count} Responses
            +view_full_button

template(name='lightbank_doc_view')
    if is_poem
        +poem_view_small
    if is_quote
        +quote_view_small
    if is_passage
        +passage_view_small
    if is_journal_prompt
        +journal_prompt_view_small
    if is_custom    
        .ui.fluid.card(class=read_segment_class)
            .content
                +parent_doc_segment

                if has_youtube
                    +youtube
                if has_image
                    if image_id
                        .image
                            img(src="{{c.url image_id}}")
                    if image_url
                        .ui.large.image
                            img(src=image_url)
                // .content
                //     span.right.floated 
                //         .expand_card.ui.basic.icon.button
                //             i.expand.icon
                if content
                    // .light_bank_content(class=light_bank_content_class)
                    |!{content}
            .content
                .meta
                    img.ui.avatar.image(src="https://png.icons8.com/tags/color/48" width="48" height="48")
                    each tags
                        .ui.tiny.circular.button.tag(class=tag_class) #{this}
            .content
                +resonate_button
                +bookmark_button
                // +reflect_button
                // +view_full_button classes='right floated'
                +mark_read
            // if isInRole 'admin'
            //     .content
            //         +change_lightbank_type
                    
                    
template(name='response')
    with response
        .ui.blue.segment
            .ui.header Your Response
            if editing_mode
                .content
                    .ui.form
                        .field
                            textarea#body_field(rows='3') #{body}
                .content
                    .save_doc.ui.basic.large.circular.icon.button
                        i.green.check.icon
                    +published
                    +delete_button
            else
                .content
                    |#{body}
                .content
                    if is_author
                        .edit_this.ui.basic.large.circular.icon.button
                            i.blue.pencil.icon

template(name='answers')
    .ui.stackable.centered.cards
        each children
            +answer


template(name='answer')
    .ui.fluid.card
        unless editing
            if content
                .content 
                    .large130 !{content}
                    // .large-text !{content}
            if body
                .content #{body}
            .content
                if isInRole 'admin'
                    +published_label
                // +reflect_button
                +view_full_button
                +mark_read
                | by 
                if is_author
                    |you
                else
                    with author
                        if profile.image_id
                            img.ui.avatar.spaced.image(src="{{c.url profile.image_id width=100 height=100 gravity='face' crop='fill'}}")
                        |&nbsp;
                        a(href="/profile/#{username}") 
                            strong #{name} 
                        +staus_indicator
                small #{when}
                if is_author
                    +delete_button
  
