template(name='response')
    with response
        .ui.blue.segment
            .ui.header
                |Your Response
                +published_label
            if editing_mode
                .content
                    .ui.form
                        .field
                            textarea#body_field(rows='3') #{body}
                .content
                    .save_doc.ui.basic.big.circular.icon.button
                        i.big.green.check.icon
                    +published
                    +delete_button
            else
                .content
                    .large130 #{body}
                .content
                    if is_author
                        .edit_this.ui.basic.large.circular.icon.button
                            i.blue.pencil.icon


template(name='answer')
    .ui.fluid.card
        unless editing
            if content
                .content 
                    .large130 !{content}
                    // .large-text !{content}
            if body
                .content 
                    .large130 #{body}
            .content
                .ui.horizontal.list
                    if isInRole 'admin'
                        .item
                            +published_label
                    // .item
                    //     +view_full_button
                    .item
                        +author_info
                    .item
                        small #{when}
                    .item
                        +mark_read
                    // .item
                    //     #reply.ui.basic.circular.icon.button(tooltip='Reply')
                    //         +icon48 name='response' classes='ui mini inline image'
                    .item
                        if readers
                            | Seen by:
                        each readers
                            .ui.tiny.basic.label #{name}
                        // img.ui.avatar.image(src="{{c.url profile.image_id width=50 height=50 gravity='face' crop='fill'}}")

template(name='q_a')
    .ui.stackable.grid
        .ui.four.wide.column
            .ui.dividing.header Sessions
            .ui.list
                each sessions
                    .item
                        .header
                            +author_info
                            |#{when}
        .ui.ten.wide.column
            .ui.dividing.header Questions
            each questions
                .ui.fluid.card
                    .content
                        .header #{title}
                        if is_admin
                            +published_label
        

template(name='sessions')
    if currentUser
        +dividing_header icon='time' label='Your Sessions'
        .ui.four.stackable.cards
            each my_sessions
                +session_card
    else
        .ui.header Log in to take quiz and track results.




template(name='child_view')
    .ui.fluid.card
        .content
            unless editing
                if title
                    .ui.header 
                        | #{title}
                if end_date
                    .content 
                        .ui.header End Date: #{end_date}
                if slug
                    .meta Slug: #{slug}
                if youtube
                    +youtube
                if image_id
                    .image
                        img(src="{{c.url image_id}}")
                if image_url
                    .ui.large.image
                        img(src=image_url)
                if content
                    .content 
                        .ui.basic.segment
                            .large130 !{content}
                        if watson.keywords
                            +analyzed_watson_keywords
                        if author_name
                            h4.ui.header
                                |- #{author_name}
                if link
                    .content
                        a(href=link target='_blank') #{link}
                if body
                    .content #{body}
                if tags
                    .content
                        +view_tags
                // if intention_tags
                //     .content
                //         +intention_tags
                // if location_tags
                //     .content
                //         +location_tags
                if custom_key_values
                    .content
                        .ui.list
                            each custom_key_values
                                .item
                                    .ui.basic.label #{key}: #{value}                        
                if child_custom_fields
                    .content
                        each child_custom_fields
                            +view_custom_field label=label slug=slug
                .content
                    if doc.can_bookmark
                        +bookmark_button
                    if doc.can_vote
                        +voting
                    if doc.can_complete
                        +mark_complete_button
                .content
                    if isInRole 'admin'
                        +published_label
                    +view_full_button
                    // +mark_read
                    +author_info
                    |#{when}
                    if is_author
                        +session_edit_button
                    else if isInRole 'dev'
                        +session_edit_button
                    //     +delete_button
                        // +edit_parent_id
                        // |id: #{_id}
                        // +type
            if editing                    
                .content
                    each child_view_fields
                        +Template.dynamic template=this data=doc
                .content
                    each child_custom_fields
                        +custom_field_input label=label slug=slug
                // .content
                //     .ui.header Custom Properties
                //     .ui.labeled.input
                //         .ui.basic.label key
                //         input.custom_key(type='text')
                //     .ui.labeled.input
                //         .ui.basic.label value
                //         input.custom_value(type='text')
                //     #add_key_value.ui.basic.icon.circular.button
                //         i.plus.icon
                //     .ui.list
                //         each custom_key_values
                //             .item
                //                 .ui.basic.label #{key}: #{value}                        
                //                 .remove_custom_field.ui.basic.small.circular.icon.button
                //                     i.remove.icon
                .content
                    +published
                    if is_admin
                        +edit_author
                .ui.basic.center.aligned.segment
                    +session_edit_button
                    +delete_button


template(name='custom_field_input')
    .ui.labeled.input
        .ui.basic.label #{label}
        input.custom_field_input(type='text' value=slug_value)

template(name='view_custom_field')
    div
        .ui.basic.label #{label}: #{slug_value}
        
        
template(name='session_edit_button')
    if currentUser
        if editing
            .save_doc.ui.basic.large.circular.icon.button
                +icon96 name="checkmark" classes='ui mini inline image'
        else
            .edit_this.ui.basic.icon.big.circular.button
                +icon48 name="edit" classes='ui mini inline image'
                // i.icon
                // |Edit
        