template(name='test_page')
    with test
        .ui.container
            .ui.breadcrumb
                a.section(href='/') Home
                .divider  / 
                a.section(href='/courses') Inspire U
                .divider  / 
                a.section(href="/tests") Tests
                .divider  / 
                .active.section #{title}
            if image_id
                img.ui.centered.image(src="{{c.url image_id height=500 width=800 background='white' crop='lpad'}}")
            h1.ui.header #{title}
            .ui.stackable.divided.grid
                .twelve.wide.column
                    .content
                        if publish_date
                            h4.ui.header Published #{publish_when}
                        .ui.basic.segment
                            h3.ui.dividing.header Description
                            |!{content}
                            h3.ui.dividing.header Statistics
                            h3.ui.dividing.header Your Sessions
                                .ui.cards
                                    a#new_session.ui.card(href='#')
                                        .content
                                            .header 
                                                i.big.plus.icon
                                                | New Session
                                    each my_sessions
                                        .ui.card
                                            .content
                                                .header #{number}
                                                .description
                                                    |#{from_now}
                                            .content
                                                |#{results}
                                                    
                    +user_blurb
                    +comments
                .four.wide.column
                    .ui.dividing.header #{title} Tags
                    each tags
                        .ui.basic.label #{this}
                    if isInRole 'admin'
                        .ui.dividing.header 
                            i.large.red.configure.icon
                            |Admin
                        a.ui.basic.button(href="{{pathFor 'edit_test' doc_id=_id}}")
                            i.pencil.icon
                            |Edit Test
                        if published
                            .ui.green.label Published
                        else
                            .ui.red.label Unpublished                        
                    .ui.dividing.header Actions
                    +voting
                    +favorite
                    +tag_rating
                    
                    
template(name='edit_test')        
    with test
        .ui.container
            .ui.center.aligned.header Edit #{title} Test
            .ui.hidden.compact.divider
            +title
            .ui.hidden.compact.divider
            +image
            .ui.hidden.compact.divider
            .ui.labeled.input
                .ui.basic.label Publish Date
                input#publish_date(type='date' value=publish_date)
            .ui.hidden.compact.divider
            +content
            .ui.hidden.compact.divider
            +tags
            .ui.hidden.compact.divider
            +published
            .ui.hidden.compact.divider
            +featured
            .ui.hidden.compact.divider
            .ui.basic.center.aligned.segment
                if title
                    if tags
                        #save_test.ui.big.green.button 
                            i.check.icon
                            |Save #{title} Test
                    else
                        .ui.disabled.basic.green.button Add Tags to Save
                else
                    .ui.disabled.basic.green.button Add Title to Save
                +delete_button
