template(name='test_session')
    .ui.container
        .ui.breadcrumb
            a.section(href='/') Home
            .divider  / 
            // a.section(href='/courses') Inspire U
            // .divider  / 
            a.section(href="/tests") Tests
            .divider  / 
            a.section(href="/test/#{test._id}/view") #{test.title}
            .divider  / 
            .active.section Session: #{test_session._id}

        h1.ui.dividing.center.aligned.header #{test.title}
        +cloud type='test_question'
        if isInRole 'admin'
            #add_test_question.ui.basic.button 
                i.red.configure.icon
                |Add Test Question
        .ui.dividing.header Unanswered Questions
        .ui.stackable.cards
            each unanswered_questions
                +test_question
        .ui.dividing.header Answered Questions
        .ui.stackable.cards
            each answered_questions
                +test_question
        .ui.divider
        #delete_session.ui.yellow.button End Session
        #calculate_answers.ui.teal.button Calculate Answers
        if results
            .ui.header Results
template(name='test_question')
    .ui.card
        .content
            unless is_editing
                h4.ui.center.aligned.header #{title}
                .ui.basic.center.aligned.compact.segment
                    +rating
                .ui.divider
                each tags
                    .ui.basic.teal.label #{this}
            else
                +title
                .ui.hidden.fitted.divider
                +tags
                .ui.hidden.fitted.divider
                +delete_button
                .ui.hidden.fitted.divider
            if isInRole 'admin' 
                +edit_button