template(name='tests')
    .ui.container
        h1.ui.dividing.header Tests
        a.item(href='/assessment') Life Assessment
        .ui.divider
        .ui.stackable.divided.grid
            .twelve.wide.column
                if is_list_view
                    .ui.relaxed.divided.items
                        each tests
                            +test_item
                if is_grid_view
                    .ui.cards
                        each tests
                            +test_card
            .four.wide.column
                .ui.dividing.header Layouts
                #make_list_layout.ui.large.icon.button(class=list_layout_button_class)
                    i.list.layout.icon
                #make_grid_layout.ui.large.icon.button(class=grid_layout_button_class)
                    i.grid.layout.icon
                .ui.dividing.header Tag Filter
                +cloud type='test'
                if isInRole 'admin'
                    .ui.dividing.header 
                        i.red.configure.icon
                        |Admin
                    #add_test.ui.basic.fluid.button
                        i.large.icons
                            i.sticky.note.outline.icon
                            i.green.plus.corner.icon
                        |Add Test


template(name='test_card')
    .ui.card
        .ui.centered.image
            a(href="{{pathFor 'view_test' doc_id=_id}}")
                img(src="{{c.url image_id  height=300 crop='fill' gravity='face' }}")
        .content
            .header
                a(href="{{pathFor 'view_test' doc_id=_id}}")
                    h2.ui.header #{title}
            if publish_date
                .meta
                    | Published #{publish_when}
            .description
                |!{body}
        .content
            each tags
                .ui.compact.button.test_tag(class=tag_class) #{this}
        .content
            if isInRole 'admin'
                .edit_test.ui.primary.basic.right.floated.button
                    i.pencil.icon
                    |Edit Test    
        .content
            +favorite

            
template(name='test_item')
    .item
        a.image(href="{{pathFor 'view_test' doc_id=_id}}")
            img.ui.rounded.image(src="{{c.url image_id  width=175 height=175 crop='fill' gravity='face' }}")
        .content
            a.header(href="{{pathFor 'view_test' doc_id=_id}}") #{title}
            .meta
                | Published #{publish_when}
            .description
                p !{body}
                a(href="{{pathFor 'view_test' doc_id=_id}}") 
                    |View More
                    i.arrow.right.icon
            .extra
                i.tags.icon
                each tags
                    .ui.compact.tiny.circular.button.test_tag(class=tag_class) #{this}
            if isInRole 'admin'
                .extra
                    i.red.configure.large.icon
                    if published
                        .ui.green.basic.label Published
                    else
                        .ui.red.basic.label Unpublished                        
                    if featured
                        .ui.green.basic.label Featured
                    else
                        .ui.red.basic.label Unfeatured


