template(name='course_members')                
    h2.ui.center.aligned.header Course Members  
    #course_member_cloud.ui.basic.segment.center.aligned.container
        if selected_course_member_tags
            #clear_tags.ui.primary.circular.icon.big.button
                i.remove.icon
            each selected_course_member_tags
                .unselect_tag.ui.circular.primary.big.button
                    strong #{this}
        each course_member_tags
            .ui.circular.basic.button.select_tag(class=cloud_tag_class) #{this.name}
                    // small #{this.count}
                    // small [#{this.index}]
    .ui.centered.three.stackable.doubling.cards
        each course_members
            +course_member
            


template(name='course_member')
    .ui.card
        .image
            a(href="/profile/#{_id}")
                img.ui.fluid.image(src="{{c.url profile.image_id width=400 height=400 gravity='face' crop='fill'}}")
        .content
            .header
                a(href="/profile/#{_id}")
                    if profile.first_name
                        | #{profile.first_name}
                    if profile.last_name
                        | #{profile.last_name}
                    else    
                        | #{username}
            if profile.location
                .meta
                    | #{profile.location}
        .extra.content
            +color_dots
        .extra.content
            each five_tags
                .ui.compact.tiny.compact.basic.button.user_tag(class=user_tag_class) #{this}

