with person
    .ui.fluid.card
        .ui.medium.centered.image
            a(href="/profile/#{username}")
                img(src="{{c.url profile.image_id width=300 height=300 gravity='face' crop='fill'}}")
        .content
            .header
                a(href="/profile/#{username}") #{profile.name}
            .meta
                | #{profile.position} at #{profile.company}
            .description
                p #{pro_bio}
            .extra
                each tags
                    .ui.tiny.compact.basic.label #{this}
            // .extra
            //     +upvoted_matches