template(name='cart')
    .ui.text.container
        |{{> ensureSignedIn template="cart_checkout"}}


template(name='cart_checkout')
    .ui.ordered.steps
        .active.step
            .content
                .title Checkout
        .step
            .content
                .title Profile Information
    h2.ui.header Confirm Order
    // with cart_item
    //     .ui.segment
    //         .ui.centered.grid
    //             .three.wide.column
    //                 img.ui.fluid.image(src="{{c.url image_id }}")
    //             .six.wide.column
    //                 h2.ui.header #{title}
    //                 // .meta
    //                 //     if price
    //                 //         span $#{price}
    //                 //     else
    //                 //         .ui.basic.green.label Free
    //                 .description #{subtitle}
    //             .seven.wide.column
    //                 a.buy_course.ui.teal.big.button
    //                     |Buy #{title} for $#{price}
    // .ui.hidden.divider
    table.ui.table
        thead
            tr
                th 
                th Title
                th Price
                th Amount
                th Actions
        tbody
            each cart_items
                tr
                    td 
                        img.ui.tiny.image(src="{{c.url parent_doc.image_id width=100 height=100 gravity='face' crop='fill'}}")
                    td 
                        .ui.header 
                            |#{parent_doc.title}
                        each parent_doc.tags
                            .ui.small.basic.label #{this}
                    td 
                        |#{parent_doc.price}
                    td
                        +number
                        #increase_amount.ui.basic.icon.button
                            i.plus.icon
                        |#{number}
                        #decrease_amount.ui.basic.icon.button
                            i.minus.icon
                    td 
                        +delete_button
        tfoot
            tr
                th 3 People
                th 2 Approved
                th



template(name='cart_profile')
    .ui.text.container
        .ui.ordered.steps
            .completed.step
                .content
                    .title Checkout
            .active.step
                .content
                    .title Profile Information
    +edit_profile

