.ui.container
    h1.ui.center.aligned.header Your Cart
    table.ui.very.basic.table
        thead
            tr
                th Name
                th Price
                th Author
                th Tags
                th 
        tbody
            each cart_items
                tr
                    td 
                        a(href='/view/#{_id}')
                            |#{title}
                    td #{point_price} pts
                    td #{author.profile.name}
                    td 
                        each tags
                            .ui.basic.label #{this}
                    td 
                        .remove_item.ui.red.basic.icon.button
                            i.remove.icon
        tfoot
            tr
                th #{item_count} items
                th #{price_total} Total Points
                th
                th Available Points: #{currentUser.points}
    #checkout.ui.right.floated.large.green.button
        |Checkout
        i.right.arrow.icon