template(name='karma')
    .ui.stackable.grid
        .centered.row
            .four.wide.column
                h2.ui.header
                    +icon48 name='diamond' classes='ui inline image'
                    |#{currentUser.points}
            .eight.wide.column
                h1.ui.center.aligned.header 
                    +icon96 name='diamond'
                    |Karma
            .four.wide.column
                a.ui.basic.circular.small.button(href='/services') 
                    +icon48 name='service-bell' classes='ui mini spaced image'
                    | Services
                    +icon48 name='rotate-left' classes='ui mini spaced image'
                // a.ui.basic.circular.small.button(href='/transactions') 
                //     +icon48 name='handshake' classes='ui mini spaced image'
                //     | Transactions
                //     +icon48 name='rotate-left' classes='ui mini spaced image'
        .row
            .four.wide.column
                +karma_cloud
                // .ui.dividing.header Actions
                // a.ui.basic.fluid.button(href="/karma/send")
                //     i.send.icon
                //     |Send Karma
                // .ui.dividing.header Sharing
                // .ui.slider.checkbox
                //     input#share_bookmarks(type='checkbox' checked=currentUser.profile.share_bookmarks)
                //     label(for='share_bookmarks') Share Stats in Profile
            .eight.wide.column
                .ui.center.aligned.header
                    +icon48 name='like'
                    |Upvoted Documents
                .ui.divided.relaxed.items
                    each upvoted_docs
                        .item
                            .content
                                .header 
                                    each tags
                                        .ui.basic.small.label #{this}
                                .description
                                    if body
                                        |#{body}
                                .extra
                                    |Type: 
                                    .ui.basic.label #{type}
                                    | Points 
                                    .ui.basic.label #{points}
                                .extra
                                    | Upvoters (#{upvoters.length})
                                    .ui.horizontal.list
                                        each upvoter_users
                                            .item 
                                                .ui.basic.label 
                                                    img.ui.avatar.image(src="{{c.url profile.image_id width=100 height=100 gravity='face' crop='fill'}}")
                                                    |#{this.name}
                                                
                                    +view_full_button
            .four.wide.column
                .ui.dividing.header
                    +icon48 name='sports-mode'
                    |Actions
                .ui.basic.circular.large.button
                    +icon48 name='donate' classes='ui mini inline image'
                    | Give Karma
                    