template(name='view_karma')
    .ui.stackable.padded.grid
        .centered.row
            .four.wide.center.aligned.column
                // a.ui.basic.circular.small.white.inverted.button(href='/transactions') 
                //     +icon48 name='handshake' classes='ui mini inline image'
                //     | Transactions
            .eight.wide.center.aligned.column
                h1.ui.center.aligned.header 
                    +icon96 name='diamond'
                    |#{currentUser.points} Karma
            .four.wide.center.aligned.column
                // a.ui.basic.circular.small.white.inverted.button(href='/shop') 
                //     +icon48 name='shop' classes='ui mini spaced image'
                //     | Shop
                    // +icon48 name='rotate-left' classes='ui mini spaced image'
                // a.ui.basic.circular.small.button(href='/transactions') 
                //     +icon48 name='handshake' classes='ui mini spaced image'
                //     | Transactions
                //     +icon48 name='rotate-left' classes='ui mini spaced image'
        .centered.row
            .four.wide.column.shadowed.padded10
                +karma_cloud
                // .ui.dividing.header Actions
                // a.ui.basic.fluid.button(href="/karma/send")
                //     i.send.icon
                //     |Send Karma
                // .ui.dividing.header Sharing
                // .ui.slider.checkbox
                //     input#share_bookmarks(type='checkbox' checked=currentUser.profile.share_bookmarks)
                //     label(for='share_bookmarks') Share Stats in Profile
            .eight.wide.column.shadowed.padded10
                .ui.center.aligned.header
                    +icon48 name='like'
                    |Upvoted Documents
                .ui.divided.relaxed.items
                    each upvoted_docs
                        .item
                            .content
                                .header 
                                    each tags
                                        .ui.basic.small.label #{this}
                                .description
                                    if body
                                        |#{body}
                                .extra
                                    |Type: 
                                    .ui.basic.label #{type}
                                    | Points 
                                    .ui.basic.label #{points}
                                .extra
                                    | Upvoters (#{upvoters.length})
                                    .ui.horizontal.list
                                        each upvoter_users
                                            .item 
                                                .ui.basic.label 
                                                    img.ui.avatar.image(src="{{c.url profile.image_id width=100 height=100 gravity='face' crop='fill'}}")
                                                    |#{this.name}
                                                
                                    +view_full_button
            // .four.wide.column
            //     .ui.dividing.header
            //         +icon48 name='sports-mode'
            //         |Actions
            //     if isInRole 'admin'
            //         a.ui.basic.circular.large.button(href='/karma/send')
            //             +icon48 name='donate' classes='ui mini inline image'
            //             | Give Karma
                    