template(name='my_friends')
    .ui.dividing.header #{name}'s Friends
    .ui.divided.list
        each my_friends
            .item
                .image
                    a(href="/profile/#{username}")
                        img.ui.avatar.image(src="{{c.url profile.image_id width=50 height=50 gravity='face' crop='fill'}}")
                .content
                    a.header(href="/profile/#{username}")
                        if profile.name 
                            |#{profile.name}
                            // |#{profile.first_name} #{profile.last_name}
                        else
                            |#{username}
                    // .description
                    //     each five_tags
                    //         .ui.tiny.basic.label #{this}
                    +color_dots
                    .description
                        // // +staus_indicator
                        // |last seen #{last_login}
                                
                            
template(name='user_friends')
    .ui.dividing.header #{name}'s Friends
    .ui.divided.list
        each user_friends
            .item
                .image
                    a(href="/profile/#{username}")
                        img.ui.avatar.image(src="{{c.url profile.image_id width=50 height=50 gravity='face' crop='fill'}}")
                .content
                    a.header(href="/profile/#{username}")
                        if profile.name 
                            |#{profile.name}
                            // |#{profile.first_name} #{profile.last_name}
                        else
                            |#{username}
                    // .description
                    //     each five_tags
                    //         .ui.tiny.basic.label #{this}
                    +color_dots
                    .description
                        // // +staus_indicator
                        // |last seen #{last_login}
                                
                            
