template(name='profile_layout')
    .context.example
        +nav
        // .ui.top.attached.demo.menu
        //     a.item
        //         i.sidebar.icon
        //         |     Menu
        .ui.bottom.attached.basic.segment.pushable
            +left_sidebar
            .pusher
                #main_area
                    .ui.basic.fluid.segment
                        .ui.basic.segment.container
                            // .ui.breadcrumb
                            //     a.section(href='/') Home
                            //     .divider  / 
                            //     a.section(href='/people') People
                            //     .divider  / 
                            //     .active.section #{person.username}
                            // .ui.hidden.divider    
                    
                            .ui.stackable.grid
                                .four.wide.column
                                    with person
                                        img.ui.small.centered.rounded.image(src="{{c.url profile.image_id width=400 height=400 gravity='face' crop='fill'}}")
                                        .ui.center.aligned.header
                                            if profile.first_name
                                                |#{profile.first_name} #{profile.last_name}
                                            |(#{username})
                                            unless is_user
                                                +staus_indicator
                                        if is_user
                                            a.ui.basic.fluid.large.button(href="/account/profile/edit/#{_id}") 
                                                i.yellow.pencil.icon
                                                // i.icon
                                                //     img(src="https://png.icons8.com/edit/color/24" width="24" height="24")
                                                |Edit Profile
                                        .ui.vertical.large.fluid.pointing.menu
                                            // a.item(href="/profile/#{username}/feed" class="{{isActiveRoute name='profile_feed'}}") 
                                            //     i.feed.large.icon
                                            //     | Feed
                                            a.item(href="/profile/#{username}/about" class="{{isActiveRoute name='profile_about'}}") 
                                                i.icon
                                                    +icon24 name='info'
                                                |About
                                            a.item(href="/profile/#{username}/contact" class="{{isActiveRoute name='profile_contact'}}") 
                                                i.icon
                                                    +icon24 name='classroom'
                                                |Contact #{name}
                                            a.item(href="/profile/#{username}/courses" class="{{isActiveRoute name='profile_courses'}}")
                                                i.icon
                                                    +icon24 name='classroom'
                                                |Courses
                                            a.item(href="/profile/#{username}/social" class="{{isActiveRoute name='profile_social'}}") 
                                                i.icon
                                                    +icon24 name='chat'
                                                |Social
                                            if isInRole 'dev'
                                                a.item(href="/profile/#{username}/quizzes" class="{{isActiveRoute name='profile_quizes'}}")
                                                    i.icon
                                                        +icon24 name='hand-with-pen'
                                                    |Quizes
                                                a.item(href="/profile/#{username}/journal" class="{{isActiveRoute name='profile_journal'}}") 
                                                    i.icon
                                                        +icon24 name='journal'
                                                    | Journal
                                                a.item(href="/profile/#{username}/badges" class="{{isActiveRoute name='profile_badges'}}") 
                                                    i.icon
                                                        +icon24 name='police-badge'
                                                    | Karma + Badges
                                    if is_person_by_username
                                        .ui.vertical.fluid.pointing.menu
                                            a.item(href="/profile/#{currentUser.username}/account" class="{{isActiveRoute name='account_settings'}}") 
                                                i.icon
                                                    +icon24 name='settings'
                                                |Account Settings
                                            if isInRole 'dev'
                                                a.item(href="/profile/#{currentUser.username}/email_settings" class="{{isActiveRoute name='email_settings'}}") 
                                                    i.icon
                                                        +icon24 name='message'
                                                    |Email Settings
                                        .ui.vertical.fluid.menu
                                            a#logout.item(href="#" data-position="bottom center" data-content="Log Out")
                                                i.icon
                                                    +icon24 name='burglary'
                                                |Log Out

    
                                .twelve.wide.column
                                    +Template.dynamic template=profile_content


        
template(name='profile_journal')
    h1.ui.center.aligned.header 
        +icon96 name='journal'
        |Journal
    +public_journal
        
template(name='profile_karma')
    h1.ui.center.aligned.header 
        a(href='/karma')
            +icon96 name='diamond'
        |Karma
    +karma
        
template(name='profile_quizes')
    h1.ui.center.aligned.header 
        +icon96 name='report-card'
        |Quizes
    +public_quiz_sessions


template(name='profile_courses')
    h1.ui.center.aligned.header 
        +icon96 name='classroom'
        |Courses
    +user_courses

template(name='profile_social')
    h1.ui.center.aligned.header 
        +icon96 name='chat'
        |Social
    // +user_friends
    +following
    // +person_tags

        
template(name='profile_about')
    with person
        h1.ui.center.aligned.header 
            +icon96 name='info'
            |About
        .ui.hidden.divider
        .ui.two.column.stackable.grid
            .column
                if tags
                    +icon48 name='hashtag'
                    each tags
                        .user_tag.ui.circular.large.basic.label #{this}
                // +toggle_friend
                // .ui.hidden.divider
                if profile.location
                    .ui.header 
                        +icon48 name='user-location'
                        | #{profile.location}
                if profile.about_me
                    .ui.header About Me
                    |#{profile.about_me}
            .column
                .ui.header My True Colors Are:
                +color_dots
                // if points
                //     .ui.small.teal.statistic
                //         .value #{points}
                //         .label Comment Karma
                // if isInRole 'dev'
                //     +tag_person this    
                if profile.if_knew_me
                    .ui.header If you really knew me you would know…
                    |#{profile.if_knew_me}
                if profile.if_not_working
                    .ui.header If I am not at work or in class then I am probably…
                    |#{profile.if_not_working}

        
        
