template(name='profile_layout')
    .context.example
        +nav
        // .ui.top.attached.demo.menu
        //     a.item
        //         i.sidebar.icon
        //         |     Menu
        .ui.bottom.attached.basic.segment.pushable
            +left_sidebar
            .pusher
                #main_area
                    .ui.basic.fluid.segment
                        .ui.basic.segment.container
                            // .ui.breadcrumb
                            //     a.section(href='/') Home
                            //     .divider  / 
                            //     a.section(href='/people') People
                            //     .divider  / 
                            //     .active.section #{person.username}
                            // .ui.hidden.divider    
                            with person
                                if profile.first_name
                                    h2.ui.center.aligned.header
                                        img.ui.avatar.image(src="{{c.url profile.image_id width=200 height=200 gravity='face' crop='fill'}}")
                                        |#{profile.first_name} #{profile.last_name}
                                        +staus_indicator
                                else
                                    .ui.center.aligned.sub.header 
                                        |#{username}
                                        +staus_indicator
                            .ui.stackable.grid
                                    .five.wide.column
                                        with person
                                            .ui.vertical.fluid.pointing.menu
                                                a.item(href="/profile/#{username}/feed" class="{{isActiveRoute name='profile_feed'}}") 
                                                    i.feed.large.icon
                                                    | Feed
                                                a.item(href="/profile/#{username}/about" class="{{isActiveRoute name='profile_about'}}") 
                                                    i.info.large.icon
                                                    |About
                                                a.item(href="/profile/#{username}/courses" class="{{isActiveRoute name='profile_courses'}}")
                                                    i.university.large.icon
                                                    |Courses
                                                a.item(href="/profile/#{username}/conversations" class="{{isActiveRoute name='profile_conversations'}}")
                                                    i.comments.outline.large.icon
                                                    | Conversations
                                                a.item(href="/profile/#{username}/quizes" class="{{isActiveRoute name='profile_quizes'}}")
                                                    i.edit.large.icon
                                                    |Quizes
                                                a.item(href="/profile/#{username}/social" class="{{isActiveRoute name='profile_social'}}") 
                                                    i.talk.outline.large.icon
                                                    |Social
                                                a.item(href="/profile/#{username}/journal" class="{{isActiveRoute name='profile_journal'}}") 
                                                    i.edit.large.icon
                                                    | Journal
                                                // a.item(href="/profile/#{username}/clouds" class="{{isActiveRoute name='profile_clouds'}}") 
                                                //     i.cloud.large.icon
                                                //     | Clouds
                                                // a.item(href="/profile/#{username}/karma" class="{{isActiveRoute name='profile_karma'}}") 
                                                //     i.large.heartbeat.icon
                                                //     | Karma
                                                // a.item(href="/profile/#{username}/services" class="{{isActiveRoute name='profile_services'}}") 
                                                //     i.large.configure.icon
                                                //     | Services
                                                if isInRole 'admin'
                                                    a.item(href="/profile/#{username}/badges" class="{{isActiveRoute name='profile_badges'}}") 
                                                        i.certificate.red.large.icon
                                                        | Badges
                                                a.item(href="/profile/#{username}/contact" class="{{isActiveRoute name='profile_contact'}}") 
                                                    i.phone.large.icon
                                                    |Contact
                                        if is_person_by_username
                                            .ui.vertical.fluid.pointing.menu
                                                a.item(href="/profile/#{currentUser.username}/account" class="{{isActiveRoute name='account_settings'}}") 
                                                    i.setting.large.icon
                                                    |Account Settings
                                                a.item(href="/profile/#{currentUser.username}/email_settings" class="{{isActiveRoute name='email_settings'}}") 
                                                    i.mail.large.icon
                                                    |Email Settings
        
                                    .eleven.wide.column
                                        +Template.dynamic template=profile_content


        
template(name='profile_journal')
    .ui.horizontal.divider.header 
        a(href='/journal')
            i.link.pencil.icon
        |Journal
    +public_journal
        
template(name='profile_karma')
    .ui.horizontal.divider.header 
        a(href='/karma')
            i.hearbeat.icon
        |Karma
    +karma
        
template(name='profile_quizes')
    .ui.horizontal.divider.header 
        i.pencil.icon
        |Quizes
    +public_quiz_sessions


template(name='profile_courses')
    .ui.horizontal.divider.header 
        i.university.icon
        |Courses
    +user_courses

template(name='profile_social')
    .ui.horizontal.divider.header 
        i.comments.icon
        |Social
    // +user_friends
    +following
    +person_tags

        
template(name='profile_about')
    with person
        .ui.horizontal.divider.header 
            i.info.icon
            |About
        .ui.grid
            .eight.wide.column
                img.ui.rounded.large.image(src="{{c.url person.profile.image_id width=400 height=400 gravity='face' crop='fill'}}")
            .eight.wide.column
                if tags
                    .ui.basic.center.aligned.segment
                        each tags
                            .user_tag.ui.circular.basic.label #{this}
                if is_user
                    a.ui.basic.fluid.button(href="/account/profile/edit/#{_id}") 
                        i.pencil.icon
                        |Edit My Profile
                else
                    .ui.basic.center.aligned.segment
                        // +toggle_friend
                        // .ui.hidden.divider
                        // +staus_indicator
                        .ui.header My True Colors Are:
                        +color_dots
                        // if points
                        //     .ui.small.teal.statistic
                        //         .value #{points}
                        //         .label Comment Karma
                        // if isInRole 'dev'
                        //     +tag_person this    

        if profile.location
            .ui.header Location 
            | #{profile.location}
        if profile.about_me
            .ui.header About Me
            |#{profile.about_me}
        if profile.if_knew_me
            .ui.header If you really knew me you would know…
            |#{profile.if_knew_me}
        if profile.if_not_working
            .ui.header If I am not at work or in class then I am probably…
            |#{profile.if_not_working}
        
        
