template(name='profile_clouds')
    .ui.container
        .ui.horizontal.divider.header
            i.cloud.icon
            |User Clouds
        +doc_content tags='profile,clouds,blurb'
        .ui.dividing.header 
            i.pencil.outline.icon
            | #{current_user.profile.first_name}'s Authored Tag Cloud
        each current_user.authored_cloud
            .ui.basic.label(class=authored_cloud_tag_class)
                |#{this.name}
                small #{this.count}
        .ui.dividing.header 
            i.thumbs.up.outline.icon
            |#{current_user.profile.first_name}'s Upvoted Tag Cloud
        each current_user.upvoted_cloud
            .ui.large.basic.label(class=upvoted_cloud_tag_class)
                |#{this.name}
                small #{this.count}
        +upvoted_matches        
        .ui.dividing.header 
            i.thumbs.down.outline.icon
            | #{current_user.profile.first_name}'s Downvoted Tag Cloud
        each current_user.downvoted_cloud
            .ui.basic.label(class=downvoted_cloud_tag_class)
                |#{this.name}
                small #{this.count}
        +user_match_list


template(name='user_match_list')
    .ui.dividing.header 
        i.thumbs.up.outline.icon
        |Top Matched User Cloud
        each upvoted_cloud_match
            .ui.divided.list
                .item
                    strong #{current_user.profile.first_name} (Total Count: #{this.total_count})
                    each this.cloud_intersection
                        .ui.basic.label #{this.tag} #{this.min}
    .ui.dividing.header Top Matched User List
    each matched_users_list
        .ui.divided.list
            .item
                strong #{current_user.profile.first_name} (#{this.length}):
                each this.cloud_intersection
                    .ui.basic.label #{this}
        each people
            .item
                |#{this.username}
                .ui.button.match_two_users_authored_cloud Calculate Authored Match
                .ui.button.match_two_users_upvoted_cloud Calculate Upvoted Match
        .ui.dividing.header Authored Docs Tag Cloud Matches
        each authored_cloud_matches
            .ui.divided.list
                .item
                    | #{this.username}
                    each userMatchAuthoredCloud
                        .ui.button
                            |#{this.name}
                            small #{this.count}
        .ui.dividing.header Upvoted Docs Tag Cloud Matches
        each upVotedCloudMatches
            .ui.divided.list
                .item
                    | #{this.username}
                    each user_match_upvoted_cloud
                        .ui.button
                            |#{this.name}
                            small #{this.count}


template(name='upvoted_matches')
    .ui.segment
        h4.ui.header Matched Upvoted Tag List with #{username} (Count: #{upvoted_match_list.length})
        each upvoted_match_list
            .ui.basic.label #{this}
        h4.ui.header Matched Upvoted Tag Cloud with #{username} (Total Match Points: #{upvoted_match_cloud.total_count})
        each upvoted_match_cloud.cloud
            .ui.basic.label #{this.tag} #{this.min}
