template(name='drafts')
    .ui.horizontal.divider.header 
        i.edit.icon
        |Drafts
    .ui.threaded.comments
        each drafts
            +draft_message
        
template(name='draft_message')
    .comment
        .avatar
            img.ui.avatar.image(src="{{c.url recipient.profile.image_id width=100 height=100 gravity='face' crop='fill'}}")
        .content
            a.author 
                | #{author.username}
                i.right.chevron.icon
                | #{recipient.username}
            .metadata
                span.date #{from_now}
            a.text(href="/message/edit/#{_id}")
                .ui.segment
                    | !{content}
            .actions
                // a.reply(href='#') Reply
                // +favorite
                // +voting
                // if is_author
                +delete_message_link
                a.edit_comment(href="/message/edit/#{_id}") Edit

