template(name='inbox')
    .ui.horizontal.divider.header 
        i.inbox.icon
        |Inbox
    .ui.threaded.comments
        each received_messages
            +inbox_message
            .ui.divider


template(name='inbox_message')
    .comment
        a.avatar
            img.ui.avatar.image(src="{{c.url author.profile.image_id width=50 height=50 gravity='face' crop='fill'}}")
        .content
            a.author 
                | #{author.username}
                i.right.chevron.icon
                | #{recipient.username}
            .metadata
                span.date #{from_now}
            a.text(href="/message/view/#{_id}")
                .ui.segment(class=message_segment_class)
                    | !{content}
                .ui.hidden.fitted.divider    
            .actions
                // a.reply(href='#') Reply
                +read_link
                +archive_link
                +message_reply_button
                a.delete_message

