template(name='messages_layout')
    .context.example
        +nav
        // .ui.top.attached.demo.menu
        //     a.item
        //         i.sidebar.icon
        //         |     Menu
        .ui.bottom.attached.basic.segment.pushable
            +left_sidebar
            .pusher
                #main_area
                    .ui.hidden.divider
                    .ui.container
                        .ui.stackable.grid
                            .five.wide.column
                                a#compose.ui.fluid.basic.button 
                                    i.plus.icon
                                    |Compose
                                .ui.vertical.fluid.menu
                                    a.item(href='/messages/inbox' class="{{isActiveRoute name='inbox'}}")
                                        i.inbox.icon
                                        |Inbox
                                        if unread_inbox_count
                                            .ui.white.label #{unread_inbox_count}
                                    a.item(href='/messages/sent' class="{{isActiveRoute name='sent_messages'}}") 
                                        i.send.icon
                                        |Sent 
                                        if sent_count
                                            |(#{sent_count})
                                    a.item(href='/messages/drafts' class="{{isActiveRoute name='drafts'}}") 
                                        i.edit.icon
                                        |Drafts
                                        if drafts_count
                                            .ui.white.label #{drafts_count}
                                    a.item(href='/messages/archived' class="{{isActiveRoute name='all_messages'}}") 
                                        i.archive.icon
                                        | Archived 
                                        if archived_count    
                                            |(#{archived_count})
                            .eleven.wide.column
                                +Template.dynamic template=message_content





template(name='messages_with_user')
    .ui.horizontal.divider.header Conversation with #{person.username}
    // +send_message
    .ui.threaded.comments
        each conversation_messages_with_user
            +message
            



template(name='user_pill')
    span 
        img.ui.avatar.image(src="{{c.url profile.image_id width=100 height=100 gravity='face' crop='fill'}}")
        |#{username}