template(name='message_edit')
    with message
        .ui.dividing.header 
            if parent_id
                |Reply to 
                img.ui.avatar.image(src="{{c.url parent.author.profile.image_id width=100 height=100 gravity='face' crop='fill'}}")
                |#{parent.author.name}
            else
                |Send Message
        .ui.form
            if parent_id
                .field
                    .ui.segment
                        .ui.header #{parent.author.name}'s Message:
                        |!{parent.content}
            else
                .field
                    if recipient_id
                        label Recipient: 
                        .ui.large.basic.label
                            img.ui.avatar.image(src="{{c.url recipient.profile.image_id width=100 height=100 gravity='face' crop='fill'}}")
                            |#{recipient.username}
                        if is_draft
                            #remove_recipient.ui.icon.basic.button
                                i.red.remove.icon
                    else
                        .ui.left.icon.large.input
                            i.search.icon
                            +inputAutocomplete settings=message_edit_settings id="username" class="" autocomplete="off" placeholder='Search Username...'
            .inline.field
                label Status:
                .ui.large.label(class=status_label_class) #{status}
            if is_draft
                .field
                    .froala-container
                        +froalaReactive getFEContext
            if is_sent
                .ui.segment
                    |!{content}
            if is_draft
                #delete_message.ui.red.icon.button
                    i.remove.icon
                if recipient_id
                    #send_message.ui.right.floated.teal.labeled.icon.button
                        |Send
                        i.send.icon
        
        
        
