template(name='sol_sections')        
    .ui.horizontal.divider.header sol_sections
        if isInRole 'admin'
            i#add_sol_section.green.plus.link.small.icon(title='Add sol_section')
    each sol_sections
        +sol_section
        
        
template(name='sol_section')        
    if sol_section_is_available
        .ui.segment
            if editing
                .ui.form
                    .field
                        +number
                    .field
                        +title
                    if isInRole 'dev'
                        .ui.segment
                            .field
                                +type
                            .field
                                |#{when}
                            .field
                                +edit_parent_id
                    .field
                        +tags
                    .field
                        .label Takeaways
                        +content
                    +delete_button
                    .ui.hidden.divider
                    if isInRole 'admin'
                        +session_edit_icon
            else
                a.ui.header(href="/view/#{_id}")
                    if sol_section_is_complete
                        +icon48 name='checked' classes='ui mini inline image'
                    |#{number}: #{title}
                // if isInRole 'admin'
                //     div
                //         a.ui.sub.header(href="/view/#{_id}") id: #{_id} 
                if isInRole 'admin'
                    // p parent_id: #{parent_id}
                    // p type: #{type}
                    +session_edit_icon
                unless sol_section_is_complete
                    .ui.divider
                    .sol_section_percent_complete_bar.ui.indicating.progress(data-percent=user_progress)
                        .bar
                            .progress
                        .label
                    .ui.horizontal.relaxed.list
                        .item
                            if sol_section_progress_doc.video_complete
                                i.green.film.icon
                            else
                                i.disabled.film.icon
                            .content
                                if sol_section_progress_doc.video_complete
                                    |Video Watched
                                else
                                    |Video Not Watched
                        if sol_section_progress_doc.sol_section_question_count
                            .item
                                .content
                                    i.tasks.icon
                                    strong #{sol_section_progress_doc.sol_section_answer_count}/#{sol_section_progress_doc.sol_section_question_count}
                                    |Questions Answered
                else
                    if content
                        .item
                            .sol_section_summary.ui.basic.button 
                                +icon24 name='external' classes='ui mini inline image'
                                |Takeaways
    else
        .ui.disabled.segment
            .ui.header  #{number}: #{title}

    