template(name='view_sol_section')
    // +nav
    .ui.container
        // .ui.breadcrumb
        //     a.sol_section(href='/') Home
        //     .divider  / 
        //     a.sol_section(href='/courses') Courses
        //     .divider  / 
        //     a.sol_section(href="/course/sol") Source of Light
        //     .divider  / 
        //     a.sol_section(href="/course/sol/modules") Modules
        //     .divider  / 
        //     a.sol_section(href="/course/sol/module/#{module.number}") #{module.number}: #{module.title}
        //     .divider  / 
        //     a.sol_section(href="/course/sol/module/#{module.number}/sol_sections") sol_sections
        //     .divider  / 
        //     .sol_section #{sol_section.number}: #{sol_section.title}
        // .ui.hidden.divider
        if Template.subscriptionsReady
            .ui.grid
                .center.aligned.row
                    .sixteen.wide.column
                        a.ui.basic.circular.button(href="/view/#{module._id}") 
                            +icon48 name="chevron-up" classes='avatar'
                            |Module #{module.number}: #{module.title}
                .center.aligned.row
                    .three.wide.column
                        if previous_sol_section
                            // a.ui.basic.small.button(href="/course/sol/module/#{module.number}/sol_section/#{previous_sol_section.number}")
                            a.ui.basic.fluid.circular.button(href="/view/#{previous_sol_section._id}")
                                +icon48 name="chevron-left" classes='avatar'
                                // |#{previous_sol_section.number}: #{previous_sol_section.title}
                                |#{previous_sol_section.title}
                    .ten.wide.column
                        h1.ui.center.aligned.header sol_section #{sol_section.number}: #{sol_section.title}
                        // if isInRole 'admin'
                        //     | sol_section_id: #{sol_section._id}
                    .three.wide.column
                        if sol_section_complete
                            if next_sol_section_exists
                                a.ui.basic.fluid.circular.button(href="/view/#{next_sol_section._id}")
                                    // |#{next_sol_section.number}: #{next_sol_section.title}
                                    | #{next_sol_section.title}
                                    +icon48 name="chevron-right" classes='avatar'
                            else
                                a.ui.basic.fluid.circular.animated.fade.button(href="/view/#{module._id}") 
                                    .visible.content
                                        +icon48 name="checked" classes='avatar'
                                        | Module #{module.number} sol_sections Complete
                                    .hidden.content
                                        +icon48 name="return" classes='avatar'
    
                // a.item(href="/course/sol/module/#{module.number}/sol_section/#{sol_section.number}/questions" class="{{isActiveRoute name='questions'}}") Collaboration
            .ui.stackable.grid
                .five.wide.column
                    // .ui.dividing.header Progress
                    // #calculate_sol_section_progress.ui.fluid.basic.button Calculate sol_section Progress
                    // #sol_section_percent_complete_bar.ui.blue.indicating.progress(data-percent=sol_section_progress_doc.percent_complete)
                    //     .bar
                    //         .progress
                    //             | #{sol_section_progress_doc.percent_complete}%
                    if video_complete
                        .ui.fluid.basic.label 
                            +icon48 name="checkmark" classes='avatar'
                            |Video Watched
                        if sol_section.content.length
                            .item
                                .popup_takeaway.ui.basic.fluid.button 
                                    +icon48 name="external" classes='avatar'
                                    |Video Takeaways
    
                    else
                        .ui.basic.fluid.label 
                            +icon48 name="unchecked-checkbox" classes='avatar'
                            |Video
                    if reflective_question_docs.count
                        .ui.sub.dividing.header #{sol_section_progress_doc.sol_section_answer_count}/ #{sol_section_progress_doc.sol_section_question_count} Questions Answered
                        .ui.list
                            each reflective_question_docs
                                    .item 
                                        if reflective_question_answered
                                            i.green.check.icon
                                        | #{number}: #{body}
                    if isInRole 'admin'
                        +user_sol_section_progress_list
                .eleven.wide.column
                    // if Template.subscriptionsReady
                    // #convert_content.ui.button Convert Contents
                    // +doc_content tags=sol_section_content_tags pinnable=true
                    +doc_by_parentid_and_type parent_id=sol_section._id type='sol_section_video' tags='sol_section,video'
    
                    .ui.hidden.divider
                    .ui.styled.fluid.accordion
                        h3.title
                            +icon48 name='paper' classes='ui mini inline image'
                            | Transcript
                            i.dropdown.icon
                        .content
                            // +doc_content tags=sol_section_transcript_tags pinnable=true
                            +doc_by_parentid_and_type parent_id=sol_section._id type='sol_section_transcript' tags='sol_section,transcript'
    
                    .ui.center.aligned.basic.segment
                        if currentUser
                            if video_complete
                                .unmark_video_complete.ui.blue.circular.fluid.button 
                                    // +icon48 name='checkmark' classes='ui mini inline image'
                                    |Video Watched
                                if sol_section.content.length
                                    .popup_takeaway.ui.basic.large.button 
                                        +icon48 name='external' classes='ui mini inline image'
                                        |Video Takeaways
                            else
                                .mark_video_complete.ui.basic.fluid.circular.button 
                                    +icon48 name='unchecked-checkbox' classes='ui mini inline image'
                                    |Mark Video Watched
                    with sol_section
                        if isInRole 'admin'
                            +questions type='reflective_question' parent_id=this._id title='Reflection Questions'
                        else if video_complete
                            +questions type='reflective_question' parent_id=this._id title='Reflection Questions'
                    if sol_section_progress_doc.questions_complete
                        unless sol_section_complete
                            if question_docs.count
                                #mark_sol_section_complete.ui.basic.large.fluid.button 
                                    i.circle.outline.icon
                                    |Calculate sol_section Progress
                    unless is_editing
                        // if sol_section_progress_doc.questions_complete
                            // if video_complete
                        if sol_section_complete
                            .ui.horizontal.divider.header
                                +icon48 name='checked' classes='ui mini inline image'
                                |sol_section Complete
                            if next_sol_section_exists
                                a.ui.basic.fluid.circular.large.button(href="/view/#{next_sol_section._id}")
                                    | Continue to sol_section #{next_sol_section.number}: #{next_sol_section.title}
                                    +icon48 name='chevron-right' classes='ui mini inline image'
                            else
                                .ui.horizontal.divider.header
                                    +icon48 name='checked' classes='ui mini inline image'
                                    | All Module #{module.number} sol_sections Complete
                                a.ui.basic.fluid.button(href="/view/#{module._id}") 
                                    +icon48 name='return' classes='ui mini inline image'
                                    | Return to Module #{module.number}: #{module.title}
                        .ui.divider
                    #calculate_sol_section_progress.ui.fluid.basic.button 
                        +icon48 name='refresh' classes='ui mini inline image'
                        |Calculate sol_section Progress
                    #sol_section_percent_complete_bar.ui.indicating.progress(data-percent=sol_section_progress_doc.percent_complete)
                        .bar
                            .progress
                                | #{sol_section_progress_doc.percent_complete}%
        else
            .ui.header Loading...

    // if isInRole 'dev'
    //     +dev_footer
        
        
template(name='user_sol_section_progress_list')
    .ui.horizontal.divider.header
        i.red.configure.icon
        |Member sol_section Progress
    .ui.list    
        each user_sol_section_progress_docs
            .item
                .header #{author.name}
                // .content
                //     +edit_parent_id
                .content
                    .ui.indicating.tiny.progress(data-percent=percent_complete)
                        .bar
                        .label
                            // .progress
                            //     | #{module_progress_doc.module_progress_percent}%
        