template(name='alpha_edit')
    with doc
        .ui.container
            .ui.center.aligned.header 
                if title
                    |Edit '#{title}' #{type}
                else 
                    |Edit #{type}
            .ui.divided.stackable.grid
                .eleven.wide.column
                    .ui.form
                        .ui.basic.segment
                            +tags
                        if has_title
                            +title
                        if has_subtitle
                            +subtitle
                        if has_slug
                            +slug
                        if has_number
                            +number
                        if has_image
                            +image
                        if has_youtube
                            .ui.segment
                                +youtube
                                if youtube
                                    +view_youtube
                        if has_price
                            +price
                        // .ui.header edit_body_field
                        // +edit_body_field
                        if has_content
                            +content     
                        +edit_parent_id
                        +children_template
                .five.wide.column
                    .ui.segment
                        .ui.form
                            .grouped.fields
                                .label Components
                                +toggle_title
                                +toggle_youtube
                                +toggle_image
                                +toggle_content
                                .ui.hidden.divider
                                +published
                                .ui.form
                                    +type
                    if tags
                        a.ui.huge.teal.button(href="/admin/alpha") Save #{title} #{type}
                    +delete_button