template(name='course_modules')        
    h2.ui.center.aligned.header Modules
    if isInRole 'admin'
        #add_sol_module.ui.button Add Module
    each sol_modules
        .ui.segment
            if is_editing
                +title
                +number
            else
                a.ui.header(href="/course/sol/#{number}") #{number}: #{title}
                // |!{content}
                if isInRole 'admin'
                    .ui.dividing.header Admin
                    each tags
                        .ui.basic.label #{this}
            +edit_button
    
    
    
    
    
    
    // old modules
        each modules
            if module_is_available
                .ui.segment
                    a(href="/course/#{parent_course_slug}/module/#{number}/section/1")
                        .ui.header  #{number}: #{title}
                        // .ui.teal.progress
                        //     .bar
                        //     .progress
                        //     .label Coursework
                        // if sol_demo_member
                        //     i.lock.icon
                        // else    
                        //     i.lock.icon
            else
                .ui.disabled.segment
                    // a(href="/course/#{course}/module/#{number}")
                    .ui.header  #{number}: #{title}
                        // .ui.teal.progress
                        //     .bar
                        //     .progress
                        //     .label Coursework
                    // i.lock.icon
                
