template(name='course_modules')        
    .ui.horizontal.divider.header 
        |Modules
        if isInRole 'admin'
            i#add_sol_module.green.plus.link.icon(title='Add Module')
    each sol_modules
        if module_is_available
            .ui.segment
                if is_editing
                    +number
                    +title
                    +delete_button
                else
                    a.ui.header(href="/course/sol/module/#{number}") #{number}: #{title}
                    // |!{content}
                if isInRole 'admin'
                    +session_edit_button
                .ui.divider
                if user_progress
                    .module_percent_complete_bar.ui.indicating.progress(data-percent=user_progress)
                        .bar
                            .progress
                        .label
                    // .ui.horizontal.relaxed.list
                    //     .item
                    //         if section_progress_doc.debrief_complete
                    //             i.green.large.idea.icon
                    //         else
                    //             i.disabled.large.idea.icon
                    //         .content
                    //             if section_progress_doc.debrief_complete
                    //                 |Debrief Not Complete
                    //             else
                    //                 |Debrief Complete
                    //     .item
                    //         if section_progress_doc.sections_complete
                    //             i.green.large.tasks.icon
                    //         else
                    //             i.disabled.large.tasks.icon
                    //         .content
                    //             strong #{module_progress_doc.completed_sections}/#{module_progress_doc.section_count}
                    //             |Sections Complete
                    //     .item
                    //         if section_progress_doc.lightwork_complete
                    //             i.sun.large.icon
                    //         else
                    //             i.yellow.sun.large.icon
                    //         .content
                    //             if section_progress_doc.lightwork_complete
                    //                 |Lightwork Complete
                    //             else
                    //                 |Lightwork Not Complete

        else
            .ui.disabled.segment
                // a(href="/course/#{course}/module/#{number}")
                .ui.header  #{number}: #{title}
                    // .ui.teal.progress
                    //     .bar
                    //     .progress
                    //     .label Coursework
                // i.lock.icon

    
    
    
    
    
    // old modules
        each modules
            if module_is_available
                .ui.segment
                    a(href="/course/#{parent_course_slug}/module/#{number}/section/1")
                        .ui.header  #{number}: #{title}
                        // .ui.teal.progress
                        //     .bar
                        //     .progress
                        //     .label Coursework
                        // if sol_demo_member
                        //     i.lock.icon
                        // else    
                        //     i.lock.icon
            else
                .ui.disabled.segment
                    // a(href="/course/#{course}/module/#{number}")
                    .ui.header  #{number}: #{title}
                        // .ui.teal.progress
                        //     .bar
                        //     .progress
                        //     .label Coursework
                    // i.lock.icon
                
