template(name='course_modules')        
    .ui.horizontal.divider.header 
        |Modules
        if isInRole 'admin'
            i#add_sol_module.green.plus.link.icon(title='Add Module')
    each sol_modules
        if module_is_available
            .ui.segment
                if is_editing
                    +number
                    +title
                    +delete_button
                else
                    a.ui.header(href="/course/sol/module/#{number}") #{number}: #{title}
                    // |!{content}
                if isInRole 'admin'
                    +session_edit_button
        else
            .ui.disabled.segment
                // a(href="/course/#{course}/module/#{number}")
                .ui.header  #{number}: #{title}
                    // .ui.teal.progress
                    //     .bar
                    //     .progress
                    //     .label Coursework
                // i.lock.icon

    
    
    
    
    
    // old modules
        each modules
            if module_is_available
                .ui.segment
                    a(href="/course/#{parent_course_slug}/module/#{number}/section/1")
                        .ui.header  #{number}: #{title}
                        // .ui.teal.progress
                        //     .bar
                        //     .progress
                        //     .label Coursework
                        // if sol_demo_member
                        //     i.lock.icon
                        // else    
                        //     i.lock.icon
            else
                .ui.disabled.segment
                    // a(href="/course/#{course}/module/#{number}")
                    .ui.header  #{number}: #{title}
                        // .ui.teal.progress
                        //     .bar
                        //     .progress
                        //     .label Coursework
                    // i.lock.icon
                
