with course
    .ui.container.basic.segment
        .ui.center.aligned.header Edit #{title} Course
        .ui.form
            .field
                label Title
                input#title(type='text' value=title)
            .field
                label Slug
                input#slug(type='text' value=slug placeholder='computer readable name, no spaces, caps or punctuation')
            .field
                label Subtitle
                input#subtitle(type='text' value=subtitle)
            .ui.form
                if image_id
                    .field
                        label Image
                        .ui.large.image
                            img(src="{{c.url image_id width=500 crop='fit'}}")
                            a#remove_photo.ui.top.left.attached.link.basic.label Remove
                            .ui.bottom.right.attached.basic.label Image Id: #{image_id}
                else
                    .fields
                        .field
                            label Upload Image
                            input(type='file' name='upload_picture' accept='image/*')
                        if isInRole 'admin'
                            .field
                                label or Choose Cloudinary Image Id
                                input#input_image_id(type='text')
        
            .field
                label Price in $
                input#price(type='number' min='0' value=price)
            .field
                label Description
                .froala-container
                    +froalaReactive getFEContext
        
            if published
                #unpublish.ui.green.basic.button
                    |Published
            else
                #publish.ui.basic.button
                    |Private
            .ui.center.aligned.basic.segment
                a.ui.huge.teal.button(href="/course/#{slug}/welcome") Save #{title} Course
                +delete_button