template(name='view_journal_template')
    .ui.stackable.padded.grid.document_container
        .centered.row
            .three.wide.center.aligned.column
                a.ui.basic.circular.small.button(href='/journal/templates')
                    +icon48 name='chevron-left' classes='ui mini inline image'
                    strong Journal Templates
            .ten.wide.center.aligned.column
                h1.ui.center.aligned.header 
                    if icon_class
                        +icon96 name=icon_class classes='ui spaced image'
                    else
                        +icon96 name='template' classes='ui spaced image'

                    |View '#{title}' Journal Template
            .three.wide.center.aligned.column
                #create_response.ui.circular.large.basic.button
                    +icon48 name='form' classes='ui mini inline image'
                    strong Fill Out
        .centered.row
            .ten.wide.column
                each journal_template_sections
                    .ui.segment 
                        .ui.header #{number}: #{title}
                +template_responses
            .four.wide.column
                if can_edit
                    +edit_link_button
                .ui.header
                    |by
                    img.ui.avatar.image(src="{{c.url author.profile.image_id width=50 height=50 gravity='face' crop='fill'}}")
                    |#{author.name}
                    with author
                        +staus_indicator
                    h3.ui.sub.header #{when}
                .ui.dividing.header 
                    +icon48 name='sports-mode'
                    |Actions
                +bookmark_button
                +published
                // div
                //     #create_response.ui.circular.basic.button
                //         +icon48 name='form' classes='ui mini inline image'
                //         |Fill Out


template(name='template_responses')
    .ui.header Public Journal Template Responses
    .ui.list
        each template_responses
            +template_response
        
template(name='template_response')
    .item
        .header  
            a(href="/view/#{_id}")
                |by #{author.name} #{when}