template(name='leaderboard')
    .ui.header 
        +icon48 name='leaderboard'
        | Point Leaderboard
    .ui.list
        each players
            .item
                .content
                    .header
                        img.ui.avatar.image(src="{{c.url profile.image_id width=100 height=100 gravity='face' crop='fill'}}")
                        |#{name}
                    .description
                        |#{points} pts
    
    
template(name='journal_stats')
    .ui.header 
        +icon48 name='journal'
        | Journal Stats
    .ui.list
        each journal_authors
            +journal_stat
            
template(name='journal_stat')        
    .item
        .content
            .header
                img.ui.avatar.image(src="{{c.url profile.image_id width=100 height=100 gravity='face' crop='fill'}}")
                |#{name}
                if isInRole 'dev'
                    .calculate_user_journal_stats.ui.icon.small.compact.button
                        i.refresh.icon
            .description
                .ui.list
                    .ui.item Total: #{stats.journal.total}
                    .ui.item Public: #{stats.journal.published}
                    .ui.item Private: #{stats.journal.private}


template(name='check_in_stats')
    .ui.header 
        +icon48 name='sprout'
        | Check-In Stats
    .ui.list
        each check_in_authors
            +check_in_stat
            
template(name='check_in_stat')        
    .item
        .content
            .header
                img.ui.avatar.image(src="{{c.url profile.image_id width=100 height=100 gravity='face' crop='fill'}}")
                |#{name}
                if isInRole 'dev'
                    .calculate_user_check_in_stats.ui.icon.small.compact.button
                        i.refresh.icon
            .description
                .ui.list
                    .ui.item Total: #{stats.check_in.total}
                    .ui.item Public: #{stats.check_in.published}
                    .ui.item Private: #{stats.check_in.private}


