template(name='view_goal')
    .ui.stackable.padded.grid
        .centered.middle.aligned.row
            .three.wide.column
                if editing
                    #delete_doc.ui.fluid.basic.small.circular.button(data-position='bottom center' data-tooltip='Delete')
                        +icon48 name='delete' classes='ui mini inline image'
                else
                    a.ui.basic.circular.button(href='/goals')
                        +icon48 name='goal' classes='ui mini spaced image'
                        | Goals
            .eleven.wide.column
                if editing
                    +icon96 name=icon_class classes='ui spaced image'
                    +icon_class
                    +title
                else
                    h1.ui.center.aligned.header 
                        +icon96 name=icon_class classes='ui spaced image'
                        |View '#{title}' Goal
            .two.wide.column
                if editing
                    +save_button
                else
                    if can_edit
                        +toggle_editing_button
                        // +edit_link_button

                // a.ui.basic.circular.button(href='/shop')
                //     +icon48 name='shop' classes='ui mini spaced image'
                //     | Shop
        .row
            .ten.wide.column
                +tags
                .content
                    if editing
                        +content
                    else
                        .large130
                            |!{content}
            .five.wide.column
                .ui.header by 
                    img.ui.avatar.image(src="{{c.url author.profile.image_id width=100 height=100 gravity='face' crop='fill'}}")
                    |#{author.name}
                    with author
                        +staus_indicator
                    .sub.header #{when}
                +published
                +end_date