template(name='view_journal_section')
    .ui.stackable.padded.grid
        .centered.row
            .three.wide.column
            .ten.wide.column
                h1.ui.header 
                    +icon96 name='journal' classes='ui image'
                    |Journal
            .three.wide.column
                if currentUser
                    #add_entry.ui.circular.icon.basic.large.button(data-content="Add")
                        i.green.plus.icon
        .row
            .four.wide.column
                +tag_facet
                +location_facet
                +timestamp_facet
                +username_facet
                .ui.hidden.divider
            .twelve.wide.column
                .ui.cards
                    each children
                        +journal_card


template(name='journal_card')
    .ui.fluid.card
        .content
            .large130 !{content}
        +view_tags
        .content
            if can_edit
                +call_watson
            if watson.emotion
                +doc_emotion
            if watson.sentiment
                +doc_sentiment

        .content
            +author_info
            |#{when}
            a.ui.basic.right.floated.icon.button(href="/journal/#{_id}/view")
                i.right.arrow.icon
                
                
template(name='view_journal_entry')
    with journal_entry
        .ui.stackable.padded.centered.grid
            .row
                .three.wide.column
                    // +parent_link
                .twelve.wide.center.aligned.column
                    h1.ui.header View Entry
            .row
                .ten.wide.column
                    +view_intention_tags
                    +view_location_tags
                    +view_content
                    each tags
                        .ui.basic.label #{this}
                    if watson.keywords
                        +analyzed_watson_keywords
                .five.wide.column
                    +author_info    
                    |#{when}
                    +call_watson
                    if watson.emotion
                        +doc_emotion
                    if watson.sentiment
                        +doc_sentiment
                    if is_author
                        a.ui.basic.icon.button(href="/journal/#{_id}/edit")
                            i.pencil.icon
                        
template(name='edit_journal_entry')
    with journal_entry
        .ui.stackable.padded.grid
            .centered.row
                h1.ui.center.aligned.header Edit Entry
            .row
                .sixteen.wide.column
                    .ui.segment
                        .ui.form
                            +edit_intention_tags
                            +edit_location_tags
                            +edit_content
                            +edit_tags
                    +delete_popup route='/journal'
                    
                    
template(name='journal')
    .ui.stackable.padded.grid
        .row
            .eight.wide.centered.column
                h1.ui.center.aligned.header Journal
                #add_journal_entry.ui.large.basic.fluid.big.button 
                    .ui.image
                        +icon48 name='add-rule'
                    |New Entry
                .ui.hidden.divider    
                a.ui.large.basic.fluid.big.button(href="/journal/mine")
                    .ui.image
                        +icon48 name='journal'
                    |My Entries
                .ui.hidden.divider    
                a.ui.large.basic.fluid.big.button(href="/journal/prompts")
                    .ui.image
                        +icon48 name='ask-question'
                    | Prompts
                .ui.hidden.divider 
                a.ui.large.basic.fluid.big.button(href="/journal/templates")
                    .ui.image
                        +icon48 name='template'
                    |Templates
                .ui.hidden.divider    
                a.ui.large.basic.fluid.big.button(href="/journal/browse") 
                    .ui.image
                        +icon48 name='reading'
                    |Browse Public Entries




