template(name='comments')
    .ui.fluid.styled.accordion
        .title 
            i.comments.outline.icon
            |Comments (#{comments.count})
            i.dropdown.icon
        .content
            if adding_id
                .ui.form
                    .field
                        // label Body
                        input#body(type='text' value=body)
                #save_comment.ui.green.button Save Comment
            else if currentUser
                #add_comment.ui.smsall.compact.teal.button
                    i.plus.icon
                    |Comment
            .ui.threaded.comments
                each comments
                    +comment
        
template(name='comment')
    unless editing_comment
        .comment
            a.avatar
                img.ui.avatar.image(src="{{c.url author.profile.image_id width=50 height=50 gravity='face' crop='fill'}}")
            .content
                a.author #{author.username}
                .metadata
                    span.date #{from_now}
                .text
                    | #{body}
                .actions
                    // a.reply(href='#') Reply
                    // +favorite
                    // +voting
                    if is_author
                        +delete_link
                        a.edit_comment Edit
            // if children
            //     each children
            //         h2 #{this}
            //     each children_docs
            //         .h2 sub comments
            //         .ui.comments
            //             .comment
            //                 a.avatar
            //                     img.ui.avatar.image(src="{{c.url author.profile.image_id width=50 height=50 gravity='face' crop='fill'}}")
            //                 .content
            //                     a.author #{author.username}
            //                     .metadata
            //                         span.date #{from_now}
            //                     .text
            //                         | !{content}
            //                     .actions
            //                         a.reply(href='#') Reply
            //                         // +favorite
            //                         // +voting
            //                         if is_author
            //                             +delete_link
            //                             a.edit_comment(href='#') Edit
    else
        .ui.header Edit comment
        .ui.form
            .field
                // label Body
                input#body(type='text' value=body)
        #save_comment.ui.green.button Save Comment
        
    