template(name='edit_button')
    if currentUser
        unless editing
            .edit_this.ui.basic.button(data-tooltip=tags)
                i.icon
                    +icon24 name='edit' classes='ui mini inline image'
                |Edit
        else
            .save_doc.ui.green.button
                i.icon
                    +icon24 name='checkmark' classes='ui mini inline image'
                |Save
                
template(name='edit_icon')
    if currentUser
        unless editing
            i.edit_this.large.pencil.link.icon(data-tooltip=tags)
        else
            .save_doc.ui.icon.green.button
                i.check.icon

template(name='edit_link')
    if currentUser
        unless editing
            a.edit_this Edit
        else
            .save_doc.ui.basic.large.button
                +icon24 name='checked' classes='ui mini inline image'
                |Save

template(name='delete_button')
    unless confirming
        .delete.ui.basic.icon.circular.large.button
            i.red.remove.icon
    else
        .ui.basic.button.cancel Cancel
        .ui.red.button.confirm Confirm Delete
        
template(name='delete_link')
    unless confirming
        a.delete Delete
    else
        a.cancel 
            i.ban.icon
            |Cancel
        a.confirm 
            i.red.trash.icon
            |Confirm Delete
        

template(name='published')
    // .ui.dividing.header Visibility
        .ui.large.blue.label
            +icon48 name='eye' classes='ui mini inline image'
        if can_edit
        .ui.large.blue.label(data-tooltip="Viewable but not attributed")
            +icon48 name='ignore' classes='ui mini inline image'
    div
        if can_edit
            #publish.ui.icon.compact.button(data-tooltip='Publish' class=published_class)
                +icon48 name='eye' classes='ui mini inline image'
                if is_published
                    | Published
            #publish_anonymously.ui.icon.compact.button(data-tooltip='Publish Anonymously' class=published_anonymously_class)
                +icon48 name='ignore' classes='ui mini inline image'
                if published_anonymously
                    |Anonymous
            #unpublish.ui.icon.compact.button(data-tooltip='Unpublish' class=private_class)
                +icon48 name='invisible' classes='ui mini inline image'
                if is_private
                    | Private
        // .ui.large.basic.label
        //     +icon48 name='invisible' classes='ui mini inline image'
        // if can_edit





template(name='voting')
    .ui.basic.circular.icon.button.vote_up
        i.thumbs.up.big.icon(class=vote_up_button_class)
    .ui.basic.circular.icon.button.vote_down
        i.thumbs.down.big.icon(class=vote_down_button_class)
    if is_admin
        |#{points}

template(name='favorite_button')
    .ui.basic.icon.button.favorite_item(class=favorite_item_class)
        +icon24 name='heart' classes=''
        if favorite_count
            | #{favorite_count}


template(name='reply_button')
    .ui.basic.icon.circular.button.reply
        +icon48 name='response' classes='ui inline image'

template(name='mark_complete_button')
    .mark_complete.ui.circular.icon.button(class=complete_button_class) 
        if completed
            +icon96 name='checked-checkbox' classes='ui mini inline image'
        else
            +icon96 name='unchecked-checkbox' classes='ui mini inline image'
        
template(name='mark_doc_complete_button')
    .mark_complete.ui.circular.icon.basic.button(class=complete_button_class) 
        if complete
            +icon96 name='checked-checkbox' classes='ui mini inline image'
        else
            +icon96 name='unchecked-checkbox' classes='ui mini inline image'
        
         
template(name='bookmark_button')
    .bookmark_button.ui.circular.icon.button(class=bookmark_button_class data-tooltip='Bookmark') 
        +icon48 name='bookmark' classes='ui mini inline image'
        
        
template(name='view_full_button')
    a.ui.basic.circular.icon.button(href="/view/#{_id}" class=classes data-tooltip='View Full')
        +icon48 name="double-right" classes='ui mini inline image'


template(name='toggle_editing_button')
    if can_edit
        if editing
            #toggle_off_editing.ui.basic.circular.button(data-position='bottom center' data-tooltip='Save')
                +icon48 name='checkmark' classes='ui mini inline image'
        else
            #toggle_editing.ui.basic.circular.button(data-position="bottom center" data-tooltip='Edit')
                +icon48 name='edit' classes='ui mini inline image'
            // if tags
            // else
                // .ui.fluid.basic.disabled.circular.button Add Tags to Save



template(name='add_doc_button')
    #add_doc.ui.basic.circular.fluid.button
        +icon48 name='plus' classes='ui mini inline image'
        | #{add_button_text}

