template(name='complete_filter')
    .ui.buttons
        #view_complete.ui.button(class=view_complete_class data-tooltip='View Complete') 
            +icon48 name='checked' classes='ui mini image'
        #view_incomplete.ui.button(class=view_incomplete_class data-tooltip='View Incomplete')
            +icon48 name='unchecked_checkmark' classes='ui mini image'
            
template(name='published_filter')
    .ui.buttons
        #view_published.ui.button(class=view_published_class data-tooltip='View Published') 
            +icon48 name='eye' classes='ui mini image'
        #view_private.ui.button(class=view_private_class data-tooltip='View Private')
            +icon48 name='invisible' classes='ui mini image'
            
            
template(name='read_filter')
    .ui.buttons
        #view_read.ui.button(class=view_read_class data-tooltip='View Read') 
            +icon48 name='read_message' classes='ui mini image'
        #view_unread.ui.button(class=view_unread_class data-tooltip='View Unread')
            +icon48 name='message' classes='ui mini image'
            
template(name='bookmark_filter')
    .ui.buttons
        #view_bookmarked.ui.button(class=view_bookmarked_class data-tooltip='View Bookmarked') 
            +icon48 name='bookmark-ribbon' classes='ui mini image'
        #view_unbookmarked.ui.button(class=view_unbookmarked_class data-tooltip='View Unbookmarked')
            +ultraviolet_icon40 name='bookmark_ribbon' classes='ui mini image'
            
template(name='resonate_filter')
    .ui.buttons
        #view_bookmarked.ui.button(class=view_bookmarked_class data-tooltip='View Resonates') 
            +dusk_icon64 name='heart-with-pulse' classes='ui mini image'
        #view_unbookmarked.ui.button(class=view_unbookmarked_class data-tooltip='View Non-Resonates')
            +icon48 name='unavailable' classes='ui mini image'



// lightbank components

template(name='image_filter')
    .ui.buttons
        #view_images.ui.button(class=view_images_class data-tooltip='View Images') 
            +icon48 name='picture' classes='ui mini image'
        #view_nonimages.ui.button(class=view_nonimages_class data-tooltip='View Non-Images')
            +dusk_icon64 name='picture' classes='ui mini image'



// lightbank types
            
template(name='passage_filter')
    .ui.buttons
        #view_passages.ui.button(class=view_images_class data-tooltip='View Passages') 
            +icon48 name='align-left' classes='ui mini image'
        #view_non_passages.ui.button(class=view_non_passages_class data-tooltip='View Non-Passages')
            +dusk_icon64 name='align-left' classes='ui mini image'
            
template(name='quote_filter')
    .ui.buttons
        #view_quotes.ui.button(class=view_quotes_class data-tooltip='View Quotes') 
            +icon48 name='get-quote' classes='ui mini image'
        #view_non_quotes.ui.button(class=view_non_quotes_class data-tooltip='View Non-Quotes')
            +dusk_icon64 name='get-quote' classes='ui mini image'
            
template(name='journal_prompt_filter')
    .ui.buttons
        #view_journal_prompts.ui.button(class=view_journal_prompts_class data-tooltip='View Journal Prompts') 
            +icon48 name='ask-question' classes='ui mini image'
        #view_non_journal_prompts.ui.button(class=view_non_journal_prompts_class data-tooltip='View Non-Journal Prompts')
            +dusk_icon64 name='ask-question' classes='ui mini image'
            
template(name='poem_filter')
    .ui.buttons
        #view_poem.ui.button(class=view_poems_class data-tooltip='View Poems') 
            +icon48 name='rose' classes='ui mini image'
        #view_non_quotes.ui.button(class=view_non_poems_class data-tooltip='View Non-Poems')
            +dusk_icon64 name='rose' classes='ui mini image'
            
template(name='doc_limit')
    .ui.buttons
        #make_1.ui.large.button(class=limit_1_class data-tooltip='View 1 Result') 
            strong 1
        #make_5.ui.large.button(class=limit_5_class data-tooltip='View 5 Results') 
            strong 5
        #make_10.ui.large.button(class=limit_10_class data-tooltip='View 10 Results') 
            strong 10
        // #make_20.ui.large.button(class=limit_20_class data-tooltip='View 20 Results')
        //     strong  20