template(name='tag_ratings')
    .ui.dividing.header Tag Ratings
    each document_tags
        .ui.basic.label #{this}
    .ui.list
        each ratings
            .item
                img.ui.avatar.image(src="{{c.url author.profile.image_id width=50 height=50 gravity='face' crop='fill'}}")
                .content
                    a.header(href="/account/profile/#{author._id}")
                        if profile.name 
                            |#{author.profile.name}
                        else
                            |#{author.username}
                    .description
                        each tags
                            .ui.small.basic.label #{this}




template(name='tag_rate')
    if currentUser
        if my_rating
            .ui.dividing.header My Rating
            with my_rating
                unless is_editing
                    each tags
                        .ui.small.basic.label #{this}
                    .ui.hidden.divider
                    +session_edit_button
                    +delete_link
                else
                    .ui.form
                        +tags
                    +session_edit_button
        else
            #add_rating.ui.basic.button
                i.plus.icon
                |Tag Rating