template(name='checkin')
    // .ui.divider
    .ui.stackable.grid
        .five.wide.column
            h1.ui.center.aligned.header Check In
            #check_in.ui.green.fluid.button
                i.large.icons
                    i.check.icon
                    i.plus.corner.icon
                | Check In
            // +doc_content tags='checkin,blurb'
            // a.ui.basic.button(href='/checkin/calendar') 
            //     i.calendar.icon
            //     |Calendar View
            .ui.icon.fluid.input
                input#quick_add(type='text' placeholder='Quick Add with Tags (separated by spaces)')
                i.green.plus.icon
            .ui.divider
            +view_mode_button
            +tag_filter type='checkin'
            +username_filter type='checkin'
        .eleven.wide.column
            .ui.centered.stackable.cards
                each docs
                    +checkin_doc_view


template(name='checkin_doc_view')
    .ui.card(class=checkin_card_class)
        .content
            | by 
            if is_author
                |you
            else        
                a(href="/profile/#{author.username}")
                    i.user.icon
                    |#{author.name}
            |#{when}
            span.right.floated
                if published
                    i.unlock.icon
                    // |Published
                else
                    i.lock.icon
                    // |Private
        .content
            .meta
                i.tags.icon
                each tags
                    .ui.tiny.circular.button.tag(class=tag_class) #{this}
            .ui.hidden.divider
            |!{content}
        .content
            +bookmark_button
            unless is_author
                +thanks_button
        .content
            a.ui.basic.right.floated.button(href="/checkin/#{_id}/view") 
                | Full 
                i.right.arrow.icon
            if can_edit
                a.ui.basic.compact.button(href="/checkin/#{_id}/edit")
                    i.edit.icon
                    |Edit
                    
                    
template(name='checkin_calendar_view')
    #checkin-calendar