template(name='people')
    .ui.container
        +doc_content tags='people cloud,blurb'
        +people_cloud
        .ui.four.centered.stackable.cards
            each people
                +person


template(name='person')
    .ui.card
        .image
            a(href="/profile/#{username}")
                img.ui.fluid.image(src="{{c.url profile.image_id width=400 height=400 gravity='face' crop='fill'}}")
        .content
            .header
                a(href="/profile/#{username}")
                    if profile.first_name
                        | #{profile.first_name}
                    if profile.last_name
                        | #{profile.last_name}
                    else    
                        | #{username}
            if profile.location
                .meta
                    | #{profile.location}
        .extra.content
            +color_dots
        .extra.content
            each ten_tags
                .ui.compact.tiny.circular.button.user_tag(class=person_tag_class) #{this}

