.ui.container
    .ui.segment
        .ui.header 
            i.thumbs.up.outline.icon
            |Your Upvoted Tag Cloud
        // #generatePersonalCloud.ui.icon.button
            // i.refresh.icon
        // if authoredCloud
        //     .ui.segment
        //         .ui.header Authored Cloud
        //         each authoredCloud
        //             .ui.button
        //                 |#{this.name}
        //                 small #{this.count}
        each currentUser.upvoted_cloud
            .ui.large.basic.label(class=upvotedCloudTagClass)
                |#{this.name}
                small #{this.count}
        // if downvotedCloud
        //     .ui.header Downvoted Cloud
        //     each downvotedCloud
        //         .ui.label
        //             |#{this.name}
        //             small #{this.count}
    // .ui.segment
    //     .ui.header 
    //         i.thumbs.up.outline.icon
    //         |Top Matched User Cloud
    //         each upVotedMatchCloud
    //             .ui.divided.list
    //                 .item
    //                     strong #{this.matchedUser} (Total Count: #{this.totalCount})
    //                     each this.cloudIntersection
    //                         .ui.basic.label #{this.tag} #{this.min}
        // .ui.header Top Matched User List
        // each matchedUsersList
        //     .ui.divided.list
        //         .item
        //             strong #{this.matchedUser} (#{this.length}):
        //             each this.cloudIntersection
        //                 .ui.basic.label #{this}
            // each people
            //     .item
            //         |#{this.username}
            //         .ui.button.matchTwoUsersAuthoredCloud Calculate Authored Match
            //         .ui.button.matchTwoUsersUpvotedCloud Calculate Upvoted Match
            // .ui.header Authored Docs Tag Cloud Matches
            // each authoredCloudMatches
            //     .ui.divided.list
            //         .item
            //             | #{this.username}
            //             each userMatchAuthoredCloud
            //                 .ui.button
            //                     |#{this.name}
            //                     small #{this.count}
            // .ui.header Upvoted Docs Tag Cloud Matches
            // each upVotedCloudMatches
            //     .ui.divided.list
            //         .item
            //             | #{this.username}
            //             each userMatchUpvotedCloud
            //                 .ui.button
            //                     |#{this.name}
            //                     small #{this.count}
