template(name='course_stats')
    .ui.container
        h1.ui.center.aligned.header 
            i.line.chart.icon
            | My SOL Stats
        .ui.items
            each modules
                +module_stats
            
template(name='module_stats')
    .item
        .content
            .header
                |#{body}
                // |hi
            .meta
                each tags
                    .ui.label(class=tag_class) #{this}
            // .avatar
                // a
                //     | by
                //     img.ui.avatar.image(src="{{c.url author.profile.image_id width=50 height=50 gravity='face' crop='fill'}}")
                //     |#{author.name}
                // span.date #{from_now}
            .description
                .ui.basic.segment
                    if content
                        |!{content}
                    if body
                        |#{body}
                    if image_url
                        img.ui.small.image(src=image_url)
            .extra
                .ui.divided.list
                    .item
                        each section_docs
                            |#{body}
                            each tags
                                .ui.label #{this}