with doc
    .ui.container
        .ui.center.aligned.header 
            if title
                |Edit '#{title}' #{type}
            else 
                |Edit #{type}
        .ui.divided.grid
            .eleven.wide.column
                .ui.form
                    .ui.basic.segment
                        +tags
                    if has_title
                        +title
                    if has_subtitle
                        +subtitle
                    if has_slug
                        +slug
                    if has_number
                        +number
                    if has_image
                        +image
                    if has_youtube
                        .ui.segment
                            +youtube
                            if youtube
                                +view_youtube
                    if has_price
                        +price
                    // .ui.header edit_body_field
                    // +edit_body_field
                    if has_content
                        +content      
            .five.wide.column
                .ui.segment
                    .ui.form
                        .grouped.fields
                            .label Components
                            .field
                                a.ui.toggle.checkbox
                                    input#toggle_title(type='checkbox' checked=has_title)
                                    label(for='toggle_title') Title
                            .field
                                a.ui.toggle.checkbox
                                    input#toggle_youtube(type='checkbox' checked=has_youtube)
                                    label(for='toggle_youtube') Video
                            .field
                                a.ui.toggle.checkbox
                                    input#toggle_image(type='checkbox' checked=has_image)
                                    label(for='toggle_image') Image
                            .field
                                a.ui.toggle.checkbox
                                    input#toggle_content(type='checkbox' checked=has_content)
                                    label(for='toggle_content') Text
                            .field
                                a.ui.toggle.checkbox
                                    input#toggle_price(type='checkbox' checked=has_price)
                                    label(for='toggle_price') Price
                            .field
                                a.ui.toggle.checkbox
                                    input#toggle_number(type='checkbox' checked=has_number)
                                    label(for='toggle_number') Number
                            .field
                                a.ui.toggle.checkbox
                                    input#toggle_subtitle(type='checkbox' checked=has_subtitle)
                                    label(for='toggle_subtitle') Subtitle
                            .ui.hidden.divider
                            +published
                            .ui.hidden.divider
                            if isInRole 'admin'
                                .ui.form
                                    +type
                                .ui.hidden.divider
            
                .ui.center.aligned.basic.segment
                    a.ui.huge.teal.button(href="/view/#{_id}") Save #{title} #{type}
                    +delete_button