template(name='cart')
    .ui.container
        |{{> ensureSignedIn template="cart_checkout"}}


template(name='cart_checkout')
    // .ui.ordered.steps
    //     .active.step
    //         .content
    //             .title Checkout
    //     .step
    //         .content
    //             .title Profile Information
    h2.ui.header Confirm Order
    // with cart_item
    //     .ui.segment
    //         .ui.centered.grid
    //             .three.wide.column
    //                 img.ui.fluid.image(src="{{c.url image_id }}")
    //             .six.wide.column
    //                 h2.ui.header #{title}
    //                 // .meta
    //                 //     if price
    //                 //         span $#{price}
    //                 //     else
    //                 //         .ui.basic.green.label Free
    //                 .description #{subtitle}
    //             .seven.wide.column
    //                 a.buy_course.ui.teal.big.button
    //                     |Buy #{title} for $#{price}
    // .ui.hidden.divider
    if total_items
        table.ui.table
            thead
                tr
                    th Title
                    th Type
                    th Price ($)
                    th Price (points)
                    // th Amount
                    th Actions
            tbody
                each cart_items
                    tr
                        td 
                            if parent.image_id
                                img.ui.avatar.image(src="{{c.url parent.image_id}}")
                            if parent.image_url
                                img.ui.avatar.image(src=parent.image_url)
                            a.ui.header(href="/#{parent.type}/#{parent._id}/view") 
                                |#{parent.title}
                            div
                                each parent.tags
                                    .ui.small.basic.label #{this}
                        td
                            .ui.basic.label #{parent.type}
                        td 
                            if parent.dollar_price
                                |$#{parent.dollar_price}
                            else
                                |$0
                        td 
                            if parent.point_price
                                |#{parent.point_price} points
                            else
                                |0 points
                        // td
                        //     +number
                        //     #increase_amount.ui.basic.icon.button
                        //         i.plus.icon
                        //     |#{number}
                        //     #decrease_amount.ui.basic.icon.button
                        //         i.minus.icon
                        td 
                            if can_purchase
                                .purchase_item.ui.teal.button 
                                    i.check.icon
                                    | Purchase
                            else
                                .ui.teal.disabled.button 
                                    | Not Enough Points
                            +delete_button
            // tfoot
            //     tr
            //         th 
            //         th 
            //         th
            //         th Subtotal (#{total_items} items): $#{subtotal}
        .ui.message
            .header My Points
            p #{currentUser.points}
    else
        .ui.message
            .header 
                |No shopping cart items
            p 
                |Checkout our 
                a(href='/services') Services
                |section to add some.


template(name='cart_profile')
    .ui.text.container
        .ui.ordered.steps
            .completed.step
                .content
                    .title Checkout
            .active.step
                .content
                    .title Profile Information
    +edit_profile
