template(name='shop')
    .ui.stackable.padded.grid
        .centered.middle.aligned.row
            .four.wide.center.aligned.column
                +button_link label='Transactions' url="/transactions" icon='handshake'
            .eight.wide.center.aligned.column
                h1.ui.center.aligned.header
                    +icon96 name='shop'
                    | Shop
            .four.wide.center.aligned.column
                +button_link label='Karma' url="/karma" icon='diamond'
        .centered.row
            .four.wide.column
                if isInRole 'admin'
                    #add_product.ui.basic.fluid.circular.button
                        +icon48 name='plus' classes='ui mini spaced image'
                        |Add Product
                +theme_facet type='product'
            .eight.wide.column
                .ui.relaxed.divided.items
                    each products
                        +product
            .three.wide.column
                .ui.dividing.header
                    +icon48 name='filter' classes='ui mini inline image'
                    |Filters
                div
                    +bookmark_filter
                // div
                //     +read_filter
                // div
                //     +resonates_filter
                div
                    +doc_limit
                if isInRole 'admin'
                    .ui.dividing.header Admin
                    +published_filter


template(name='product')
    .item
        a.image(href="/view/#{_id}")
            if image_id
                img.ui.rounded.image(src="{{c.url image_id  width=175 height=175 crop='fill' gravity='face' }}")
            if image_url
                img(src=image_url)
            .ui.center.aligned.header
                // if dollar_price
                //     | $#{dollar_price}
                | #{point_price} 
                if one_point
                    |pt
                else
                    |pts

        .content
            a.header(href="/view/#{_id}") #{title}
            .meta
                +author_info
            .meta
                each tags
                    .ui.small.label(class=tag_class) #{this}
            .description
                | !{content}
                span.right.floated
                    +view_full_button
