template(name='view_product')
    .ui.stackable.padded.grid
        .centered.row
            .three.wide.column
                if editing
                    +save_button
                else
                    a.ui.basic.circular.button(href='/shop')
                        +icon48 name='shop' classes='ui mini spaced image'
                        | Shop
            .ten.wide.column
                if editing
                    h1.ui.center.aligned.header Edit #{title} Product
                else
                    h1.ui.center.aligned.header Viewing '#{title}' Product
            .three.wide.column
                if editing
                    #delete_doc.ui.small.circular.basic.button
                        +icon48 name='delete' classes='ui mini spaced image'
                        
                else
                    if can_edit
                        +toggle_editing_button
            //     a.ui.basic.circular.button(href='/shop')
            //         +icon48 name='shop' classes='ui mini spaced image'
            //         | Shop
        .row
            .ten.wide.column
                if editing
                    .ui.form
                        +title
                        +tags
                        +content
                        +edit_image
                else
                    .ui.items
                        .ui.item
                            .ui.small.image
                                if image_id
                                    img(src="{{c.url image_id}}")
                                if image_url
                                    img(src=image_url)
                            .content
                                .description
                                    |!{content}
                    +product_transactions
            .five.wide.column
                if editing
                    +point_price
                    +edit_quantity
                    +published
                    if isInRole 'admin'
                        +edit_author
                else
                    .ui.header by 
                        img.ui.avatar.image(src="{{c.url author.profile.image_id width=100 height=100 gravity='face' crop='fill'}}")
                        |#{author.name}
                        with author
                            +staus_indicator
                        .sub.header #{when}
                    .ui.header Quantity: #{quantity}
                    .ui.basic.definition.table
                        // thead
                        //     tr
                        //         th
                        //         th 
                        //             +icon48 name='diamond' classes='ui inline image'
                        tbody
                            tr
                                td Your Balance
                                td 
                                    .ui.header 
                                        |#{currentUser.points}
                                        +icon48 name='diamond' classes='ui inline mini image'
                                        // .label points
                            tr
                                td Price
                                td 
                                    .ui.header 
                                        | #{point_price} 
                                        +icon48 name='diamond' classes='ui inline mini image'
                            tr
                                td Balance After Purchase
                                td
                                    .ui.header 
                                        | #{balance_after_transaction}
                                        +icon48 name='diamond' classes='ui inline mini image'
                    .ui.dividing.header 
                        +icon48 name='sports-mode' classes='ui inline mini image'
                        |Actions
                    +add_to_cart
                    +bookmark_button
            
                    .ui.dividing.header
                        +icon48 name='true-false' classes='ui inline mini image'
                        |Reviews
                    h4 Review Points: #{points}
        
                    .ui.dividing.header
                        +icon48 name='hashtag' classes='ui inline mini image'
                        |Tags
                    each tags
                        .ui.basic.large.label.doc_tag #{this}
                    // +published
                    // +tag_rating