template(name='view_courses')
    // +parent_link
    .ui.text.container
        h1.ui.center.aligned.header 
            +icon96 name=icon_class classes='ui image'
            |#{title}
        +sol_grid
        // .ui.centered.cards
        //     each children
        //         +course_item


// template(name='course_item')
//     a.ui.link.card(href="/view/#{_id}")
//         .image
//             img(src="{{c.url image_id  height=500 crop='fill' }}")
//             if image_url
//                 img(src=image_url)
//         .center.aligned.content
//             .ui.header #{title}

template(name='view_course')
    .ui.stackable.padded.centered.grid
        // .centered.row.header-background(style=background_style)
        .centered.row
            .three.wide.center.aligned.column
                +parent_link
            .ten.wide.center.aligned.column
                +view_image_field key='image_id'
                // h1.ui.header #{title}
                h2.ui.header.shadowed-text #{subtitle}
            .three.wide.center.aligned.column
                if can_edit
                    +edit_button
    +sol_grid

template(name='view_course_sales')
    .ui.stackable.padded.grid
        // .row.header-background(style=background_style)
        .row
            with parent
                .three.wide.center.aligned.column
                    +parent_link
                .twelve.wide.center.aligned.column
                    +view_image_field key='image_id'
                    h1.ui.header #{title}
                    h3.ui.header #{subtitle}
        .centered.row
            .twelve.wide.column.shadowed-box
                +view_html_field key='content'

// template(name='course_module_overview')
//     .ui.center.aligned.header #{title} Course Modules
//     .ui.segments
//         each modules
//             .ui.segment
//                 a.ui.header(href="/view/#{_id}") 
//                     +icon48 name=icon_class
//                     |#{number}: #{title}
//                     small (#{child_count} Sections)








template(name='edit_course')
    // .ui.top.attached.tabular.four.item.menu
    //     a.active.item(data-tab="details") Details
    //     a.item(data-tab="pricing") Pricing
    // .ui.bottom.attached.active.tab.segment(data-tab="details")
    .ui.form.segment
        +edit_text_field key='title'
        +edit_text_field key='subtitle'
        +edit_array_field key='tags' icon='hashtag'
        // +edit_text_field key='title'
        // +edit_image_id
        // +edit_banner_image_id
        +edit_html_field key='content'
    // .ui.bottom.attached.tab.segment(data-tab="pricing")
    //     +course_pricing


