
template(name='view_debrief')
    .ui.stackable.padded.grid
        .row
            .three.wide.center.aligned.column
                // +parent_link
            .ten.wide.column
                h1.ui.inverted.center.aligned.header 
                    +icon96 name='plant-under-sun' classes='ui inline image'
                    |#{title}
            .three.wide.center.aligned.column
                if can_edit
                    +edit_button
        .centered.row
            .centered.ten.wide.column
                +section_questions
            .centered.three.wide.column
                unless is_admin
                    if older_sibling
                        // if completed
                        a.ui.white.inverted.basic.circular.button(href="/view/#{older_sibling._id}")
                            | #{older_sibling.title}
                            if older_sibling.icon_class
                                +icon48 name=older_sibling.icon_class classes='ui mini spaced image'
                                // if older_sibling.completed
                                // else
                                //     +dots100 name=older_sibling.icon_class classes='ui mini spaced image'
                        // else
                        //     .ui.basic.disabled.circular.button
                        //         | #{older_sibling.title} &nbsp;
                        //         if older_sibling.icon_class
                        //             if older_sibling.completed
                        //                 +icon48 name=older_sibling.icon_class classes='ui mini spaced image'
                        //             else
                        //                 +dots100 name=older_sibling.icon_class classes='ui mini spaced image'
                else
                    .shadowed.padded10
                        .ui.dividing.header Completors
                        #check_section_completion.ui.button Check Completion
                        .ui.dividing.header Readers
                        .ui.list
                            each readers
                                .item
                                    +user_image_name user_id=this._id
                        .ui.dividing.header Questions
                        .ui.list
                            each children
                                .item 
                                    .ui.header #{title}
                                    |#{children_count} Answers
                                    each child_authors
                                        .item
                                            +user_image_name user_id=this._id
                


// template(name='answer')            
//     .ui.segment
//         |#{text}
//         |#{body}
//         div
//             +author_info
//         // +edit_type




template(name='edit_debrief')
    with section
        .ui.stackable.padded.grid
            .centered.row
                h1.ui.center.aligned.header Edit '#{title}' Section
            .row
                .twelve.wide.column
                    // .ui.top.attached.tabular.four.item.menu
                    //     a.active.item(data-tab="details") Details
                        // a.item(data-tab="stats") Stats
                    // .ui.bottom.attached.active.tab.segment(data-tab="details")
                    .ui.form
                        .field
                            +edit_number
                        .field
                            +edit_title
                        .field
                            +edit_icon
                        .field
                            +edit_content
                        .field
                            +edit_transcript
                    // .ui.bottom.attached.tab.segment(data-tab="stats")
                .four.wide.column
                    +save_link
                    // +published
                    #delete_section.ui.red.basic.icon.button
                        i.trash.icon


