template(name='view_modules')
    .ui.stackable.padded.grid
        .row.header-background(style=background_style)
            .three.wide.center.aligned.column
                +parent_link
            .ten.wide.column
                h1.ui.inverted.center.aligned.header 
                    +icon96 name=icon_class classes='ui inline image'
                    |#{parent.title} Modules
            .three.wide.center.aligned.column
                // if can_edit
                //     +edit_button
        .row
            .ten.wide.centered.column
                .ui.segments
                    each modules
                        .ui.segment
                            a.ui.header(href="/view/#{_id}") 
                                +icon48 name=icon_class
                                |#{number}:
                                |#{title}

template(name='module_item')
    .item
        a.ui.small.image(href="/view/#{_id}")
            img(src="{{c.url image_id  height=500 crop='fill' }}")
            if image_url
                img(src=image_url)
        .middle.aligned.content
            a.header(href="/view/#{_id}") #{title}

template(name='view_module')
    with module
        .ui.stackable.padded.grid
            .row.header-background(style=background_style)
                .three.wide.center.aligned.column
                    +parent_link
                .ten.wide.column
                    h1.ui.inverted.center.aligned.header 
                        +icon96 name=icon_class classes='ui inline image'
                        |#{title}
                .three.wide.center.aligned.column
                    if can_edit
                        +edit_button
            .row
                .centered.twelve.wide.column
                    // .ui.top.attached.tabular.two.item.menu
                    //     a.active.item(data-tab="sales") Sales
                    //     a.item(data-tab="enrolled") Enrolled
                    // .ui.bottom.attached.active.tab.segment(data-tab="sales")
                    //     |!{sales.content}
                    // .ui.bottom.attached.tab.segment(data-tab="enrolled")
                    //     .ui.header welcome stuff
                    //     .ui.header modules
                    +section_list
                    // +child_docs



template(name='section_list')
    h2.ui.header Sections
    .ui.segments
        each sections
            .ui.segment
                a.ui.header(href="/view/#{_id}") 
                    +icon48 name=icon_class
                    |#{number}: #{title}
                if isInRole 'dev'
                    +edit_type








template(name='edit_module')
    with module
        .ui.stackable.padded.grid
            .centered.row
                h1.ui.center.aligned.header Edit '#{title}' module
            .row
                .twelve.wide.column
                    .ui.top.attached.tabular.four.item.menu
                        a.active.item(data-tab="details") Details
                        a.item(data-tab="stats") Stats
                    .ui.bottom.attached.active.tab.segment(data-tab="details")
                        .ui.form
                            .field
                                +edit_number
                            .field
                                +edit_title
                            .field
                                +edit_icon
                            // +edit_content
                    .ui.bottom.attached.tab.segment(data-tab="stats")
                .four.wide.column
                    +save_link
                    +published
                    #delete_module.ui.red.basic.icon.button
                        i.trash.icon


