template(name='view_modules')
    .ui.stackable.padded.grid
        .row
            .three.wide.center.aligned.column
            .ten.wide.column
                h1.ui.inverted.center.aligned.header 
                    +icon96 name=icon_class classes='ui inline image'
                    |#{parent.title} Modules
            .three.wide.center.aligned.column
                // if can_edit
                //     +edit_button
        .row
            +sol_grid




            // .sixteen.wide.centered.column
            //     .ui.centered.cards
            //         each children
            //             +grid_item
                        // .ui.segment
                        //     a.ui.header(href="/view/#{_id}") 
                        //         +icon48 name=icon_class
                        //         |#{number}:
                        //         |#{title}

template(name='module_item')
    .item
        a.ui.small.image(href="/view/#{_id}")
            img(src="{{c.url image_id  height=500 crop='fill' }}")
            if image_url
                img(src=image_url)
        .middle.aligned.content
            a.header(href="/view/#{_id}") #{title}

template(name='view_module')
    with module
        .ui.stackable.padded.grid
            .row
                .three.wide.center.aligned.column
                .ten.wide.column
                    h1.ui.inverted.center.aligned.header 
                        +icon96 name=icon_class classes='ui inline image'
                        |#{title}
                .three.wide.center.aligned.column
                    if can_edit
                        +edit_button
            .row
                +sol_grid

template(name='edit_module')
    with module
        .ui.stackable.padded.grid
            .centered.row
                h1.ui.center.aligned.header Edit '#{title}' module
            .row
                .twelve.wide.column
                    .ui.top.attached.tabular.four.item.menu
                        a.active.item(data-tab="details") Details
                        a.item(data-tab="stats") Stats
                    .ui.bottom.attached.active.tab.segment(data-tab="details")
                        .ui.form
                            .field
                                +edit_number
                            .field
                                +edit_title
                            .field
                                +edit_icon
                            // +edit_content
                    .ui.bottom.attached.tab.segment(data-tab="stats")
                .four.wide.column
                    +save_link
                    +published
                    #delete_module.ui.red.basic.icon.button
                        i.trash.icon


