template(name='course_pricing')
    .ui.header Course Pricing
        +view_plans
        
        
template(name='view_plans')
    .ui.header Plans
    #add_plan.ui.basic.fluid.button Add Plan
    .ui.cards
        each plans
            +plan_card
                
template(name='plan_card')
    .ui.card
        .content
            .ui.header 
                +icon48 name=icon_class
                |#{title}
            |!{content}
            .meta
                | Price: #{dollar_price}
                | Point Price: #{point_price}
            +edit_button
    
template(name='edit_plan')
    .ui.header Edit Plan
    +edit_title
    +edit_dollar_price
    +edit_icon
    
    +save_button
