template(name='edit_question')
    +edit_number
    +edit_html_field key='content' type='direct'

template(name='view_question')
    +parent_link
    .ui.header number #{number}
    .ui.segment
        |!{content}





template(name='questions')
    h2.ui.center.aligned.header #{children_count} Questions
    .ui.styled.fluid.question_accordion.accordion
        each questions
            +question

template(name='question')
    .title
        .ui.header
            // +icon48 name=icon_class
            | Question #{number}
            if is_admin
                small #{child_count} answers
                +child_authors
            i.dropdown.icon
    .content
        +view_html_field key='content'
        unless is_admin
            +my_answer
            .published_answers.styled.accordion
                .title
                    i.unlock.fitted.icon
                    |#{published_children_count} Published Answers
                    i.dropdown.icon
                .content
                    .ui.threaded.comments
                        each published_answers
                            +answer
                            if has_children
                                .ui.grid
                                    .two.wide.column
                                        .ui.vertical.divider
                                    .fourteen.wide.column
                                        .comments
                                            each children
                                                +answer
                                
        if is_admin
            .private_answers.styled.accordion
                .title
                    i.lock.fitted.icon
                    |Private Answers
                    i.dropdown.icon
                .content
                    .ui.threaded.comments
                        each private_answers
                            +answer
                            if has_children
                                .ui.grid
                                    .two.wide.column
                                        .ui.vertical.divider
                                    .fourteen.wide.column
                                        .comments
                                            each children
                                                +answer
            +edit_button
            +view_full_button




template(name='my_answer')
    with answer
        .ui.segment(class=published_class)
            .ui.top.left.attached.basic.label 
                |Your Answer
            if is_editing
                +edit_html_field key='content'
                +published
            else
                +view_html_field key='content'
            |#{when}
            +session_edit_button
            // .center.aligned
            
            
template(name='answer')            
    .comment(class=published_class)
        a.avatar
            img(src="{{c.url author.profile.image_id width=100 height=100 gravity='face' crop='fill'}}")
        .content
            a.author 
                |&nbsp;
                |#{author.name}
            .metadata
                .date #{when}
                if child_count
                    .rating #{child_count} Responses
                if upvoters
                    // .test #{upvoters.length} Thanked by
                    .test Thanked by
                        each upvoted_users
                            |#{name}
                            // img.ui.avatar.image(src="{{c.url profile.image_id width=50 height=50 gravity='face' crop='fill'}}")
                    
            .text
                +view_html_field key='content'
            .actions
                if is_author
                    a.edit(href="/edit/#{_id}") Edit
                else
                    a.reply Reply
                    a.thank 
                        if up_voted
                            strong Thanks!
                        else 
                            |Thank
                    // a.give Give Karma
                // +thanks_button
                // +respond_button
                
        // |#{body}
        // div
        //     +author_info
        //     |#{when}
        //     +view_full_button
            