template(name='view_sections')
    .ui.stackable.padded.grid
        .row.header-background(style=background_style)
            .three.wide.center.aligned.column
            .ten.wide.column
                h1.ui.inverted.center.aligned.header 
                    +icon96 name=icon_class classes='ui inline image'
                    |#{parent.title} sections
            .three.wide.center.aligned.column
                // if can_edit
                //     +edit_button
        .row
            .ten.wide.centered.column
                .ui.segments
                    each sections
                        .ui.segment
                            a.ui.header(href="/view/#{_id}") 
                                +icon48 name=icon_class
                                |#{number}:
                                |#{title}

template(name='section_item')
    .item
        a.ui.small.image(href="/view/#{_id}")
            img(src="{{c.url image_id  height=500 crop='fill' }}")
            if image_url
                img(src=image_url)
        .middle.aligned.content
            a.header(href="/view/#{_id}") #{title}

template(name='view_section')
    with section
        .ui.stackable.padded.grid
            .row.header-background(style=background_style)
                .three.wide.center.aligned.column
                .ten.wide.column
                    h1.ui.inverted.center.aligned.header 
                        +icon96 name=icon_class classes='ui inline image'
                        |#{number}: #{title}
                .three.wide.center.aligned.column
                    if can_edit
                        +edit_button
            .row
                .centered.three.wide.column
                    unless is_admin
                        if younger_sibling
                            a.ui.basic.circular.button(href="/view/#{younger_sibling._id}")
                                // if younger_sibling.completed
                                if younger_sibling.icon_class
                                    +icon48 name=younger_sibling.icon_class classes='ui mini spaced image'
                                else
                                    +icon48 name='checked' classes='ui mini spaced image'
                                // else
                                //     if younger_sibling.icon_class
                                //         +dots100 name=younger_sibling.icon_class classes='ui mini spaced image'
                                //     else
                                //         +icon48 name='circle' classes='ui mini spaced image'
                                | #{younger_sibling.title}
                                // | #{younger_sibling.body}

                .centered.ten.wide.column
                    if is_admin
                        +edit_number
                        +edit_title
                        +edit_icon
                        +edit_content
                        +edit_transcript
                    else
                        +view_content
                        if transcript
                            +view_transcript
                    +section_questions
                .centered.three.wide.column
                    unless is_admin
                        if older_sibling
                            // if completed
                            a.ui.basic.circular.button(href="/view/#{older_sibling._id}")
                                | #{older_sibling.title}
                                if older_sibling.icon_class
                                    +icon48 name=older_sibling.icon_class classes='ui mini spaced image'
                                    // if older_sibling.completed
                                    // else
                                    //     +dots100 name=older_sibling.icon_class classes='ui mini spaced image'
                            // else
                            //     .ui.basic.disabled.circular.button
                            //         | #{older_sibling.title} &nbsp;
                            //         if older_sibling.icon_class
                            //             if older_sibling.completed
                            //                 +icon48 name=older_sibling.icon_class classes='ui mini spaced image'
                            //             else
                            //                 +dots100 name=older_sibling.icon_class classes='ui mini spaced image'



template(name='section_questions')
    h2.ui.header #{child_count} Questions
    .ui.styled.fluid.accordion
        each questions
            +section_question

template(name='section_question')
    .title
        .ui.header
            // +icon48 name=icon_class
            | Question #{number}
            if is_admin
                small #{child_count} answers
                each child_authors
                    img.ui.avatar.image(src="{{c.url profile.image_id width=100 height=100 gravity='face' crop='fill'}}")
    .content
        unless is_admin
            |!{content}
            |#{text}
            .ui.header
                // i.unlock.icon
                |#{child_count} Published Answers
            .ui.segments
                each published_answers
                    +answer
        if is_admin
            .ui.header 
                i.lock.icon
                |Private Answers
            .ui.segments
                each private_answers
                    +answer
            +edit_number
            +edit_text
            +edit_content
            // +view_full_button


template(name='answer')            
    .ui.segment
        |#{text}
        |#{body}
        div
            +author_info
            +thanks_button
            +comments






template(name='edit_section')
    with section
        .ui.stackable.padded.grid
            .centered.row
                h1.ui.center.aligned.header Edit '#{title}' Section
            .row
                .twelve.wide.column
                    // .ui.top.attached.tabular.four.item.menu
                    //     a.active.item(data-tab="details") Details
                        // a.item(data-tab="stats") Stats
                    // .ui.bottom.attached.active.tab.segment(data-tab="details")
                    .ui.form
                        .field
                            +edit_number
                        .field
                            +edit_title
                        .field
                            +edit_icon
                        .field
                            +edit_content
                        .field
                            +edit_transcript
                    // .ui.bottom.attached.tab.segment(data-tab="stats")
                .four.wide.column
                    +save_link
                    // +published
                    #delete_section.ui.red.basic.icon.button
                        i.trash.icon


