template(name='edit_response')
    +parent_doc_segment
    +edit_html_field key='content'
    +published

template(name='view_response')
    .ui.padded.stackable.grid
        .centered.row
            .three.wide.column
                +parent_link
            .ten.wide.column
                h2.ui.center.aligned.header Response
            .three.wide.column
        .row.shadowed
            .twelve.wide.column
                +parent_doc_segment
                +view_html_field key='content'
                .ui.segment
                    +author_info
                    |#{when}
                    if is_author
                        +edit_button
        
template(name='view_download')
    .ui.hidden.divider
    .ui.container.shadowed.padded10
        h2.ui.center.aligned.header Download #{title}
        if is_author
            +edit_button
        +view_html_field key='content'
        +view_link
        // +author_info
        
template(name='edit_download')
    .ui.hidden.divider
    .ui.container.shadowed
        h2.ui.center.aligned.header Edit Download
        +edit_html_field key='content'
        +edit_link
        // +author_info
        // if is_author
        //     +edit_button
        


// template(name='q_a')
//     .ui.stackable.grid
//         .ui.four.wide.column
//             .ui.dividing.header Sessions
//             .ui.list
//                 each sessions
//                     .item
//                         .header
//                             +author_info
//                             |#{when}
//         .ui.ten.wide.column
//             .ui.dividing.header Questions
//             each questions
//                 .ui.fluid.card
//                     .content
//                         .header #{title}
//                         if is_admin
//                             +published_label
        

// template(name='sessions')
//     if currentUser
//         +dividing_header icon='time' label='Your Sessions'
//         .ui.fluid.cards
//             each my_sessions
//                 +session_card
//     else
//         .ui.header Log in to take quiz and track results.



template(name='sol_grid')
    .ui.stackable.centered.four.column.padded.grid
        each public_children
            .column
                a.ui.icon.center.shadowed.aligned.header(href="/view/#{_id}" data-tooltip=subtitle)
                    i.icon
                        +icon96 name=icon_class
                    h2.ui.header.sol-header #{title}
                if is_admin
                    +edit_number
                    .ui.horizontal.list
                        each completed_ids
                            .item
                                +user_image user_id=this
                    // .ui.hidden.divider
        if is_admin
            if private_children
                .ui.dividing.header Unpublished
                each private_children
                    .column
                        a.ui.icon.center.shadowed.aligned.header(href="/view/#{_id}")
                            i.icon
                                +icon96 name=icon_class
                            h2.ui.header.sol-header #{title}
                        if is_admin
                            +edit_number
    
                            // .ui.hidden.divider
        

template(name='view_nav')
    .ui.stackable.padded.grid
        .row
            .three.wide.center.aligned.column
                +parent_link
            .ten.wide.column
                h1.ui.inverted.center.aligned.header.shadowed-text
                    +icon96 name=icon_class classes='ui inline image'
                    | #{title}
            .three.wide.center.aligned.column
                if can_edit
                    +edit_button
    +sol_grid
    if is_admin
        .ui.stackable.padded.grid
            .column
                +completed_list
    // +child_docs

// template(name='grid_item')
//     .ui.center.aligned.card(class=card_class)
//         if is_admin
//             .ui.top.left.attached.basic.label
//                 i.unlock.alternate.icon
//                 |#{access}
//             .ui.top.right.attached.basic.label
//                 i.checkmark.icon
//                 |#{completion_type}
//         .content
//             if can_access
//                 a.ui.image(href="/view/#{_id}")
//                     if image_url
//                         img.ui.tiny.inline.image(src=image_url)
//                     else if completed
//                         +icon96 name=icon_class
//                     else
//                         if icon_class
//                             +dots100 name=icon_class
//                         else
//                             +icon96 name='circle'
//                 .ui.hidden.divider
//                 a.header(href="/view/#{_id}")
//                     if is_admin
//                         if number
//                             |#{number}: 
//                     |#{title}
//             else
//                 .ui.image
//                     if image_url
//                         img.ui.tiny.inline.image(src=image_url)
//                     else if completed
//                         +icon96 name=icon_class
//                     else
//                         if icon_class
//                             +dots100 name=icon_class
//                         else
//                             +icon96 name='circle'
//                 .ui.hidden.divider
//                 .header #{title}
//         if is_admin
//             +edit_title
//             +edit_icon
//             if body
//                 .ui.basic.label #{text}
//             +published
        
        
        
template(name='child_docs')
    .ui.header
        img.ui.avatar.image(src="https://png.icons8.com/flow-chart/color/48" width="48" height="48")
        |Child Documents
    .ui.cards
        each child_docs
            .card
                .content
                    a.header(href="/view/#{_id}")
                        if number
                            |#{number}: 
                        if title
                            |#{title}
                        |(#{type})
                    .description
                        .meta
                            each tags
                                .ui.basic.label #{this}
                        // |!{content}
                        |#{text}
                        |#{body}
                        +edit_number
                        +published
                .content
                    +author_info
                    |#{when}
                    +edit_type        