template(name='view_databank')
    .ui.stackable.padded.grid
        .centered.row
            .three.wide.center.aligned.column
                if currentUser
                    +add_doc_button type=child_type
            .ten.wide.center.aligned.column
                h1.ui.header 
                    +icon96 name=icon_class classes='ui image'
                    |#{title}
            .three.wide.center.aligned.column
                if can_edit
                    +edit_button
        .row
            .four.wide.center.aligned.column
                if currentUser
                    +toggle_view_mode_button
                    .ui.hidden.divider
                each doc.child_fields
                    +Template.dynamic template=facet_template data=doc
                +username_facet
                .ui.hidden.divider
            .twelve.wide.column
                .ui.cards
                    each children 
                        +databank_card

template(name='edit_databank')
    +edit_child_fields

template(name='databank_card')
    .ui.fluid.card(class=published_class)
        // each parent.child_fields
        //     .ui.label #{this}
        if title
            .content    
                .header 
                    +icon48 name=icon_class classes='ui mini inline spaced image'
                    |#{title}
        .content
            each parent.child_fields
                +Template.dynamic template=field_view_template data=..
            
        .content
            +author_info
            |#{when}
        .content
            +voting
            +bookmark_button
            +resonate_button
            +respond_button
            .right.floated
                +view_full_button
        if child_count
            .content
                +response_list
        if favorite_count
            .content
                strong
                    +icon48 name='heart-health' classes='ui mini inline image'
                    | Resonates with #{favorite_count} 
                .ui.divided.horizontal.list
                    each favoriter_list
                        .item
                            img.ui.avatar.image(src="{{c.url profile.image_id width=100 height=100 gravity='face' crop='fill'}}")
                            .content
                                .header
                                    |#{name}
        // if upvoters
        //     .content
        //         strong
        //             +icon48 name='thumbs-up' classes='ui mini inline image'
        //             | Upvoted by
        //         .ui.divided.horizontal.list
        //             each upvoter_list
        //                 .item
        //                     img.ui.avatar.image(src="{{c.url profile.image_id width=100 height=100 gravity='face' crop='fill'}}")
        //                     .content
        //                         .header
        //                             |#{name}
                

template(name='edit_databank_item')
    .ui.form.shadowed.padded10
        each parent.child_fields
            +Template.dynamic template=field_edit_template data=doc
        +published

template(name='view_databank_item')
    .ui.stackable.padded.grid
        .centered.row
            .centered.three.wide.column
            .centered.ten.wide.column
                h1.ui.center.aligned.header 
                    if title
                        |#{title}
                    else
                        |View #{parent.title} Item
            .centered.three.wide.column
                if can_edit
                    +edit_button
                
        .row
            .twelve.wide.column
                .ui.form.shadowed.padded10
                    each parent.child_fields
                        +Template.dynamic template=field_view_template data=doc
                if watson
                    +analyzed_watson_keywords
    
                if is_visible
                    +response_list
            .four.wide.column.shadowed.padded10
                +author_info
                h3.ui.sub.header #{when}
                if watson
                    +doc_sentiment
                    +doc_emotion
                    // +watson_keywords
                else 
                    if can_edit
                        if content
                            +call_watson
                .ui.dividing.header Actions
                +bookmark_button
                // +reflect_button
                unless is_author
                    +resonate_button
                    +thanks_button
                +resonates_list
                +mark_read_button
                // +read_by
