template(name='view_databank')
    .ui.stackable.padded.grid
        .centered.row
            .three.wide.center.aligned.column
                +parent_link
            .ten.wide.center.aligned.column
                h1.ui.inverted.header 
                    +icon96 name=icon_class classes='ui image'
                    |#{title}
            .three.wide.center.aligned.column
                if currentUser
                    +add_doc_button type=child_type
                if can_edit
                    +edit_button
        .row
            .four.wide.center.aligned.column
                if currentUser
                    +toggle_view_mode_button
                    .ui.hidden.divider
                each doc.child_field_ids
                    +Template.dynamic template=facet_template data=doc
                // +username_facet
                .ui.hidden.divider
            .twelve.wide.column
                each children 
                    +databank_card
                        
                        
                        
template(name='databank_card')
    // .ui.fluid.card(class=published_class)
    .ui.stackable.grid
        .twelve.wide.column.shadowed-box
            .content
                .ui.dividing.header
                    +author_info
                    |#{when}
            if title
                .ui.basic.segment    
                    .ui.header 
                        if icon_class
                            +icon48 name=icon_class classes='ui mini inline spaced image'
                        |#{title}
            .content
                each parent.child_field_ids
                    // +Template.dynamic template=field_view_template
                    +view_field template=field_doc.field_template key=field_doc.slug
                
        .four.wide.column.shadowed-box
            if slug
                .content
                    .meta Slug: #{slug}
            if is_admin
                div type: #{type}
                div template: #{template}
            .content
                each parent.child_actions
                    +Template.dynamic template=action_button_template data=..
                if child_count
                    |#{child_count} Responses
                // +published
                +view_full_button
                if can_edit
                    +edit_button


template(name='edit_databank')
    .shadowed-box
        .ui.styled.fluid.accordion
            h3.title
                +icon48 name='about' classes='ui mini inline image'
                | Details
                i.dropdown.icon
            .content
                // +edit_title
                +edit_text_field key='title'
                +edit_text_field key='subtitle'
                +edit_text_field key='child_type'
                +edit_text_field key='template'
                // +edit_subtitle
                // +edit_icon
                // +edit_child_type
                // +edit_template
            h3.title
                +icon48 name='shield' classes='ui mini inline image'
                | Access
                i.dropdown.icon
                .ui.basic.label #{access}
            .content
                +toggle_key key='access' value='payment' icon='online-payment' label='Payment'
                +toggle_key key='access' value='complete_previous' icon='past' label='Complete Younger Sibling'
                +toggle_key key='access' value='admin_only' icon='user-shield' label='Admin Only'
                +toggle_key key='access' value='available' icon='enter' label='Available'
    
            h3.title
                +icon48 name='task-completed' classes='ui mini inline image'
                |Completion Type
                i.dropdown.icon
                .ui.basic.label #{completion_type}
            .content
                +toggle_key key='completion_type' value='response' icon='response' label='Response'
                +toggle_key key='completion_type' value='mark_read' icon='read-message' label='Mark Read'
                +toggle_key key='completion_type' value='check_children' icon='flow-chart' label='Check Children'
                +toggle_key key='completion_type' value='session' icon='time' label='Session'
                +toggle_key key='completion_type' value='none' icon='cancel-2' label='None'
                

            h3.title 
                +icon48 name='rename' classes='ui mini spaced image'
                | Choose Child Fields
                i.dropdown.icon
            .content
                // +edit_string_field key='test_key'
                +edit_child_fields
            h3.title 
                +icon48 name='sports-mode' classes='ui mini spaced image'
                | Choose Child Actions
                i.dropdown.icon
            .content
                +edit_child_actions

            if isInRole 'dev'
                h3.title 
                    +icon48 name='crown' classes='ui mini spaced image'
                    |Admin
                .content
                    #move_up.ui.basic.button
                        +icon48 name='up' classes='ui mini spaced image'
                        | Move Above Parent
                    // +edit_author
                    +edit_text_field key='parent_id'
                    +edit_text_field key='type'

template(name='edit_databank_item')
    .ui.form.shadowed.padded10
        each parent.child_field_ids
            // +Template.dynamic template=field_edit_template data=..
            +edit_field template=field_doc.field_template key=field_doc.slug
    
template(name='view_databank_item')
    .ui.stackable.padded.grid
        .centered.row
            .centered.three.wide.column
                +parent_link
            .centered.middle.aligned.ten.wide.column
                h1.ui.center.aligned.inverted.header 
                    if icon_class
                        +icon96 name=icon_class classes='ui image'
                    if title
                        |#{title}
                    else
                        |View #{parent.title} Entry
            .centered.three.wide.column
                if can_edit
                    +edit_button
                
        .row
            .twelve.wide.column
                .ui.form.shadowed-box
                    each parent.child_field_ids
                        // +Template.dynamic template=field_view_template data=..
                        +view_field template=field_doc.field_template key=field_doc.slug
                if has_price
                    +product_transactions
                // if is_visible
                //     +response_list
            .four.wide.column.shadowed.padded10
                +author_info
                h3.ui.sub.header #{when}
                if has_price
                    +add_to_cart
                else
                    if watson
                        +doc_emotion
                        // +watson_keywords
                    else 
                        if can_edit
                            if content
                                +call_watson
                .ui.dividing.header Actions
                each parent.child_actions
                    +Template.dynamic template=action_button_template data=..
        // .row
        //     .sixteen.wide.column
        //         each children
        //             +child_card


template(name='toggle_key')
    #toggle_key.ui.compact.button(class=toggle_key_button_class) 
        +icon48 name=icon classes='ui mini spaced image'
        | #{label}


template(name='child_card')
    .ui.stackable.grid.shadowed-box  
        .twelve.wide.column
            +author_info
            |#{when}
            +view_html_field key='content'

            +vote_button
            +mark_read_button
        .four.wide.column
            if watson
                +doc_emotion
                // +watson_keywords
                // +analyzed_watson_keywords
            else 
                if can_edit
                    +call_watson

    if children
        .ui.grid
            .one.wide.column
            .fifteen.wide.column
                each children
                    +child_card