template(name='view_site')
    h1.ui.center.aligned.header 
        +icon48 name=icon_class
        |#{title}
        if can_edit
            +edit_doc_link
    .ui.centered.cards
        each children
            +site_card
        
template(name='edit_site')
    +nav
    .ui.hidden.divider
    .ui.container
        h1.ui.center.aligned.header Edit #{title} Site
        +edit_title
        +edit_subtitle
        +edit_image_id
        +edit_image_url
        +edit_tags
        // +edit_content
        h2.ui.header Nav
        .ui.header Nav Bar Color
        #make_nav_bar_white.ui.button(class=white_button_class) White
        #make_nav_bar_black.ui.button(class=black_button_class) Black
        h4.ui.header Selected Children
        each children
            .toggle_child_nav_selection.ui.button(class=child_nav_toggle_class) #{title}
        +save_button










template(name='site_card')
    .ui.center.aligned.card(class=card_class)
        .content
            a.ui.image(href="/view/#{_id}")
                if image_url
                    img.ui.tiny.inline.image(src=image_url)
                +icon96 name=icon_class
            .ui.hidden.divider
            a.header(href="/view/#{_id}")
                if number
                    |#{number}: 
                |#{title}