template(name='sent')
    .ui.horizontal.divider.header 
        i.send.icon
        |Sent
    .ui.threaded.comments
        each sent_messages
            +sent_message



template(name='sent_message')
    .comment
        a.avatar
            img.ui.avatar.image(src="{{c.url recipient.profile.image_id width=50 height=50 gravity='face' crop='fill'}}")
        .content
            a.author(href="/message/view/#{_id}")
                | #{author.username}
                i.right.chevron.icon
                | #{recipient.username}
            .metadata
                span.date #{from_now}
            a.text(href="/message/view/#{_id}")
                .ui.segment(class=message_segment_class)
                    | !{content}
            .actions

