with person
    .ui.text.container.grid
        .five.wide.column
            img.ui.centered.image(src="{{c.url profile.image_id width=400 height=400 gravity='face' crop='fill'}}")
            if is_user
                a.ui.basic.fluid.button(href="/profile/edit/#{_id}") Edit My Profile
        .ten.wide.column
            h2.ui.header
                |#{profile.first_name} #{profile.last_name}
            if tags
                each tags
                    .ui.basic.circular.label #{this}
            if profile.location
                .ui.header Location 
                | #{profile.location}
            if profile.about_me
                .ui.header About Me
                |#{profile.about_me}
            if profile.if_knew_me
                .ui.header If you really knew me you would know…
                |#{profile.if_knew_me}
            if profile.if_not_working
                .ui.header If I am not at work or in class then I am probably…
                |#{profile.if_not_working}
            if is_user
                +my_courses