template(name='lightbank')
    h1.ui.center.aligned.header
        +icon96 name='summer'
        |Lightbank
    // .ui.center.aligned.basic.segment
    //     +doc_content tags='lightbank,blurb'

    .ui.stackable.grid
        .four.wide.column
            +lightbank_cloud
            if isInRole 'admin'
                if selected_theme_tags
                    #add.ui.blue.button
                        i.plus.icon
                        |Add with Selected Tags
                else
                    #add_lightbank_doc.ui.icon.basic.fluid.button
                        i.plus.icon
                        |Add Lightbank Item
        
        .eight.wide.column
            .ui.centered.stackable.cards
                each docs
                    +lightbank_doc_view
        .four.wide.column
            .ui.header 
                +icon24 name='filter' classes='ui avatar image'
                |View Filters
            // +resonate_tritoggle
            +bookmark_tritoggle
            +read_tritoggle
            +complete_tritoggle
            +doc_limit
            if isInRole 'admin'
                .ui.dividing.header Admin
                +published_tritoggle
        


template(name='lightbank_doc_view')
    .ui.fluid.card(class=read_segment_class)
        .content
            if has_youtube
                +view_youtube
            if has_image
                if image_id
                    .image
                        img(src="{{c.url image_id}}")
                if image_url
                    .ui.large.image
                        img(src=image_url)
            // .content
            //     span.right.floated 
            //         .expand_card.ui.basic.icon.button
            //             i.expand.icon
            if has_content
                .light_bank_content(class=light_bank_content_class)
                    |!{content}
        // .content
        //     .meta
        //         img.ui.avatar.image(src="https://png.icons8.com/tags/color/48" width="48" height="48")
        //         each tags
        //             .ui.tiny.circular.button.tag(class=tag_class) #{this}
        .content
            // .ui.hidden.divider
            // if can_resonate
            +resonate_button
            +reflect_button
            if can_complete
                +mark_complete_button
            // if can_bookmark
            +bookmark_button
            // +view_full_button
            +mark_read
            if can_edit
                +edit_link_button