template(name='lightbank_edit')
    with doc
        .ui.container
            h1.ui.center.aligned.header Edit Lightbank Entry
            .ui.stackable.grid
                .eleven.wide.column
                    .ui.form
                        .ui.segment
                            +tags
                        if has_youtube
                            .ui.segment
                                +youtube
                                if youtube
                                    +view_youtube
                        if has_image
                            +edit_image
                        if has_content
                            .ui.segment
                                +content
                .five.wide.column
                    .ui.segment
                        .ui.form
                            .grouped.fields
                                .label Components
                                .field
                                    a.ui.toggle.checkbox
                                        input#toggle_youtube(type='checkbox' checked=has_youtube)
                                        label(for='toggle_youtube') Video
                                .field
                                    a.ui.toggle.checkbox
                                        input#toggle_image(type='checkbox' checked=has_image)
                                        label(for='toggle_image') Image
                                .field
                                    a.ui.toggle.checkbox
                                        input#toggle_content(type='checkbox' checked=has_content)
                                        label(for='toggle_content') Text
                                // .field
                                //     a.ui.toggle.checkbox
                                //         input#toggle_journal_prompt(type='checkbox' checked=journal_prompt)
                                //         label(for='toggle_journal_prompt') Journal Prompt
                    // .ui.segment
                    //     .ui.form
                    //         .grouped.fields
                    //             .label Buttons
                    //             .field
                    //                 a.ui.toggle.checkbox
                    //                     input#toggle_resonates(type='checkbox' checked=can_resonate)
                    //                     label(for='toggle_resonates') This Resonates with Me
                    //             .field
                    //                 a.ui.toggle.checkbox
                    //                     input#toggle_bookmarkable(type='checkbox' checked=can_bookmark)
                    //                     label(for='bookmark') Bookmark
                    //             .field
                    //                 a.ui.toggle.checkbox
                    //                     input#toggle_complete(type='checkbox' checked=can_complete)
                    //                     label(for='complete') Complete
                    +published
                    if isInRole 'admin'
                        +edit_author

                    a.ui.fluid.green.big.button(href="/lightbank/#{_id}/view") Save
                    #delete_doc.ui.small.fluid.red.basic.button Delete
