
template(name='view_lightbank')
    h1.ui.header
        a.ui.basic.button(href='/lightbank')
            +icon48 name='double-left' classes='ui avatar image'
            |Lightbank
        .center.aligned.header View Lightbank Entry
    .ui.container.document_container
        .ui.stackable.grid
            .ten.wide.column
                if has_youtube
                    if youtube
                        +view_youtube
                if has_image
                    if image_id
                        .ui.large.image
                            img(src="{{c.url image_id width=500 crop='fit'}}")
                    if image_url
                        .ui.fluid.image
                            img(src=image_url)
                if has_content
                    .large
                        |!{content}
                if author_name
                    h3.ui.header
                        |- #{author_name}
                // if journal_prompt
                +journal_responses
                // +comments    
                // +tag_rating
                .ui.header 
                    +icon48 name='hashtag'
                    | Themes
                each tags
                    .ui.basic.large.label.doc_tag #{this}
                if watson
                    .ui.segment
                        .ui.header Content Analysis
                        .ui.two.column.grid
                            .column
                                +doc_sentiment
                                +watson_keywords
                            .column
                                +doc_emotion
                        +analyzed_watson_keywords
                // +child_docs
            .six.wide.column
                if isInRole 'admin'
                    .ui.horizontal.divider.header 
                        +icon48 name='monarch' classes='ui avatar image'
                        |Admin
                    .ui.basic.segment
                        +published
                        .ui.hidden.fitted.divider
                        .ui.header added by #{author.name} #{when}
                        +edit_link_button
                        +call_watson
                .ui.horizontal.divider.header 
                    +icon48 name='sports-mode'
                    |Actions
                .ui.basic.segment
                    +bookmark_button
                    +thanks_button
                    // +reflect_button
    
                .ui.header Resonates
                +resonate_button
                +resonates_list 

