
template(name='theme_facet')
    +icon48 name='hashtag' classes='ui mini inline image' tooltip='Browse Themes'
    .ui.left.icon.small.inline.input
        i.search.icon
        +inputAutocomplete settings=settings id="search" class="" autocomplete="off" placeholder='Search...'
    // |&nbsp;    
    if selected_theme_tags
        #clear_theme_tags.ui.blue.icon.circular.button
            i.remove.icon
        each selected_theme_tags
            .unselect_theme_tag.ui.blue.circular.button
                strong #{this}
    each theme_tags
        .ui.basic.circular.button.select_theme_tag(class=theme_tag_class) 
            strong #{this.name}
            // if isInRole 'admin'
            //     small #{this.count}
    // .ui.divider

template(name='location_facet')
    .ui.dividing.header 
        +icon48 name='park-bench' classes='ui mini inline image' tooltip='Location Tags'
        |Location Tags
    if selected_location_tags
        #clear_location_tags.ui.blue.icon.circular.button
            i.remove.icon
        each selected_location_tags
            .unselect_location_tag.ui.blue.circular.button
                strong #{this}
    each location_tags
        .ui.basic.circular.button.select_location_tag(class=location_tag_class) 
            | #{this.name}
            // if isInRole 'admin'
            //     small #{this.count}
    // .ui.divider

template(name='timestamp_facet')
    .ui.dividing.header
        +icon48 name='calendar' classes='ui mini inline image' tooltip='Date Tags'
        |Date Tags
    if selected_timestamp_tags
        #clear_timestamp_tags.ui.blue.icon.circular.button
            i.remove.icon
        each selected_timestamp_tags
            .unselect_timestamp_tag.ui.blue.circular.button
                strong #{this}
    each timestamp_tags
        .ui.basic.circular.button.select_timestamp_tag(class=timestamp_tag_class) 
            | #{this.name}
            // if isInRole 'admin'
            //     small #{this.count}
    // .ui.divider

template(name='intention_facet')
    .ui.dividing.header
        +icon48 name='spotlight' classes='ui mini inline image' tooltip='Intention Tags'
        | Intention Tags
    if selected_intention_tags
        #clear_intention_tags.ui.blue.icon.circular.button
            i.remove.icon
        each selected_intention_tags
            .unselect_intention_tag.ui.blue.circular.button
                strong #{this}
    // .ui.hidden.fitted.divider
    each intention_tags
        .ui.basic.circular.button.select_intention_tag(class=intention_tag_class) 
            | #{this.name}
            // if isInRole 'admin'
            //     small #{this.count}
    // .ui.divider

template(name='keyword_facet')
    .ui.header 
        |Browse Keywords
        +icon48 name='hashtag'
    // .ui.left.icon.small.input
    //     i.search.icon
    //     +inputAutocomplete settings=settings id="search" class="" autocomplete="off" placeholder='Search...'
    if selected_keywords
        // .ui.dividing.header Selected keywords
        #clear_keywords.ui.blue.icon.circular.button
            i.remove.icon
        each selected_keywords
            .unselect_keyword.ui.blue.circular.button
                strong #{this}
    // .ui.hidden.fitted.divider
    each keywords
        .ui.basic.circular.button.select_keyword(class=cloud_keyword_class) 
            | #{this.name}
            // if isInRole 'admin'
            //     small #{this.count}



template(name='username_facet')
    .ui.dividing.header
        +icon48 name='couple' classes='ui mini inline image' tooltip='Filter Authors'
        |Filter Authors
    if selected_author_ids
        #clear_authors.ui.blue.icon.circular.button
            i.remove.icon
        each selected_author_ids
            .unselect_author.ui.blue.circular.button
                strong #{this}
    each author_tags
        .ui.basic.circular.button.select_author(class=cloud_tag_class) 
            img.ui.avatar.image(src="{{c.url profile.image_id width=100 height=100 gravity='face' crop='fill'}}")
            | #{username}
            // if isInRole 'admin'
            //     small #{this.count}
    // .ui.divider

template(name='participant_facet')
    .ui.header
        +icon48 name='couple'
        |Browse Participants
    if selected_participant_ids
        #clear_participants.ui.blue.icon.circular.button
            i.remove.icon
        each selected_participant_ids
            .unselect_participant.ui.blue.circular.button
                strong #{this}
    each participant_tags
        .ui.basic.circular.button.select_participant(class=cloud_tag_class) 
            | #{this.username}
            small #{this.count}
