template(name='products')
    .ui.container
        // #blog_slider(style='width: 1000px; height: 500px;')
        //     .ls-slide(data-ls='slidedelay: 2000;')
        //         img.ls-bg(src="{{c.url 'impact_collage' effect='art:primavera'}}", alt='Slide background')
        //         h1.ls-l.overlay-text.slider-text(style="top: 50%; text-size: 500%;") 
        //             | Our Stories
        // .ui.hidden.divider
        .ui.stackable.divided.grid
            .twelve.wide.column
                h1.ui.dividing.header Marketplace
                // .ui.cards
                .ui.relaxed.divided.items
                    each products
                        +product_item
            .four.wide.column
                +cloud type='product'
                if currentUser
                    #add_product.ui.large.basic.fluid.button
                        i.plus.icon
                        |Add Product


template(name='product_card')
    .ui.fluid.card
        .ui.centered.image
            a(href="/product/view/#{_id}")
                img(src="{{c.url image_id  height=300 crop='fill' gravity='face' }}")
        .content
            .header
                a(href="/product/view/#{_id}")
                    h2.ui.header #{title}
            if publish_date
                .meta
                    | published #{publish_when}
            .description
                |#{content}
        .content
            each tags
                .ui.compact.button.product_tag(class=tag_class) #{this}
            if isInRole 'admin'
                .edit_product.ui.primary.basic.right.floated.button
                    i.pencil.icon
                    |edit product    
        .content
            +favorite

            
template(name='product_item')
    .item
        a.image(href="/product/view/#{_id}")
            img.ui.rounded.image(src="{{c.url image_id  width=175 height=175 crop='fill' gravity='face' }}")
        .content
            a.header(href="/product/view/#{_id}") #{title}
            .meta
                | published #{publish_when}
            .description
                p #{snippet}
                a(href="/product/view/#{_id}") 
                    |view more
                    i.arrow.right.icon
            .extra
                i.tags.icon
                each tags
                    .ui.compact.tiny.button.product_tag(class=tag_class) #{this}
            if isInRole 'admin'
                .extra
                    i.red.configure.large.icon
                    if published
                        .ui.green.label published
                    else
                        .ui.red.label unpublished                        
                    if featured
                        .ui.green.label featured
                    else
                        .ui.red.label unfeatured
