#nav_menu.ui.top.borderless.attached.large.menu
    a.toggle_sidebar.mobile.only.item
        i.sidebar.icon
        .imogen Tori Webster
    if currentUser
        a.ui.mobile.hidden.simple.dropdown.item(href='/')
            .imogen Tori Webster
            .ui.menu
                a.mobile.hidden.item(href='/about' class="{{isActivePath '/about'}}") 
                    .ui.image
                        img(src="https://png.icons8.com/info/color/24" width="24" height="24")
                    |About
                a.mobile.hidden.item(href='/services' class="{{isActivePath '/services'}}") 
                    .ui.image
                        img(src="https://png.icons8.com/service-bell/color/24" width="24" height="24")
                    |Services
                a.mobile.hidden.item(href='/contact' class="{{isActivePath '/contact'}}") 
                    .ui.image
                        img(src="https://png.icons8.com/phone/color/24" width="24" height="24" )
                    |Contact
    unless currentUser
        a.mobile.hidden.item(href='/' class="{{isActivePath '/'}}")
            .imogen Tori Webster
        a.mobile.hidden.item(href='/about' class="{{isActivePath '/about'}}") 
            +icon24 name='info'
            |About
        a.mobile.hidden.item(href='/lightschool' class="{{isActivePath '/lightschool'}}") 
            +icon24 name='library'
            |LightSchool
        a.mobile.hidden.item(href='/lightbank' class="{{isActivePath '/lightbank'}}") 
            +icon24 name='summer'
            |Lightbank
        a.mobile.hidden.item(href='/contact' class="{{isActivePath '/contact'}}") 
            .ui.image
                +icon24 name='phone'
            |Contact
    else
        a.ui.mobile.hidden.simple.dropdown.item(href='/lightschool' ) 
            .ui.image
                +icon48 name='library'
            .ui.large.menu
                .header.item
                    .ui.header LightSchool
                a.item(href='/courses' class="{{isActivePath '/courses'}}")
                    i.icon
                        .ui.image
                            +icon24 name='classroom'
                    |Courses
                a.item(href='/lightschool/exercises' class="{{isActivePath '/lightschool/exercises'}}")
                    i.icon
                        .ui.image
                            +icon24 name='hand-with-pen'
                    |Exercises
                a.item(href='/quizzes' class="{{isActivePath '/quizzes'}}")
                    i.icon
                        .ui.image
                            +icon24 name='report-card'
                    |Quizzes
        a.mobile.hidden.item(href='/lightbank' class="{{isActivePath '/lightbank'}}" data-position="bottom center" data-content="Lightbank") 
            +icon48 name='summer'
        a.ui.simple.dropdown.mobile.hidden.item(href='/journal') 
            +icon48 name='journal'
            .ui.big.menu
                .header.item
                    .ui.header Journal
                #add_journal_entry.ui.item 
                    i.icon
                        +icon24 name='create-document'
                    |New Entry
                a.ui.item(href="/journal/mine")
                    i.icon
                        .ui.image
                            +icon24 name='journal'
                    |My Entries
                a.ui.item(href="/journal/prompts")
                    i.icon
                        .ui.image
                            +icon24 name='ask-question'
                    | Prompts
                .ui.disabled.item
                    i.icon
                        .ui.image
                            +icon24 name='template'
                    |Templates
                a.ui.item(href="/journal/browse") 
                    i.icon
                        .ui.image
                            +icon24 name='reading'
                    |Browse

        a.mobile.hidden.item(href='/checkin' class="{{isActivePath '/checkin'}}" data-position="bottom center" data-content="Check In") 
            .ui.image
                +icon48 name='in-progress'
    
        
    .right.menu
        if currentUser
            if isInRole 'dev'
                a.ui.icon.simple.dropdown.item(data-position="left center" data-content="Notifications")
                    if unread_notifications_count
                        +icon48 name='google-alerts'
                    else
                        +icon48 name='notification'
                    .ui.large.menu(style="right: 0;left: auto;")
                        a.item(href='/notifications')
                            i.icon
                                .ui.image
                                    +icon24 name='todo-list'
                            |View All
                        .ui.divider
                        each unread_notifications
                            .item #{subject.name} #{predicate} #{object.name}
            a.icon.item(href="/dashboard" class="{{isActivePath '/dashboard'}}" data-position="bottom center" data-content="Dashboard")
                .ui.image
                    img(src="https://png.icons8.com/dashboard/color/48" title="Dashboard" width="48" height="48")
        
            if cart_items
                a.icon.mobile.hidden.item(href='/cart' class="{{isActivePath '/cart'}}" data-position="bottom center" data-content="Shopping Cart")
                    i.large.icons
                        i.cart.icon
                        i.corner.teal.asterisk.icon
            a.icon.item(href="/profile/#{currentUser.username}" class="{{isActiveRoute name='view_profile'}}" data-position="bottom center" data-content="Profile")
                if currentUser.profile.image_id
                    img.ui.avatar.image(src="{{c.url currentUser.profile.image_id width=50 height=50 gravity='face' crop='fill'}}")
                else
                    i.user.icon
                span.mobile.hidden    
                    if currentUser.name
                        | #{currentUser.name}
                    else
                        | #{currentUser.username}
            // a#logout.icon.item(href="#" data-position="bottom center" data-content="Log Out")
            //     .ui.image
            //         img(src="https://png.icons8.com/burglary/color/48" width="48" height="48")
            
        else
            a.ui.item(href='/sign-in') 
                .ui.image
                    +icon24 name='signin'
                | Sign In

