.ui.borderless.top.attached.pointing.menu
    a.toggle_sidebar.mobile.only.item
        i.sidebar.icon
        .imogen Tori Webster
    a.mobile.hidden.item(href='/' class="{{isActivePath '/'}}")
        .imogen Tori Webster
    unless currentUser
        a.mobile.hidden.item(href='/about' class="{{isActivePath '/about'}}") About
        a.mobile.hidden.item(href='/courses' class="{{isActivePath '/courses'}}") Courses
        a.mobile.hidden.item(href='/lightbank' class="{{isActivePath '/lightbank'}}") Lightbank
        a.mobile.hidden.item(href='/contact' class="{{isActivePath '/contact'}}") Contact
    else
        a.mobile.hidden.item(href="/dashboard" class="{{isActivePath '/dashboard'}}")
            i.dashboard.icon
            | Dashboard
        a.mobile.hidden.item(href='/courses' class="{{isActivePath '/courses'}}") 
            i.university.icon
            | Courses
        a.mobile.hidden.item(href='/lightbank' class="{{isActivePath '/lightbank'}}") 
            i.sun.icon
            | Lightbank
        a.mobile.hidden.item(href='/people' class="{{isActivePath '/people'}}") 
            i.users.icon
            | People
        a.mobile.hidden.item(href='/journal' class="{{isActivePath '/journal'}}") 
            i.pencil.icon
            | Journal
        
    .right.menu
        if currentUser
            if cart_items
                a.icon.mobile.hidden.item(href='/cart' class="{{isActivePath '/cart'}}" data-position="bottom center" data-content="Shopping Cart")
                    i.large.icons
                        i.cart.icon
                        i.corner.teal.asterisk.icon
            a#check_in.icon.item(href='#' data-position="bottom center" data-content="Check In")
                i.green.large.check.icon
            // a.icon.mobile.hidden.item(href='/karma' data-position="bottom center" data-content="Karma")
            //     i.heartbeat.icon
            //     |#{currentUser.points}
            a.icon.item(href='/messages' class="{{isActiveRoute name='message_layout'}}")
                if unread_message_count
                    i.blue.mail.icon
                else
                    i.mail.outline.icon
                // | Admin
            // a.ui.icon.dropdown.item(class="{{isActivePath '/notifications'}}" data-position="bottom center" data-content="Notifications")
            a.ui.icon.simple.dropdown.item
                if unread_notifications_count
                    i.alarm.blue.icon
                else
                    i.alarm.outline.icon
                .ui.menu(style="right: 0;left: auto;")
                    a.item(href='/notifications') 
                        |View All
                        i.external.icon
                    .ui.divider
                    each unread_notifications
                        .item #{subject.name} #{predicate} #{object.name}

            // a.icon.mobile.hidden.item(href='/bookmarks' class="{{isActivePath '/bookmarks'}}" data-position="bottom center" data-content="Bookmarks")
            //     i.bookmark.outline.icon
                // .ui.menu
                //     each bookmark_docs
                //         each tags
                //             .ui.tiny.basic.label #{this}
            a.ui.simple.dropdown.item
                if currentUser.profile.image_id
                    img.ui.avatar.image(src="{{c.url currentUser.profile.image_id width=50 height=50 gravity='face' crop='fill'}}")
                else
                    i.user.icon
                span.mobile.hidden    
                    if currentUser.name
                        | #{currentUser.name}
                    else
                        | #{currentUser.username}
                i.dropdown.icon
                .ui.menu
                    a.item(href="/dashboard" class="{{isActivePath '/dashboard'}}")
                        i.dashboard.icon
                        | Dashboard
                    a.item(href="/profile/#{currentUser.username}" class="{{isActiveRoute name='view_profile'}}")
                        i.user.icon
                        | Profile
                    .ui.divider
                    a.item(href='/courses' class="{{isActivePath '/courses'}}") 
                        i.university.icon
                        | Courses
                    a.item(href='/checkin' class="{{isActivePath '/checkin'}}") 
                        i.check.icon
                        | Check In's
                    a.item(href='/people' class="{{isActivePath '/people'}}") 
                        i.users.icon
                        | People
                    a.item(href='/conversations' class="{{isActivePath '/conversations'}}") 
                        i.comments.outline.icon
                        | Conversations
                    a.item(href='/journal' class="{{isActivePath '/journal'}}") 
                        i.pencil.icon
                        | Journal
                    a.item(href='/bookmarks' class="{{isActivePath '/bookmarks'}}")
                        i.bookmark.outline.icon
                        | Bookmarks
                        // .ui.menu
                        //     each bookmark_docs
                        //         each tags
                        //             .ui.tiny.basic.label #{this}
                    a.icon.item(href='/karma' class="{{isActivePath '/karma'}}")
                        i.heartbeat.outline.icon
                        | Karma
                    a.mobile.hidden.item(href='/services' class="{{isActivePath '/services'}}") 
                        i.configure.icon
                        |Services
                    .ui.divider
                    a.icon.item(href="/profile/#{currentUser.username}/account" class="{{isActiveRoute name='account'}}")
                        i.setting.icon
                        | Settings
                    if isInRole 'admin'
                        .ui.horizontal.divider
                            i.red.configure.icon
                        a.icon.item(href='/admin/dashboard' class="{{isActivePath '/admin/dashboard'}}")
                            i.configure.red.icon
                            | Admin
                        .ui.divider
                    a#logout.ui.item
                        i.sign.out.icon
                        | Sign Out
        else
            a.ui.item(href='/sign-in') 
                i.sign.in.icon
                | Sign In
    .ui.modal
        i.close.icon
        .ui.center.aligned.header
            i.green.check.icon
            | #{currentUser.name} Check In
        .content
            .description
                with new_checkin_doc
                    .ui.form
                        +tags
                        // .ui.basic.button
                        //     .ui.icon.header
                        //         i.smile.icon
                        //         |Happy
                        // .ui.basic.button
                        //     .ui.icon.header
                        //         i.meh.icon
                        //         | Nuetral
                        // .ui.basic.button
                        //     .ui.icon.header
                        //         i.frown.icon
                        //         | Sad
                        // .ui.basic.button
                        //     .ui.icon.header
                        //         i.treatment.icon
                        //         | Sensitive
                        +body
                        +content
        .actions
            .ui.cancel.red.basic.button Cancel
            .ui.ok.green.button Submit

