.ui.top.borderless.attached.large.menu
    a.toggle_sidebar.mobile.only.item
        i.sidebar.icon
        .imogen Tori Webster
    if currentUser
        a.ui.mobile.hidden.simple.dropdown.item(href='/' class="{{isActivePath '/'}}")
            .imogen Tori Webster
            .ui.menu
                a.mobile.hidden.item(href='/about' class="{{isActivePath '/about'}}") 
                    .ui.image
                        img(src="https://png.icons8.com/info/color/24" width="24" height="24")
                    |About
                a.mobile.hidden.item(href='/services' class="{{isActivePath '/services'}}") 
                    .ui.image
                        img(src="https://png.icons8.com/service-bell/color/24" width="24" height="24")
                    |Services
                a.mobile.hidden.item(href='/contact' class="{{isActivePath '/contact'}}") 
                    .ui.image
                        img(src="https://png.icons8.com/phone/color/24" width="24" height="24" )
                    |Contact
    unless currentUser
        a.mobile.hidden.item(href='/' class="{{isActivePath '/'}}")
            .imogen Tori Webster
        a.mobile.hidden.item(href='/about' class="{{isActivePath '/about'}}") 
            .ui.image
                img(src="https://png.icons8.com/info/color/24" width="24" height="24")
            |About
        a.mobile.hidden.item(href='/lightschool' class="{{isActivePath '/lightschool'}}") 
            .ui.image
                img(src="https://png.icons8.com/library/color/24" width="24" height="24")
            |LightSchool
        a.mobile.hidden.item(href='/lightbank' class="{{isActivePath '/lightbank'}}") 
            .ui.image
                img(src="https://png.icons8.com/summer/color/24" width="24" height="24" )
            |Lightbank
        a.mobile.hidden.item(href='/contact' class="{{isActivePath '/contact'}}") 
            .ui.image
                img(src="https://png.icons8.com/phone/color/24" width="24" height="24" )
            |Contact
    else
        a.ui.mobile.hidden.simple.dropdown.item(href='/lightschool' ) 
            .ui.image
                img(src="https://png.icons8.com/library/color/48" width="48" height="48")
            .ui.large.menu
                .header.item
                    .ui.header LightSchool
                a.item(href='/lightschool/courses' class="{{isActivePath '/lightschool/courses'}}")
                    i.icon
                        .ui.image
                            img(src="https://png.icons8.com/classroom/color/24" width="24" height="24")
                    |Courses
                a.item(href='/lightschool/exercises' class="{{isActivePath '/lightschool/exercises'}}")
                    i.icon
                        .ui.image
                            img(src="https://png.icons8.com/hand-with-pen/color/24" width="24" height="24")
                    |Exercises
                a.item(href='/quizzes' class="{{isActivePath '/quizzes'}}")
                    i.icon
                        .ui.image
                            img(src="https://png.icons8.com/report-card/color/24" width="24" height="24")
                    |Quizzes
        a.mobile.hidden.item(href='/lightbank' class="{{isActivePath '/lightbank'}}" data-position="bottom center" data-content="Lightbank") 
            .ui.image
                img(src="https://png.icons8.com/summer/color/48" width="48" height="48" )
        a.ui.simple.dropdown.mobile.hidden.item(href='/journal') 
            .ui.image
                img(src="https://png.icons8.com/journal/color/48" width="48" height="48")
            .ui.big.menu
                .header.item
                    .ui.header Journal
                #add_journal_entry.ui.item 
                    i.icon
                        .ui.image
                            img(src="https://png.icons8.com/create-document/color/24" width="24" height="24")
                    |New Entry
                a.ui.item(href="/journal/mine")
                    i.icon
                        .ui.image
                            img(src="https://png.icons8.com/journal/color/24" width="24" height="24")
                    |My Entries
                a.ui.item(href="/journal/prompts")
                    i.icon
                        .ui.image
                            img(src="https://png.icons8.com/ask-question/color/24" width="24" height="24")
                    | Prompts
                .ui.disabled.item
                    i.icon
                        .ui.image
                            img(src="https://png.icons8.com/template/color/24" width="24" height="24")
                    |Templates
                a.ui.item(href="/journal/browse") 
                    i.icon
                        .ui.image
                            img(src="https://png.icons8.com/reading/color/24" width="24" height="24")
                    |Browse

        a.mobile.hidden.item(href='/checkin' class="{{isActivePath '/checkin'}}" data-position="bottom center" data-content="Check In") 
            .ui.image
                img(src="https://png.icons8.com/in-progress/color/48" width="48" height="48")
    
        
    .right.menu
        if currentUser
            a.icon.item(href="/dashboard" class="{{isActivePath '/dashboard'}}" data-position="bottom center" data-content="Dashboard")
                .ui.image
                    img(src="https://png.icons8.com/dashboard/color/48" title="Dashboard" width="48" height="48")
        
            if cart_items
                a.icon.mobile.hidden.item(href='/cart' class="{{isActivePath '/cart'}}" data-position="bottom center" data-content="Shopping Cart")
                    i.large.icons
                        i.cart.icon
                        i.corner.teal.asterisk.icon
            a.icon.item(href="/profile/#{currentUser.username}" class="{{isActiveRoute name='view_profile'}}" data-position="bottom center" data-content="Profile")
                if currentUser.profile.image_id
                    img.ui.avatar.image(src="{{c.url currentUser.profile.image_id width=50 height=50 gravity='face' crop='fill'}}")
                else
                    i.user.icon
                span.mobile.hidden    
                    if currentUser.name
                        | #{currentUser.name}
                    else
                        | #{currentUser.username}
            
            // a.ui.icon.dropdown.item(class="{{isActivePath '/notifications'}}" data-position="bottom center" data-content="Notifications")
            // a.ui.icon.simple.dropdown.item
            //     if unread_notifications_count
            //         i.alarm.blue.icon
            //     else
            //         i.alarm.outline.icon
            //     .ui.menu(style="right: 0;left: auto;")
            //         a.item(href='/notifications') 
            //             |View All
            //             i.external.icon
            //         .ui.divider
            //         each unread_notifications
            //             .item #{subject.name} #{predicate} #{object.name}
        else
            a.ui.item(href='/sign-in') 
                .ui.image
                    img(src="https://png.icons8.com/signin/color/24" width="24" height="24")

                i.sign.in.icon
                | Sign In

