.ui.top.borderless.attached.large.menu
    a.toggle_sidebar.mobile.only.item
        i.sidebar.icon
        .imogen Tori Webster
    if currentUser
        a.ui.mobile.hidden.simple.dropdown.item(href='/' class="{{isActivePath '/'}}")
            .imogen Tori Webster
            .ui.menu
                a.mobile.hidden.item(href='/about' class="{{isActivePath '/about'}}") 
                    .ui.image
                        img(src="https://png.icons8.com/info/color/24" width="24" height="24")
                    |About
                a.mobile.hidden.item(href='/services' class="{{isActivePath '/services'}}") 
                    .ui.image
                        img(src="https://png.icons8.com/service-bell/color/24" width="24" height="24")
                    |Services
                a.mobile.hidden.item(href='/contact' class="{{isActivePath '/contact'}}") 
                    .ui.image
                        img(src="https://png.icons8.com/phone/color/24" width="24" height="24" )
                    |Contact
    unless currentUser
        a.mobile.hidden.item(href='/' class="{{isActivePath '/'}}")
            .imogen Tori Webster
        a.mobile.hidden.item(href='/about' class="{{isActivePath '/about'}}") 
            .ui.image
                img(src="https://png.icons8.com/info/color/24" width="24" height="24")
            |About
        a.mobile.hidden.item(href='/courses' class="{{isActivePath '/courses'}}") 
            .ui.image
                img(src="https://png.icons8.com/library/color/24" width="24" height="24")
            |Courses
        a.mobile.hidden.item(href='/lightbank' class="{{isActivePath '/lightbank'}}") 
            .ui.image
                img(src="https://png.icons8.com/summer/color/24" width="24" height="24" )
            |Lightbank
        a.mobile.hidden.item(href='/contact' class="{{isActivePath '/contact'}}") 
            .ui.image
                img(src="https://png.icons8.com/phone/color/24" width="24" height="24" )
            |Contact
    else
        a.mobile.hidden.item(href='/courses' class="{{isActivePath '/courses'}}" data-position="bottom center" data-content="LightSchool") 
            .ui.image
                img(src="https://png.icons8.com/library/color/48" width="48" height="48")
        a.mobile.hidden.item(href='/lightbank' class="{{isActivePath '/lightbank'}}" data-position="bottom center" data-content="Lightbank") 
            .ui.image
                img(src="https://png.icons8.com/summer/color/48" width="48" height="48" )
        a.mobile.hidden.item(href='/journal' class="{{isActivePath '/journal'}}" data-position="bottom center" data-content="Journal") 
            .ui.image
                img(src="https://png.icons8.com/journal/color/48" width="48" height="48")
        a.mobile.hidden.item(href='/checkin' class="{{isActivePath '/checkin'}}" data-position="bottom center" data-content="Check In") 
            .ui.image
                img(src="https://png.icons8.com/in-progress/color/48" width="48" height="48")
    
        
    .right.menu
        if currentUser
            a.icon.item(href="/dashboard" class="{{isActivePath '/dashboard'}}" data-position="bottom center" data-content="Dashboard")
                .ui.image
                    img(src="https://png.icons8.com/dashboard/color/48" title="Dashboard" width="48" height="48")
        
            if cart_items
                a.icon.mobile.hidden.item(href='/cart' class="{{isActivePath '/cart'}}" data-position="bottom center" data-content="Shopping Cart")
                    i.large.icons
                        i.cart.icon
                        i.corner.teal.asterisk.icon
            a.icon.item(href="/profile/#{currentUser.username}" class="{{isActiveRoute name='view_profile'}}" data-position="bottom center" data-content="Profile")
                if currentUser.profile.image_id
                    img.ui.avatar.image(src="{{c.url currentUser.profile.image_id width=50 height=50 gravity='face' crop='fill'}}")
                else
                    i.user.icon
                span.mobile.hidden    
                    if currentUser.name
                        | #{currentUser.name}
                    else
                        | #{currentUser.username}
            
            // a.ui.icon.dropdown.item(class="{{isActivePath '/notifications'}}" data-position="bottom center" data-content="Notifications")
            // a.ui.icon.simple.dropdown.item
            //     if unread_notifications_count
            //         i.alarm.blue.icon
            //     else
            //         i.alarm.outline.icon
            //     .ui.menu(style="right: 0;left: auto;")
            //         a.item(href='/notifications') 
            //             |View All
            //             i.external.icon
            //         .ui.divider
            //         each unread_notifications
            //             .item #{subject.name} #{predicate} #{object.name}
        else
            a.ui.item(href='/sign-in') 
                .ui.image
                    img(src="https://png.icons8.com/signin/color/24" width="24" height="24")

                i.sign.in.icon
                | Sign In

