template(name='downloads')
    .ui.horizontal.divider.header
        i.download.icon
        |#{module.title} Module Downloads
    if isInRole 'admin'
        unless $.Session.get 'is_editing'
            #add_file.ui.basic.button 
                i.red.configure.icon
                |Add #{module.title} File
    .ui.divided.items
        each module_files
            +file_item
                
template(name='file_item')                
    .ui.segment
        if is_editing
            +edit_file
        else 
            .content
                .header #{title}
                // .meta #{link}
                .description
                    |!{content}
                .extra
                    a.ui.basic.button(href=link)
                        i.download.icon
                        |Download #{title}
        +session_edit_button
                
template(name='edit_file')
    .ui.form
        +title
        +content
        +link
    .ui.center.aligned.basic.segment
        +delete_button