template(name='lightwork')
    // .ui.basic.segment
    .ui.horizontal.divider.header Lightwork
    +doc_content tags=lightwork_tags
    .ui.hidden.divider
    .ui.styled.fluid.accordion
        h3.title
            i.large.newspaper.icon
            | Transcript
        .content
            +doc_content tags=lightwork_transcript_tags
    .ui.hidden.divider
    +lightwork_questions
    
template(name='lightwork_questions')
    .ui.horizontal.divider.header 
        |Lightwork Questions
        if isInRole 'admin'
            i#add_lightwork_question.green.plus.link.icon(title='Add Lightwork Question')
    each lightwork_questions
        .ui.segment(class=segment_class)
            if isInRole 'admin'
                if published
                    .ui.top.right.attached.teal.label Published
                else
                    .ui.top.right.attached.basic.label Hidden
            if is_editing
                .ui.form
                    .field
                        +number
                    .field
                        label Lightwork Question
                        textarea#body(rows='3') #{body}
                    .ui.divider
                    +session_edit_button
                    +published
                    +delete_button
            else
                .ui.header #{number}: #{body}
                if isInRole 'admin'
                    +session_edit_button
            .ui.divider
            if currentUser
                if has_answered_question
                    +lightwork_answers
                else
                    .add_lightwork_answer.ui.basic.fluid.button 
                        i.plus.icon
                        |Add Answer

template(name='lightwork_answers')
    with my_answer
        .ui.segment(class=segment_class)
            .ui.blue.ribbon.label(class=ribbon_class)
                |Your Answer
                if published
                    |(public)
                else
                    |(private)
            if is_editing
                .ui.basic.segment
                    .ui.form
                        .field
                            // label Answer
                            textarea#body(rows='3') #{body}
                    +session_edit_button
                    +published
                    +delete_button
            else
                h4 #{body}
                if can_edit
                    +session_edit_button
    .ui.styled.fluid.accordion
        .title
            i.dropdown.icon
            | All Public Answers
        .content
            .ui.threaded.comments
                each all_answers
                    .comment
                        a(href='/profile/#{author.username}').avatar
                            img.ui.avatar.image(src="{{c.url author.profile.image_id width=100 height=100 gravity='face' crop='fill'}}")
                        .content
                            a(href='/profile/#{author.username}').author #{author.name}
                            .metadata
                                span.date #{from_now}
                                unless is_author
                                    +voting
                            .text
                                | #{body}
                            // .actions
                                // a.reply(href='#') Reply
                                // +favorite
                                // +voting
                                // if is_author
                                //     +delete_link
                                //     +edit_link
