template(name='doc_module')
    +nav
    .ui.basic.segment.container
        .ui.breadcrumb
            a.section(href='/') Home
            .divider  / 
            a.section(href='/courses') Courses
            .divider  / 
            a.section(href="/course/sol") Source of Light
            .divider  / 
            a.section(href="/course/sol/modules") Modules
            .divider  / 
            .active.section #{module.number}: #{module.title}
        .ui.hidden.divider
        .ui.grid
            .center.aligned.row
                .four.wide.column
                    if previous_module
                        // a.ui.basic.small.button(href="/course/sol/module/#{module.number}/section/#{previous_section.number}")
                        a#go_to_previous_module.ui.basic.small.button(href="#")
                            i.left.chevron.icon
                            |#{previous_module.number}: #{previous_module.title}
                .eight.wide.column
                    h1.ui.center.aligned.header Module #{module_number}: #{module.title}

                .four.wide.column
                    if module_complete
                        a.go_to_next_module.ui.basic.small.button(href="#")
                            |#{next_module.number}: #{next_module.title}
                            i.right.chevron.icon
            // a.item(href="/course/sol/module/#{module.number}/section/#{section.number}/reflective_questions" class="{{isActiveRoute name='reflective_questions'}}") Collaboration
        .ui.stackable.grid
            .five.wide.column
                with module
                    .content
                        |!{description}
                    .ui.vertical.fluid.pointing.menu
                        unless is_first_module
                            a.item(href="/course/sol/module/#{number}/debrief" class="{{isActiveRoute name='debrief'}}") Debrief
                        a.item(href="/course/sol/module/#{number}/sections" class="{{isActiveRoute name='doc_sections'}}") Sections
                        // .item Sections
                        // .menu
                        //     each sections
                        //         a.item(href="/course/#{../course}/#{module_number}/section/#{number}" class=section_path_class)  #{number}: #{title}
                        a.item(href="/course/sol/module/#{number}/lightwork" class="{{isActiveRoute name='lightwork'}}") Lightwork
                        a.item(href="/course/sol/module/#{number}/downloads" class="{{isActiveRoute name='downloads'}}") Downloads
                    .ui.dividing.header Status
                    // #calculate_module_progress.ui.button Calculate Module Progress
                    #module_percent_complete_bar.ui.blue.indicating.progress(data-percent=section_progress_doc.percent_complete)
                        .bar
                            .progress
                                | #{module_progress_doc.module_progress_percent}%
                    
                    // if complete
                    //     .ui.teal.fluid.label 
                    //         i.check.icon
                    //         |Complete
                    // else
                    //     .ui.teal.basic.fluid.label 
                    //         |Incomplete
                    // if isInRole 'admin'
                    //     .ui.dividing.header 
                    //         |Admin
                    //     a.ui.fluid.basic.button(href="/course/sol/module/#{_id}/edit")
                    //         i.red.configure.icon
                            // |Edit Module
            .eleven.wide.column
                +Template.dynamic template=module_content
