template(name='journal_view')
    a.ui.basic.button(href='/journal')
        i.left.chevron.icon
        strong Journal
    with doc
        .ui.container
            h1.ui.center.aligned.header View Journal Entry
            .ui.grid
                .ten.wide.column
                    |!{content}
                    if published
                        +comments
                .five.wide.column
                    .ui.dividing.header Tags
                    each tags
                        .ui.basic.large.label.doc_tag #{this}
                    .ui.dividing.header Actions
                    +resonate_button
                    +bookmark_button
        
                    if resonates_with_people.count
                        .ui.segment
                            .ui.dividing.header
                                |This Resonates With... (#{resonates_with_people.count})
                            .ui.divided.list
                                each resonates_with_people
                                    .item
                                        img.ui.avatar.image(src="{{c.url profile.image_id width=100 height=100 gravity='face' crop='fill'}}")
                                        .content
                                            .header
                                                |#{name}
                                            .description
                                                +tiny_color_dots
                                                each five_tags
                                                    .ui.basic.label #{this}
                    
                    .ui.dividing.header Visibility
                    if published
                        .ui.basic.green.large.label 
                            i.unlock.icon
                            | Public
                    else
                        .ui.basic.large.label 
                            i.lock.icon
                            | Private
                    .ui.header by #{author.name}
                    .ui.divider
                    if is_author
                        a.ui.basic.button(href="/journal/edit/#{_id}") 
                            i.pencil.icon
                            |Edit
