template(name='journal')
    .ui.container
        .ui.center.aligned.basic.segment
            +doc_content tags='journal,blurb'
        .ui.grid
            .four.wide.column
                #add_journal_entry.ui.basic.fluid.button
                    i.plus.icon
                    |Add Journal Entry
                +journal_cloud
                .ui.vertical.menu
                    a#toggle_published.item(class=published_item_class) 
                        i.red.unhide.icon
                        |Published (#{published_count})
                    a#toggle_unpublished.item(class=unpublished_item_class) 
                        i.red.hide.icon
                        |Unpublished (#{unpublished_count})
            
            .twelve.wide.column
                each docs
                    +journal_doc_view
        


template(name='journal_doc_view')
    .ui.fluid.card
        .content
            |!{content}
        .content
            .meta
                i.tags.icon
                each tags
                    .ui.tiny.circular.button.tag(class=tag_class) #{this}
        .content
            // .ui.hidden.divider
            +bookmark_button
            .ui.center.aligned.basic.segment
                a.ui.basic.teal.button(href="/journal/view/#{_id}")
                    |View
                    i.right.chevron.icon
                if can_edit
                    a.ui.basic.button(href="/journal/edit/#{_id}")
                        i.red.configure.icon
                        |Edit