template(name='journal')
    .ui.container
        .ui.center.aligned.basic.segment
            +doc_content tags='journal,blurb'
            unless is_editing
                .ui.teal.four.item.stackable.menu
                    a#set_mode_to_all.item(class=all_item_class) 
                        i.sun.yellow.icon
                        |All
                    a#toggle_resonates.item(class=resonates_item_class) 
                        i.heartbeat.icon
                        |Resonates
                    a#toggle_bookmarked.item(class=bookmarked_item_class) 
                        i.bookmark.icon
                        |Bookmarked
                    a#toggle_completed.item(class=completed_item_class) 
                        i.checkmark.box.icon
                        |Completed
    
        .ui.grid
            .five.wide.column
                +journal_cloud
                if isInRole 'admin'
                    .ui.two.item.stackable.menu
                        a#toggle_published.item(class=published_item_class) 
                            i.red.configure.icon
                            i.unhide.icon
                            |Published (#{published_count})
                        a#toggle_unpublished.item(class=unpublished_item_class) 
                            i.red.configure.icon
                            i.hide.icon
                            |Unpublished (#{unpublished_count})
                    if selected_tags
                        #add.ui.teal.button
                            i.plus.icon
                            |Add with Selected Tags
                    else
                        #add.ui.icon.basic.button
                            i.plus.icon
                            |Add journal Item
            
            .eleven.wide.column
                each docs
                    +journal_doc_view
        


template(name='journal_doc_view')
    .ui.fluid.card
        .content
            if has_youtube
                +view_youtube
            if has_image
                if image_id
                    .image
                        img(src="{{c.url image_id}}")
                if image_url
                    .ui.fluid.image
                        img(src=image_url)
            // .content
            //     span.right.floated 
            //         .expand_card.ui.basic.icon.button
            //             i.expand.icon
            if has_content
                |!{content}
        .content
            .meta
                i.tags.icon
                each tags
                    .ui.tiny.circular.button.tag(class=tag_class) #{this}
        .content
            // .ui.hidden.divider
            if can_resonate
                +resonate_button
            if can_complete
                +mark_complete_button
            if can_bookmark
                +bookmark_button
            .ui.center.aligned.basic.segment
                a.ui.basic.teal.button(href="/journal/view/#{_id}")
                    |View
                    i.right.chevron.icon
                if can_edit
                    a.ui.basic.button(href="/journal/edit/#{_id}")
                        i.red.configure.icon
                        |Edit