template(name='thanks_button')
    if said_thanks
        .ui.circular.icon.blue.compact.button.vote_up(data-tooltip="Thank #{author.profile.first_name} for Sharing")
            // img(src="https://png.icons8.com/small/50/000000/pray.png")
            img(src="https://png.icons8.com/ios/50/000000/pray.png")
    else
        .ui.circular.icon.basic.compact.button.vote_up
            img(src="https://png.icons8.com/ios/50/000000/pray.png")
            // img(src="https://png.icons8.com/small/50/000000/pray.png")
    // .ui.circular.icon.basic.mini.compact.button.vote_up(data-tooltip="Thank #{author.profile.first_name} for Sharing")
        // img.ui.mini.image(src="https://png.icons8.com/pray-filled/ios7/50" width="50" height="50")
        // if said_thanks
        //     |Thanks #{author.profile.first_name}
        // else
        //     | Thank #{author.profile.first_name} for Sharing
    // #thanks_modal.ui.small.modal
    //     i.close.icon
    //     .header Send #{author.profile.first_name} an optional private message?
    //     .content
    //         // img.ui.avatar.image(src="{{c.url author.profile.image_id width=100 height=100 gravity='face' crop='fill'}}")
    //         .ui.fluid.input
    //             input#thanks_message_text(type='text')
    //     .actions
    //         .ui.cancel.basic.button
    //             // i.ban.icon
    //             | No Thanks
    //         .ui.teal.approve.labeled.icon.button 
    //             i.send.icon
    //             |Send
    // #message_sent.ui.small.modal
    //     i.close.icon
    //     .header Message sent to #{author.profile.first_name}.
    //     .actions
    //         .ui.green.approve.button 
    //             i.check.icon
    //             |Cool


template(name='respond_button')
    if currentUser
        #respond.ui.circular.basic.icon.button(data-tooltip='Respond')
            +icon48 name='response' classes='ui inline image'
    else
        .ui.circular.basic.disabled.icon.button(data-tooltip='Respond')
            +icon48 name='response' classes='ui inline image'


template(name='reflect_button')
    if currentUser
        #reflect.ui.circular.basic.icon.button(data-tooltip='Reflect in Journal')
            +icon48 name='mirror' classes='ui mini inline image'
    else
        .ui.circular.basic.disabled.icon.button(data-tooltip='Reflect in Journal')
            +icon48 name='mirror' classes='ui mini inline image'

template(name='vote_button')
    .ui.basic.circular.icon.button
        i.thumbs.up.link.big.icon.vote_up(class=vote_up_button_class)
    // .ui.basic.circular.icon.button
    //     i.thumbs.down.link.big.icon.vote_down(class=vote_down_button_class)
        // |#{points}



template(name='favorite_button')
    .ui.basic.circular.icon.button.favorite_item(class=favorite_item_class)
        +icon24 name='hearts' classes='ui mini inline image'
        if favorite_count
            | #{favorite_count}

template(name='mark_complete_button')
    .mark_complete.ui.circular.white.button(class=complete_button_class) 
        if completed
            +icon48 name='checked-checkbox' classes='ui mini inline image'
            | Completed
        else
            +icon48 name='unchecked-checkbox' classes='ui mini inline image'
            | Mark Complete
        
template(name='mark_doc_complete_button')
    .mark_complete.ui.circular.icon.basic.button(class=complete_button_class) 
        if complete
            +icon48 name='checkmark' classes='ui mini inline image'
            // | Completed
        else
            +icon48 name='unchecked-checkbox' classes='ui mini inline image'
            // | Complete
        
template(name='mark_doc_approved_button')
    if approved
        .unapprove.ui.circular.icon.basic.button(data-tooltip='Unapprove')
            +ultraviolet_icon40 name='approval' classes='ui mini inline image'
    else
        .approve.ui.circular.icon.basic.button(data-tooltip='Approve')
            +icon48 name='approval' classes='ui mini inline image'
         
template(name='bookmark_button')
    .bookmark_button.ui.circular.icon.button(class=bookmark_button_class data-tooltip='Bookmark') 
        +icon48 name='bookmark-ribbon' classes='ui mini inline image'
        // if bookmarked
        //     | Bookmarked
        // else
        //     | Bookmark
        
        
template(name='pin_button')
    .pin_button.ui.circular.icon.button(class=pin_button_class data-tooltip='Pin this') 
        if pinned
            +icon24 name="pin" classes='ui mini inline image'
            // | Pinned
        else
            +icon24 name="pin" classes='ui mini inline image'
            // | Pin
        
template(name='mark_read_button')
    if currentUser
        if read
            .mark_unread.ui.circular.white.inverted.button(data-tooltip='Mark Unread')
                +icon48 name='read-message' classes='avatar'
                |Read
        else
            .mark_read.ui.basic.circular.white.inverted.button(data-tooltip='Mark Read')
                +icon48 name='message' classes='ui mini inline image'
                |Unread


template(name='resonate_button')
    .resonate_button.ui.circular.icon.button(class=resonate_button_class data-tooltip='This Resonates with Me')
        // i.big.red.heartbeat.icon
        // <img src="https://png.icons8.com/heart-with-pulse/dusk/64" title="Heart with Pulse" width="64" height="64">        
        img.ui.mini.inline.image(src="https://png.icons8.com/heart-with-pulse/dusk/64" width="64" height="64")
        
        
template(name='notify_button')
    .ui.styled.fluid.accordion
        .title 
            +icon24 name='bell' classes='ui inline image'
            |Notify Someone
            i.dropdown.icon
        .content
            .ui.fluid.input
                +inputAutocomplete settings=recipient_select_settings id="recipient_select" class="" autocomplete="off" placeholder='Lookup...'
            .ui.header Notified People
            .ui.list
                each notified_users
                    .item
                        img.ui.avatar.image(src="{{c.url profile.image_id width=100 height=100 gravity='face' crop='fill'}}")
                        .content
                            |#{username}
                        .right.floated.content
                            i.remove_notified_user.large.link.red.remove.icon
                