template(name='action')
    .ui.circular.icon.button.toggle_action(class=action_button_class data-tooltip=action_doc.title)
        +icon24 name=action_doc.icon_class classes='ui mini inline image'


template(name='respond_button')
    if currentUser
        #respond.ui.circular.basic.icon.button(data-tooltip='Respond')
            +icon48 name='response' classes='ui inline image'
    else
        .ui.circular.basic.disabled.icon.button(data-tooltip='Respond')
            +icon48 name='response' classes='ui inline image'

template(name='vote_button')
    .ui.basic.circular.icon.button
        i.thumbs.up.link.big.icon.vote_up(class=vote_up_button_class)
    // .ui.basic.circular.icon.button
    //     i.thumbs.down.link.big.icon.vote_down(class=vote_down_button_class)
        // |#{points}




template(name='notify_button')
    if currentUser
        .ui.fluid.accordion.shadowed.padded10
            .title 
                +icon24 name='bell' classes='ui inline image'
                |Notify Someone
                i.dropdown.icon
            .content
                .ui.fluid.input
                    +inputAutocomplete settings=recipient_select_settings id="recipient_select" class="" autocomplete="off" placeholder='Lookup...'
                .ui.header Notified People
                .ui.list
                    each notified_users
                        .item
                            img.ui.avatar.image(src="{{c.url profile.image_id width=100 height=100 gravity='face' crop='fill'}}")
                            .content
                                |#{username}
                            .right.floated.content
                                i.remove_notified_user.large.link.red.remove.icon
                
                
template(name='read_by_list')
    if read_by.count
        .ui.dividing.header
            |Read by... 
            span.floated.right (#{read_by.count})
        .ui.divided.list
            each read_by
                .item
                    img.ui.avatar.image(src="{{c.url profile.image_id width=100 height=100 gravity='face' crop='fill'}}")
                    .content
                        .header
                            |#{name}
                        .description
                            +tiny_color_dots
                            // each five_tags
                            //     .ui.basic.label #{this}
                