template(name='edit_field_template') 
    .ui.labeled.fluid.input
        .ui.basic.label Field Template
        input#field_template(type='text' value=field_template)

template(name='view_field_template') 
    | Field Type: #{field_template}





template(name='edit_icon_field')
    .ui.labeled.input
        a.ui.basic.label(href="https://icons8.com/icon/new-icons/color" target='_blank' data-tooltip="Lookup at icons8")
            |Icon 
        input#icon_class(type='text' value=icon_class)
    if icon_class    
        +icon96 name=icon_class classes='ui inline image'

// template(name='created_date')
//     .ui.form
//         .inline.field
//             label Created Date
//             input#created_date(type='datetime-local' value=created_date)


// template(name='edit_number')
//     .ui.labeled.input
//         .ui.basic.label Number
//         input#number(type='number' min='0' value=number)

// template(name='edit_text')
//     .ui.form
//         .field
//             textarea#text(rows='3') #{text}

// template(name='view_text')
//     .ui.basic.segment
//         |#{text}
            
            
// template(name='edit_tags')
//     // .ui.segment
//     .ui.header
//         +icon48 name='hashtag' classes='ui mini spaced image'
//         |Tags &nbsp;
//         .ui.mini.input
//             input#theme_tag_select(type='text' placeholder='Add...' maxlength='50' )
//         // .ui.mini.input
//         //     +inputAutocomplete settings=theme_select_settings id="theme_tag_select" class="" autocomplete="off"
//         each tags
//             // a.ui.basic.circular.button.doc_tag #{this}
//             a.ui.circular.white.button.doc_tag
//                 i.remove.icon
//                 |#{this}


// template(name='view_tags')
//     div
//         +icon48 name='hashtag' classes='ui inline mini image' tootip='Theme Tags'
//         each tags
//             .ui.basic.label #{this}

            


template(name='edit_link_field')
    .ui.labeled.icon.input
        .ui.basic.label Link (include http://)
        // i.linkify.icon
        input#link(type='text' value=link)


template(name='view_link_field')
    a(href=link) #{link}


    
template(name='edit_uploaded_image_field')
    .ui.segment
        if image_id
            .ui.header
                 +icon48 name='image-file' classes='ui mini spaced image'
                 |Uploaded Image
            .ui.large.centered.image
                img(src="{{c.url image_id width=500 crop='fit'}}")
                a#remove_photo.ui.top.right.attached.link.basic.label
                    +icon48 name='delete' classes='ui tiny spaced image'
                if isInRole 'dev'
                    .ui.bottom.right.attached.blue.label Image Id: #{image_id}
        else
            .ui.labeled.fluid.input
                .ui.basic.label
                    +icon48 name='add-image' classes='ui tiny spaced image'
                    |Upload Image
                input(type='file' name='upload_picture' accept='image/*')
            // if isInRole 'dev'
            //     .ui.header or Choose Cloudinary Image Id
            //     .ui.input
            //         input#input_image_id(type='text')

// template(name='edit_banner_image_id')
//     .ui.segment
//         if banner_image_id
//             .ui.header
//                  +icon48 name='image-file' classes='ui mini spaced image'
//                  |Banner Image
//             .ui.large.centered.image
//                 img(src="{{c.url banner_image_id width=500 crop='fit'}}")
//                 a#remove_photo.ui.top.right.attached.link.basic.label
//                     +icon48 name='delete' classes='ui tiny spaced image'
//                 if isInRole 'dev'
//                     .ui.bottom.right.attached.blue.label Image Id: #{banner_image_id}
//         else
//             .ui.labeled.fluid.input
//                 .ui.basic.label
//                     +icon48 name='add-image' classes='ui tiny spaced image'
//                     |Upload Banner Image
//                 input(type='file' name='upload_picture' accept='image/*')
//             // if isInRole 'dev'
//             //     .ui.header or Choose Cloudinary Image Id
//             //     .ui.input
//             //         input#input_image_id(type='text')


// template(name='view_banner_image_id')
//     img.ui.centered.image(src="{{c.url banner_image_id width=500 crop='fit'}}")
        
// template(name='view_image_id')
//     if image_id
//         img.ui.centered.image(src="{{c.url image_id width=500 crop='fit'}}")
        

template(name='edit_linked_image_field')
    if image_url
        label Image URL
        .ui.image
            img(src=image_url)
            a#remove_image_url.ui.top.left.attached.link.blue.label Remove
        .ui.label Image URL: #{image_url}
    else
        .ui.labeled.icon.action.fluid.input
            .ui.basic.label 
                +icon48 name='add-link' classes='ui mini spaced image'
                |Paste Image URL
            input#image_url(type='text' value=image_url)
            .ui.basic.button
                +icon24 name='sent'


template(name='view_linked_image_field')
    if image_url
        .ui.large.image
            img(src=image_url)
        
    
template(name='edit_youtube_field')
    .ui.segment
        .ui.action.fluid.labeled.input
            .ui.basic.label
                +icon48 name='youtube' classes='ui mini spaced image'
                |Youtube Id
            input#youtube(type='text' value=youtube)
            .ui.icon.basic.button#clear_youtube
                +icon24 name='delete'
        if youtube
            .ui.embed(data-source="youtube" data-id=youtube)


template(name='view_youtube_field')
    // .ui.embed(data-source="youtube" data-id=youtube data-icon="video" data-placeholder="/images/video_placeholder.png")
    if youtube
        .ui.embed(data-source="youtube" data-id=youtube)


template(name='edit_vimeo_field')
    .ui.segment
        .ui.action.fluid.labeled.input
            .ui.basic.label
                +icon48 name='vimeo' classes='ui mini spaced image'
                |vimeo Id
            input#vimeo(type='text' value=vimeo)
            .ui.icon.basic.button#clear_vimeo
                +icon24 name='delete'
        if vimeo
            .ui.embed(data-source="vimeo" data-id=vimeo)


template(name='view_vimeo_field')
    // .ui.embed(data-source="vimeo" data-id=vimeo data-icon="video" data-placeholder="/images/video_placeholder.png")
    if vimeo
        .ui.embed(data-source="vimeo" data-id=vimeo)


            
            
// template(name='edit_author')
//     .ui.labeled.input
//         .ui.basic.label 
//             |Author: 
//             with author
//                 img.ui.avatar.image(src="{{c.url profile.image_id width=100 height=100 gravity='face' crop='fill'}}")
//                 |#{username}
//         +inputAutocomplete settings=author_edit_settings id="author_select" class="" autocomplete="off" placeholder='Lookup...'
                    
                    
// template(name='edit_recipient')
//     .ui.labeled.input
//         .ui.basic.label 
//             |Recipient: 
//             with recipient
//                 img.ui.avatar.image(src="{{c.url profile.image_id width=100 height=100 gravity='face' crop='fill'}}")
//                 |#{username}
//         +inputAutocomplete settings=recipient_select_settings id="recipient_select" class="" autocomplete="off" placeholder='Lookup...'
                    
                        
                        
template(name='edit_transcript_field')
    .ui.header 
        +icon48 name="paper" classes='ui mini inline image'
        |Transcript
    .froala-container
        +froalaReactive transcript_context

template(name='view_transcript_field')
    .ui.styled.fluid.accordion
        h3.title
            +icon96 name="paper" classes='ui mini inline image'
            | Transcript
            i.dropdown.icon
        .content
            |!{transcript}
            // if isInRole 'dev'
            //     |old
            // +doc_by_parentid_and_type parent_id=_id type='transcript'
            // +doc_content tags='sol,welcome,transcript'
    .ui.hidden.divider
    
    
    
// template(name='start_datetime')
//     if editing
//         .ui.labeled.input
//             .ui.basic.label Start Date/Time
//             input#start_datetime(type='datetime-local' value=start_datetime)
//     else
//         .ui.header Start Date/Time #{start_datetime}
        
// template(name='end_datetime')
//     if editing
//         .ui.labeled.input
//             .ui.basic.label End Date/Time
//             input#end_datetime(type='datetime-local' value=end_datetime)
//     else
//         .ui.header End Date/Time #{end_datetime}


template(name='field_view_template')
    // .ui.secondary.segment
    //     .ui.header field_doc title: #{field_doc.title}
    //     .ui.header field_doc field type: #{field_doc.field_template}
    //     .ui.header field_doc slug: #{field_doc.slug}
    +Template.dynamic template=view_field_template data=..

template(name='field_edit_template')
    // .ui.secondary.segment
    //     .ui.header field_doc title: #{field_doc.title}
    //     .ui.header field_doc field type: #{field_doc.field_template}
    //     .ui.header field_doc slug: #{field_doc.slug}
    +Template.dynamic template=edit_field_template data=..


template(name='view_text_field')
    if field_template_value
        .ui.header
            +icon48 name=field_template_field_doc.icon_class classes='ui inline image'
            |#{field_template_field_doc.title}:
            |#{field_template_value}
    
template(name='edit_text_field')
    // .ui.header
    //     +icon48 name=field_template_field_doc.icon_class classes='ui inline image'
    //     |#{field_template_field_doc.title}:
    //     |#{field_template_value}
    
    .ui.labeled.fluid.input
        .ui.basic.label #{field_template_field_doc.title}
        input#text_field_input(type='text' value=field_template_value)

    
template(name='edit_string_field')
    .ui.header
        +icon48 name=field_template_field_doc.icon_class classes='ui inline image'
        |#{field_template_field_doc.title}:
        |#{field_template_value}
    
    .ui.labeled.fluid.input
        .ui.basic.label #{field_template_field_doc.title}
        input#text_field_input(type='text' value=field_template_value)
template(name='view_number_field')
    if field_template_value
        .ui.header
            |#{field_template_field_doc.title}:
            |#{field_template_value}
template(name='view_string_field')
    if field_template_value
        .ui.header
            +icon48 name=field_template_field_doc.icon_class classes='ui inline image'
            |#{field_template_field_doc.title}:
            |#{field_template_value}
    
    
template(name='view_array_field')
    if field_template_value
        .ui.basic.segment
            +icon48 name=field_template_field_doc.icon_class classes='ui inline image'
                // |#{field_template_field_doc.title}
            each field_template_value
                .ui.basic.large.label #{this}
    
    
template(name='edit_array_field')
    // .ui.segment
    .ui.header
        +icon48 name=field_template_field_doc.icon_class classes='ui inline image'
        |#{field_template_field_doc.title}
        .ui.mini.input
            input#theme_tag_select(type='text' placeholder='Add...' maxlength='50' )
        // .ui.mini.input
        //     +inputAutocomplete settings=theme_select_settings id="theme_tag_select" class="" autocomplete="off"
        each field_template_value
            // a.ui.basic.circular.button.doc_tag #{this}
            a.ui.circular.white.button.doc_tag
                i.remove.icon
                |#{this}

    
    
    
template(name='view_html_field')
    if field_template_value
        // .ui.header
        //     +icon48 name=field_template_field_doc.icon_class classes='ui inline image'
        //     |#{field_template_field_doc.title}
        .large120 !{field_template_value}
    
    
template(name='single_html_field_view')
    if field_value
        // .ui.header
        //     +icon48 name=field_template_field_doc.icon_class classes='ui inline image'
        //     |#{field_template_field_doc.title}
        .large120 !{field_value}
    
    
    
    

template(name='edit_html_field')
    .ui.header
        +icon48 name='html' classes='ui mini spaced image'
        | Edit HTML
    .froala-container
        +froalaReactive getFEContext
    
    
template(name='single_text_field_edit')
    .ui.labeled.fluid.input
        .ui.basic.label #{key}
        input#value(type='text' value=field_value)

    // +toggle_key key='completion_type' value='response' icon='response' label='Response'
