template(name='notifications')
    .ui.stackable.padded.grid
        .centered.row
            .four.wide.center.aligned.column
                a.ui.basic.circular.small.button(href="/profile/#{currentUser.username}") 
                    +icon48 name='profile' classes='ui mini inline image'
                    | My Profile
            .eight.wide.center.aligned.column
                h1.ui.center.aligned.header 
                    +icon96 name='notification'
                    |Notifications
            .four.wide.center.aligned.column
                a.ui.basic.circular.small.button(href='/karma') 
                    +icon48 name='diamond' classes='ui mini inline image'
                    strong #{currentUser.points}
                    | Karma
                    // +icon48 name='rotate-left' classes='ui mini inline image'
        .centered.row
            .four.wide.column
                // .ui.horizontal.divider.header Filter
                +theme_facet
                +timestamp_facet
                .ui.hidden.divider
                // .ui.header People
                // .ui.header Type
                // .ui.dividing.header Actions
                //     #mark_all_read.ui.basic.button 
                //         i.visible.icon
                //         |Mark All Read
                // if isInRole 'admin'
                //     .ui.header Options
                //     if notifications_allowed
                //         .ui.basic.disabled.button Desktop Notifications Allowed
                //         #disallow_notifications.ui.basic.red.button
                //             i.remove.icon
                //             |Remove Permissions
                // else
                //     #allow_notifications.ui.basic.button Allow Desktop Notifications
            .eight.wide.column
                // .ui.feed
                each notifications
                    +notification
            .three.wide.column
                .ui.dividing.header
                    +icon48 name='filter' classes='ui mini inline image'
                    |Filters
                div
                    +read_filter
                div
                    +doc_limit
                    

            
template(name='notification')
    .ui.segment.notification_segment(class=notification_segment_class)
        .ui.feed
            .event
                .label
                    img.ui.avatar.image(src="{{c.url recipient.profile.image_id width=50 height=50 gravity='face' crop='fill'}}")
                .content
                    .summary
                        // a.user(href="/profile/#{subject.username}")
                        //     | #{subject_name}
                        // | #{predicate}
                        a.user(href="/profile/#{recipient.username}")
                            | #{recipient.username}.
                        .date
                            | #{when}
                    .extra.text
                        p !{content}
                    .meta
                        +mark_read
                        +delete_button