template(name='edit_module')
    .ui.container
        .ui.breadcrumb
            a.section(href='/') Home
            .divider  / 
            a.section(href='/courses') Courses
            .divider  / 
            a.section(href="/course/#{course._id}") #{course.title}
            .divider  / 
            a.section(href="/course/#{course._id}/modules") Modules
            .divider  / 
            a.section(href="/course/#{course._id}/module/#{module._id}") #{module.number}: #{module.title}
            .divider  / 
            .active.section Edit
        with module
            .ui.basic.text.container.segment
                h1.ui.center.aligned.header Edit #{title} Module
            .ui.form
                .field
                    label Title
                    input#title(type='text' value=title)
                .field
                    label Slug
                    input#slug(type='text' value=slug placeholder='computer readable name, no spaces, caps or punctuation')
                .field
                    label Number
                    input#number(type='number' min='0' value=number)
                .field
                    label Parent Course Slug
                    .ui.basic.label #{parent_course_slug}
            .ui.segment
                h2.ui.header Sections
                #add_section.ui.basic.button
                    i.plus.icon
                    |Add Section
                .ui.hidden.divider
                .ui.styled.fluid.accordion
                    each sections
                        .title
                            i.dropdown.icon
                            if lightwork
                                i.idea.icon
                            else
                                | #{number}:
                            |#{title}
                        .content
                            .ui.form
                                +edit_section this
                // #section_tabs.ui.top.attached.tabular.menu
                //     a#add_section.icon.item(data-tab='tab0') 
                //         i.plus.icon
                //     each sections
                //         a.item(data-tab="tab#{number}") Section #{number}
                // each sections
                //     .ui.bottom.attached.tab.segment(data-tab='tab#{number}')
                //         .ui.header Section #{number}
                //         .ui.form
                //             +edit_section this
            .ui.center.aligned.basic.segment
                if number
                    a.ui.big.teal.button(href="/course/sol/module/#{number}") Save #{title} Module
                else
                    .ui.large.teal.diabled.button Set Number to Save Module
                #delete.ui.red.icon.small.button
                    i.trash.icon
                    // need to delete child docs
                    
