template(name='module_downloads')
    with module_ob
        +module_files this
    
            
template(name='module_files')
    .ui.center.aligned.header #{title} Downloads
    if isInRole 'admin'
        unless $.Session.get 'is_editing'
            #add_file.ui.basic.button 
                i.red.configure.icon
                |Add #{title} File
    .ui.divided.items
        each module_files
            if is_editing
                +edit_file
            else 
                +file_item
                
// template(name='file_item')                
//     .ui.item
//         .content
//             .header #{title}
//             .meta #{link}
//             .description
//                 |!{description}
//             .extra
//                 a.ui.basic.button(href=link)
//                     i.download.icon
//                     |Download #{title}
//                 if isInRole 'admin'
//                     .edit_file.ui.basic.button 
//                         i.red.configure.icon
//                         |Edit #{title} File
                
