template(name='browse_check_ins')
    // .ui.container
    .ui.stackable.grid
        .centered.row
            .three.wide.column
                #create_checkin.ui.basic.circular.small.button 
                    +icon48 name='plus' classes='ui avatar image'
                    |Check In
                    // +icon48 name='rotate-right' classes='ui avatar image'
            .eight.wide.column
                h1.ui.center.aligned.header
                    +icon96 name='cloud-checked'
                    | Browse Check-Ins
            .four.wide.column
                a.ui.basic.circular.small.button(href='/checkins/mine') 
                    +icon48 name='data-quality' classes='ui avatar image'
                    |My Check-Ins
                    +icon48 name='rotate-right' classes='ui avatar image'
        .row
            .four.wide.column
                +theme_facet type='checkin'
                +username_facet type='checkin'
                +location_facet type='checkin'
                +timestamp_facet type='checkin'
            
            .eight.wide.column
                // .ui.centered.stackable.cards
                .ui.relaxed.divided.items
                    each public_checkins
                        +browse_checkin_view
            .four.wide.column
                +bookmark_filter
                +read_filter
                +doc_limit




template(name='browse_checkin_view')
    .ui.segment(class=checkin_card_class)
        .content
            .description
                +view_tags
                if content
                    .ui.basic.segment
                        .large150 !{content}
                .ui.horizontal.list
                    .item
                        .large130
                            with author
                                |by 
                                if profile.image_id
                                    img.ui.avatar.image(src="{{c.url profile.image_id width=100 height=100 gravity='face' crop='fill'}}")
                                a(href="/profile/#{username}") #{name} 
                                +staus_indicator
                            |#{when}
                    .item
                        if is_author
                            +edit_link_button
                        unless is_author
                            +thanks_button
                            +resonate_button
                            +view_full_button
