template(name='admin_nav')                        
    .ui.menu
        a.item(href='/admin/settings') Site Settings
        a.item(href='/admin/contact_submissions') Contact Submissions
        a.item(href='/admin/components') Components


template(name='admin')
    +contact_submissions

template(name='contact_submissions')
    .ui.container
        .ui.hidden.divider
        h1.ui.center.aligned.header Contact Submissions
        table.ui.table
            thead
                tr
                    th Name
                    th Email
                    th When
                    th Message
                    th Actions
            tbody
                each submissions
                    tr
                        td #{name}
                        td #{email}
                        td #{when}
                        td #{message}
                        td 
                            +delete_button
                    
                            
template(name='site_settings')
    .ui.header Site Slug: #{site_name}
    unless site_doc
        #create_site_doc.ui.button Create Doc
    with site_doc
        +edit_title
        +edit_subtitle
        +edit_content


template(name='site_components')
    .ui.header Selected Components
    .ui.cards
        each selected_components
            .ui.green.card
                .content
                    .header
                        +icon48 name=icon_class
                        |#{title}
                .content
                    .unselect_component.ui.red.icon.button
                        i.remove.icon

    .ui.header Unselected Components
    .ui.cards
        each unselected_components
            .ui.card
                .content
                    .header 
                        +icon48 name=icon_class
                        |#{title}
                .content
                    .select_component.ui.green.button select
                    if is_admin
                        +edit_title
                        +edit_icon
                        +edit_slug