template(name='bookmarks')
    h1.ui.center.aligned.header 
        +icon96 name='bookmark-ribbon'
        |My Bookmarks (#{bookmarks_count})
    .ui.stackable.padded.grid
        .four.wide.column
            +theme_facet
            +username_facet
        .eight.wide.column
            .ui.segments
                each bookmark_docs
                    +bookmark
        .four.wide.column
            +icon48 name='filter'
            +published_filter
            div
                +passage_filter
                +journal_prompt_filter
                +poem_filter
                +quote_filter
            div
                +read_filter
            div
                +resonates_filter
                
template(name='bookmark')
    .ui.segment
        .content
            .header
                each tags
                    .ui.circular.label(class=tag_class) #{this}
            .avatar
                a
                    | by
                    img.ui.avatar.image(src="{{c.url author.profile.image_id width=50 height=50 gravity='face' crop='fill'}}")
                    |#{author.name}
                span.date #{from_now}
            .description
                .ui.basic.segment
                    if content
                        |!{content}
                    if image_url
                        img.ui.small.image(src=image_url)
            .extra
                .ui.horizontal.list
                    .item
                        +bookmark_button   
                    .item
                        span Type: 
                        .ui.basic.label #{type}
                    .item
                        +view_full_button