template(name='notifications')
    .ui.text.container
        h1.ui.horizontal.divider.header 
            i.alert.outline.icon
            |Notifications
        .ui.stackable.grid
            .five.wide.column
                // .ui.horizontal.divider.header Filter
                .ui.header Viewing: 
                    if viewing_unread
                        #view_all_notifications.ui.basic.button Unread
                    if viewing_all
                        #view_unread_notifications.ui.basic.button All
                // .ui.header People
                // .ui.header Type
                // .ui.dividing.header Actions
                //     #mark_all_read.ui.basic.button 
                //         i.visible.icon
                //         |Mark All Read
                // if isInRole 'admin'
                //     .ui.header Options
                //     if notifications_allowed
                //         .ui.basic.disabled.button Desktop Notifications Allowed
                //         #disallow_notifications.ui.basic.red.button
                //             i.remove.icon
                //             |Remove Permissions
                // else
                //     #allow_notifications.ui.basic.button Allow Desktop Notifications
            .eleven.wide.column
                // .ui.feed
                each notifications
                    +notification
            
            
template(name='notification')
    .ui.segment.notification_segment(class=notification_segment_class)
        .ui.feed
            .event
                .label
                    img.ui.avatar.image(src="{{c.url subject.profile.image_id width=50 height=50 gravity='face' crop='fill'}}")
                .content
                    .summary
                        a.user(href="/profile/#{subject.username}")
                            | #{subject_name}
                        | #{predicate}
                        a.user(href="/profile/#{object.username}")
                            | #{object_name}.
                        .date
                            | #{when}
                    if extra_text
                        .extra.text
                            p #{extra_text}
                    .meta
                        if read
                            a.mark_unread 
                                i.mail.icon
                                |Mark Unread
                        else
                            a.mark_read 
                                i.mail.outline.icon
                                |Mark Read
                        if liked
                            a.unlike 
                                i.thumbs.up.icon
                                |#{liked_count}    
                            //     i.thumbs.up.icon
                            //     |Unlike
                        else
                            a.like 
                                i.thumbs.up.outline.icon
                                |Like
                        if isInRole 'admin'
                            a.add_comment 
                                i.comment.icon
                                |Comment
                            +delete_notification_link