template(name='view_journal')
    a.ui.basic.button(href='/journal')
        img.ui.avatar.image(src="https://png.icons8.com/double-left/color/48" width="48" height="48")
        strong Journal
    .ui.container
        h1.ui.center.aligned.header View Journal Entry
        .ui.stackable.grid
            .ten.wide.column
                +parent_doc_segment
                .ui.basic.segment
                    |!{content}
                if published
                    +comments
                +doc_matches
                if watson
                    +analyzed_watson_keywords
                +child_docs
            .five.wide.column
                .ui.header
                    |by
                    img.ui.avatar.image(src="{{c.url author.profile.image_id width=50 height=50 gravity='face' crop='fill'}}")
                    |#{author.name}
                    with author
                        +staus_indicator
                    h3.ui.sub.header #{when}
                if is_author
                    +call_watson
                if watson
                    +doc_sentiment
                    +doc_emotion
                    +watson_keywords
                .ui.dividing.header 
                    img.ui.avatar.image(src="https://png.icons8.com/tags/color/48" width="48" height="48")
                    |Tags
                each tags
                    .ui.basic.large.label.doc_tag #{this}
                .ui.dividing.header 
                    img.ui.avatar.image(src="https://png.icons8.com/geo-fence/color/48" width="48" height="48")
                    |Location Tags
                each location_tags
                    .ui.basic.large.label.location_tag #{this}
                .ui.dividing.header 
                    img.ui.avatar.image(src="https://png.icons8.com/flash-light/color/48" width="48" height="48")
                    |Intention Tags
                each intention_tags
                    .ui.basic.large.label.intention_tag #{this}
                .ui.dividing.header Actions
                +bookmark_button
                +reflect_button
                unless is_author
                    +resonate_button
                    +thanks_button
                +resonates_list
                +toggle_doc_read
                +read_by
                +published
                .ui.divider
                if is_author
                    +edit_link_button
