.ui.segment
    with person
        .ui.tiny.image
            a(href="/profile/view/#{_id}")
                img(src="{{c.url profile.image_id width=300 height=300 gravity='face' crop='fill'}}")
        .content
            .header
                a(href="/profile/view/#{_id}") #{profile.name}
            .meta
                |#{points} points
            .meta
                | #{profile.position} at #{profile.company}
            .description
                p #{pro_bio}
            .extra
                each tags
                    .ui.tiny.compact.basic.label #{this}
            .extra
                +upvoted_matches