template(name='view_people')
    .ui.stackable.padded.grid
        .centered.row
            .three.wide.column
                +parent_link
            .ten.wide.column
                h1.ui.center.aligned.header
                    +icon96 name=icon_class classes='ui inline image'
                    |#{title}
            .three.wide.column
                if can_edit
                    +edit_button
    +people_cloud
    .ui.hidden.divider
        // .twelve.wide.column
            // +doc_content tags='people cloud,blurb'
            // .ui.hidden.divider
    .ui.centered.stackable.cards
        each people
            +person
            // .ui.stackable.grid
            //     // .four.wide.column
            //     .eleven.wide.column


template(name='person')
    .ui.card
        .image
            a(href="/user/#{username}")
                img.ui.fluid.rounded.image(src="{{c.url profile.image_id width=400 height=400 gravity='face' crop='fill'}}")
        .content
            .center.aligned.header
                a(href="/user/#{username}")
                    if profile.first_name
                        | #{profile.first_name}
                    if profile.last_name
                        | #{profile.last_name}
                    else    
                        | #{username}
                    +staus_indicator
            if profile.location
                .center.aligned.meta
                    | #{profile.location}
            .center.aligned.meta
                +color_dots
        // .extra.content
        //     each ten_tags
        //         .ui.compact.tiny.circular.button.user_tag(class=person_tag_class) #{this}

