template(name='journal_templates')
    .ui.padded.stackable.grid
        .centered.middle.aligned.row
            .four.wide.center.aligned.column
                a.ui.basic.circular.button(href="/journal") 
                    +icon48 name='journal' classes='ui mini inline image'
                    |Journal
            .eight.wide.center.aligned.column
                h1.ui.center.aligned.header
                    +icon96 name='template' 
                    | Journal Templates
                // .ui.center.aligned.basic.segment
                //     +doc_content tags='journal,templates,blurb'
            .three.wide.center.aligned.column
                if currentUser
                    +add_doc_button type='journal_template'
                    // +add_doc_button type='journal_template' button_text='Add Journal Template'
                else
                    .ui.disabled.button Sign In to Add Journal Template
        .centered.row
            .four.wide.column
                +tag_facet type='journal_template'
                +username_facet type='journal_template'
                +timestamp_facet type='journal_template'
            .twelve.wide.column
                each journal_templates
                    +journal_template


template(name='journal_template')
    .ui.segment(class=journal_card_class)
        .content
            h3.ui.center.aligned.header 
                if icon_class
                    +icon48 name=icon_class classes='ui spaced image'
                else
                    +icon48 name='template' classes='ui spaced image'

                a(href="/view/#{_id}") #{title}
            .meta
                +icon48 name='hashtag' classes='ui mini inline image'
                each tags
                    .ui.tiny.circular.compact.button.tag(class=tag_class) #{this}
        .ui.basic.segment
            .ui.list
                each journal_template_sections
                    .item #{number}: #{title}
        
        .content
            |by
            if author.profile.image_id
                img.ui.avatar.image(src="{{c.url author.profile.image_id width=50 height=50 gravity='face' crop='fill'}}")
            |#{author.name}
            with author
                +staus_indicator
            |#{when}
            +view_full_button
