.ui.container
    with person
        .ui.breadcrumb
            a.section(href='/') Home
            .divider  / 
            a.section(href='/people') People
            .divider  / 
            .active.section #{username}
        .ui.hidden.divider    
        if is_user
            +member_nav
        .ui.stackable.grid
            .five.wide.column
                img.ui.centered.rounded.image(src="{{c.url profile.image_id width=400 height=400 gravity='face' crop='fill'}}")
                .ui.basic.center.aligned.segment
                    if is_user
                        a.ui.basic.fluid.button(href="/account/profile/edit/#{_id}") Edit My Profile
                    else
                        +toggle_friend
                    // .ui.hidden.divider
                    // +staus_indicator
                    .ui.hidden.divider
                    .ui.header My True Colors Are:
                    +color_dots
                    .ui.hidden.divider
                    // if points
                    //     .ui.small.teal.statistic
                    //         .value #{points}
                    //         .label Comment Karma
                    // if isInRole 'dev'
                    //     +tag_person this    
                    
            .eleven.wide.column
                if profile.first_name
                    h2.ui.center.aligned.header
                        |#{profile.first_name} #{profile.last_name}
                else
                    .ui.center.aligned.sub.header #{username}
                if tags
                    .ui.basic.center.aligned.segment
                        each tags
                            .user_tag.ui.circular.basic.label #{this}
                .ui.bottom.attached.tab.segment(data-tab='courses')
                .ui.bottom.attached.tab.segment(data-tab='quizes')
                    .ui.basic.segment
                        +public_quiz_sessions
                .ui.bottom.attached.tab.segment(data-tab='social')
                    .ui.basic.segment
                        +user_friends
                        +following
                        +tag_person
                .ui.bottom.attached.tab.segment(data-tab='journal')
