.ui.container
    with person
        .ui.breadcrumb
            a.section(href='/') Home
            .divider  / 
            a.section(href='/people') People
            .divider  / 
            .active.section #{username}
        .ui.hidden.divider    
        if is_user
            +member_nav
        .ui.stackable.grid
            .five.wide.column
                img.ui.centered.rounded.image(src="{{c.url profile.image_id width=400 height=400 gravity='face' crop='fill'}}")
                .ui.basic.center.aligned.segment
                    if is_user
                        a.ui.basic.fluid.button(href="/account/profile/edit/#{_id}") Edit My Profile
                    else
                        +toggle_friend
                    // .ui.hidden.divider
                    // +staus_indicator
                    .ui.hidden.divider
                    .ui.header My True Colors Are:
                    +color_dots
                    .ui.hidden.divider
                    // if points
                    //     .ui.small.teal.statistic
                    //         .value #{points}
                    //         .label Comment Karma
                    // if isInRole 'dev'
                    //     +tag_person this    
                    
            .eleven.wide.column
                if profile.first_name
                    h2.ui.center.aligned.header
                        |#{profile.first_name} #{profile.last_name}
                else
                    .ui.center.aligned.sub.header #{username}
                if tags
                    .ui.basic.center.aligned.segment
                        each tags
                            .user_tag.ui.circular.basic.label #{this}
                #profile_menu.ui.top.attached.six.item.stackable.tabular.menu
                    a.item.active(data-tab='about') 
                        i.info.icon
                        |About
                    a.item(data-tab='courses')
                        i.university.icon
                        |Courses
                    a.item(data-tab='quizes')
                        i.edit.icon
                        |Quizes
                    a.item(data-tab='social') 
                        i.talk.outline.icon
                        |Social
                    a.item(data-tab='journal') 
                        i.edit.icon
                        | Journal
                    a.item(data-tab='contact') 
                        i.phone.icon
                        |Contact
                .ui.bottom.attached.tab.segment.active(data-tab='about')
                    .ui.basic.segment
                        if profile.location
                            .ui.header Location 
                            | #{profile.location}
                        if profile.about_me
                            .ui.header About Me
                            |#{profile.about_me}
                        if profile.if_knew_me
                            .ui.header If you really knew me you would know…
                            |#{profile.if_knew_me}
                        if profile.if_not_working
                            .ui.header If I am not at work or in class then I am probably…
                            |#{profile.if_not_working}
                .ui.bottom.attached.tab.segment(data-tab='courses')
                    .ui.basic.segment
                        +user_courses
                .ui.bottom.attached.tab.segment(data-tab='quizes')
                    .ui.basic.segment
                        +public_quiz_sessions
                .ui.bottom.attached.tab.segment(data-tab='social')
                    .ui.basic.segment
                        +user_friends
                        +following
                        // +tag_person
                .ui.bottom.attached.tab.segment(data-tab='journal')
                    .ui.basic.segment
                        +public_journal
                .ui.bottom.attached.tab.segment(data-tab='contact')
                    .ui.basic.segment
                        +message_user
                        // +messages_with_user
                // if isInRole 'dev'
                //     +user_docs
