with person
    .ui.container.grid
        .five.wide.column
            img.ui.centered.image(src="{{c.url profile.image_id width=400 height=400 gravity='face' crop='fill'}}")
        .ten.wide.column
            h2.ui.header
                |#{profile.first_name} #{profile.last_name}
            if tags
                each tags
                    .ui.basic.circular.label #{this}
            if profile.location
                .ui.header Location 
                | #{profile.location}
            if profile.about_me
                .ui.header About Me
                |#{profile.about_me}
            if profile.if_knew_me
                .ui.header If you really knew me you would know…
                |#{profile.if_knew_me}
            if profile.if_not_working
                .ui.header If I am not at work or in class then I am probably…
                |#{profile.if_not_working}
            // if isInRole 'admin'
            //     .ui.horizontal.divider.header
            //         i.red.configure.icon
            //         | Admin
            //     a.ui.basic.button(href="/profile/edit/#{_id}") Edit Profile