template(name='journal_prompts')
    .ui.container
        h1.ui.center.aligned.header
            img.ui.image(src="https://png.icons8.com/ask-question/color/48" width="48" height="48")
            | Journal Prompts
        // .ui.center.aligned.basic.segment
        //     +doc_content tags='journal,prompt,blurb'
        // #convert_journal_docs.ui.button Convert Journal Docs
        .ui.stackable.grid
            .four.wide.column
                #cloud
                    +theme_facet type='journal'
            .nine.wide.column
                .ui.relaxed.divided.items
                    each journal_prompts
                        +journal_prompt
            .three.wide.column
                .ui.header 
                    +icon24 name='filter' classes='ui avatar image'
                    |Filter

                +bookmark_filter



template(name='journal_prompt')
    .ui.segment(class=journal_card_class)
        .content
            .description
                .ui.basic.segment.large
                    |!{content}
                // +parent_doc_segment
                // if author.profile.image_id
                //     img.ui.avatar.image(src="{{c.url author.profile.image_id width=50 height=50 gravity='face' crop='fill'}}")
                // |by #{author.name} #{when}
                .ui.divider
            .ui.basic.segment
                .meta
                    img.ui.avatar.image(src="https://png.icons8.com/tags/color/24" width="24" height="24")
                    each tags
                        .ui.tiny.circular.compact.button.tag(class=tag_class) #{this}
            .extra
                +bookmark_button
                +reflect_button
                if can_edit
                    +edit_link_button
                +view_full_button
            // .meta
            //     i.large.icons
            //         i.idea.icon
            //         i.tags.corner.icon
            //     each watson_keywords
            //         .ui.tiny.circular.compact.button.tag(class=tag_class) #{this}
            // .content
            //         |by
            //         if author.profile.image_id
            //             img.ui.avatar.image(src="{{c.url author.profile.image_id width=50 height=50 gravity='face' crop='fill'}}")
            //         |#{author.name} #{when}
