template(name='colors')
    .ui.container
        h1.ui.dividing.header Colors
        h3.ui.header Order Your Colors
        // if isInRole 'admin'
        //     #add_color.ui.basic.button
        //         i.red.configure.icon
        //         |Add color
        unless me.profile.colors
            #generate_colors.ui.basic.button Generate Colors
        else
            .ui.four.stackable.cards
                each me.profile.colors
                    .ui.card(class=color_segment_class)
                        .content
                            .ui.header #{this}
                            .increase_index.ui.icon.basic.circular.button
                                i.chevron.left.icon
        h3.ui.header Color Information
        .ui.styled.accordion
            each colors
                .title
                    i.dropdown.icon
                    | #{title}
                .content
                    |!{content}
                    if isInRole 'admin'
                        a(href="/edit/#{_id}") Edit Color
                    
                    
template(name='color_dots')
    each this.profile.colors
        i.circular.inverted.icon(class=color_icon_class data-title=color_data_title data-html=color_data_content)
        