unless editing
    a.ui.basic.button(href='/plans')
        i.left.chevron.icon
        |Plans
        if is_admin
            +toggle_editing_button
    .ui.container
        h1.ui.center.aligned.header View '#{title}' Plan
        .ui.stackable.grid
            .ten.wide.column
                .ui.items
                    .ui.item
                        .content
                            .description
                                |!{content}
                // +stripe_cc_form                
                // +plan_members
            .five.wide.column
                if dollar_price
                    .ui.header Price: $#{dollar_price}
                .ui.dividing.header Actions
                +add_to_cart
                .ui.dividing.header Reviews
                h4 Review Points: #{points}
    
                .ui.dividing.header Tags
                each tags
                    .ui.basic.large.label.doc_tag #{this}
                // +tag_rating
else                
    h1.ui.center.aligned.header Edit #{title} Plan
    .ui.divided.grid
        .eleven.wide.column
            .ui.form
                +title
                +icon_class
                +tags
                +content
        .five.wide.column
            if tags
                a.ui.fluid.green.big.button(href="/view/#{_id}") Save Plan
            else
                .ui.fluid.green.big.disabled.button
                    | Add Tags to Save
            #delete_plan.ui.small.fluid.red.button Delete
            .ui.divider
            +point_price
            +dollar_price