template(name='quizzes')
    .ui.container
        h1.ui.dividing.header Quizzes
        .ui.stackable.divided.grid
            .twelve.wide.column
                // if is_list_view
                //     .ui.relaxed.divided.items
                //         each quizzes
                //             +quiz_item
                // if is_grid_view
                .ui.cards
                    each quizzes
                        +quiz_card
            .four.wide.column
                // .ui.dividing.header Layouts
                // #make_list_layout.ui.large.icon.button(class=list_layout_button_class)
                //     i.list.layout.icon
                // #make_grid_layout.ui.large.icon.button(class=grid_layout_button_class)
                //     i.grid.layout.icon
                // .ui.dividing.header Tag Filter
                // +cloud type='quiz'
                if isInRole 'admin'
                    .ui.dividing.header 
                        i.red.configure.icon
                        |Admin
                    #add_quiz.ui.basic.fluid.button
                        i.large.icons
                            i.sticky.note.outline.icon
                            i.green.plus.corner.icon
                        |Add Quiz


template(name='quiz_card')
    .ui.card
        .content
            .right.floated.meta
                if completed
                    i.big.green.checkmark.box.icon
                else
                    i.big.square.outline.icon
            .header
                a(href="{{pathFor 'view_quiz' quiz_slug=slug}}")
                    h2.ui.header #{title}
            .description
                |!{body}
        .content
            if isInRole 'admin'
                a.ui.basic.right.floated.button(href="/edit/#{_id}")
                    i.red.configure.icon
                    |Edit Quiz    