template(name='articles')
    .ui.container
        .ui.stackable.divided.grid
            .twelve.wide.column
                h1.ui.dividing.header Articles
                if is_list_view
                    .ui.relaxed.divided.items
                        each articles
                            +article_item
                if is_grid_view
                    .ui.cards
                        each articles
                            +article_card
            .four.wide.column
                .ui.dividing.header Layouts
                #make_list_layout.ui.large.icon.button(class=list_layout_button_class)
                    i.list.layout.icon
                #make_grid_layout.ui.large.icon.button(class=grid_layout_button_class)
                    i.grid.layout.icon
                .ui.dividing.header Tag Filter
                +cloud type='article'
                if isInRole 'admin'
                    .ui.dividing.header 
                        i.red.configure.icon
                        |Admin
                    #add_article.ui.basic.fluid.button
                        i.large.icons
                            i.sticky.note.outline.icon
                            i.green.plus.corner.icon
                        |Add Article


template(name='article_card')
    .ui.card
        .ui.centered.image
            a(href="/article/view/#{_id}")
                img(src="{{c.url image_id  height=300 crop='fill' gravity='face' }}")
        .content
            .header
                a(href="/article/view/#{_id}")
                    h2.ui.header #{title}
            if publish_date
                .meta
                    | Published #{publish_when}
            .description
                |#{snippet}
                // |!{description}
        .content
            each tags
                .ui.compact.button.article_tag(class=tag_class) #{this}
        .content
            if isInRole 'admin'
                .edit_article.ui.primary.basic.right.floated.button
                    i.pencil.icon
                    |Edit Article    
        .content
            +favorite

            
template(name='article_item')
    .item
        a.image(href="/article/view/#{_id}")
            img.ui.rounded.image(src="{{c.url image_id  width=175 height=175 crop='fill' gravity='face' }}")
        .content
            a.header(href="/article/view/#{_id}") #{title}
            .meta
                | Published #{publish_when}
            .description
                p !{body}
                a(href="/article/view/#{_id}") 
                    |View More
                    i.arrow.right.icon
            .extra
                i.tags.icon
                each tags
                    .ui.compact.tiny.circular.button.article_tag(class=tag_class) #{this}
            if isInRole 'admin'
                .extra
                    i.red.configure.large.icon
                    if published
                        .ui.green.basic.label Published
                    else
                        .ui.red.basic.label Unpublished                        
                    if featured
                        .ui.green.basic.label Featured
                    else
                        .ui.red.basic.label Unfeatured
