.ui.container.shadowed.padded10
    with user
        h1.ui.center.aligned.header edit #{username} profile
        .ui.large.form
            .ui.stackable.grid
                .five.wide.column    
                    .field
                        if profile.image_id
                            .ui.centered.image
                                img.ui.image(src="{{c.url profile.image_id width=400 height=400 gravity='face' crop='fill'}}")
                                a#remove_photo.ui.right.corner.link.label
                                    i.remove.red.link.icon
                        else
                            label add image
                            input(type='file' name='upload_picture' accept='image/*')
                .ten.wide.column
                    // .field
                    //     label irst Name 
                    //     .ui.input
                    //         input#first_name(type='text' value=profile.first_name)
                    // .field
                    //     label Last Name 
                    //     .ui.input
                    //         input#last_name(type='text' value=profile.last_name)
                    .field
                        label email
                        each emails
                            .ui.basic.label #{address}
                            if verified
                                .ui.basic.green.label Verified
                            else
                                .ui.basic.label Unverified
                    // .field
                    //     label Location 
                    //     .ui.input
                    //         input#location(type='text' value=profile.location)
                    .field
                        label tags
                        each tags
                            .ui.button.person_tag
                                i.minus.icon
                                |#{this}
                        .ui.left.icon.input
                            i.add.icon
                            input#add_tag(type='text' maxlength='50')
                    // .field
                    //     label blurb 
                    //     .ui.input
                    //         textarea#bio(type='textarea' maxlength="250" rows='3')
                    //             |#{profile.about_me}
                    .field
                        label favorite sex position
                        .ui.input
                            input#sex_position(type='text' value=profile.sex_position)
                    .field
                        label spirit animal
                        .ui.input
                            input#spirit_animal(type='text' value=profile.spirit_animal)
        .field
                .ui.center.aligned.basic.segment
                    #save_profile.ui.center.aligned.huge.button
                        |save
