template(name='user_layout')
    +nav
    .ui.padded.stackable.grid
        .centered.row
            .four.wide.column.shadowed-box
                with person
                    img.ui.small.centered.rounded.image(src="{{c.url profile.image_id width=400 height=400 gravity='face' crop='fill'}}")
                    .ui.center.aligned.header
                        if profile.first_name
                            |#{profile.first_name} #{profile.last_name}
                        |(#{username})
                        // unless is_user
                        +staus_indicator
                        if is_user
                            a(href="/profile/edit/#{_id}") 
                                i.yellow.pencil.icon
                    .ui.vertical.fluid.menu
                        a.item(href="/user/#{username}")
                            i.info.icon
                            |About
                        a.item(href="/user/#{username}/documents")
                            i.librar.icon
                            |Documents
                        // a.item(href="/user/#{username}/contact")
                        //     i.contact.icon
                        //     |Contact
                        a.item(href="/user/#{username}/comparison")
                            i.fork.icon
                            |Comparison
                        // a.item(href="/user/#{username}/info")
                        //     i.heart.icon
                        //     |Karma
                        // a.item(href="/user/#{username}/info")
                        //     i.money.icon
                        //     |Transactions
                if is_user
                    .ui.basic.center.aligned.segment
                        #logout.ui.big.center.aligned.red.button Log Out
            .twelve.wide.column.shadowed-box
                +Template.dynamic template=user_main


template(name='user_info')
    h1.ui.center.aligned.header About
    with person
        if tags
            +icon48 name='hashtag' classes='ui inline image'
            each tags
                .user_tag.ui.circular.large.basic.label #{this}
        if profile.location
            .ui.header 
                +icon48 name='user-location'
                | #{profile.location}
        if profile.about_me
            .ui.header About Me
            |#{profile.about_me}
        .ui.header My True Colors Are:
        +color_dots
        if profile.if_knew_me
            .ui.header If you really knew me you would know…
            |#{profile.if_knew_me}
        if profile.if_not_working
            .ui.header If I am not at work or in class then I am probably…
            |#{profile.if_not_working}
        //     +profile_stripe
        // else
        //     .centered.row
        //         .twelve.wide.column.shadowed-box
        //             +profile_comparison
        
        
template(name='user_documents')
    h1.ui.center.aligned.header #{person.first_name} Documents
    +tag_facet
    +ancestor_facet

    
    each user_docs
        +databank_card

