template(name='view_profile')
    .ui.padded.stackable.grid
        .centered.row
            .ten.wide.center.aligned.column
                a.ui.basic.icon.big.circular.button(href="/")
                    i.home.icon
        .centered.row
            .twelve.wide.column
                with currentUser
                    img.ui.small.centered.rounded.image(src="{{c.url profile.image_id width=400 height=400 gravity='face' crop='fill'}}")
                    .ui.center.aligned.header
                        if profile.first_name
                            |#{profile.first_name} #{profile.last_name}
                        |(#{username})
                        // unless is_user
                        +staus_indicator
                    if is_user
                        a.ui.basic.circular.icon.button(href="/profile/edit/#{_id}") 
                            i.yellow.pencil.icon
                    .ui.hidden.divider
                    if tags
                        +icon48 name='hashtag' classes='ui inline image'
                        each tags
                            .user_tag.ui.circular.large.basic.label #{this}
                    if profile.location
                        .ui.header 
                            +icon48 name='user-location'
                            | #{profile.location}
                    if profile.about_me
                        .ui.header About Me
                        |#{profile.about_me}
                    .ui.header My True Colors Are:
                    +color_dots
                    if profile.if_knew_me
                        .ui.header If you really knew me you would know…
                        |#{profile.if_knew_me}
                    if profile.if_not_working
                        .ui.header If I am not at work or in class then I am probably…
                        |#{profile.if_not_working}
        if is_user
            .ui.basic.center.aligned.segment
                #logout.ui.large.red.button Log Out
            
            
