template(name='conversation_view')
    a.ui.basic.button(href='/conversations')
        i.left.chevron.icon
        strong Conversations
    with doc
        .ui.container
            h1.ui.center.aligned.header View Conversation 
            .ui.grid
                .ten.wide.column
                    // +minimal_conversation_view this
                    +conversation_messages_pane this
                .five.wide.column
                    .ui.dividing.header Stats
                    .ui.small.horizontal.statistic
                        .value #{message_count}
                        .label Total Messages
                    .ui.small.horizontal.statistic
                        .value #{unread_message_count} 
                        .label Unread Messages
                    .ui.dividing.header Description
                    |!{content}
                    .ui.dividing.header Participants
                    .ui.divided.relaxed.list
                        each participants
                            .item
                                img.ui.avatar.image(src="{{c.url profile.image_id width=100 height=100 gravity='face' crop='fill'}}")
                                .content
                                    .header
                                        |#{name}
                                        .sub.header @#{username}
                                    .description
                                        each five_tags
                                            .ui.tiny.basic.label #{this}
                
                    .ui.dividing.header Tags
                    each tags
                        .ui.basic.large.label.doc_tag #{this}
                    .ui.dividing.header Actions
                    +bookmark_button
                    unless is_author
                        +resonate_button
                        +thanks_button
                    +resonates_list

                    .ui.dividing.header Visibility
                    if published
                        .ui.basic.green.large.label 
                            i.unlock.icon
                            | Public
                    else
                        .ui.basic.large.label 
                            i.lock.icon
                            | Private
                    .ui.header by #{author.name}
                    .ui.divider
                    if is_author
                        a.ui.basic.button(href="/conversation/#{_id}/edit") 
                            i.pencil.icon
                            |Edit
