template(name='full_conversation_view')
    .ui.fluid.card
        .content
            span.right.floated
                if isInRole 'admin'
                    +delete_button
                +view_full_button
            .ui.header 
                |!{content}    
            // if published    
            //     span.right.floated
            //         i.unlock.icon
            //         |Published
            // else
            //     span.right.floated
            //         i.lock.icon
            //         |Private
            div
                i.tags.icon
                each tags
                    .ui.basic.label(class=conversation_tag_class) #{this}
            div
                .ui.horizontal.list
                    each participants
                        .item
                            img.ui.avatar.image(src="{{c.url profile.image_id width=100 height=100 gravity='face' crop='fill'}}")
                            |#{name}
                            +staus_indicator
            +conversation_messages_pane this
                    
template(name='minimal_conversation_view')

template(name='conversation_messages_pane')
    .ui.horizontal.list.participant_list
        if published
            .item
                if in_conversation
                    .ui.basic.button.leave_conversation
                        i.sign.out.icon
                        |Leave
                else
                    .ui.basic.button.join_conversation
                        i.sign.in.icon
                        |Join
        each participants
            .item.participant_item
                img.ui.avatar.image(src="{{c.url profile.image_id width=100 height=100 gravity='face' crop='fill'}}")
                |#{name}
                +staus_indicator
    .ui.divider
    .description.conversation_messages
        each conversation_messages
            +conversation_message
    if in_conversation
        .ui.divider
        .ui.large.left.icon.fluid.transparent.input
            i.plus.icon
            input.add_message(type='text' placeholder='Add Message')