template(name='full_conversation_view')
    .ui.fluid.card
        .content
            span.right.floated
                if isInRole 'admin'
                    +session_delete_button
                // +subscribe_button
                +view_full_button
            .ui.header 
                |!{content}    
            // if published    
            //     span.right.floated
            //         i.unlock.icon
            //         |Published
            // else
            //     span.right.floated
            //         i.lock.icon
            //         |Private
            div
                +icon48 name='hashtag' classes='ui mini inline image'
                each tags
                    .ui.basic.label(class=conversation_tag_class) #{this}
            div
                .ui.horizontal.list
                    each participants
                        .item
                            img.ui.avatar.image(src="{{c.url profile.image_id width=100 height=100 gravity='face' crop='fill'}}")
                            |#{name}
                            +staus_indicator
            +conversation_messages_pane this
                    
template(name='conversation_messages_pane')
    .ui.horizontal.list.participant_list
        if published
            .item
                if in_conversation
                    .ui.basic.circular.button.leave_conversation
                        +icon48 name='leaving-queue' classes='ui mini inline image'
                        |Leave
                else
                    .ui.basic.circular.button.join_conversation
                        +icon48 name='joining-queue' classes='ui mini inline image'
                        |Join
        each participants
            .item.participant_item
                a(href="/user/#{username}")
                    img.ui.avatar.image(src="{{c.url profile.image_id width=100 height=100 gravity='face' crop='fill'}}")
                    |#{name}
                    +staus_indicator
    .ui.divider
    .description.conversation_messages
        each conversation_messages
            +conversation_message
    if in_conversation
        .ui.divider
        .ui.form
            .field
                textarea.add_message(rows='3' placeholder='Add Message')