template(name='conversation_cloud')
    if conversation_tags
        .ui.dividing.header Browse Tags
    if selected_conversation_tags
        #clear_tags.ui.primary.big.compact.icon.button
            i.remove.icon
    if selected_conversation_tags
        each selected_conversation_tags
            a.ui.primary.big.compact.button.unselect_tag
                strong #{this}
    each conversation_tags
        .ui.compact.basic.button.select_tag(class=conversation_tag_class) #{this.name}
            small #{this.count}
    .ui.dividing.header Browse Participants
    if selected_participant_ids
        #clear_participants.ui.teal.icon.circular.button
            i.remove.icon
        each selected_participant_ids
            .unselect_participant.ui.teal.circular.button
                strong #{this}
    each participant_tags
        .ui.basic.circular.button.select_participant(class=cloud_tag_class) 
            | #{this.username}
            small #{this.count}
