template(name='conversation_list')
    .ui.segments
        each conversation_list_items
            +conversation_list_item
            
            
template(name='conversation_list_item')
    .ui.segment.conversation_list_item(href='#' class=conversation_list_item_class)
        .content
            .description
                .ui.horizontal.list
                    each participants
                        .item
                            // a(href="/profile/#{username}")
                            img.ui.avatar.image(src="{{c.url profile.image_id width=100 height=100 gravity='face' crop='fill'}}" title=name)
                            |#{profile.first_name}
                            +staus_indicator
            .description
                each tags
                    .ui.small.basic.circular.label #{this}
            .description
                strong {{cutString last_message.body 100}}
            .description
                |by #{last_message.author.name} #{last_message.when}
            // .extra
            //     .span #{unread_message_count} unread messages
            //     .span #{_message_count} total messages