template(name='decks')
    .ui.container
        .ui.stackable.divided.grid
            .twelve.wide.column
                h1.ui.horizontal.divider.header notecard decks
                .ui.centered.cards
                    each decks
                        +deck_card_view
            .four.wide.column
                +cloud filter='deck'
                if currentUser
                    #add_deck.ui.large.basic.fluid.button
                        i.plus.icon
                        |add deck

template(name='edit_deck')
    with deck
        .ui.container
            .ui.center.aligned.header edit deck
            .ui.form
                +title
                +subtitle
                +tags
                +published
                if tags
                    .ui.center.aligned.basic.segment
                        a.ui.huge.green.button(href="/deck/view/#{_id}") Save
                        +delete



template(name='deck_card_view')
    .ui.card
        .content
            .header
                a(href="/deck/view/#{_id}")
                    h2.ui.header #{title}
            .description
                |#{subtitle}
        .content
            each tags
                .ui.compact.button.deck_tag(class=tag_class) #{this}




template(name='deck_page')
    with deck
        .ui.container
            h1.ui.header deck: #{title}
            h2.ui.header #{subtitle}
            .ui.stackable.grid
                .twelve.wide.column
                    .ui.equal.width.grid
                        .column
                            each notecards
                                +notecard_card
                .four.wide.column
                    +voting
                    +favorite
                    .ui.horizontal.divider.header Tags
                    each tags
                        .ui.basic.label #{this}
                    +user_card
                    if can_edit
                        .ui.horizontal.divider.header
                            i.large.red.configure.icon
                            |Admin
                        a(href="/deck/edit/#{_id}").ui.basic.fluid.button
                            i.pencil.icon
                            |edit deck
                        a#add_card.ui.basic.fluid.button
                            i.plus.icon
                            |add card
                        if published
                            .ui.green.label Published
                        else
                            .ui.red.label Unpublished                        