with module
    .ui.container
        h1.ui.center.aligned.header #{title}
        .ui.divided.stackable.grid
            .four.wide.column
                // .meta
                //     | Youtube ID: #{youtube_id}
                .description
                    |!{description}
                .ui.segment
                    .ui.header Transcript
                .ui.segment
                    .ui.header Collaboration
                .ui.segment
                    .ui.header Light Work
                if complete
                    .ui.teal.big.fluid.label 
                        i.check.icon
                        |Complete
                else
                    .ui.teal.big.basic.fluid.label 
                        |Incomplete
                if complete
                    #mark_as_incomplete.ui.basic.fluid.button Mark Incomplete
                else
                    #mark_as_complete.ui.basic.fluid.button Mark Complete

            .twelve.wide.column
                // .ui.horizontal.divider.header Status
                .ui.header Module Number: #{module_number}
                .ui.horizontal.divider.header Status
                .ui.segment
                    .ui.header Reflection
                    +collaboration
                .ui.horizontal.divider.header Admin
                a.ui.fluid.basic.button(href="/edit_module/#{_id}")
                    i.red.configure.icon
                    |Edit