.ui.container
    .ui.breadcrumb
        a.section(href='/') Home
        .divider  / 
        a.section(href='/courses') Courses
        .divider  / 
        a.section(href="/course/#{course._id}/view") #{course.title}
        .divider  / 
        a.section(href="/course/#{course._id}/modules") Modules
        .divider  / 
        .active.section #{module.number}: #{module.title}
    with module
        h1.ui.center.aligned.header #{title}
        .ui.divided.stackable.grid
            .four.wide.column
                .content
                    |!{content}
                .ui.segment
                    .ui.header Transcript
                .ui.segment
                    .ui.header Collaboration
                .ui.segment
                    .ui.header Light Work
                if complete
                    .ui.teal.big.fluid.label 
                        i.check.icon
                        |Complete
                else
                    .ui.teal.big.basic.fluid.label 
                        |Incomplete

            .twelve.wide.column
                .ui.header Module Number: #{number}
                .ui.horizontal.divider.header Status
                .ui.segment
                    .ui.header Reflection
                    +collaboration
                .ui.horizontal.divider.header Admin
                a.ui.fluid.basic.button(href="/course/#{course_id}/module/#{_id}/edit")
                    i.red.configure.icon
                    |Edit