template(name='colors')
    .ui.container
        h1.ui.dividing.header True Colors
        +doc_content tags='colors,intro'
        +doc_content tags='colors,transcript'
        // if isInRole 'admin'
        //     #add_color.ui.basic.button
        //         i.red.configure.icon
        //         |Add color
        h3.ui.header Color Information
        .ui.styled.fluid.accordion
            each colors
                h3.title
                    i.circular.inverted.small.icon(class=color_icon_class)
                    | #{title}
                    i.large.dropdown.icon
                .content
                    |!{content}
                    if isInRole 'admin'
                        a(href="/edit/#{_id}") Edit Color
        unless me.profile.colors
            #generate_colors.ui.basic.button Generate Colors
        else
            h3.ui.header Order Your Colors
            .ui.four.stackable.cards
                each me.profile.colors
                    .ui.card(class=color_segment_class)
                        .content
                            .ui.header #{this}
                            if can_increase
                                .increase_index.ui.icon.basic.circular.button
                                    i.chevron.left.icon
                            if can_decrease
                                .decrease_index.ui.icon.basic.circular.button
                                    i.chevron.right.icon
            .ui.hidden.divider
            a(href='/quiz/personality-colors/view').ui.teal.button
                |Take the full personality colors quiz
                i.right.arrow.icon


template(name='color_dots')
    each this.profile.colors
        i.circular.inverted.icon(class=color_icon_class data-title=color_data_title data-html=color_data_content)
    if is_user
        unless profile.colors
            i.circular.inverted.grey.icon
            i.circular.inverted.grey.icon
            i.circular.inverted.grey.icon
            i.circular.inverted.grey.icon
            .ui.hidden.fitted.divider
            a.ui.basic.button(href='/colors') Take this short quiz to discover your True Colors!
        else
            div
                a(href='/colors') Edit Your Colors

template(name='tiny_color_dots')
    each this.profile.colors
        i.circular.inverted.small.icon(class=color_icon_class data-title=color_data_title data-html=color_data_content)

        