
template(name='theme_facet')
    // +icon48 name='hashtag' classes='ui mini inline image' tooltip='Browse Themes'
    .ui.left.icon.small.inline.input
        i.search.icon
        +inputAutocomplete settings=settings id="search" class="" autocomplete="off" placeholder='Search...'
    // |&nbsp;  
    // .ui.hidden.fitted.divider
    if selected_theme_tags
        #clear_theme_tags.ui.blue.icon.button
            i.remove.icon
        each selected_theme_tags
            .unselect_theme_tag.ui.blue.button
                strong #{this}
    each theme_tags
        .ui.basic.button.select_theme_tag(class=theme_tag_class) 
            | #{this.name}
    // .ui.divider




template(name='view_doc')
    with doc
        .ui.padded.stackable.grid
            .centered.middle.aligned.row
                .four.wide.center.aligned.column
                    if currentUser
                        #user_add.ui.large.basic.icon.button
                            // +icon48 name='plus' classes='ui mini inline image'
                            i.plus.icon
                            // | #{child_template}
                
                .eight.wide.center.aligned.column
                    if parent
                        a.ui.basic.large.button(href="/view/#{parent._id}")
                            div
                                i.chevron.up.large.icon
                            each parent.tags
                                .ui.small.basic.label
                                    | #{this}
                .four.wide.center.aligned.column
                    if currentUser
                        a.ui.basic.button(href="/profile/#{currentUser.username}" data-position="bottom center" data-content="Profile")
                            | #{currentUser.username}
                    else
                        a.ui.basic.icon.button(href='/sign-in') 
                            +icon48 name='signin' classes='ui mini inline spaced image'
            // header row
            .centered.middle.aligned.row 
                .four.wide.center.aligned.column
                    if younger_sibling
                        a.ui.basic.button(href="/view/#{younger_sibling._id}")
                            i.chevron.left.large.icon
                            each younger_sibling.tags
                                .ui.small.basic.label
                                    | #{this}
                            // | #{younger_sibling.body}
                .eight.wide.center.aligned.column
                    h1.ui.center.aligned.header
                        each tags
                            .ui.large.basic.label
                                | #{this}
                        // if can_edit
                        +toggle_editing_button
                .four.wide.center.aligned.column
                    if older_sibling
                        a.ui.basic.button(href="/view/#{older_sibling._id}")
                            each older_sibling.tags
                                .ui.small.basic.label
                                    | #{this}
                            i.chevron.right.large.icon
                        
            .centered.row
                .ui.fourteen.wide.column
                    .ui.segment
                        +theme_facet
                    +content
                    if child_count
                        | #{child_count}
                    .ui.hidden.divider
                    .ui.centered.stackable.cards
                        each children
                            +child_view