template(name='edit_doc')
    with doc
        .ui.padded.stackable.grid
            .centered.middle.aligned.row
                .three.wide.center.aligned.column
                    +save_link
                .ten.wide.center.aligned.column
                    h1.ui.inverted.header
                        if icon_class
                            +icon96 name=icon_class classes='ui image'
                        |Edit 
                        if title
                            |#{title}
                        else
                            |#{parent.title} Item

                .three.wide.center.aligned.column
                    +delete_button
            .centered.row
                .twelve.wide.column
                    if template
                        +Template.dynamic template=edit_type_template
                    else
                        +parent_doc_accordion
                        +edit_html_field key='content' type='direct'
                        +published
                .four.wide.column
                    if is_admin
                        .ui.fluid.styled.accordion
                            .active.title
                                |Template:#{template}
                                i.dropdown.icon
                            .active.content
                                each templates
                                    +toggle_key key='template' value=slug icon=icon_class label=title
                    +published
                    .shadowed-box
                        .ui.dividing.header Options
                        
                    // +edit_type


// template(name='view_document')
//     +edit_html_field key='content'
//     +edit_transcript
//     +child_docs


template(name='view_doc')
    with doc
        if template
            +Template.dynamic template=view_template
        else            
            .ui.grid
                .row
                    .three.wide.center.aligned.column
                        // +parent_link
                    .ten.wide.column
                        h1.ui.inverted.center.aligned.header 
                            if icon_class
                                +icon96 name=icon_class classes='ui inline image'
                            |#{title}
                    .three.wide.center.aligned.column
                        if can_edit
                            +edit_button
                .centered.row
                    .ten.wide.column
                        +parent_doc_accordion
                        .shadowed-box
                            +view_html_field key='content' type='direct'
                            +author_info
                            |#{when}
                            
                            
                            
template(name='doc_template_selection')
    .ui.header Select Document Template
    +toggle_key key='completion_type' value='response' icon='response' label='Response'

    // .ui.header Choose Child Actions
    each child_actions
        .toggle_child_action.ui.button(class=child_action_toggle_class)
            +icon24 name=icon_class classes='ui inline image'
            strong #{title}    
            
                            