template(name='view_doc')
    with doc
        .ui.padded.stackable.grid
            .centered.middle.aligned.row
                if parent
                    a.ui.basic.circular.button(href="/view/#{parent._id}")
                        if parent.icon_class
                            +icon48 name=parent.icon_class classes='ui mini inline image'
                        else
                            +icon48 name='chevron-up' classes='ui mini inline image'
                        | #{parent.title}
                else if admin_mode
                    #create_parent.ui.basic.circular.button Create Parent
                    
            .centered.middle.aligned.row
                .mobile.hidden.four.wide.center.aligned.column
                    if younger_sibling
                        a.ui.basic.circular.button(href="/view/#{younger_sibling._id}")
                            if younger_sibling.completed
                                if younger_sibling.icon_class
                                    +icon48 name=younger_sibling.icon_class classes='ui mini spaced image'
                                else
                                    +icon48 name='checked' classes='ui mini spaced image'
                            else
                                if younger_sibling.icon_class
                                    +dots100 name=younger_sibling.icon_class classes='ui mini spaced image'
                                else
                                    +icon48 name='circle' classes='ui mini spaced image'
                            | #{younger_sibling.title}
                            // | #{younger_sibling.body}
                .eight.wide.center.aligned.column
                    h1.ui.center.aligned.header
                        if image_url
                            img.ui.tiny.inline.image(src=image_url)
                        else if completed
                            if icon_class
                                +icon48 name=icon_class classes='ui mini spaced image'
                            else
                                +icon48 name='checked' classes='ui mini spaced image'
                        else
                            if icon_class
                                +dots100 name=icon_class classes='ui mini spaced image'
                            // else
                            //     +icon48 name='circle' classes='ui mini spaced image'
                        if number
                            |#{number}: 
                        if editing
                            | Editing '#{title}'
                        else
                            | #{title}
                        if can_edit
                            +toggle_editing_button
                            
                .mobile.hidden.four.wide.center.aligned.column
                    if older_sibling
                        if completed
                            a.ui.basic.circular.button(href="/view/#{older_sibling._id}")
                                | #{older_sibling.title}
                                if older_sibling.icon_class
                                    if older_sibling.completed
                                        +icon48 name=older_sibling.icon_class classes='ui mini spaced image'
                                    else
                                        +dots100 name=older_sibling.icon_class classes='ui mini spaced image'
                        else
                            .ui.basic.disabled.circular.button
                                | #{older_sibling.title} &nbsp;
                                if older_sibling.icon_class
                                    if older_sibling.completed
                                        +icon48 name=older_sibling.icon_class classes='ui mini spaced image'
                                    else
                                        +dots100 name=older_sibling.icon_class classes='ui mini spaced image'
                        
            .centered.row
                unless editing
                    .center.aligned.four.wide.column
                        if is_admin
                            #user_add.ui.large.circular.basic.blue.icon.button
                                +icon48 name='plus' classes='ui mini inline image'
                                // | #{child_template}
                        else if can_add
                            #user_add.ui.large.circular.basic.icon.button
                                +icon48 name='plus' classes='ui mini inline image'
                                // | #{child_template}
                        if session_completion
                            #new_session.ui.blue.button New Session
                        .ui.hidden.divider
                        if theme_tags_facet
                            +theme_facet
                        if intention_tags_facet
                            +intention_facet
                        if location_tags_facet
                            +location_facet
                        if timestamp_facet
                            +timestamp_facet
                        if username_facet
                            +username_facet
                div(class=main_column_class)
                    if editing
                        .ui.styled.fluid.accordion
                            h3.active.title
                                +icon96 name="rename" classes='ui mini inline image'
                                | '#{title}' Fields
                                i.dropdown.icon
                            .active.content
                                each components
                                    if slug_exists
                                        // .ui.segment(class=field_segment_class)
                                        +Template.dynamic template=slug data=doc
                                        if editing
                                            +remove_field
                                            .ui.hidden.divider
                                if body
                                    +text
                            h3.title
                                +icon96 name="flow-chart" classes='ui mini inline image'
                                | #{child_count} Child Documents
                                i.dropdown.icon

                            .content
                                #admin_add.ui.basic.button
                                    i.plus.icon
                                    | Add Child Document
                                each children
                                    +grid_item
                    else
                        each components
                            if slug_exists
                                // .ui.segment(class=field_segment_class)
                                div
                                    +Template.dynamic template=slug data=doc
                        // .ui.basic.center.aligned.segment
                        // if response_completion
                        //     +response
                        unless response_doc
                            if response_completion
                                .ui.center.aligned.basic.segment
                                    #create_response.ui.circular.basic.button
                                        +icon48 name='response' classes='ui inline image'
                                        | Respond
                        if is_admin
                            if child_count
                                |#{child_count} children
                        // if list_view
                        //     each children
                        //         +list_item
                        .ui.stackable.centered.cards
                            if nav_view
                                each children
                                    +grid_item
                            else
                                each children
                                    +Template.dynamic template=child_view
                        if read_completion
                            .ui.center.aligned.basic.segment
                                if currentUser
                                    if read
                                        .mark_unread.ui.circular.blue.button 
                                            +icon48 name='read-message' classes='ui inline image'
                                            |Mark Unread
                                    else
                                        .mark_read.ui.basic.circular.button
                                            +icon48 name='message' classes='ui mini inline image'
                                            |Mark Read
                if editing
                    .six.wide.column
                        +doc_editing_sidebar
                else
                    .three.wide.column
                        if is_admin
                            if completion_type
                                #calculate_completion.ui.basic.circular.icon.button(data-tooltip='Calculate Completion')
                                    +icon48 name='reset' classes='ui mini spaced image'
                            if completors.count
                                .ui.segment
                                    .ui.dividing.header
                                        | #{completors.count} Completors
                                    .ui.divided.list
                                        each completors
                                            .item
                                                img.ui.avatar.image(src="{{c.url profile.image_id width=100 height=100 gravity='face' crop='fill'}}")
                                                .content
                                                    .header
                                                        |#{name}
                                                    .description
                                                        +tiny_color_dots
                                                        // each five_tags
                                                        //     .ui.basic.label #{this}
                                
                        if can_change_view_mode
                            .ui.dividing.header View Mode
                            
                            +set_view_mode label='List' value='list' icon='list'
                            +set_view_mode label='Cards' value='cards' icon='layout'
                            if view_published_filter
                                +published_filter
                            if can_view_flash_cards
                                +set_view_mode label='Flash Cards' value='flash_cards' icon='study'
                            if can_view_qa_session
                                +set_view_mode label='Q&A Session' value='qa_session' icon='faq'
            
template(name='doc_editing_sidebar')
    .ui.styled.fluid.accordion
        h3.title
            +icon48 name='rename' classes='ui mini inline image'
            | Field Menu
            i.dropdown.icon
            each selected_fields
                .ui.basic.label #{title}
        .content
            +field_menu

        h3.title
            +icon48 name='rhombus' classes='ui mini inline image'
            | Facets
            i.dropdown.icon
        .content
            +toggle_key key='theme_tags_facet' icon='hashtag' label='Theme Tags'
            +toggle_key key='intention_tags_facet' icon='spotlight' label='Intention Tags'
            +toggle_key key='location_tags_facet' icon='geo-fence' label='Location Tags'
            +toggle_key key='username_facet' icon='user' label='Authors'
            +toggle_key key='timestamp_facet' icon='time' label='Created'

        h3.title
            +icon48 name='access' classes='ui mini inline image'
            | Access
            i.dropdown.icon
            .ui.basic.label #{access}
        .content
            +toggle_key key='access' value='payment' icon='online-payment' label='Payment'
            +toggle_key key='access' value='complete_previous' icon='past' label='Complete Younger Sibling'
            +toggle_key key='access' value='available' icon='enter' label='Available'

        h3.title
            +icon48 name='task-completed' classes='ui mini inline image'
            |Completion Type
            i.dropdown.icon
            .ui.basic.label #{completion_type}
        .content
            +toggle_key key='completion_type' value='response' icon='response' label='Response'
            +toggle_key key='completion_type' value='mark_read' icon='read-message' label='Mark Read'
            +toggle_key key='completion_type' value='check_children' icon='flow-chart' label='Check Children'
            +toggle_key key='completion_type' value='session' icon='time' label='Session'
            +toggle_key key='completion_type' value='none' icon='unavailable' label='None'
            
        h3.title
            +icon48 name='flow-chart' classes='ui mini inline image'
            | Child View
            i.dropdown.icon
            .ui.basic.label #{child_view}
        .content
            +toggle_key key='child_view' value='nav' icon='grid-view' label='Nav'
            // +toggle_key key='child_view' value='list' icon='list-view' label='List'
            +toggle_key key='child_view' value='cards' icon='mockup' label='Cards'
            // +toggle_key key='child_view' value='answers' icon='response' label='Answers'
            // +toggle_key key='child_view' value='q_a' icon='faq' label='Q&A'
            // +toggle_key key='child_view' value='grandchild_list' icon='bulleted-list' label='Grandchild List'
            // +toggle_key key='child_view' value='quiz' icon='report-card' label='Quiz'
        
        h3.title
            +icon48 name='preview-pane' classes='ui mini inline image'
            | Available Child View Modes
            i.dropdown.icon
        .content
            +toggle_key key='can_view_flash_cards'  icon='study' label='Flash Cards'
            +toggle_key key='can_view_qa_session'  icon='time-limit' label='Q&A Session'
        
        h3.title
            +icon48 name='user' classes='ui mini inline image'
            | Child Options
            i.dropdown.icon
            if can_add
                .ui.basic.label User Add
            if can_vote
                .ui.basic.label User Vote
                // .ui.basic.label Add: #{child_template}
        .content
            +toggle_key key='can_add' icon='add-subnode' label='Users Can Add'
            +toggle_key key='can_vote' icon='elections' label='Vote'
            // +toggle_key key='can_change_view_mode' icon='true-false' label='Choose View Mode'
            +toggle_key key='can_bookmark' icon='bookmark' label='Bookmark'
            +toggle_key key='can_reflect' icon='mirror' label='Reflect in Journal'
            +toggle_key key='can_mark_resonates' icon='volunteering' label='Resonate'
            .ui.segment
                h5.ui.header 
                    +icon48 name='add-subnode' classes='ui mini spaced image'
                    |Child Fields
                    if can_add
                        |(user add)
                    else
                        |(admin only)
                each components
                    .select_child_field.ui.compact.small.button(class=child_field_class)
                        +icon48 name=icon_class classes='ui mini spaced image'
                        |#{title}
    
        h3.title
            +icon48 name='sort' classes='ui mini inline image'
            | Sort
            i.dropdown.icon
            .ui.basic.label #{sort_by}
                // .ui.basic.label Add: #{child_template}
        .content
            +toggle_key key='sort_by' value='number' icon='number' label='Number'
            +toggle_key key='sort_by' value='timestamp' icon='clock' label='Creation Date'
            +toggle_key key='sort_by' value='flag-filled' icon='score' label='Points'

        
        h3.title
            +icon48 name='filter' classes='ui mini inline image'
            | Filters
            i.dropdown.icon
        .content
            +toggle_key key='view_published_filter' icon='visible' label='Published'
            +toggle_key key='result_limit' value='1' icon='' label='1'
            +toggle_key key='result_limit' value='5' icon='' label='5'
            +toggle_key key='result_limit' value='10' icon='' label='10'

        h3.title 
            +icon48 name='monarch' classes='ui mini spaced image'
            |Admin
            i.dropdown.icon
        .content
            #move_up.ui.basic.button
                +icon48 name='up' classes='ui mini spaced image'
                | Move Above Parent
            +edit_author
            +edit_parent_id
        
        h3.title 
            +icon48 name='sports-mode' classes='ui mini spaced image'
            | Actions
            i.dropdown.icon
        .content
            if has_children
                .ui.disabled.red.button Remove Children to Delete
            else
                #delete_doc.ui.red.button Delete
            +published
            

             
template(name='field_menu')
    each unselected_fields
        .select_component.ui.basic.compact.small.button
            +icon48 name=icon_class classes='ui mini spaced image'
            |#{title}
                
    
                    
template(name='toggle_key')
    #toggle_key.ui.compact.button(class=toggle_key_button_class) 
        +icon48 name=icon classes='ui mini spaced image'
        | #{label}


template(name='set_view_mode')
    #set_view_mode.ui.button(class=view_mode_button_class)
        +icon48 name=icon classes='ui spaced mini image'
        | #{label}
