template(name='edit_doc')
    with doc
        .ui.padded.stackable.grid
            .centered.row
                .three.wide.center.aligned.column
                    +delete_button
                    +admin_toggle
                .ten.wide.center.aligned.column
                    h1.ui.header
                        if icon_class
                            +icon96 name=icon_class classes='ui image'
                        |Edit #{title}
                .three.wide.center.aligned.column
                    +save_link
            .centered.row
                .ten.wide.column
                    if type
                        +Template.dynamic template=edit_type_template
                    else
                        +parent_doc_segment
                        +edit_content
                        +published
                if is_admin
                    .six.wide.column
                        +edit_title
                        +edit_icon
                        // +edit_child_type
                        +edit_number
                        +published
                        +edit_type


template(name='view_document')
    +edit_content
    +edit_transcript


template(name='view_doc')
    with doc
        // .header-background.fixedbg(style=background_style)
        .header-backgrou
            .ui.padded.stackable.grid
                .centered.row
                    .three.wide.center.aligned.column
                        +admin_toggle
                    .ten.wide.center.aligned.column
                        unless is_site
                            +parent_link
                        else
                            .ui.small.image
                                +view_image_id
                    .three.wide.center.aligned.column
                        if currentUser
                            .ui.horizontal.list
                                .item
                                    a.ui.icon.basic.white.inverted.circular.button(href="/karma" data-position="bottom center" data-tooltip='Karma')
                                        +icon48 name='diamond' classes='ui mini inline image'
                                .item
                                    a.ui.icon.basic.white.inverted.circular.button(href="/profile/#{currentUser.username}" data-position="bottom center" data-tooltip=currentUser.username)
                                        if currentUser.profile.image_id
                                            img.ui.mini.image(src="{{c.url currentUser.profile.image_id width=60 height=60 gravity='face' crop='fill'}}")
                                        else
                                            i.user.icon
                        else
                            a.ui.icon.basic.white.inverted.circular.button(href='/sign-in') 
                                +icon48 name='login-rounded-down' classes='ui mini inline spaced image'
                                // | Sign In
            if type
                +Template.dynamic template=view_type_template
            else
                .ui.text.container
                    +parent_doc_segment
                    .shadowed-box
                        +view_content
                        +author_info
                        |#{when}