with product
    .ui.container
        a.ui.top.left.attached.basic.button(href="/products")
            i.arrow.left.icon
            |marketplace
        if image_id
            img.ui.centered.image(src="{{c.url image_id height=500 width=800 background='white' crop='lpad'}}")
        .ui.stackable.divided.grid
            .eleven.wide.column
                h1.ui.center.aligned.header #{title}
                |!{content}
            .five.wide.column
                .ui.dividing.header Price $#{price}
                +add_to_cart
                .ui.dividing.header Tags
                each tags
                    .ui.basic.label #{this}
                +user_card
                if can_edit
                    .ui.dividing.header 
                        i.red.configure.icon
                        |Admin
                    a.ui.basic.fluid.button(href="/product/edit/#{_id}")
                        i.pencil.icon
                        |Edit
                    if published
                        .ui.green.fluid.label Published
                    else
                        .ui.red.fluid.label Unpublished