template(name='bug_reports')
    h1.ui.center.aligned.header
        +icon96 name='bug'
        |Bug Reports
    .ui.grid
        .four.wide.column
            +timestamp_facet    
            +username_facet
        .ten.wide.column
            .ui.stackable.cards
                each bug_reports
                    +bug_report
        .two.wide.column
            +complete_filter

template(name='bug_report')
    .card
        .content
            .description #{body}
            .meta
                a(href=link) #{link}
            .meta
                |by #{author.name} #{when}
            .extra.content
                +mark_doc_complete_button
                +delete_button
