template(name='collaboration')
    +questions


template(name='questions')
    .ui.header Section Questions
    .ui.action.fluid.input
        input#new_question(type='text')
        #add_question.ui.basic.button 
            i.red.configure.icon
            |Add Question
    .ui.divided.segments
        each questions
            +question

        


template(name='question')
    .ui.segment
        h4.ui.header 
            |Question: #{text}
            if can_edit
                i.remove_question.red.big.link.remove.icon

                    
template(name='view_questions')
    .ui.styled.fluid.accordion
            .title
                i.big.help.icon
                | Reflective Questions
            .content
                each questions
                    .ui.segment(class=question_segment_class)
                        h4.ui.header #{text}
                        unless has_answered_question
                            .ui.action.fluid.input
                                input#answer(type='text')
                                #add_answer.ui.basic.button 
                                    i.green.plus.icon
                                    |Add Answer
                        each my_answers
                            h4 #{text}
                            .ui.divider
                            if can_edit
                                .ui.basic.compact.segment
                                    .toggle_published.ui.slider.checkbox
                                        input(type='checkbox' name='publish_answer' checked=published)
                                        label Publish Answer
                                    i.help.circle.outline.large.icon(data-content="By making this answer public other SOL participants can see it, relate, and collaborate.")
                                .ui.hidden.fitted.divider
                                .remove_answer.ui.basic.button
                                    i.remove.red.link.icon
                                    | Delete
            each questions
                if has_answered_question
                    .title 
                        i.big.unlock.icon
                        |Collaboration for #{text}
                    .content
                        .ui.segments
                            each published_answers
                                .ui.segment 
                                    h5 #{text}
                                    | by 
                                    a(href='/profile/#{author.username}')
                                        |{{author.name}}
                                        img.ui.avatar.image(src="{{c.url author.profile.image_id width=50 height=50 gravity='face' crop='fill'}}")
