template(name='doc_module')
    +nav
    .ui.container
        .ui.breadcrumb
            a.section(href='/') Home
            .divider  / 
            a.section(href='/courses') Courses
            .divider  / 
            a.section(href="/course/sol") Source of Light
            .divider  / 
            a.section(href="/course/sol/modules") Modules
            .divider  / 
            .active.section #{module.number}: #{module.title}

        h2.ui.header 
            |Module #{module_number}: #{module.title}
        .ui.stackable.grid
            .five.wide.column
                with module
                    .content
                        |!{description}
                    .ui.vertical.fluid.pointing.menu
                        if isInRole 'admin'
                            a.item(href="/course/sol/#{number}/debrief" class="{{isActiveRoute name='doc_debrief'}}") Debrief
                        .item Sections
                        .menu
                            each module_sections
                                a.item(href="/course/#{../course}/#{module_number}/section/#{number}" class=section_path_class)  #{number}: #{title}
                        a.item(href="/course/sol/#{number}/lightwork" class="{{isActiveRoute name='doc_lightwork'}}") Lightwork
                        a.item(href="/course/sol/#{number}/downloads" class="{{isActiveRoute name='doc_downloads'}}") Downloads
                    .ui.dividing.header Status
                    if complete
                        .ui.teal.fluid.label 
                            i.check.icon
                            |Complete
                    else
                        .ui.teal.basic.fluid.label 
                            |Incomplete
                    if isInRole 'admin'
                        .ui.dividing.header 
                            |Admin
                        a.ui.fluid.basic.button(href="/course/sol/module/#{_id}/edit")
                            i.red.configure.icon
                            |Edit Module
            .eleven.wide.column
                +Template.dynamic template=module_content
