template(name='doc_downloads')
    .ui.center.aligned.header Module #{module.title} Downloads
    if isInRole 'admin'
        unless $.Session.get 'is_editing'
            #add_file.ui.basic.button 
                i.red.configure.icon
                |Add #{module.title} File
    .ui.divided.items
        each module_files
            +file_item
                
template(name='file_item')                
    .ui.segment
        if is_editing
            +edit_file
        else 
            .content
                .header #{title}
                .meta #{link}
                .description
                    |!{description}
                .extra
                    a.ui.basic.button(href=link)
                        i.download.icon
                        |Download #{title}
        +edit_button
                
template(name='edit_file')
    .ui.form
        +title
        +content
        +link
    .ui.center.aligned.basic.segment
        +delete_button