template(name='checkin')
    .ui.container
        .ui.text.container
            .ui.teal.two.item.menu
                a#set_mode_to_all.item(class=all_item_class) All
                a#set_mode_to_resonates.item(class=resonates_item_class) Resonates with Me
        +checkin_cloud
        .ui.text.container
            each docs
                +checkin_doc_view
        


template(name='checkin_doc_view')
    .ui.container.fluid.segment
        .meta
            i.tags.icon
            each tags
                .ui.tiny.button.tag(class=tag_class) #{this}
        .ui.hidden.divider
        // +resonate_button
        // +mark_complete_button
        // +bookmark_button
        // a.ui.basic.button(href="/view/#{_id}") 
        //     |View
        //     i.right.chevron.icon
        if can_edit
            a.ui.basic.button(href="/edit/#{_id}")
                i.red.configure.icon
                |Edit
        