template(name='checkin')
    h1.ui.header Check In
    +doc_content tags='checkin,blurb'
    .ui.divider
    .ui.divided.grid
        .five.wide.column
            +checkin_cloud
        .eleven.wide.column
            .ui.centered.stackable.cards
                each docs
                    +checkin_doc_view


template(name='checkin_doc_view')
    .ui.card
        .content
            .meta
                i.tags.icon
                each tags
                    .ui.tiny.button.tag(class=tag_class) #{this}
            .ui.hidden.divider
            |!{content}
        .content
            a.right.floated(href="/profile/view/#{author.username}")
                i.user.icon
                |#{author.name}
            |#{when}
            if can_edit
                a.ui.basic.button(href="/edit/#{_id}")
                    i.red.configure.icon
                    |Edit