template(name='service_view')
    a.ui.basic.button(href='/services')
        i.left.chevron.icon
        |Service
    with doc
        .ui.container
            h1.ui.center.aligned.header View '#{title}' Services
            .ui.grid
                .ten.wide.column
                    |!{content}
                    if image_id
                        .ui.large.centered.image
                            img(src="{{c.url image_id width=500 crop='fit'}}")
                    if image_url
                        .ui.large.centered.image
                            img(src=image_url)
                    
                    h4.ui.horizontal.divider.header
                        i.exchange.icon
                        | #{title} Transactions
                    table.ui.selectable.unstackable.table
                            thead
                                tr
                                    th Sale Price
                                    th When
                                    th Buyer
                                    th Has Completed
                                    th Buyer Review
                            tbody
                                each child_transactions
                                    tr
                                        td 
                                            if sale_dollar_price
                                                |$#{sale_dollar_price}
                                            |#{sale_point_price} point(s)
                                        td
                                            |#{when}
                                        td
                                            img.ui.avatar.image(src="{{c.url author.profile.image_id width=100 height=100 gravity='face' crop='fill'}}")
                                            |#{author.name}
                                            with author
                                                +staus_indicator
                                        td
                                            if completed
                                                i.large.green.check.icon
                                            else    
                                                i.large.circle.outline.icon
                                        td

                    
                .five.wide.column
                    .ui.header by 
                        img.ui.avatar.image(src="{{c.url author.profile.image_id width=100 height=100 gravity='face' crop='fill'}}")
                        |#{author.name}
                        with author
                            +staus_indicator

                    if dollar_price
                        .ui.header Price: $#{dollar_price}
                    .ui.header Price: #{point_price} points
                    .ui.dividing.header Actions
                    +add_to_cart
                    +bookmark_button
        
                    .ui.dividing.header Tags
                    each tags
                        .ui.basic.large.label.doc_tag #{this}
                    if published
                        .ui.basic.green.label Published
                    else
                        .ui.basic.label Unpublished
                    .ui.hidden.fitted.divider
                    +tag_rating
                    if can_edit
                        a.ui.basic.button(href="/service/#{_id}/edit") 
                            i.pencil.icon
                            |Edit
