template(name='services')
    .ui.stackable.grid
        .four.wide.column
            h1.ui.dividing.header
                +icon96 name='service-bell'
                |Services
            if isInRole 'admin'
                #add_service.ui.basic.fluid.button
                    +icon48 name='plus' classes='ui mini spaced image'
                    |Add Service
            +theme_facet type='service'
        .twelve.wide.column
            .ui.relaxed.divided.items
                each services
                    +service_item


template(name='service_item')
    .item
        a.image(href="/view/#{_id}")
            if image_id
                img.ui.rounded.image(src="{{c.url image_id  width=175 height=175 crop='fill' gravity='face' }}")
            if image_url
                img(src=image_url)
            .ui.center.aligned.header
                if dollar_price
                    | $#{dollar_price}
                if point_price
                    | #{point_price} pts
                else
                    | Free

        .content
            a.header(href="/view/#{_id}") #{title}
            .meta
                img.ui.avatar.image(src="{{c.url author.profile.image_id width=100 height=100 gravity='face' crop='fill'}}")
                |by #{author.name}
            .meta
                each tags
                    .ui.small.label(class=tag_class) #{this}
            .description
                | !{content}
                span.right.floated
                    +view_full_button
            // .extra
            //     i.tags.icon
            //     each tags
            //         .ui.compact.tiny.button.service_tag(class=tag_class) #{this}
