template(name='services')
    .ui.container
        h1.ui.horizontal.divider.header
            i.configure.icon
            |Services
        .ui.stackable.divided.grid
            .four.wide.column
                #add_service.ui.large.basic.fluid.button
                    i.plus.icon
                    |Add Service
                .ui.dividing.header Tag Filter
                +tag_filter type='service'
                .ui.dividing.header Layouts
                #make_list_layout.ui.large.icon.button(class=list_layout_button_class)
                    i.list.layout.icon
                #make_grid_layout.ui.large.icon.button(class=grid_layout_button_class)
                    i.grid.layout.icon
            .twelve.wide.column
                if is_list_view
                    .ui.relaxed.divided.items
                        each services
                            +service_item
                if is_grid_view
                    .ui.centered.cards
                        each services
                            +service_card


template(name='service_card')
    .ui.card
        .ui.centered.image
            a(href="/service/#{_id}/view")
                if image_id
                    img(src="{{c.url image_id  height=300 crop='fill' gravity='face' }}")
                if image_url
                    img(src=image_url)
        .content
            .header
                a(href="/service/#{_id}/view")
                    h2.ui.header #{title}
            .meta
                each tags
                    .ui.tiny.basic.label #{this}
            if price
                .meta
                    // | published #{publish_when}
                    if dollar_price
                        | Price: $#{dollar_price}
                    if point_price
                        | Point Price: #{point_price} points
                    else
                        | Point Price: 0 points
                    
            .description
                |!{content}
        .content
            // each tags
            //     .ui.compact.button.service_tag(class=tag_class) #{this}
            if isInRole 'admin'
                .edit_service.ui.primary.basic.right.floated.button
                    i.pencil.icon
                    |Edit Service    
            +favorite_button
            a.ui.basic.teal.button(href="/service/#{_id}/view") 
                |View More
                i.arrow.right.icon


            
template(name='service_item')
    .item
        a.image(href="/service/#{_id}/view")
            if image_id
                img.ui.rounded.image(src="{{c.url image_id  width=175 height=175 crop='fill' gravity='face' }}")
            if image_url
                img(src=image_url)

        .content
            a.header(href="/service/#{_id}/view") #{title}
            .meta
                if dollar_price
                    | Price: $#{dollar_price}
                if point_price
                    | Point Price: #{point_price} points
                else
                    | Point Price: 0 points
            .meta
                each tags
                    .ui.tiny.basic.label #{this}

            .description
                | !{content}
                a.ui.basic.teal.button(href="/service/#{_id}/view") 
                    |View More
                    i.arrow.right.icon
            // .extra
            //     i.tags.icon
            //     each tags
            //         .ui.compact.tiny.button.service_tag(class=tag_class) #{this}
            if can_edit
                .extra
                    i.red.configure.large.icon
                    if published
                        .ui.green.basic.label Published
                    else
                        .ui.red.basic.label Unpublished                        
