template(name='view_service')
    a.ui.basic.button(href='/services')
        i.left.chevron.icon
        |Services
    .ui.container
        h1.ui.center.aligned.header View '#{title}' Service
        .ui.stackable.grid
            .ten.wide.column
                .ui.items
                    .ui.item
                        .ui.small.image
                            if image_id
                                img(src="{{c.url image_id}}")
                            if image_url
                                img(src=image_url)
                        .content
                            .description
                                |!{content}
                +service_transactions
            .five.wide.column
                .ui.header by 
                    img.ui.avatar.image(src="{{c.url author.profile.image_id width=100 height=100 gravity='face' crop='fill'}}")
                    |#{author.name}
                    with author
                        +staus_indicator

                if dollar_price
                    .ui.header Price: $#{dollar_price}
                .ui.basic.definition.table
                    thead
                        tr
                            th
                            th 
                                i.large.heartbeat.icon 
                    tbody
                        tr
                            td Your Balance
                            td 
                                .ui.tiny.horizontal.statistic
                                    .value #{currentUser.points}
                                    .label points
                        tr
                            td Price
                            td 
                                .ui.tiny.horizontal.statistic
                                    .value #{point_price} 
                                    .label points
                        tr
                            td Balance After Purchase
                            td
                                .ui.tiny.horizontal.statistic
                                    .value #{balance_after_transaction}
                                    .label points
                .ui.dividing.header Actions
                +add_to_cart
                +bookmark_button
        
                .ui.dividing.header Reviews
                h4 Review Points: #{points}
    
                .ui.dividing.header Tags
                each tags
                    .ui.basic.large.label.doc_tag #{this}
                +published
                .ui.hidden.fitted.divider
                // +tag_rating
                +edit_link_button