template(name='marketplace')
    .ui.container
        .ui.stackable.divided.grid
            .twelve.wide.column
                h1.ui.dividing.header Tori Webster products
                if is_list_view
                    .ui.relaxed.divided.items
                        each products
                            +product_item
                if is_grid_view
                    .ui.centered.cards
                        each products
                            +product_card
            .four.wide.column
                // .ui.dividing.header Tag Filter
                // +cloud type='product'
                .ui.dividing.header Layouts
                #make_list_layout.ui.large.icon.button(class=list_layout_button_class)
                    i.list.layout.icon
                #make_grid_layout.ui.large.icon.button(class=grid_layout_button_class)
                    i.grid.layout.icon
                if isInRole 'admin'
                    .ui.dividing.header
                        i.red.configure.icon
                        |Admin
                    #add_product.ui.large.basic.fluid.button
                        i.plus.icon
                        |Add Product


template(name='product_card')
    .ui.card
        .ui.centered.image
            a(href="/view/#{_id}")
                img(src="{{c.url image_id  height=300 crop='fill' gravity='face' }}")
        .content
            .header
                a(href="/view/#{_id}")
                    h2.ui.header #{title}
            if publish_date
                .meta
                    // | published #{publish_when}
                    | Price: $#{price}
            .description
                |!{content}
        .content
            // each tags
            //     .ui.compact.button.product_tag(class=tag_class) #{this}
            if isInRole 'admin'
                .edit_product.ui.primary.basic.right.floated.button
                    i.pencil.icon
                    |Edit product    
        .content
            +favorite_button

            
template(name='product_item')
    .item
        a.image(href="/view/#{_id}")
            img.ui.rounded.image(src="{{c.url image_id  width=175 height=175 crop='fill' gravity='face' }}")
        .content
            a.header(href="/view/#{_id}") #{title}
            .meta
                // | published #{publish_when}
                | Price: $#{price}
            .description
                p #{snippet}
                a(href="/view/#{_id}") 
                    |View More
                    i.arrow.right.icon
            // .extra
            //     i.tags.icon
            //     each tags
            //         .ui.compact.tiny.button.product_tag(class=tag_class) #{this}
            if isInRole 'admin'
                .extra
                    i.red.configure.large.icon
                    if published
                        .ui.green.basic.label Published
                    else
                        .ui.red.basic.label Unpublished                        
