template(name='messages_layout')
    .context.example
        +nav
        // .ui.top.attached.demo.menu
        //     a.item
        //         i.sidebar.icon
        //         |     Menu
        .ui.bottom.attached.basic.segment.pushable
            +left_sidebar
            .pusher
                #main_area
                    .ui.hidden.divider
                    .ui.container
                        .ui.stackable.divided.grid
                            .five.wide.column
                                a#compose.ui.fluid.basic.button Compose
                                .ui.vertical.fluid.menu
                                    a.item(href='/messages/inbox' class="{{isActiveRoute name='inbox'}}")
                                        i.inbox.icon
                                        |Inbox
                                    a.item(href='/messages/sent' class="{{isActiveRoute name='sent_messages'}}") 
                                        i.send.icon
                                        |Sent
                                    a.item(href='/messages/drafts' class="{{isActiveRoute name='drafts'}}") 
                                        i.edit.icon
                                        |Drafts
                                    a.item(href='/messages/all' class="{{isActiveRoute name='all_messages'}}") 
                                        i.archive.icon
                                        | All
                            .eleven.wide.column
                                +Template.dynamic template=message_content





template(name='messages_with_user')
    .ui.horizontal.divider.header Conversation with #{person.username}
    // +send_message
    .ui.threaded.comments
        each conversation_messages_with_user
            +message
            

template(name='message_edit')
    with message
        .ui.dividing.header Send Private Message
        .ui.form
            .field
                if recipient_id
                    label Recipient: 
                    .ui.large.basic.label
                        img.ui.avatar.image(src="{{c.url recipient.profile.image_id width=100 height=100 gravity='face' crop='fill'}}")
                        |#{recipient.username}
                    if is_draft
                        #remove_recipient.ui.icon.basic.button
                            i.red.remove.icon
                else
                    .ui.left.icon.large.input
                        i.search.icon
                        +inputAutocomplete settings=message_edit_settings id="username" class="" autocomplete="off" placeholder='Search Username...'
            .inline.field
                label Status
                .ui.large.label(class=status_label_class) #{status}
            if is_draft
                .field
                    .froala-container
                        +froalaReactive getFEContext
            if is_sent
                .ui.basic.segment
                    |!{content}
            if is_draft
                #delete_message.ui.red.icon.button
                    i.remove.icon
                #send_message.ui.right.floated.teal.labeled.icon.button
                    |Send
                    i.large.send.icon
        
        
        
template(name='all_messages')
    .ui.horizontal.divider.header All Messages
    .ui.threaded.comments
        each all_messages
            unless is_editing
                +message
            else
                +edit_message
        


template(name='user_pill')
    span 
        img.ui.avatar.image(src="{{c.url profile.image_id width=100 height=100 gravity='face' crop='fill'}}")
        |#{username}