template(name='messages_with_user')
    .ui.horizontal.divider.header Conversation with #{person.username}
    +send_message
    .ui.threaded.comments
        each conversation_messages_with_user
            +message
            

template(name='send_message')
    .ui.form
        .field
            label Send Private Message
            textarea#new_message_body(rows='2')
            #submit_new_message.ui.basic.button
                i.right.arrow.chevron.icon
                |Submit
        
        
template(name='my_messages')
    .ui.horizontal.divider.header My Messages
    .ui.threaded.comments
        each my_messages
            unless is_editing
                +message
            else
                +edit_message
        
template(name='message')
    .comment
        a.avatar
            img.ui.avatar.image(src="{{c.url author.profile.image_id width=50 height=50 gravity='face' crop='fill'}}")
        .content
            a.author 
                | #{author.username}
                i.right.chevron.icon
                | #{recipient_username}
            .metadata
                span.date #{from_now}
                unless read
                    .ui.basic.blue.label Unread
            .text
                if read
                    | #{body}
                else
                    strong #{body}
            .actions
                // a.reply(href='#') Reply
                // +favorite
                // +voting
                // if is_author
                if read
                    a.mark_unread Mark Unread
                else
                    a.mark_read Mark Read
                +delete_link
                a.edit_comment(href='#') Edit
