template(name='messages_layout')
    .context.example
        +nav
        // .ui.top.attached.demo.menu
        //     a.item
        //         i.sidebar.icon
        //         |     Menu
        .ui.bottom.attached.basic.segment.pushable
            +left_sidebar
            .pusher
                #main_area
                    .ui.hidden.divider
                    .ui.container
                        .ui.stackable.divided.grid
                            .five.wide.column
                                a#compose.ui.fluid.basic.button Compose
                                .ui.vertical.fluid.menu
                                    a.item(href='/messages/inbox' class="{{isActiveRoute name='inbox'}}")  Inbox
                                    a.item(href='/messages/sent' class="{{isActiveRoute name='sent_messages'}}") Sent
                                    a.item(href='/messages/drafts' class="{{isActiveRoute name='drafts'}}") Drafts
                                    a.item(href='/messages/all' class="{{isActiveRoute name='all_messages'}}") All
                            .eleven.wide.column
                                +Template.dynamic template=message_content





template(name='messages_with_user')
    .ui.horizontal.divider.header Conversation with #{person.username}
    // +send_message
    .ui.threaded.comments
        each conversation_messages_with_user
            +message
            

template(name='message_edit')
    with message
        .ui.form
            .field
                label Send Private Message
                if recipient_id
                    |#{recipient.username}
                    |#{recipient_id} 
                    #remove_recipient.ui.icon.button
                        i.remove.icon
                else
                    .ui.left.icon.large.input
                        i.search.icon
                        +inputAutocomplete settings=message_edit_settings id="username" class="" autocomplete="off" 
                textarea#new_message_body(rows='2')
                #submit_new_message.ui.basic.button
                    i.right.arrow.chevron.icon
                    |Submit
        
        

template(name='inbox')
    .ui.horizontal.divider.header Inbox
    .ui.threaded.comments
        each my_messages
            unless is_editing
                +message
            else
                +edit_message
        
template(name='drafts')
    .ui.horizontal.divider.header Drafts
    .ui.threaded.comments
        each drafts
            unless is_editing
                +message
            else
                +edit_message
        
template(name='message')
    .comment
        a.avatar
            img.ui.avatar.image(src="{{c.url author.profile.image_id width=50 height=50 gravity='face' crop='fill'}}")
        .content
            a.author 
                | #{author.username}
                i.right.chevron.icon
                | #{recipient_username}
            .metadata
                span.date #{from_now}
                unless read
                    .ui.basic.blue.label Unread
            .text
                if read
                    | #{body}
                else
                    strong #{body}
            .actions
                // a.reply(href='#') Reply
                // +favorite
                // +voting
                // if is_author
                if read
                    a.mark_unread Mark Unread
                else
                    a.mark_read Mark Read
                +delete_link
                a.edit_comment(href="/message/edit/#{_id}") Edit



template(name='user_pill')
    span #{username}