template(name='journal')
    .ui.container
        // h1.ui.center.aligned.header
        //     i.pencil.icon
        //     | My Journal
        .ui.center.aligned.basic.segment
            +doc_content tags='journal,blurb'
        // #convert_journal_docs.ui.button Convert Journal Docs
        .ui.stackable.grid
            .four.wide.column
                #add_journal_entry.ui.basic.fluid.button
                    i.green.plus.icon
                    |Add Journal Entry
                .ui.hidden.divider
                +view_mode_button
                #cloud
                    +tag_filter type='journal'
                    +username_filter type='journal'
                    +keyword_filter type='journal'
                // a#toggle_published.ui.basic.button(class=published_item_class) 
                //     i.red.unhide.icon
                //     |Published (#{published_count})
                // a#toggle_unpublished.ui.basic.button(class=unpublished_item_class) 
                //     i.red.hide.icon
                //     |Unpublished (#{unpublished_count})
            
                // a#toggle_mine.ui.basic.button(class=mine_item_class) 
                //     |Mine (#{mine_count})
            
            .twelve.wide.column
                // .ui.centered.stackable.cards
                .ui.relaxed.divided.items
                    each journal_entries
                        +journal_doc_view
        


template(name='journal_card_view')
    .ui.fluid.card(class=journal_card_class)
        .content
            span.right.floated
                if published
                    i.unlock.blue.icon
                    |Published
                else
                    i.lock.icon
                    |Private
            if author.profile.image_id
                img.ui.avatar.image(src="{{c.url author.profile.image_id width=50 height=50 gravity='face' crop='fill'}}")
            |#{author.name}
            with author
                +staus_indicator
            |#{when}
        if content
            .content
                |!{content}
        .content
            .meta
                i.tags.icon
                each tags
                    .ui.tiny.circular.compact.button.tag(class=tag_class) #{this}
        // .content
        //         |by
        //         if author.profile.image_id
        //             img.ui.avatar.image(src="{{c.url author.profile.image_id width=50 height=50 gravity='face' crop='fill'}}")
        //         |#{author.name} #{when}
        .content
            // .ui.hidden.divider
            a.ui.basic.teal.right.floated.button(href="/journal/#{_id}/view")
                |Full
                i.right.chevron.icon
            +bookmark_button
            if can_edit
                a.ui.basic.button(href="/journal/#{_id}/edit")
                    i.red.configure.icon
                    |Edit



template(name='journal_doc_view')
    .ui.item(class=journal_card_class)
        .content
            .description
                +parent_doc_segment
                .ui.basic.segment
                    |!{content}
            .description
                span.right.floated
                    if published
                        i.unlock.blue.icon
                        |Published
                    else
                        i.lock.icon
                        |Private
                if author.profile.image_id
                    img.ui.avatar.image(src="{{c.url author.profile.image_id width=50 height=50 gravity='face' crop='fill'}}")
                |#{author.name} #{when}
                with author
                    +staus_indicator
            .meta
                i.hashtag.icon
                each tags
                    .ui.tiny.circular.compact.button.tag(class=tag_class) #{this}
            // .meta
            //     i.large.icons
            //         i.idea.icon
            //         i.tags.corner.icon
            //     each watson_keywords
            //         .ui.tiny.circular.compact.button.tag(class=tag_class) #{this}
            // .content
            //         |by
            //         if author.profile.image_id
            //             img.ui.avatar.image(src="{{c.url author.profile.image_id width=50 height=50 gravity='face' crop='fill'}}")
            //         |#{author.name} #{when}
            .extra
                // .ui.hidden.divider
                a.ui.basic.teal.right.floated.button(href="/journal/#{_id}/view")
                    |Full
                    i.right.chevron.icon
                +bookmark_button
                if can_edit
                    +call_watson
                    a.ui.basic.button(href="/journal/#{_id}/edit")
                        i.red.configure.icon
                        |Edit
        .image
            .ui.basic.segment
                +doc_sentiment
                +doc_emotion
