template(name='journal_view')
    a.ui.basic.button(href='/journal')
        i.left.chevron.icon
        strong Journal
    with doc
        .ui.container
            h1.ui.center.aligned.header View Journal Entry
            .ui.grid
                .ten.wide.column
                    |!{content}
                    if published
                        +comments
                    +doc_matches
                    +watson_stats
                    // {{> jsonView json=watson options=options }}
                    // |{{> jsonView json=watson}}
                .five.wide.column
                    .ui.header
                        |by
                        img.ui.avatar.image(src="{{c.url author.profile.image_id width=50 height=50 gravity='face' crop='fill'}}")
                        |#{author.name}
                    with author
                        +staus_indicator
                    if watson
                        +doc_sentiment
                        +doc_emotion
                        +watson_keywords
                    .ui.dividing.header Tags
                    each tags
                        .ui.basic.large.label.doc_tag #{this}
                    .ui.dividing.header Actions
                    +bookmark_button
                    unless is_author
                        +resonate_button
                        +thanks_button
                    +resonates_list

                    .ui.dividing.header Visibility
                    if published
                        .ui.basic.green.large.label 
                            i.unlock.icon
                            | Public
                    else
                        .ui.basic.large.label 
                            i.lock.icon
                            | Private
                    .ui.divider
                    if can_edit
                        a.ui.basic.button(href="/journal/edit/#{_id}") 
                            i.pencil.icon
                            |Edit
