template(name='response')
    with response
        .ui.blue.segment
            .ui.header
                |Your Response
                +published_label
            if editing_mode
                .content
                    .ui.form
                        .field
                            textarea#body_field(rows='3') #{body}
                .content
                    .save_doc.ui.basic.big.circular.icon.button
                        i.big.green.check.icon
                    +published
                    +delete_button
            else
                .content
                    .large130 #{body}
                .content
                    if is_author
                        .edit_this.ui.basic.large.circular.icon.button
                            i.blue.pencil.icon


template(name='answer')
    .ui.fluid.card
        unless editing
            if content
                .content 
                    .large130 !{content}
                    // .large-text !{content}
            if body
                .content 
                    .large130 #{body}
            .content
                .ui.horizontal.list
                    // if isInRole 'admin'
                    //     .item
                    //         +published_label
                    // .item
                    //     +view_full_button
                    .item
                        +author_info
                    .item
                        small #{when}
                    .item
                        +mark_read
                    // .item
                    //     #reply.ui.basic.circular.icon.button(tooltip='Reply')
                    //         +icon48 name='response' classes='ui mini inline image'
                    .item
                        if readers
                            | Seen by:
                        each readers
                            .ui.tiny.basic.label #{name}
                        // img.ui.avatar.image(src="{{c.url profile.image_id width=50 height=50 gravity='face' crop='fill'}}")




template(name='q_a')
    .ui.stackable.grid
        .ui.four.wide.column
            .ui.dividing.header Sessions
            .ui.list
                each sessions
                    .item
                        .header
                            +author_info
                            |#{when}
        .ui.ten.wide.column
            .ui.dividing.header Questions
            each questions
                .ui.fluid.card
                    .content
                        .header #{title}
                        if is_admin
                            +published_label
        

template(name='sessions')
    if currentUser
        +dividing_header icon='time' label='Your Sessions'
        .ui.four.stackable.cards
            each my_sessions
                +session_card
    else
        .ui.header Log in to take quiz and track results.




template(name='child_view')
    .ui.fluid.card
        .content
            unless editing
                if title
                    a.ui.header(href="/view/#{_id}") 
                        if number
                            |#{number}:
                .content 
                    .ui.basic.segment
                        .large130 !{content}
                if tags
                    .content
                        +view_tags
                .content
                    |#{child_count}
                    +author_info
                    |#{when}
                    if is_author
                        +session_edit_button
                    +view_full_button
            if editing                    
                .content
                    +tags
                    +content
                .content
                    +published
                .ui.basic.center.aligned.segment
                    +session_edit_button
                    +delete_button
                    
template(name='session_edit_button')
    if currentUser
        if editing
            .save_doc.ui.basic.large.circular.icon.button
                i.large.check.icon
                // +icon96 name="checkmark" classes='ui mini inline image'
        else
            .edit_this.ui.basic.icon.big.circular.button
                i.large.pencil.icon
                // +icon48 name="edit" classes='ui mini inline image'
                // i.icon
                // |Edit
        