.ui.container
    table.ui.table
        thead
            tr
                th Image
                th Profile
                th Courses
                th Roles
                th Actions
        tbody
            each members
                tr
                    td 
                        img.ui.tiny.image(src="{{c.url image_id width=100 height=100 gravity='face' crop='fill'}}")
                    td 
                        .ui.header 
                            |#{profile.name}
                        div 
                            | Username: #{username}
                        each emails
                            |#{address}
                        // a.ui.compact.basic.button(href="/account/profile/edit/#{_id}")
                        //     |Edit Profile
                        .ui.hidden.fitted.divider
                        a.ui.compact.basic.button(href="/profile/#{_id}")
                            |View Profile
                    td 
                        .ui.list
                            each user_courses
                                .item #{title}
                        if is_sol_member
                            .remove_sol_member.ui.basic.compact.red.button
                                i.remove.icon 
                                | SOL
                        else
                            .make_sol_member.ui.compact.basic.button
                                i.plus.icon 
                                | SOL
                                
                    td
                        each roles
                            .ui.basic.label #{this}
                    td 
                        if is_admin
                            .remove_admin.ui.basic.compact.red.button
                                i.remove.icon 
                                | Admin
                        else
                            .make_admin.ui.compact.basic.button
                                i.plus.icon 
                                | Admin
                                