.ui.container
    table.ui.selectable.striped.table
        thead
            tr
                th Image
                th Profile
                th Colors
                th Roles
        tbody
            each members
                tr
                    td 
                        img.ui.tiny.image(src="{{c.url profile.image_id width=400 height=400 gravity='face' crop='fill'}}")
                    td 
                        .ui.header 
                            |#{name} (#{username})
                        each emails
                            |#{address}
                            if verified
                                i.green.check.icon
                        // a.ui.compact.basic.button(href="/account/profile/edit/#{_id}")
                        //     |Edit Profile
                        .ui.hidden.fitted.divider
                        each tags
                            .ui.tiny.basic.label #{this}
                        .ui.hidden.fitted.divider
                        a.ui.compact.basic.button(href="/profile/#{username}")
                            | Profile
                            i.right.chevron.icon
                    td 
                        +color_dots
                    td 
                        .ui.hidden.fitted.divider
                        .ui.left.labeled.button
                                if in_sol
                                    .ui.green.label SOL
                                    .remove_sol.ui.basic.icon.button
                                        i.remove.icon 
                                else
                                    .ui.basic.label SOL
                                    .add_sol.ui.basic.icon.button
                                        i.plus.icon 
                        .ui.hidden.fitted.divider
                        .ui.left.labeled.button
                                if in_sol_demo
                                    .ui.green.label Demo
                                    .remove_sol_demo.ui.basic.icon.button
                                        i.remove.icon 
                                else
                                    .ui.basic.label Demo
                                    .add_sol_demo.ui.basic.icon.button
                                        i.plus.icon 
                        .ui.hidden.fitted.divider
                        .ui.left.labeled.button
                                if is_admin
                                    .ui.green.label Admin
                                    .remove_admin.ui.basic.icon.button
                                        i.remove.icon 
                                else
                                    .ui.basic.label Admin
                                    .make_admin.ui.basic.icon.button
                                        i.plus.icon 
                        .ui.hidden.fitted.divider
                        .ui.left.labeled.button
                                if is_beta
                                    .ui.green.label Beta
                                    .remove_beta.ui.basic.icon.button
                                        i.remove.icon 
                                else
                                    .ui.basic.label Beta
                                    .make_beta.ui.basic.icon.button
                                        i.plus.icon 