.ui.container
    table.ui.selectable.striped.table
        thead
            tr
                th Image
                th Profile
                th SOL
                th SOL Demo
                th Admin
                th Beta
        tbody
            each members
                tr
                    td 
                        img.ui.tiny.image(src="{{c.url profile.image_id width=400 height=400 gravity='face' crop='fill'}}")
                    td 
                        .ui.header 
                            |#{name} (#{username})
                        each emails
                            |#{address}
                            if verified
                                i.green.check.icon
                        // a.ui.compact.basic.button(href="/account/profile/edit/#{_id}")
                        //     |Edit Profile
                        .ui.hidden.fitted.divider
                        a.ui.compact.basic.button(href="/profile/#{username}")
                            | Profile
                            i.right.chevron.icon
                    td 
                        if in_sol
                            .ui.green.label SOL
                            .remove_sol.ui.basic.compact.icon.button
                                i.remove.icon 
                                // | SOL
                        else
                            .add_sol.ui.compact.basic.button
                                i.plus.icon 
                                | SOL
                    td
                        if in_sol_demo
                            .ui.green.label SOL Demo
                            .remove_sol_demo.ui.basic.compact.icon.button
                                i.remove.icon 
                        else
                            .add_sol_demo.ui.compact.basic.button
                                i.plus.icon 
                                | SOL Demo
                                // | SOL Demo
                    td 
                        if is_admin
                            .ui.green.label Admin
                            .remove_admin.ui.basic.compact.icon.button
                                i.remove.icon 
                                | Admin
                        else
                            .make_admin.ui.compact.basic.icon.button
                                i.plus.icon 
                                | Admin
                    td 
                        if is_beta
                            .ui.green.label Beta
                            .remove_beta.ui.basic.compact.icon.button
                                i.remove.icon 
                                | Beta
                        else
                            .make_beta.ui.compact.basic.icon.button
                                i.plus.icon 
                                | Beta
                                