template(name='ucourses')
    .ui.container
        .ui.stackable.divided.grid
            .twelve.wide.column
                h1.ui.horizontal.divider.header ucourses
                // .ui.cards
                .ui.relaxed.divided.items
                    each ucourses
                        +ucourse_item
            .four.wide.column
                +cloud filter='ucourse'
                if currentUser
                    #add_ucourse.ui.large.basic.fluid.button
                        i.plus.icon
                        |Add uCourse


template(name='ucourse_card')
    .ui.fluid.card
        .ui.centered.image
            a(href="/ucourse/view/#{_id}")
                img(src="{{c.url image_id  height=300 crop='fill' gravity='face' }}")
        .content
            .header
                a(href="/ucourse/view/#{_id}")
                    h2.ui.header #{title}
            if publish_date
                .meta
                    | Published #{publish_when}
            .description
                |#{snippet}
                // |!{description}
        .content
            each tags
                .ui.compact.button.ucourse_tag(class=tag_class) #{this}
            if isInRole 'admin'
                .edit_ucourse.ui.primary.basic.right.floated.button
                    i.pencil.icon
                    |Edit ucourse    
        .content
            +favorite

            
template(name='ucourse_item')
    .item
        a.image(href="/ucourse/view/#{_id}")
            img.ui.rounded.image(src="{{c.url image_id  width=175 height=175 crop='fill' gravity='face' }}")
        .content
            a.header(href="/ucourse/view/#{_id}") #{title}
            .meta
                | Published #{publish_when}
            .description
                p #{snippet}
                a(href="/ucourse/view/#{_id}") 
                    |View More
                    i.arrow.right.icon
            .extra
                i.tags.icon
                each tags
                    .ui.compact.tiny.button.ucourse_tag(class=tag_class) #{this}
            if isInRole 'admin'
                .extra
                    i.red.configure.large.icon
                    if published
                        .ui.green.label Published
                    else
                        .ui.red.label Unpublished                        
                    if featured
                        .ui.green.label Featured
                    else
                        .ui.red.label Unfeatured


template(name='edit_ucourse')
    with ucourse
        .ui.container
            .ui.center.aligned.header Edit uCourse
            .ui.form
                +title
                +image
                +content
                +edit_price
                +tags
                +published
                if tags
                    .ui.center.aligned.basic.segment
                        a.ui.huge.green.button(href="/ucourse/view/#{_id}") Save
                        +delete_button


template(name='ucourse_page')
    with ucourse
        .ui.container
            a.ui.top.left.attached.basic.button(href="/ucourses")
                i.arrow.left.icon
                |University
            if image_id
                img.ui.centered.image(src="{{c.url image_id height=500 width=800 background='white' crop='lpad'}}")
            h1.ui.header uCourse: #{title}
            .ui.stackable.grid
                .twelve.wide.column
                    .ui.basic.segment
                        |!{description}
                .four.wide.column
                    .ui.horizontal.divider.header Price: $#{price}
                    +add_to_cart
                    .ui.horizontal.divider.header Tags
                    each tags
                        .ui.basic.label #{this}
                    +user_card
                    if can_edit
                        .ui.horizontal.divider.header
                            i.large.red.configure.icon
                            |Admin
                        a(href="/ucourse/edit/#{_id}").ui.basic.fluid.button
                            i.pencil.icon
                            |Edit
                        if published
                            .ui.green.label Published
                        else
                            .ui.red.label Unpublished                        
                        if featured
                            .ui.green.label Featured
                        else
                            .ui.red.label Unfeatured