template(name='store')
    .ui.container
        .ui.header Store
        #add_product.ui.basic.button
            i.plus.icon
            |Add Product
        .ui.centered.cards
            each store_items
                +store_item
            
            
            
template(name='store_item')
    .ui.card
        .content
            .header 
                a(href="/view_product/#{_id}") #{title}
            .description #{body}
            .extra.content
                |Price $#{price}
            .extra.content
                a(href="/view_product/#{_id}") View
                a(href="/edit_product/#{_id}") Edit
                