template(name='edit_module')
    .ui.container
        .ui.breadcrumb
            a.section(href='/') Home
            .divider  / 
            a.section(href='/courses') Courses
            .divider  / 
            a.section(href="/course/#{course._id}") #{course.title}
            .divider  / 
            a.section(href="/course/#{course._id}/modules") Modules
            .divider  / 
            a.section(href="/course/#{course._id}/module/#{module._id}") #{module.number}: #{module.title}
            .divider  / 
            .active.section Edit
        with module
            .ui.basic.text.container.segment
                h1.ui.center.aligned.header Edit #{title} Module
                +title
                +number
            .ui.segment
                h2.ui.header Sections
                .ui.top.attached.tabular.menu
                    a#add_section.icon.item(data-tab='tab0') 
                        i.plus.icon
                    each sections
                        a.item(data-tab="tab#{number}") Section #{number}
                each sections
                    .ui.bottom.attached.tab.segment(data-tab='tab#{number}')
                        .ui.header Section #{number}
                        .ui.form
                            +edit_section this
            .ui.center.aligned.basic.segment
                a.ui.big.teal.button(href="/course/#{course_id}/module/#{_id}") Save Module
                #delete.ui.red.icon.small.button
                    i.trash.icon
                    // need to delete child docs
                    
template(name='edit_section')
    +number
    +content
    +section_transcript this
    +questions
    .remove_section.ui.small.red.button Remove Section



template(name='section_transcript')
    .field
        label Transcript
        .transcript
            +froalaReactive transcript
