template(name='following')
    with target_user
        .ui.segment
            if currentUser
                .ui.header
                    // |You are
                    if is_following
                        // |following #{profile.first_name}. 
                        #unfollow.ui.basic.large.circular.right.floated.button 
                            img.ui.avatar.image(src="https://png.icons8.com/cancel-subscription/color/48" width="48" height="48")
                            |Unfollow
                    else
                        // |not following #{profile.first_name}. 
                        #follow.ui.basic.large.circular.right.floated.button 
                            img.ui.avatar.image(src="https://png.icons8.com/renew/color/48" width="48" height="48")
                            |Follow
                .ui.hidden.divider
            .ui.two.column.grid
                .column
                    .ui.dividing.header #{profile.first_name} is Followed by
                    .ui.divided.list
                        each followers
                            +person_item
                .column
                    .ui.dividing.header #{profile.first_name} is Following
                    .ui.divided.list
                        each following
                            +person_item


template(name='person_item')
    .item
        .image
            a(href="/profile/#{username}")
                img.ui.avatar.image(src="{{c.url profile.image_id width=50 height=50 gravity='face' crop='fill'}}")
        .content
            a.header(href="/profile/#{username}")
                if name 
                    |#{name}
                    // |#{profile.first_name} #{profile.last_name}
                else
                    |#{username}
            // .description
            //     each five_tags
            //         .ui.tiny.basic.label #{this}
            +color_dots
            .description
                // // +staus_indicator
                // |last seen #{last_login}
            
        
