template(name='needs')
    .ui.stackable.padded.grid
        .centered.row
            .four.wide.center.aligned.column
                +button_link label='Transactions' url="/transactions" icon='handshake'
            .eight.wide.center.aligned.column
                h1.ui.center.aligned.header
                    +icon96 name='service-bell'
                    | Requests
            .four.wide.center.aligned.column
                +button_link label='Karma' url="/karma" icon='diamond'
        .centered.row
            .four.wide.column
                if isInRole 'admin'
                    #add_need.ui.basic.fluid.circular.button
                        +icon48 name='plus' classes='ui mini spaced image'
                        |Add Request
                +theme_facet type='need'
                +username_facet type='need'
                +timestamp_facet type='need'
            .eight.wide.column
                .ui.relaxed.divided.items
                    each needs
                        +need
            .three.wide.column
                .ui.dividing.header
                    +icon48 name='filter' classes='ui mini inline image'
                    |Filters
                div
                    +bookmark_filter
                // div
                //     +read_filter
                // div
                //     +resonates_filter
                div
                    +doc_limit
                if isInRole 'admin'
                    .ui.dividing.header Admin
                    +published_filter


template(name='need')
    .item
        .ui.tiny.image
            if icon_class
                +icon96 name=icon_class
            else
                +ultraviolet_icon80 name='service-bell'
        .content
            a.header(href="/view/#{_id}") #{title}
            .meta
                | #{bounty}pt Offer 
            .meta
                +author_info
                if recipient_id
                    |of 
                    img.ui.avatar.spaced.image(src="{{c.url recipient.profile.image_id width=100 height=100 gravity='face' crop='fill'}}")
                    | &nbsp; #{recipient.name}
                else
                    |to 
                    +icon24 name='people' classes='ui spaced image'
                    | &nbsp; Anyone
            .meta
                each tags
                    .ui.small.label(class=tag_class) #{this}
            .description
                | !{content}
                span.right.floated
                    +view_full_button
            // .extra
            //     i.tags.icon
            //     each tags
            //         .ui.compact.tiny.button.need_tag(class=tag_class) #{this}
