template(name='need_transactions')
    h4.ui.horizontal.divider.header
        +icon48 name='transaction-list' classes='ui mini spaced image'
        | #{title} Transactions
    table.ui.selectable.unstackable.table
            thead
                tr
                    th Sale Price
                    th When
                    th Buyer
                    th Has Completed
                    th Buyer Review
                    th
            tbody
                each child_transactions
                    tr
                        td 
                            if sale_dollar_price
                                |$#{sale_dollar_price}
                            |#{sale_point_price} point(s)
                        td
                            |#{when}
                        td
                            img.ui.avatar.image(src="{{c.url author.profile.image_id width=100 height=100 gravity='face' crop='fill'}}")
                            |#{author.name}
                            with author
                                +staus_indicator
                        td
                            if completed
                                i.large.green.check.icon
                            else    
                                i.large.circle.outline.icon
                        td
                            if reviewed
                                i.large.green.check.icon
                            else    
                                i.large.circle.outline.icon
                        td
                            a(href="/view/#{_id}") 
                                |More
                                i.right.arrow.icon
    
