template(name='view_need')
    .ui.stackable.padded.grid
        .centered.middle.aligned.row
            .three.wide.column
                unless editing
                    +button_link label='Requests' url="/requests" icon='service-bell'
                else
                    #delete_doc.ui.fluid.basic.small.circular.button(data-position='bottom center' data-tooltip='Delete')
                        +icon48 name='delete' classes='ui mini inline image'
            .ten.wide.column
                unless editing
                    h1.ui.center.aligned.header 
                        if icon_class
                            +icon96 name=icon_class classes='ui spaced image'
                        else
                            +icon96 name='service-bell' classes='ui spaced image'
                        |View '#{title}' Request
                else                        
                    h1.ui.center.aligned.header 
                        if icon_class
                            +icon96 name=icon_class classes='ui spaced image'
                        else
                            +icon96 name='service-bell' classes='ui spaced image'
                        |Edit '#{title}' Request
            .three.wide.column
                unless editing
                    if can_edit
                        +toggle_editing_button
                    // a.ui.basic.circular.button(href='/shop')
                    //     +icon48 name='shop' classes='ui mini spaced image'
                    //     | Shop
                else                        
                    +save_button
        .row
            .ten.wide.column
                +tags
                if editing
                    .ui.form
                        +title
                        +content
                        +edit_image
                else
                    .ui.item
                        .content
                            .description
                                |!{content}
            .five.wide.column
                +bounty
                .ui.hidden.divider
                if editing
                    +icon_class
                    .ui.hidden.divider
                    +edit_recipient
                    .ui.hidden.divider
                    +published
                    if isInRole 'admin'
                        .ui.hidden.divider
                        +edit_author
                else
                    +recipient_info
                    +author_info
                    +actions_header
                    +bookmark_button