with me
    .ui.fluid.card
        .ui.centered.medium.image
            a(href="/profile/#{_id}")
                img(src="{{c.url profile.image_id width=300 height=300 gravity='face' crop='fill'}}")
        .content
            .header
                a(href="/profile/#{_id}") #{profile.name}
            .meta
                | #{profile.location}
            .description
                p #{about_me}
        .extra.content
            // h4 Points: #{points}
            +color_dots
        .extra.content
            each tags
                .ui.tiny.compact.basic.label #{this}
            // .extra
            //     +upvoted_matches