template(name='questions')
    // .ui.embed(data-source='vimeo', data-id='215750115', data-placeholder='/toriwebster-logotype-04.png')
    unless question_docs.count
        if isInRole 'admin'
            #add_question.ui.basic.button 
                +icon24 name="plus" classes='avatar'
                |Add Question
    else
        .ui.horizontal.divider.header 
            |#{questions_title} (#{question_docs.count})
            if isInRole 'admin'
                i#add_question.green.plus.link.icon(title='Add Question')
        each question_docs
            +question
                
template(name='question')
    .ui.segment(class=question_segment_class)
        // if isInRole 'admin'
        //     if published
        //         .ui.top.right.attached.blue.label Published
        //     else
        //         .ui.top.right.attached.basic.label Hidden
        if is_editing
            .ui.form
                .field
                    +type
                .field
                    +tags
                .field
                    +number
                .field
                    label Question
                    textarea#body(rows='3') #{body}
                +delete_button
                // +tags
                // +edit_parentid_field
                // .ui.divider
                // +session_edit_button
                // +published
        else
            // .ui.top.right.attached.basic.label
            .ui.stackable.grid
                .fourteen.wide.column
                    .ui.header 
                        |#{number}: #{body}
                .two.wide.column
                    +pin_button
                // if has_answered_question
                //     .ui.right.corner.green.label
                //         i.checkmark.icon
        if isInRole 'admin'
            +session_edit_button
                // if isInRole 'dev'
                //     .ui.list
                //         .item parent_id #{parent_id}
                //         .item this id #{_id}
            .ui.divider
            // if isInRole 'admin'
                // +answers
            // else 
            // if currentUser
        +answers
                    