template(name='doc_price')
    if doc
        with doc
            if editing
                .ui.labeled.input
                    .ui.basic.label Price in $
                    input#price(type='number' min='0' value=price)
            else
                div(class=doc_classes)
                    |$#{price}
            if isInRole 'admin'
                unless editing
                    i.edit_this.large.pencil.link.icon(title=tags)
                else
                    .save_doc.ui.icon.green.basic.button
                        i.check.icon
    else
        if isInRole 'admin'
            .ui.header No Doc Found
            .create_doc.ui.basic.button
                i.plus.icon
                |Create HTML with #{template_tags}
            
