template(name='my_journal')
    .ui.stackable.grid
        .centered.row
            .four.wide.column
                #create_checkin.ui.basic.circular.small.button 
                    +icon48 name='create-document' classes='ui avatar image'
                    |Add Entry
            .nine.wide.column
                h1.ui.center.aligned.header
                    +icon96 name='journal' classes='ui avatar image'
                    | My Journal Entries
            .three.wide.column
                a.ui.basic.circular.small.button(href='/journal/browse') 
                    +icon48 name='reading' classes='ui avatar image'
                    |Browse Entries
                    +icon48 name='rotate-left' classes='ui avatar image'
        .row
            .four.wide.column
                +theme_facet type='journal'
                +location_facet type='journal'
                +intention_facet type='journal'
            .nine.wide.column
                .ui.relaxed.divided.items
                    each journal_entries
                        +my_entry_view
            .three.wide.column
                // .ui.dividing.header Filters
                +published_tritoggle
                +doc_limit
        



template(name='my_entry_view')
    .ui.segment.document_container(class=journal_segment_class)
        .content
            .description
                +parent_doc_segment
                .large130 !{content}
            // +icon24 name='clock' classes='ui avatar image'
            .ui.hidden.fitted.divider
            strong written #{when}
            .ui.hidden.fitted.divider
            +view_tags
        .ui.fluid.accordion
            .title
                .ui.header 
                    +icon48 name='details' classes='ui avatar image'
                    |Details 
                    i.dropdown.icon
            .content
                .ui.divided.stackable.grid
                    .ten.wide.column
                        .ui.basic.segment
                            .extra
                                span.right.floated
                                    +view_full_button
                                +bookmark_button
                                +edit_link_button
                                if is_author
                                    +published
                    .six.wide.column
                        .image
                            .ui.basic.segment
                                if watson
                                    +doc_sentiment
                                    +doc_emotion
                                else
                                    if can_edit
                                        +call_watson
            // .meta
            //     i.large.icons
            //         i.idea.icon
            //         i.tags.corner.icon
            //     each watson_keywords
            //         .ui.tiny.circular.compact.button.tag(class=tag_class) #{this}
            // .content
            //         |by
            //         if author.profile.image_id
            //             img.ui.avatar.image(src="{{c.url author.profile.image_id width=50 height=50 gravity='face' crop='fill'}}")
            //         |#{author.name} #{when}
