template(name='my_journal')
    // .ui.container
    h1.ui.center.aligned.header
        img.ui.avatar.image(src="https://png.icons8.com/journal/color/96" width="96" height="96")
        | My Journal Entries
    // .ui.center.aligned.basic.segment
    //     +doc_content tags='journal,mine,blurb'
    .ui.stackable.grid
        .four.wide.column
            // .ui.dividing.header Filters
            // +view_published_toggle
            #cloud
                +theme_tag_filter type='journal'
                +location_tag_filter type='journal'
                +intention_tag_filter type='journal'
                
                // +keyword_filter type='journal'
            // a#toggle_published.ui.basic.button(class=published_item_class) 
            //     i.red.unhide.icon
            //     |Published (#{published_count})
            // a#toggle_unpublished.ui.basic.button(class=unpublished_item_class) 
            //     i.red.hide.icon
            //     |Unpublished (#{unpublished_count})
        
            // a#toggle_mine.ui.basic.button(class=mine_item_class) 
            //     |Mine (#{mine_count})
        
        .twelve.wide.column
            // .ui.centered.stackable.cards
            .ui.relaxed.divided.items
                each journal_entries
                    +my_entry_view
        



template(name='my_entry_view')
    .ui.segment.document_container(class=journal_segment_class)
        .content
            .description
                .ui.basic.segment.large
                    |!{content}
                +parent_doc_segment
                // .ui.divider
        .ui.divided.stackable.grid
            .ten.wide.column
                .ui.basic.segment
                    |written #{when}
                    +view_tags
                    .extra
                        span.right.floated
                            +view_full_button
                        +bookmark_button
                        +edit_link_button
                        if is_author
                            +published
            .six.wide.column
                .image
                    .ui.basic.segment
                        if watson
                            +doc_sentiment
                            +doc_emotion
                        else
                            if can_edit
                                +call_watson
            // .meta
            //     i.large.icons
            //         i.idea.icon
            //         i.tags.corner.icon
            //     each watson_keywords
            //         .ui.tiny.circular.compact.button.tag(class=tag_class) #{this}
            // .content
            //         |by
            //         if author.profile.image_id
            //             img.ui.avatar.image(src="{{c.url author.profile.image_id width=50 height=50 gravity='face' crop='fill'}}")
            //         |#{author.name} #{when}
