template(name='cloud')
    #cloud.ui.basic.center.aligned.segment.container
        if isInRole 'admin'
            #add.ui.circular.icon.basic.button
                i.plus.icon
        // .ui.left.icon.large.input
        //     i.search.icon
        //     +inputAutocomplete settings=settings id="search" class="" autocomplete="off" 
        if selected_tags
            #clear_tags.ui.teal.icon.large.circular.button
                i.remove.icon
            each selected_tags
                .unselect_tag.ui.teal.large.circular.button
                    strong #{this}
        .ui.hidden.divider
        each media_tags
            .ui.circular.large.button.select_tag(class=media_tag_class) 
                | #{this.name}
                if isInRole 'admin'
                    small #{this.count}
        .ui.hidden.fitted.divider
        each theme_tags
            .ui.circular.basic.button.select_tag(class=cloud_tag_class) 
                | #{this.name}
                if isInRole 'admin'
                    small #{this.count}
