template(name='cloud')
    #cloud.ui.basic.center.aligned.segment.container
        if isInRole 'admin'
            #add.ui.circular.icon.basic.button
                i.plus.icon
        // .ui.left.icon.large.input
        //     i.search.icon
        //     +inputAutocomplete settings=settings id="search" class="" autocomplete="off" 
        if selected_tags
            #clear_tags.ui.teal.icon.circular.button
                i.remove.icon
            each selected_tags
                .unselect_tag.ui.teal.circular.button
                    strong #{this}
        each tags
            // .ui.circular.basic.button.select_tag(class=cloud_tag_class) 
            .ui.circular.basic.button.select_tag
                | #{this.name}
                if isInRole 'admin'
                    small #{this.count}
