template(name='lightbank')
    .ui.container
        +cloud
        each docs
            +doc_view
        


template(name='doc_view')
    .ui.container.fluid.segment
        |!{content}
        .meta
            each tags
                .ui.circular.tiny.button.tag(class=tag_class) #{this}
        .ui.hidden.fitted.divider
        a.ui.blue.button(href="/view/#{_id}") 
            |View
            i.right.chevron.icon
        .ui.hidden.fitted.divider
        if can_edit
            a.ui.circular.basic.large.button(href="/edit/#{_id}")
                i.red.configure.icon
                |Edit
