.ui.container
    .ui.breadcrumb
        a.section(href='/') Home
        .divider  / 
        a.section(href='/courses') Courses
        .divider  / 
        a.section(href="/course/#{course._id}/view") #{course.title}
        .divider  / 
        a.section(href="/course/#{course._id}/modules") Modules
        .divider  / 
        a.section(href="/course/#{course._id}/module/#{module._id}") #{module.number}: #{module.title}
        .divider  / 
        .active.section Edit
    with module
        .ui.basic.segment
            .ui.center.aligned.header Edit Module
            .ui.form
                +title
                +number
                +content
                +published
                // .ui.divider
            .ui.header Questions
            +questions
        .ui.tabular.menu
            a#add_section.icon.item(data-tab='tab1') 
                i.plus.icon
            each sections
                a.item(data-tab="tab#{number}") Section #{number}
        .ui.tab(data-tab='tab1')
            .ui.header tab1
        each sections
            .ui.tab(data-tab='tab{number}')
                .ui.header Section #{number}
        .ui.center.aligned.basic.segment
            a.ui.big.teal.button(href="/course/#{course_id}/module/#{_id}") Save Module
            #delete.ui.red.icon.button
                i.trash.icon