.ui.container
    .ui.breadcrumb
        a.section(href='/') Home
        .divider  / 
        a.section(href='/courses') Courses
        .divider  / 
        a.section(href="/course/#{course._id}/view") #{course.title}
        .divider  / 
        a.section(href="/course/#{course._id}/modules") Modules
        .divider  / 
        a.section(href="/course/#{course._id}/module/#{module._id}/view") #{module.number}: #{module.title}
        .divider  / 
        .active.section Edit
    with module
        .ui.basic.segment
            .ui.center.aligned.header Edit Module
            .ui.form
                +title
                +number
                +content
                +published
                // .ui.divider
                .ui.center.aligned.basic.segment
                    a.ui.big.teal.button(href="/courses/#{course_id}/modules/#{_id}/view") Save Module
                    #delete.ui.red.icon.button
                        i.trash.icon