template(name='badges')
    .ui.stackable.padded.grid
        .centered.row
            .four.wide.center.aligned.column
                a.ui.basic.circular.small.button(href='/stats') 
                    +icon48 name='combo-chart' classes='ui mini inline image'
                    | Stats
            .eight.wide.center.aligned.column
                h1.ui.center.aligned.header
                    +icon96 name='medal'
                    | Badges
            .four.wide.center.aligned.column
                if isInRole 'admin'
                    #add_badge.ui.basic.fluid.circular.button
                        +icon48 name='plus' classes='ui mini spaced image'
                        |Add Badge
                else
                    a.ui.basic.circular.small.button(href='/karma') 
                        +icon48 name='diamond' classes='ui mini inline image'
                        strong #{currentUser.points}
                        | Karma
        .centered.row
            .four.wide.column
                +theme_facet type='badge'
            .eight.wide.column
                .ui.relaxed.divided.items
                    each badges
                        +badge
            .three.wide.column
                .ui.dividing.header
                    +icon48 name='filter' classes='ui mini inline image'
                    |Filters
                div
                    +bookmark_filter
                // div
                //     +read_filter
                // div
                //     +resonates_filter
                div
                    +doc_limit
                if isInRole 'admin'
                    .ui.dividing.header Admin
                    +published_filter


template(name='badge')
    .item
        .ui.tiny.image
            +icon96 name=icon_class
        .content
            a.header(href="/view/#{_id}") #{title}
            .description
                .large130 !{content}
                span.right.floated
                    +view_full_button
            .meta
                each tags
                    .ui.small.label(class=tag_class) #{this}
            // .extra
            //     i.tags.icon
            //     each tags
            //         .ui.compact.tiny.button.badge_tag(class=tag_class) #{this}
