.ui.borderless.menu
    .ui.container
        a.ui.mobile.only.dropdown.item 
            i.content.icon
            .imogen Tori Webster
            .menu
                a.item(href='/' class="{{isActivePath '/'}}") Home
                a.item(href='/about' class="{{isActivePath '/about'}}") About
                a.item(href='/courses' class="{{isActivePath '/courses'}}") Courses
                a.item(href='/lightbank' class="{{isActivePath '/lightbank'}}") Lightbank
                a.item(href='/contact' class="{{isActivePath '/contact'}}") Contact
                .divider
                if currentUser
                    if isInRole 'admin'
                        a.item(href='/admin/members' class="{{isActivePath '/admin/members'}}")
                            i.configure.icon
                            | Admin
                    a.item(href="/profile/#{currentUser._id}" class="{{isActivePath '/profile/#{currentUser._id}'}}")
                        if currentUser.profile.image_id
                            img.ui.avatar.image(src="{{c.url currentUser.profile.image_id width=50 height=50 gravity='face' crop='fill'}}")
                        else
                            i.user.icon
                        // if currentUser.name
                        //     | #{currentUser.name}
                        // else
                        | Profile
                    a#logout.ui.item(href='#')
                        i.sign.out.icon
                        | Sign Out
                else
                    a.ui.item(href='/sign-in') 
                        i.sign.in.icon
                        | Sign In
        a.mobile.hidden.item(href='/' class="{{isActivePath '/'}}")
            .imogen Tori Webster
        a.mobile.hidden.item(href='/about' class="{{isActivePath '/about'}}") About
        a.mobile.hidden.item(href='/courses' class="{{isActivePath '/courses'}}") Courses
        a.mobile.hidden.item(href='/lightbank' class="{{isActivePath '/lightbank'}}") Lightbank
        a.mobile.hidden.item(href='/contact' class="{{isActivePath '/contact'}}") Contact
        .right.mobile.hidden.menu
            if currentUser
                if isInRole 'admin'
                    a.icon.item(href='/dashboard' class="{{isActivePath '/dashboard'}}") 
                        i.dashboard.icon
                    a.item(href='/admin/members' class="{{isActivePath '/admin/members'}}")
                        i.configure.icon
                        | Admin
                a.item(href="/profile/#{currentUser._id}" class="{{isActivePath '/profile/#{currentUser._id}'}}")
                    if currentUser.profile.image_id
                        img.ui.avatar.image(src="{{c.url currentUser.profile.image_id width=50 height=50 gravity='face' crop='fill'}}")
                    else
                        i.user.icon
                    if currentUser.name
                        | #{currentUser.name}
                    else
                        | Profile
                a#logout.ui.item(href='#')
                    i.sign.out.icon
                    | Sign Out
            else
                a.ui.item(href='/sign-in') 
                    i.sign.in.icon
                    | Sign In
