template(name='checkin')
    h1.ui.header Check In
    +doc_content tags='checkin,blurb'
    // .ui.divider
    .ui.divided.stackable.grid
        .five.wide.column
            // a.ui.basic.button(href='/checkin/calendar') 
            //     i.calendar.icon
            //     |Calendar View
            .ui.icon.fluid.input
                input#quick_add(type='text' placeholder='Quick Add with Tags (separated by spaces)')
                i.green.plus.icon
            .ui.divider
            +tag_filter type='checkin'
            +username_filter type='checkin'
            // +checkin_cloud
        .eleven.wide.column
            .ui.centered.stackable.cards
                each docs
                    +checkin_doc_view


template(name='checkin_doc_view')
    .ui.card(class=checkin_card_class)
        if is_author
            .content
                span.right.floated
                    if published
                        i.unlock.blue.icon
                        |Published
                    else
                        i.lock.icon
                        |Private
        .content
            .meta
                i.tags.icon
                each tags
                    .ui.tiny.button.tag(class=tag_class) #{this}
            .ui.hidden.divider
            |!{content}
        unless is_author
            .content
                a.right.floated(href="/profile/#{author.username}")
                    i.user.icon
                    |#{author.name}
                |#{when}
        .content
            a.ui.basic.right.floated.button(href="/checkin/view/#{_id}") 
                |More
                i.right.arrow.icon
            +thanks_button
            if can_edit
                a.ui.basic.compact.button(href="/checkin/edit/#{_id}")
                    i.edit.icon
                    |Edit
                    
                    
template(name='checkin_calendar_view')
    #checkin-calendar