template(name='transactions')
    .ui.container
        h1.ui.horizontal.divider.header
            i.exchange.icon
            |Transactions
        table.ui.selectable.unstackable.table
                thead
                    tr
                        // if parent.image_id
                        //     th 
                        // if parent.image_url
                        //     th 
                        th
                        th Title
                        th Sale Price
                        th When
                        th Buyer
                        th Seller
                        // th Actions
                tbody
                    each transactions
                        tr
                            if parent.image_id
                                td 
                                    img.ui.small.image(src="{{c.url parent.image_id}}")
                            if parent.image_url
                                td
                                    img.ui.small.image(src=parent.image_url)
                            td 
                                a.ui.header(href="#{parent.type}/#{parent._id}/view") 
                                    |#{parent.title}
                                each parent.tags
                                    .ui.small.basic.label #{this}
                            td 
                                if sale_dollar_price
                                    |$#{sale_dollar_price}
                                |#{sale_point_price} point(s)
                            td
                                |#{when}
                            td
                                img.ui.avatar.image(src="{{c.url author.profile.image_id width=100 height=100 gravity='face' crop='fill'}}")
                                |#{author.name}
                            td
                                img.ui.avatar.image(src="{{c.url recipient.profile.image_id width=100 height=100 gravity='face' crop='fill'}}")
                                |#{recipient.name}
                            // td 
                            //     .ui.disabled.button Download Invoice
                // tfoot
                //     tr
                //         th 
                //         th 
                //         th
                //         th Subtotal (#{total_items} items): $#{subtotal}
