template(name='member_portal')
    .ui.container
        +user_cloud
        .ui.four.centered.cards
            each people
                +user


template(name='user')
    .ui.card
        .content
            a(href="/profile/#{_id}")
                .ui.image
                    img.ui.image(src="{{c.url profile.image_id width=400 height=400 gravity='face' crop='fill'}}")
                .ui.header
                    if profile.first_name
                        | #{profile.first_name}
                    if profile.last_name
                        | #{profile.last_name}
            each five_tags
                .ui.compact.tiny.circular.basic.button.user_tag(class=user_tag_class) #{this}
            if profile.location
                p #{profile.location}

