template(name='reflective_questions')
    .ui.header Reflective Questions
    if isInRole 'admin'
        #add_reflective_question.ui.basic.button 
            i.red.configure.icon
            |Add Reflective Question
    each reflective_questions
        .ui.segment
            if isInRole 'admin'
                +thing
            else
                h3.ui.header #{body}
            .ui.divider
            if currentUser
                if has_answered_question
                    +reflective_answers
                else
                    .add_reflective_answer.ui.basic.button 
                        i.plus.icon
                        |Add Answer

template(name='reflective_answers')
    with my_answer
        .ui.segment
            h4.ui.header Your Answer
            if is_editing
                .ui.form
                    .field
                        input#body(type='text' value=body)
            else
                span #{body}
            if can_edit
                +published
                    // .toggle_published.ui.slider.checkbox
                    //     input(type='checkbox' name='publish_answer' checked=published)
                    //     label Publish Answer
                    // i.help.circle.outline.large.icon(data-content="By making this answer public other SOL participants can see it, relate, and collaborate.")
                +session_edit_button
                +delete_button
    unless is_editing_my_answer
        h4.ui.header All Published Reflective Answers
        .ui.segments
            each all_reflective_answers
                .ui.segment
                    span #{body}
                    a(href='/profile/#{author._id}')
                        img.ui.avatar.image(src="{{c.url author.profile.image_id width=50 height=50 gravity='face' crop='fill'}}")
                        |{{author.name}}
                    // .ui.divider
                    unless is_author
                        +voting