template(name='sections')        
    .ui.horizontal.divider.header Sections
        if isInRole 'admin'
            i#add_section.green.plus.link.small.icon(title='Add Section')
    each sections
        +section
        
        
template(name='section')        
    if section_is_available
        .ui.segment
            if editing
                .ui.form
                    .field
                        +number
                    .field
                        +title
                    .field
                        +delete_button
                        +published
                    .ui.hidden.divider
                    if isInRole 'admin'
                        +session_edit_icon
            else
                a.ui.header(href="/course/sol/module/#{module_number}/section/#{number}") #{number}: #{title}
                if isInRole 'admin'
                    +session_edit_icon
                .ui.divider
                .section_percent_complete_bar.ui.indicating.progress(data-percent=user_progress)
                    .bar
                        .progress
                    .label
                .ui.horizontal.relaxed.list
                    .item
                        if section_progress_doc.video_complete
                            i.green.large.film.icon
                        else
                            i.disabled.large.film.icon
                        .content
                            if section_progress_doc.video_complete
                                |Video Watched
                            else
                                |Video Not Watched
                    if section_progress_doc.section_question_count
                        .item
                            .content
                                i.tasks.icon
                                strong #{section_progress_doc.section_answer_count}/#{section_progress_doc.section_question_count}
                                |Questions Answered
    else
        .ui.disabled.segment
            .ui.header  #{number}: #{title}

    