template(name='doc_section')
    +nav
    .ui.container
        .ui.breadcrumb
            a.section(href='/') Home
            .divider  / 
            a.section(href='/courses') Courses
            .divider  / 
            a.section(href="/course/sol") Source of Light
            .divider  / 
            a.section(href="/course/sol/modules") Modules
            .divider  / 
            a.section(href="/course/sol/module/#{module.number}") #{module.number}: #{module.title}
            .divider  / 
            a.section(href="/course/sol/module/#{module.number}/sections") Sections
            .divider  / 
            .section #{section.number}: #{section.title}
        .ui.hidden.divider
        .ui.grid
            .center.aligned.row
                .four.wide.column
                    if previous_section
                        // a.ui.basic.small.button(href="/course/sol/module/#{module.number}/section/#{previous_section.number}")
                        a#go_to_previous_section.ui.basic.small.button(href="#")
                            i.left.chevron.icon
                            |#{previous_section.number}: #{previous_section.title}
                .eight.wide.column
                    h1.ui.center.aligned.header Section #{section.number}: #{section.title}
                .four.wide.column
                    if section_complete
                        if next_section_exists
                            a.go_to_next_section.ui.basic.small.button(href="#")
                                |#{next_section.number}: #{next_section.title}
                                i.right.chevron.icon
                        else
                            a.ui.basic.fluid.button(href="/course/sol/module/#{module.number}") 
                                i.large.icons
                                    i.green.check.circle.icon
                                    i.reply.corner.icon
                                | Module #{module.number} Sections Complete

            // a.item(href="/course/sol/module/#{module.number}/section/#{section.number}/questions" class="{{isActiveRoute name='questions'}}") Collaboration
        .ui.stackable.grid
            .five.wide.column
                .ui.rail
                    .ui.dividing.header Progress
                    #section_percent_complete_bar.ui.blue.indicating.progress(data-percent=section_progress_doc.percent_complete)
                        .bar
                            .progress
                                | #{section_progress_doc.percent_complete}%
                    if video_complete
                        .ui.fluid.basic.label 
                            i.green.check.icon
                            |Video Watched
                    else
                        .ui.basic.fluid.label 
                            |Video
                    if question_docs.count
                        .ui.sub.dividing.header #{section_progress_doc.section_answer_count}/ #{section_progress_doc.section_question_count} Questions Answered
                        .ui.list
                            each question_docs
                                    .item 
                                        if question_answered
                                            i.green.check.icon
                                        | #{number}: #{body}
            .eleven.wide.column
                // if Template.subscriptionsReady
                +doc_content tags=section_content_tags
                .ui.hidden.divider
                .ui.styled.fluid.accordion
                    h3.title
                        i.large.newspaper.icon
                        | Transcript
                    .content
                        +doc_content tags=section_transcript_tags
                .ui.hidden.divider
                if currentUser
                    if video_complete
                        .unmark_video_complete.ui.blue.fluid.button 
                            i.check.icon
                            |Video Watched
                    else
                        .mark_video_complete.ui.basic.fluid.button Mark Video Watched
                .ui.hidden.divider
                    .ui.hidden.divider
                with section
                    if isInRole 'admin'
                        +questions
                    else if video_complete
                        +questions
                if all_questions_answered
                    unless section_complete
                        if question_docs.count
                            #mark_section_complete.ui.basic.large.fluid.button 
                                i.circle.outline.icon
                                |Calculate Section Progress
                unless is_editing
                    if all_questions_answered
                        if video_complete
                            .ui.horizontal.divider.header
                                i.green.check.circle.icon
                                |Section Complete
                            if next_section_exists
                                a.go_to_next_section.ui.basic.fluid.button(href="#")
                                    | Continue to Section #{next_section_number}
                                    i.right.chevron.icon 
                            else
                                .ui.horizontal.divider.header
                                    i.green.check.circle.icon
                                    | All Module #{module.number} Sections Complete
                                a.ui.basic.fluid.button(href="/course/sol/module/#{module.number}") 
                                    i.reply.icon
                                    | Return to Module #{module.number}: #{module.title}

    // if isInRole 'admin'
    //     +dev_footer