template(name='lightbank')
    .ui.stackable.padded.grid
        .middle.aligned.row
            .three.wide.center.aligned.column
                +button_link label='Journal' url="/journal" icon='journal'
            .ten.wide.center.aligned.column
                h1.ui.center.aligned.header 
                    +icon96 name='summer'
                    span(data-position='bottom center' data-tooltip="Click on the buttons to the left to filter through content and find just what you're looking for. Quotes, videos, poems, etc.") Lightbank
            .three.wide.center.aligned.column
                +button_link label='Check Ins' url="/checkin" icon='sprout'
        // .ui.center.aligned.basic.segment
        //     +doc_content tags='lightbank,blurb'
        .centered.row
            .five.wide.column
                +theme_facet
                // +timestamp_facet
                .ui.hidden.divider
                if currentUser
                    #add_lightbank_doc.ui.basic.circular.large.fluid.button
                        +icon48 name='plus' classes='ui mini spaced image'
                        |Add Lightbank Item
                    
            .eight.wide.column
                .ui.centered.stackable.cards
                    each docs
                        +lightbank_doc_view
            .three.wide.column
                .ui.dividing.header
                    +icon48 name='filter' classes='ui mini inline image'
                    |Filters
                +passage_filter
                +journal_prompt_filter
                +poem_filter
                +quote_filter
                // // .ui.header 
                // //     +icon24 name='filter' classes='ui mini inline image'
                // //     |Component Filters
                // div
                //     +image_filter
                // .ui.header 
                //     +icon24 name='filter' classes='ui mini inline image'
                //     |Status Filters
                div
                    +bookmark_filter
                div
                    +read_filter
                div
                    +resonates_filter
                div
                    +doc_limit
                if isInRole 'admin'
                    .ui.dividing.header Admin
                    +published_filter
        


template(name='lightbank_doc_view')
    if is_poem
        +poem_view_small
    if is_quote
        +quote_view_small
    if is_passage
        +passage_view_small
    if is_journal_prompt
        +journal_prompt_view_small
    if is_custom    
        .ui.fluid.card(class=read_segment_class)
            .content
                if has_youtube
                    +youtube
                if has_image
                    if image_id
                        .image
                            img(src="{{c.url image_id}}")
                    if image_url
                        .ui.large.image
                            img(src=image_url)
                // .content
                //     span.right.floated 
                //         .expand_card.ui.basic.icon.button
                //             i.expand.icon
                if content
                    // .light_bank_content(class=light_bank_content_class)
                    |!{content}
            .content
                .meta
                    img.ui.avatar.image(src="https://png.icons8.com/tags/color/48" width="48" height="48")
                    each tags
                        .ui.tiny.circular.button.tag(class=tag_class) #{this}
            .content
                +resonate_button
                +bookmark_button
                // +reflect_button
                // +view_full_button classes='right floated'
                +mark_read
            // if isInRole 'admin'
            //     .content
            //         +change_lightbank_type
                    
                    
                    
