template(name='poem_view_small')                    
    .ui.fluid.card(class=read_segment_class)
        .content
            .ui.top.right.attached.basic.label(data-tooltip='Poem')
                +icon48 name='close-up'
            if has_youtube
                +view_youtube
            if has_image
                if image_id
                    .image
                        img(src="{{c.url image_id}}")
                if image_url
                    .ui.large.image
                        img(src=image_url)
            // .content
            //     span.right.floated 
            //         .expand_card.ui.basic.icon.button
            //             i.expand.icon
            if has_content
                .light_bank_content(class=light_bank_content_class)
                    |!{content}
        // .content
        //     .meta
        //         +icon48 name='tags'
        //         each tags
        //             .ui.tiny.circular.button.tag(class=tag_class) #{this}
        .content
            +resonate_button
            +reflect_button
            +bookmark_button
            +view_full_button
            +mark_read
            if can_edit
                +edit_link_button
                
template(name='quote_view_small')                    
    .ui.fluid.card(class=read_segment_class)
        .content
            .ui.top.right.attached.basic.label(data-tooltip='Quote')
                +icon48 name='get-quote'
            if has_image
                if image_id
                    .image
                        img(src="{{c.url image_id}}")
                if image_url
                    .ui.large.image
                        img(src=image_url)
            // .content
            //     span.right.floated 
            //         .expand_card.ui.basic.icon.button
            //             i.expand.icon
            .light_bank_content(class=light_bank_content_class)
                |!{content}
            h4.ui.header
                |- #{author_name}
        // .content
        //     .meta
        //         +icon48 name='tags'
        //         each tags
        //             .ui.tiny.circular.button.tag(class=tag_class) #{this}
        .content
            +resonate_button
            +reflect_button
            +bookmark_button
            +mark_read
            if can_edit
                +edit_link_button
            +view_full_button
                
template(name='journal_prompt_view_small')                    
    .ui.fluid.card(class=read_segment_class)
        .content
            .ui.top.right.attached.basic.label(data-tooltip='Journal Prompt')
                +icon48 name='ask-question'
            .light_bank_content(class=light_bank_content_class)
                |!{content}
            if author_name
                h4.ui.header
                    |- #{author_name}
        .content
            .meta
                +icon48 name='hashtag' classes='ui mini inline image'
                each tags
                    .ui.tiny.basic.label #{this}
        .content
            +reflect_button
            +bookmark_button
            +mark_read
            if can_edit
                +edit_link_button
            +view_full_button
            +response_count
                                    