template(name='view_lightbank')
    .ui.stackable.padded.grid
        .centered.middle.aligned.row
            .four.wide.center.aligned.column
                a.ui.basic.circular.button(href='/lightbank')
                    +icon48 name='chevron-left' classes='ui mini inline image'
                    |Lightbank
            .eight.wide.center.aligned.column
                h1.ui.center.aligned.header 
                    +icon96 name='nature' classes='ui tiny inline image'
                    if is_quote
                        h2.ui.center.aligned.header
                            +icon48 name='get-quote' classes='ui mini inline image'
                            |Edit Quote
                    else if is_poem
                        h2.ui.center.aligned.header
                            +icon48 name='close-up' classes='ui mini inline image'
                            | Edit Poem
                    else if is_journal_prompt
                        h2.ui.center.aligned.header
                            +icon48 name='question-mark' classes='ui mini inline image'
                            | Edit Journal Prompt
                    else if is_passage
                        h2.ui.center.aligned.header
                            +icon48 name='align-left' classes='ui mini spaced image'
                            | Edit Passage
                    else
                        |Edit Lightbank Entry
    
                    |View #{type_label}
            .four.wide.center.aligned.column
                if can_edit
                    +edit_link_button

        .centered.row.document_container
            .ten.wide.column.document_container
                if has_youtube
                    if youtube
                        +view_youtube
                if has_image
                    if image_id
                        .ui.large.image
                            img(src="{{c.url image_id width=500 crop='fit'}}")
                    if image_url
                        .ui.fluid.image
                            img(src=image_url)
                // if has_content
                .large
                    |!{content}
                if author_name
                    h3.ui.header
                        |- #{author_name}
                // if journal_prompt
                +journal_responses
                // +comments    
                // +tag_rating
                if watson
                    .ui.segment
                        .ui.header Content Analysis
                        .ui.two.column.grid
                            .column
                                +doc_sentiment
                                +watson_keywords
                            .column
                                +doc_emotion
                        +analyzed_watson_keywords
                // +child_docs
            .five.wide.column
                // if isInRole 'admin'
                //     .ui.dividing.header 
                //         +icon48 name='monarch' classes='ui mini inline image'
                //         |Admin
                .ui.header added by #{author.name} #{when}
                .ui.dividing.header 
                    +icon48 name='combo-chart'
                    | Stats
                if child_count
                    .ui.header Response Count: #{child_count}
                .ui.dividing.header 
                    +icon48 name='sports-mode'
                    |Actions
                +bookmark_button
                +thanks_button
                +reflect_button
                +resonate_button
                +resonates_list 
                if can_edit
                    // +call_watson
                    // +published_status
                    +published
                .ui.dividing.header 
                    +icon48 name='hashtag'
                    | Themes
                each tags
                    .ui.basic.large.label.doc_tag #{this}

