template(name='view_journal_templates')
    .ui.padded.stackable.grid
        .centered.middle.aligned.row
            .four.wide.center.aligned.column
            .eight.wide.center.aligned.column
                h1.ui.center.aligned.header
                    +icon96 name='template' 
                    | Journal Templates
                // .ui.center.aligned.basic.segment
                //     +doc_content tags='journal,templates,blurb'
            .three.wide.center.aligned.column
                if currentUser
                    +add_doc_button type='journal_template'
                    // +add_doc_button type='journal_template' button_text='Add Journal Template'
                else
                    .ui.disabled.button Sign In to Add Journal Template
        .centered.row
            .four.wide.column
                +tag_facet type='journal_template'
                +username_facet type='journal_template'
                +timestamp_facet type='journal_template'
            .twelve.wide.column
                each journal_templates
                    +journal_template


template(name='journal_template')
    // .ui.segment(class=journal_card_class)
    .ui.segment
        .content
            h3.ui.center.aligned.header 
                if icon_class
                    +icon48 name=icon_class classes='ui spaced image'
                else
                    +icon48 name='template' classes='ui spaced image'

                a(href="/view/#{_id}") #{title}
            .meta
                +view_array_field key='tags'
        .ui.basic.segment
            .ui.list
                each journal_template_sections
                    .item #{number}: #{title}
        
        .content
            +author_info
            |#{when}
            +view_full_button
