template(name='view_journal_template')
    .ui.stackable.padded.grid.document_container
        .centered.row
            .three.wide.center.aligned.column
            .ten.wide.center.aligned.column
                h2.ui.center.aligned.header 
                    if icon_class
                        +icon96 name=icon_class classes='ui spaced image'
                    else
                        +icon96 name='template' classes='ui spaced image'

                    |'#{title}' Journal Template
            .three.wide.center.aligned.column
                if can_edit
                    // +published
                    +edit_button
        .centered.row
            .ten.wide.column
                each journal_template_sections
                    +view_journal_template_section
                +template_responses
            .four.wide.column
                #create_response.ui.circular.fluid.basic.button
                    +icon48 name='form' classes='ui mini inline image'
                    | Fill Out
                .ui.header
                +author_info
                h3.ui.sub.header #{when}

template(name='template_responses')
    .ui.header #{child_count} Public Journal Template Responses
    .ui.list
        each template_responses
            +template_response
        
template(name='template_response')
    .item
        .header  
            a(href="/view/#{_id}")
                |by #{author.name} #{when}