template(name='comments')
    .ui.horizontal.dividing.header
        +icon48 name='comments' classes='ui avatar image'
        |#{comments.count} Comments 
    .content
        if currentUser
            unless editing_comment
                #add_comment.ui.compact.blue.button
                    i.plus.icon
                    |Comment
        .ui.threaded.comments
            each comments
                +comment
        
template(name='comment')
    .comment
        unless is_editing
            a.avatar
                img.ui.avatar.image(src="{{c.url author.profile.image_id width=50 height=50 gravity='face' crop='fill'}}")
            .content
                a.author #{author.name}
                .metadata
                    span.date #{from_now}
                .text
                    | #{body}
                .actions
                    // a.reply(href='#') Reply
                    // +favorite
                    if is_author
                        +session_edit_button
                    else
                        +voting
            // if children
            //     each children
            //         h2 #{this}
            //     each children_docs
            //         .h2 sub comments
            //         .ui.comments
            //             .comment
            //                 a.avatar
            //                     img.ui.avatar.image(src="{{c.url author.profile.image_id width=50 height=50 gravity='face' crop='fill'}}")
            //                 .content
            //                     a.author #{author.username}
            //                     .metadata
            //                         span.date #{from_now}
            //                     .text
            //                         | !{content}
            //                     .actions
            //                         a.reply(href='#') Reply
            //                         // +favorite
            //                         // +voting
            //                         if is_author
            //                             +delete_link
            //                             a.edit_comment(href='#') Edit
        else
            .ui.form
                .field
                    // label Body
                    .ui.left.icon.input
                        i.blue.pencil.icon
                        input#body(type='text' value=body)
                    +session_edit_button
        
    